@import "src/assets/scss/variables";
@import "src/assets/scss/utilities";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";


.account-type{
	border-right: 1px solid theme-color(medium);
}

// setting-item
.setting-item{
	display: flex;
	flex-direction: row;
	.custom-check{
		flex: auto;
	}
	.help-icon{
		flex: none;
		margin-top: -4px;
	}
}

::ng-deep.popover{
	max-width: 240px;
}


