@import "src/assets/scss/variables";
@import "src/assets/scss/utilities";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";


.account-type{
	border-right: 1px solid theme-color(medium);
}




// shipping-method
// .shipping-method{
// 	.item{
// 		.white-box{
// 			display: flex;
// 			position: relative;
// 			height: 100%;
// 			overflow: hidden;
// 			@include media-breakpoint-down(lg) {
// 				flex-direction: column;
// 				text-align: center;
// 			}
// 			.form-check{
// 				position: absolute;
// 				top: $spacer/2;
// 				left: $spacer*2;
// 				@include media-breakpoint-down(lg) {
// 					transform: translateX(calc(50% - 10px));
// 					left: 0;
// 					right: 0;
// 				}
// 			}
// 			// img
// 			.img{
// 				width: 75px;
// 				height: 75px;
// 				border-radius: 3px;
// 				overflow: hidden;
// 				flex: none;
// 				border: 1px solid theme-color(dark);
// 				@include media-breakpoint-down(lg) {
// 					margin: 0 auto $spacer;
// 				}
// 				img{
// 					object-fit: contain;
// 					width: 100%;
// 					height: 100%;
// 				}
// 			}
// 			// detail
// 			.detail{
// 				display: flex;
// 				justify-content: center;
// 				flex-direction: column;
// 				padding: 0 $spacer;
// 				flex: auto;
// 				@include media-breakpoint-down(lg) {
// 					padding: 0;
// 					border: 0 !important;
// 				}
// 			}
// 			// price
// 			.price{
// 				display: flex;
// 				justify-content: center;
// 				flex-direction: column;
// 				padding-left: $spacer;
// 				font-size: $h3-font-size;
// 				font-weight: 700;
// 				@include media-breakpoint-down(lg) {
// 					padding: 0;
// 				}
// 			}
// 		}
// 	}
// }
