<div class="modal-header">
	<h4 class="modal-title pull-left text-danger">Reduced Shipping Cost On ShipToNaija</h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body"> 
				<!-- <span class="d-block">If you will be receiving items in Nigeria from abroad, please go to our sister company <a href="https://www.shiptonaija.com" target="_blank">shiptonaija.com</a> to signup as services for Nigeria are no longer available on this platform. </span>
				<span class="d-block">For existing shoptomydoor customers who are Nigerians, kindly go to <a href="https://www.shiptonaija.com" target="_blank">shiptonaija.com</a> and login with your old login details to view your account. </span> -->
				<span class="d-block">Shoptomydoor serves every country in Africa where DHL, Fedex and UPS has a presence. We deliver mostly with DHL in 3 to 4 days average with a huge discount of over 50% we have negotiated with DHL.</span>
				<span class="d-block"> We no longer ship to Nigeria, but if shipping to Nigeria, use our partner at <a href="https://www.shiptonaija.com" target="_blank">ShiptoNaija.com</a></span>
</div>
<div class="modal-footer">
	<!-- <button type="button" class="btn btn-dark" (click)="bsModalRef.hide()">Close</button>
	<button type="button" class="btn btn-primary" (click)="bsModalRef.hide()">Learn More</button> -->
</div>

