<div class="modal-header">
	<h4 class="modal-title pull-left text-primary">Change Coordinator</h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<form method="post" (ngSubmit)="changeCoordinator.form.valid && dataSubmit(changeCoordinator)" #changeCoordinator="ngForm" autocomplete="off">
<div class="modal-body">
	<div class="form-row">
		<div class="form-group col-12">
			<label>Select Coordinator <span class="text-secondary font-size-lg">*</span></label>
				<select class="form-control" [ngClass]="{'is-invalid': changeCoordinator.submitted && groupId.invalid }" name="groupId" #groupId="ngModel" ngModel autocomplete="off" required="">
					<option value="">Select Coordinator</option>
					<option value="{{eachCoordinator.groupId}}" *ngFor="let eachCoordinator of coordinatorList">{{eachCoordinator.name}}
		            </option>
				</select>
			
			<div *ngIf="changeCoordinator.submitted && groupId.invalid" class="invalid-feedback">
                <div *ngIf="groupId.errors.required">Field is required</div>
            </div>
		</div>
		<div class="col-sm-4 mb-sm-4 mb-3">
            <label>Country <span class="text-secondary font-size-lg">*</span>
            </label>
            <select class="form-control" name="country"
                    [ngClass]="{'is-invalid': changeCoordinator.submitted && country.invalid }" #country="ngModel"
                    ngModel required (change)="getStateCity($event)">
                    <option value="">Select</option>
                <option value="{{eachCountry.id}}" *ngFor="let eachCountry of countryList">
                        {{eachCountry.name}}</option>
            </select>
            <div *ngIf="changeCoordinator.submitted && country.invalid" class="invalid-feedback">
                <div *ngIf="country.errors.required">Field is required</div>
            </div>
        </div>
        <div class="col-sm-4 mb-sm-4 mb-3">
	            <label>State <span class="text-secondary font-size-lg">*</span>
	            </label>
	            <select class="form-control" name="state"
	                    [ngClass]="{'is-invalid': changeCoordinator.submitted && state.invalid }" #state="ngModel"
	                    ngModel (change)="getCity($event)" required="">
	                    <option value="">Select</option>
	                <option value="{{eachState.id}}" *ngFor="let eachState of stateList">{{eachState.name}}
	            </option>
	        </select>
	        <div *ngIf="changeCoordinator.submitted && state.invalid" class="invalid-feedback">
	            <div *ngIf="state.errors.required">Field is required</div>
	        </div>
	    </div>
    	<div class="col-sm-4 mb-sm-4 mb-3">
	        <label>City <span class="text-secondary font-size-lg">*</span>
	        </label>
	        <select class="form-control" name="city"
	                [ngClass]="{'is-invalid': changeCoordinator.submitted && city.invalid }" #city="ngModel"
	                ngModel required>
	                <option value="">Select</option>
	            <option value="{{eachCity.id}}" *ngFor="let eachCity of cityList">{{eachCity.name}}</option>
	        </select>
	        <div *ngIf="changeCoordinator.submitted && city.invalid" class="invalid-feedback">
	            <div *ngIf="city.errors.required">Field is required</div>
	        </div>
	    </div>	
	    <div class="col-sm-12 mb-sm-4 mb-3">
			<label>Reason To Change <span class="text-secondary font-size-lg">*</span></label>
			<textarea class="form-control" [ngClass]="{'is-invalid': changeCoordinator.submitted && reasonToChange.invalid }" rows="3" name="reasonToChange" ngModel #reasonToChange="ngModel" required=""></textarea>
			<div *ngIf="changeCoordinator.submitted && reasonToChange.invalid" class="invalid-feedback">
	            <div *ngIf="reasonToChange.errors.required">Field is required</div>
	        </div>
		</div>	
	</div>
 
</div>
<div class="modal-footer">
	<button type="submit" class="btn btn-secondary text-right">Request</button>
</div>
</form>
