<div class="row">
	<div class="col-lg-12">

		<div class="bg-white form-area">
			<form method="post" (ngSubmit)="getquoteautoFrm.form.valid && dataSubmit(getquoteautoFrm)"
				#getquoteautoFrm="ngForm">

				<div class="row">

					<!-- to start -->
					<div class="col-sm-3 pl-md-4">
						<div class="form-group">
							<label class="d-none d-sm-block">&nbsp;</label>
							<h5 class="pb-2 mb-3">Shipping To :</h5>
						</div>
					</div>
					<div class="col-sm-3 pl-md-4">
						<div class="form-group">
							<label for="tocountryId"><span class="text-danger">*</span>Country:</label>
							<select class="form-control"
								[ngClass]="{ 'is-invalid': getquoteautoFrm.submitted && tocountryId.invalid }"
								name="tocountryId" #tocountryId="ngModel" (ngModelChange)="tocountryChanged($event)"
								[ngModel]="getquoteauto.to.countryId" required>
								<option value="">Select</option>
								<option *ngFor="let country of destinationCountryList" [value]="country.id">
									{{country.name}} </option>
							</select>
							<div *ngIf="getquoteautoFrm.submitted && tocountryId.invalid" class="invalid-feedback">
								<div *ngIf="tocountryId.errors.required">Field is required</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 pl-md-4">
						<div class="form-group">
							<label for="tostateId"><span class="text-danger">*</span>State:</label>
							<select class="form-control"
								[ngClass]="{ 'is-invalid': getquoteautoFrm.submitted && tostateId.invalid }"
								name="tostateId" #tostateId="ngModel" (ngModelChange)="tostateChanged($event)"
								[ngModel]="getquoteauto.to.stateId" required>
								<option value="">Select</option>
								<option *ngFor="let state of tostateList" [value]="state.id">{{state.name}} </option>
							</select>
							<div *ngIf="getquoteautoFrm.submitted && tostateId.invalid" class="invalid-feedback">
								<div *ngIf="tostateId.errors.required">Field is required</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 pl-md-4">
						<div class="form-group">
							<label for="tocityId"><span class="text-danger">*</span>City:</label>
							<select class="form-control"
								[ngClass]="{ 'is-invalid': getquoteautoFrm.submitted && tocityId.invalid }"
								name="tocityId" #tocityId="ngModel" [(ngModel)]="getquoteauto.to.cityId" required>
								<option value="">Select</option>
								<option *ngFor="let city of tocityList" [value]="city.id">{{city.name}} </option>
							</select>
							<div *ngIf="getquoteautoFrm.submitted && tocityId.invalid" class="invalid-feedback">
								<div *ngIf="tocityId.errors.required">Field is required</div>
							</div>
						</div>

					</div>
					<!-- to end -->
					<!-- from start -->
					<div class="col-sm-3 pl-md-4 mt-3 mt-sm-0">
						<div class="form-group">
							<label class="d-none d-sm-block">&nbsp;</label>
							<h5 class="pb-2 mb-3">Shipping From :</h5>
						</div>
					</div>
					<div class="col-sm-3 pl-md-4">
						<div class="form-group">
							<label for="countryId">
								<span class="text-danger">*</span>Country:</label>
							<select class="form-control"
								[ngClass]="{ 'is-invalid': getquoteautoFrm.submitted && countryId.invalid }"
								name="countryId" #countryId="ngModel" (ngModelChange)="countryChanged($event)"
								[(ngModel)]="getquoteauto.from.countryId" required>
								<option value="">Select</option>
								<option *ngFor="let country of countryList" [value]="country.id">{{country.name}}
								</option>
							</select>
							<div *ngIf="getquoteautoFrm.submitted && countryId.invalid" class="invalid-feedback">
								<div *ngIf="countryId.errors.required">Field is required</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 pl-md-4">
						<div class="form-group">
							<label for="stateId">
								<span class="text-danger">*</span>State:</label>
							<select class="form-control"
								[ngClass]="{ 'is-invalid': getquoteautoFrm.submitted && stateId.invalid }"
								name="stateId" #stateId="ngModel" (ngModelChange)="stateChanged($event)"
								[(ngModel)]="getquoteauto.from.stateId" required>
								<option value="">Select</option>
								<option *ngFor="let state of stateList" [value]="state.id">{{state.name}} </option>
							</select>
							<div *ngIf="getquoteautoFrm.submitted && stateId.invalid" class="invalid-feedback">
								<div *ngIf="stateId.errors.required">Field is required</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 pl-md-4">
						<div class="form-group">
							<label for="cityId"><span class="text-danger">*</span>City:</label>
							<select class="form-control"
								[ngClass]="{ 'is-invalid': getquoteautoFrm.submitted && cityId.invalid }" name="cityId"
								#cityId="ngModel" [(ngModel)]="getquoteauto.from.cityId" required>
								<option value="">Select</option>
								<option *ngFor="let city of cityList" [value]="city.id">{{city.name}} </option>
							</select>
							<div *ngIf="getquoteautoFrm.submitted && cityId.invalid" class="invalid-feedback">
								<div *ngIf="cityId.errors.required">Field is required</div>
							</div>
						</div>
					</div>
					<!-- from end -->
				</div>

				<h5 class="border-bottom border-primary pb-2 mb-3">Select Car</h5>
				<div class="row">
					<div class="col-sm-4 pl-md-4">
						<div class="form-group">
							<label for="makeId"><span class="text-danger">*</span>Make:</label>
							<select class="form-control"
								[ngClass]="{ 'is-invalid': getquoteautoFrm.submitted && makeId.invalid }" name="makeId"
								#makeId="ngModel" [(ngModel)]="getquoteauto.items.makeId"
								(ngModelChange)="makeChanged($event)" required>
								<option value="">Select</option>
								<option *ngFor="let make of makeList" [value]="make.id">{{make.name}} </option>
							</select>
							<div *ngIf="getquoteautoFrm.submitted && makeId.invalid" class="invalid-feedback">
								<div *ngIf="makeId.errors.required">Field is required</div>
							</div>
						</div>
					</div>
					<div class="col-sm-4 pl-md-4">
						<div class="form-group">
							<label for="modelId"><span class="text-danger">*</span>Model:</label>
							<select class="form-control"
								[ngClass]="{ 'is-invalid': getquoteautoFrm.submitted && modelId.invalid }"
								name="modelId" #modelId="ngModel" [(ngModel)]="getquoteauto.items.modelId" required>
								<option value="">Select</option>
								<option *ngFor="let model of modelList" [value]="model.id">{{model.name}} </option>
							</select>
							<div *ngIf="getquoteautoFrm.submitted && modelId.invalid" class="invalid-feedback">
								<div *ngIf="modelId.errors.required">Field is required</div>
							</div>
						</div>
					</div>
					<div class="col-sm-4 pl-md-4">
						<label>Year</label>
						<select class="form-control" name="year" #year="ngModel" ngModel required>
							<option value="">Select</option>
							<option *ngFor="let year of yearList">{{ year }}</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="mt-3 pt-3 border-top border-primary">
							<div class="form-row">
								<div class="form-group col-sm-4 offset-sm-2">
									<label>
										<strong>View Pricing In:</strong> Currency</label>
									<select class="form-control" name="viewCurrency"
										[(ngModel)]="getquoteauto.viewCurrency">
										<option value="">Select Currency</option>
										<option *ngFor="let currency of currencyList" [value]="currency.code">
											{{currency.code}} - {{currency.name}}</option>
									</select>
								</div>
								<div class="form-group col-sm-4">
									<label><span class="text-danger">*</span>Warehouse</label>
									<select class="form-control"
										[ngClass]="{ 'is-invalid': getquoteautoFrm.submitted && warehouse.invalid }"
										name="warehouse" [(ngModel)]="getquoteauto.warehouse" #warehouse="ngModel"
										required="">
										<option value="">Select Warehouse</option>
										<option *ngFor="let warehouse of warehouseList" [value]="warehouse.id">
											{{warehouse.name}} ({{ warehouse.cityName }})</option>
									</select>
									<div *ngIf="getquoteautoFrm.submitted && warehouse.invalid"
										class="invalid-feedback">
										<div *ngIf="warehouse.errors.required">Field is required</div>
									</div>
								</div>
							</div>
							<div class="text-center">
								<button type="submit" class="btn btn-success btn-lg"> GET SHIPPING RATES </button>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12" *ngIf="showShipping">
						<div class="row shipping-type">
							<div class="col-md-3"></div>
							<div class="col-md-6 col-sm-12 mt-3 item text-center">
								<div class="item-inn">
									<h5 class="text-primary">Quote Details</h5>
									<span class="font-size-sm font-weight-medium">Pickup Cost:
										{{item.pickupCost}}</span>
									<span class="font-size-sm font-weight-medium">Shipping Cost:
										{{item.shippingCost}}</span>
									<div class="bg-dark w-100 my-3">
										<span class="mb-2 d-block font-size-lg text-white">
											<strong>{{item.totalCost}}</strong>
										</span>
									</div>
								</div>
							</div>
							<div class="col-md-3"></div>
						</div>

						<div class="row shipping-type">
							<div class="col-md-12">
								<span><strong>Enter your details so we can send you the clearing cost</strong></span>
								<div class="form-group">
									<div class="form-group">
										<label><span class="text-danger">*</span>Name :</label>
										<input class="form-control"
											[ngClass]="{ 'is-invalid': getquoteautoFrm.submitted && contactName.invalid }"
											type="text" name="contactName" [(ngModel)]="autoContactName"
											#contactName="ngModel" required>
										<div *ngIf="getquoteautoFrm.submitted && contactName.invalid"
											class="invalid-feedback">
											<div *ngIf="contactName.errors.required">Field is required</div>
										</div>
									</div>
									<div class="form-group">
										<label><span class="text-danger">*</span>Email :</label>
										<input class="form-control"
											[ngClass]="{ 'is-invalid': getquoteautoFrm.submitted && contactEmail.invalid }"
											type="text" name="contactEmail" [(ngModel)]="autoContactEmail"
											#contactEmail="ngModel" required>
										<div *ngIf="getquoteautoFrm.submitted && contactEmail.invalid"
											class="invalid-feedback">
											<div *ngIf="contactEmail.errors.required">Field is required</div>
										</div>
									</div>
									<div class="form-group">
										<label><span class="text-danger">*</span>Phone Number :</label>
										<input class="form-control"
											[ngClass]="{ 'is-invalid': getquoteautoFrm.submitted && contactPhone.invalid }"
											type="text" name="contactPhone" [(ngModel)]="autoContactPhone"
											#contactPhone="ngModel" required>
										<div *ngIf="getquoteautoFrm.submitted && contactPhone.invalid"
											class="invalid-feedback">
											<div *ngIf="contactPhone.errors.required">Field is required</div>
										</div>
									</div>
									<div class="text-center">
										<button type="submit" class="btn btn-secondary btn-lg">Submit</button>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</form>
		</div>

	</div>
</div>