@import "src/assets/scss/variables";
@import "src/assets/scss/utilities";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

.unit_select{
    .custom-control{
        &:not(:last-child){
            margin-bottom: $spacer*0.1;
            @include media-breakpoint-down(lg){
                margin-bottom: 0;
                margin-right: $spacer;
            }
            @include media-breakpoint-down(xs){
                margin-bottom: $spacer*0.1;
                margin-right: 0;
            }
        }
        .custom-radio{
            line-height: $spacer;
            height: $spacer;
        }
    }
}

.custom-control-label{
	cursor: pointer;
}