<div class="modal-header">
	<h4 class="modal-title pull-left text-primary">Forgot Password</h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<form name="myForm" method="post" #myForm="ngForm" (ngSubmit)="myForm.form.valid && onSubmit(myForm)">
	<div class="modal-body">
		<div class="form-row">
			<div class="form-group col-sm-12">
				<label>Email
					<span class="text-secondary">*</span>
				</label>
				<input type="email" class="form-control" placeholder="Email" [(ngModel)]="inputEmail" name="inputEmail" maxlength="200" required #inputemail="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
				<div *ngIf="myForm.submitted && inputEmail.invalid" class="invalid-feedback">
                    <div *ngIf="inputEmail.errors.required">Field is required</div>
                </div>
                <div *ngIf="inputemail.errors &&(inputemail.touched || inputemail.dirty)" class ="aler alert-danger">
	           		<div [hidden]="!inputemail.errors?.pattern">
		             Not a valid email
		            </div> 
	            </div> 

			</div>

			<div class="form-group col-sm-12 {{color}}">
				<label> <b>{{code}}</b>
				</label>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-dark" (click)="bsModalRef.hide()">Cancel</button>
		<button type="submit" class="btn btn-secondary" [disabled]="!myForm.form.valid">Request for Password Reset</button>
	</div>
</form>
