<app-header></app-header>

<section class="container">
	<div class="row">
		<!-- sidebar start -->
		<aside class="col sidebar" *ngIf="!isMediumScreen">
			<app-sidebar-flyout></app-sidebar-flyout>
		</aside>
		<!-- sidebar end -->

		<!-- main content start -->
		<main class="col main-content py-md-5 py-3  pl-lg-5">

			<header class="page-header border-bottom mb-3">
				<h3>Save Account Details</h3>
			</header>
			<form method="post" (ngSubmit)="onSubmit(groupRequestForm)" #groupRequestForm="ngForm">
				<div class="row field-area mt-3">
					<div class="col-sm-12 mb-sm-4 mb-3">
                    	<label data-error="Required Field!">
                    		Account Number <span class="text-secondary font-size-lg">*</span>
                    	</label>
                    	<input autocomplete="off" type="number" class="form-control validate" [ngClass]="{'is-invalid': groupRequestForm.submitted && accountNumber.invalid }" placeholder="Account Number" name="accountNumber" #accountNumber="ngModel" [(ngModel)]="accountInfo.accountnumber" required="">
                       	<div *ngIf="groupRequestForm.submitted && accountNumber.invalid" class="invalid-feedback">
                       		<div *ngIf="accountNumber.errors.required">Field is required</div>
                    	</div>
                	</div>
                	<div class="col-sm-6 mb-sm-4 mb-3">
                        <label>Bank Name <span class="text-secondary font-size-lg">*</span>
                        </label>
                        <input autocomplete="off" type="text" class="form-control validate" [ngClass]="{'is-invalid': groupRequestForm.submitted && bankName.invalid }" placeholder="Bank name" name="bankName" #bankName="ngModel" [(ngModel)]="accountInfo.bankName" required="">
                       	<div *ngIf="groupRequestForm.submitted && bankName.invalid" class="invalid-feedback">
                       		<div *ngIf="bankName.errors.required">Field is required</div>
                    	</div>
                    </div>
                	<div class="col-sm-6 mb-sm-4 mb-3">
                        <label>Account Holder Name<span class="text-secondary font-size-lg">*</span></label>
                        <input autocomplete="off" type="text" class="form-control validate" [ngClass]="{'is-invalid': groupRequestForm.submitted && accountHolderName.invalid }" placeholder="Account Holder Name" name="accountHolderName" #accountHolderName="ngModel" [(ngModel)]="accountInfo.accountHolderName" required="">
                       	<div *ngIf="groupRequestForm.submitted && accountHolderName.invalid" class="invalid-feedback">
                       		<div *ngIf="accountHolderName.errors.required">Field is required</div>
                    	</div>
                	</div>
				</div>
				<div class="col-sm-6 mb-sm-4 mb-3">
					<button type="submit" class="btn btn-secondary btn-lg" [disabled]="formSubmitted">Submit</button>
				</div>
			</form>
			<!-- header start -->
			<header class="page-header border-bottom mb-3">
				<h3>Commission Details</h3>
			</header>
			<!-- header end -->
			<div *ngIf="commissionInfo">
				<div class="table-responsive">
	            	<table datatable class="row-border hover" [dtOptions]="dtOptions">
						<thead>
							<tr>
								<th>Shipment Number</th>
								<th>Commission Amount</th>
								<th>Status</th>
								<th class="text-center">Request for Payment</th>
							</tr>
						</thead>
						<tbody *ngIf="commissionInfo?.length;else no_data_templ">
							<tr *ngFor="let item of commissionInfo" [ngClass]="{'active': item.selected }">
								<td class="white-space-nowrap">{{item.shipmentId}}</td>
								<td class="white-space-nowrap">{{item.commissionAmount}}</td>
								<td class="font-size-md">
	                                <button class="btn btn-sm btn-action" container="body" placement="left" tooltip="{{ item.isRedem=='1'?'Paid':'Unpaid' }}" type="button" [ngClass]="{'btn-light': item.isRedem == '0', 'btn-success': item.isRedem == '1'}"><i class="fa fa-usd" aria-hidden="true"></i></button>
	                            </td>
								<td class="white-space-nowrap text-center">
									<a href="javascript:void(0)" (click)="requestForPayment(item.id)" class="btn btn-sm btn-action btn-info" title="Request for Payment" *ngIf="item.isRequested==0 && item.isRedem == '0'"><i class="fa fa-money" aria-hidden="true"></i></a>
									<a href="javascript:void(0)" class="btn btn-sm btn-action btn-success" title="Payment Requested" *ngIf="item.isRequested==1"><i class="fa fa-money" aria-hidden="true"></i></a>
								</td>
							</tr>
						</tbody>
						<ng-template #no_data_templ>
							<tbody>
								<tr>
									<td colspan="9" class="text-center">No Record Found</td>
								</tr>
							</tbody>
						</ng-template>
					</table>
				</div>
			</div>
		</main>
		<!-- main content end -->
	</div>
</section>
<app-footer></app-footer>
