@import "src/assets/scss/variables";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/breakpoints";


.plans{
    table.dataTable thead th{
        &:nth-child(3n + 2){
            background: theme-color-level(primary, 1) !important;
        }
        &:last-child{
            background: theme-color-level(primary, 2) !important;
        }
    }


    table.dataTable tbody td{
        &:nth-child(3n + 2){
            background: theme-color-level(primary, -10);
        }
        &:last-child{
            background: theme-color-level(primary, -9);
        }
    }
    table.dataTable.hover tbody tr:hover{
        td{
            background: theme-color(light);
        }
    }

    table.dataTable tfoot th{
        padding-left: $spacer*1.5;
        padding-right: $spacer*1.5;
        &:first-child{
            background: theme-color-level(dark, -2) !important;
        }
        &:nth-child(6n + 2){
            background: theme-color-level(dark, -1) !important;
        }
        &:nth-child(6n + 4){
            background: theme-color-level(dark, 2) !important;
        }
        &:nth-child(6n + 5){
            background: theme-color-level(dark, 4) !important;
        }
        &:last-child{
            background: theme-color-level(dark, 6) !important;
        }
    }
}

