@import "src/assets/scss/variables";
@import "src/assets/scss/utilities";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

.shop-list{
	.item{
		.icon{
			padding: $spacer*2 $spacer;
			img{
				margin: 0 auto;
				height: 50px;
				width: 100%;
				object-fit: contain;
			}
		}
	}
}




