<div class="row shop-category mb-4">
	<div class="col-md-3 col-sm-6 item mb-2" *ngFor="let item of shopCategories">
		<a href="javascript:void(0)" class="font-weight-medium" (click)="getStoresByCategory(item.id)" *ngIf="isLoggedIn ==true">
			<i class="fa fa-hand-o-right mr-2" aria-hidden="true"></i>
			<span>{{item.categoryName}}</span>
		</a>
		<a href="javascript:void(0)" class="font-weight-medium" [popover]="popLogin" (onShown)="onShown()" (onHidden)="onHidden()" container="body" [outsideClick]="true" containerClass="custom-popover"  *ngIf="isLoggedIn ==false">
			<i class="fa fa-hand-o-right mr-2" aria-hidden="true"></i>
			<span>{{item.categoryName}}</span>
		</a>

		<ng-template #popLogin>
				<article>
					<h4 class="text-primary">Shop Online Immediately</h4>
					<div>To Start Shopping <a routerLink="/login" class="font-weight-bold">Login</a> or <a routerLink="/join" class="font-weight-bold">Register</a>(If not registerred yet)</div>					
				</article>
		</ng-template>
	</div>
</div>
<article class="bg-white p-3" *ngIf="showShop">
	<div class="border-bottom mb-3 pb-2">
		<p>“With Shop Direct, you can use your local Visa or MasterCard to shop directly on these stores. With Shop For Me,
			we help you to shop on these stores. <a href="javascript:void(0)" routerLink="/shop-from/shop-direct">Learn More.</a>”</p>
	</div>

	<header class="mb-3">
		<h3 *ngIf="categoryName != ''">{{categoryName}}</h3>
		<h3 *ngIf="categoryName == ''">{{shopItems[0]['categoryName']}}</h3>
	</header>
	<div class="row shop-list" *ngIf = "resultMsg != ''">
		<div class="col-md-3 col-sm-6 item text-center text-danger mb-3">{{resultMsg}}</div>		
	</div>
	<div class="row shop-list" *ngIf = "resultMsg == ''">		
		<div class="col-md-3 col-sm-6 item text-center mb-3" *ngFor="let item of shopItems">
			<a href="javascript:void(0)" class="icon d-block mb-2 border rounded"><img src="{{item.iconpath}}" [popover]="showPopUp ? popTemplate : ''"
				 (onShown)="onShown()" (onHidden)="onHidden()" container="body" [outsideClick]="true" containerClass="custom-popover"></a>
			<a href="javascript:void(0)" class="title h6 mb-1 d-inline-block text-primary" (click)="gotoOrderForm(item.id, item.categoryId, item.storeURL, item.shopDirect)">{{item.storeName}}</a>
			<p class="shord-description mb-0 text-ellipsis">{{item.shortDescription}}</p>

			<ng-template #popTemplate>
				<article>
					<h4 class="text-primary">Shop Online Immediately</h4>
					<div [innerHTML]="item.description"></div>
					<div class="text-center">
						<a href="javascript:void(0)" class="btn btn-secondary btn-lg" (click)="gotoOrderForm(item.id, item.categoryId, item.storeURL, item.shopDirect)">Start
							Shopping</a>
					</div>
				</article>
			</ng-template>
		</div>
	
	</div>
</article>
