<div class="modal-header">
	<h4 class="modal-title pull-left text-primary">Auto Image</h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body" align="center">
	<img src="{{ imageDetails.imagePath }}" width="90%" *ngIf="imageDetails">
</div>
<div class="modal-footer justify-content-center border-0">
	<button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Close</button>
</div>
