<div class="row">
	<!-- main content start -->
	<main class="col main-content py-md-5 py-3">
		<!-- header start -->
		<header class="page-header border-bottom mb-3">
			<h3>Your shopping cart</h3>
			<span class="text-primary mb-3 d-block">
				<strong>Thank you for shipping with us. We appreciate it.</strong>
			</span>
		</header>
		<!-- header end -->

		<h5 class="text-primary">Shipment# {{cartDetails.id}}</h5>

		<!-- product start -->
		<article *ngFor="let delivery of hack(cartDetails.delivery.deliveries); let dindex = index" class="white-box p-0 mb-4">
			<header class="p-2">
				<div class="row font-size-sm no-gutters">
					<div class="col-sm-6 col-lg-2">
						<span>Delivery :
							<strong># {{dindex+1}}</strong>
						</span>
					</div>
					<div class="col-sm-6 col-lg-6">
						<span>Shipping Via :
							<strong>{{delivery.shippingMethod}}</strong>
						</span>
					</div>
				</div>
			</header>

			<!-- table start -->
			<table  datatable class="hover" [dtOptions]="dtOptions" *ngIf="cartDetails.isGroupShipment==='0'">
				<thead>
					<tr>
						<th>Items / products ordered</th>
						<th>Value Per Item</th>
						<th>Quantity</th>
						<th>Shipping Cost to Warehouse</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let package of hack(delivery.packages);" [ngClass]="{'disableblock strike-through':package.itemReturn!='0'}">
						<td>{{package.itemName}}</td>
						<td>{{currencySymbol}} {{package.itemPrice*exchangeRate | number:'1.2-2'}}</td>
						<td>{{package.itemQuantity}}</td>
						<td>{{currencySymbol}} {{package.itemShippingCost*exchangeRate | number:'1.2-2'}}</td>
						<td>{{currencySymbol}} {{package.itemTotalCost*exchangeRate | number:'1.2-2'}}</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<th class="text-right">Total Number Of Items :</th>
						<th>{{delivery.totalQty}}</th>
						<th colspan="2" class="text-right">Chargeable Weight :</th>
						<th>{{delivery.chargeableWeight}} lbs</th>
					</tr>
				</tfoot>
			</table>
			<table datatable class="row-border hover" [dtOptions]="dtOptions" *ngIf="cartDetails.isGroupShipment==='1'">
                <thead>
                    <tr>
                        <th>Length</th>
                        <th>Width</th>
                        <th>Height</th>
                        <th>Weight</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ delivery.length }}</td>
                        <td>{{ delivery.width }}</td>
                        <td>{{ delivery.height }}</td>
                        <td>{{ delivery.weight }}</td>
                    </tr>
                </tbody>
            </table>
			<!-- table end -->
		</article>
		<!-- product end -->

		<div class="clearfix">
			<a routerLink="/my-warehouse/overview" class="btn btn-light btn-sm float-left">
				<i class="fa fa-chevron-left mr-2" aria-hidden="true"></i>Back to Warehouse
			</a>
			<button type="button" class="btn btn-secondary btn-sm float-right ml-1" (click)="clearcart()">Clear Cart</button>
		</div>

	</main>
	<!-- main content end -->
	<!-- sidebar start -->
	<aside class="col sidebar right py-md-5 py-3">
		<div class="content">
			<!-- price detail start -->
			<article class="mb-3">
				<h6>Price Details</h6>
				<table border="0" width="100%" class="font-size-sm">
					<tbody>
						<tr>
							<td class="white-space-nowrap py-2">Shipping Cost : </td>
							<td class="white-space-nowrap text-right py-2">
								<strong class="font-weight-medium">{{currencySymbol}} {{cartDetails.shippingCost*exchangeRate | number:'1.2-2'}}</strong>
							</td>
						</tr>
						<tr>
							<td class="white-space-nowrap py-2">Clearing, duty & Local Handling : </td>
							<td class="white-space-nowrap text-right py-2">
								<strong class="font-weight-medium">{{currencySymbol}} {{cartDetails.totalClearingDuty*exchangeRate | number:'1.2-2'}}</strong>
							</td>
							<td *ngIf="isCurrencyChanged=='Y'" class="white-space-nowrap text-success text-right py-2"><small>( {{defaultCurrencySymbol}} {{cartDetails.totalClearingDuty | number:'1.2-2'}} )</small></td>
						</tr>
						<tr>
							<td class="white-space-nowrap py-2">Other Charges: </td>
							<td class="white-space-nowrap text-right py-2">
								<strong class="font-weight-medium">{{currencySymbol}} {{cartDetails.totalOtherCharges*exchangeRate | number:'1.2-2'}}</strong>
							</td>
							<td *ngIf="isCurrencyChanged=='Y'" class="white-space-nowrap text-success text-right py-2"><small>( {{defaultCurrencySymbol}} {{cartDetails.totalOtherCharges | number:'1.2-2'}} )</small></td>
						</tr>
						<tr>
							<td class="white-space-nowrap py-2">Storage Charge : </td>
							<td class="white-space-nowrap text-right py-2">
								<strong class="font-weight-medium">{{currencySymbol}} {{cartDetails.storageCharge*exchangeRate | number:'1.2-2'}}</strong>
							</td>
							<td *ngIf="isCurrencyChanged=='Y'" class="white-space-nowrap text-success text-right py-2"><small>( {{defaultCurrencySymbol}} {{cartDetails.storageCharge | number:'1.2-2'}} )</small></td>
						</tr>
						<tr>
							<td class="white-space-nowrap py-2">Inventory Charge : </td>
							<td class="white-space-nowrap text-right py-2">
								<strong class="font-weight-medium">{{currencySymbol}} {{cartDetails.inventoryCharge*exchangeRate  | number:'1.2-2'}}</strong>
							<td *ngIf="isCurrencyChanged=='Y'" class="white-space-nowrap text-success text-right py-2"><small>( {{defaultCurrencySymbol}} {{cartDetails.inventoryCharge | number:'1.2-2'}} )</small></td>
						</tr>
						<tr *ngIf="cartDetails.isInsuranceCharged == 'Y'">
							<td class="white-space-nowrap py-2">Insurance Cost : </td>
							<td class="white-space-nowrap text-right py-2">
								<strong class="font-weight-medium">{{currencySymbol}} {{cartDetails.totalInsurance*exchangeRate | number:'1.2-2'}}</strong>
							</td>
							<td *ngIf="isCurrencyChanged=='Y'" class="white-space-nowrap text-success text-right py-2"><small>( {{defaultCurrencySymbol}} {{cartDetails.totalInsurance | number:'1.2-2'}} )</small></td>
						</tr>
					</tbody>
					<tfoot class="border-top">
						<tr>
							<th class="white-space-nowrap py-2">Total Cost: </th>
							<th class="white-space-nowrap text-right py-2">{{currencySymbol}} {{cartDetails.totalCost*exchangeRate  | number:'1.2-2'}}</th>
							<th *ngIf="isCurrencyChanged=='Y'" class="white-space-nowrap text-success text-right py-2"><small>( {{defaultCurrencySymbol}} {{cartDetails.totalCost  | number:'1.2-2'}} )</small></th>
						</tr>
						<tr *ngIf="selectedSubplan">
							<th class="white-space-nowrap py-2">Subcription Cost: </th>
							<th class="white-space-nowrap text-right py-2">{{currencySymbol}} {{subplanvalue*exchangeRate  | number:'1.2-2'}}</th>
							<th *ngIf="isCurrencyChanged=='Y'" class="white-space-nowrap text-success text-right py-2"><small>( {{defaultCurrencySymbol}} {{subplanvalue | number:'1.2-2'}} )</small></th>
						</tr>
					</tfoot>
				</table>

				<!--<label  class="custom-check text-left flex-row mt-2">
					<input type="checkbox" (change)="addInsurance($event)" [checked]="cartDetails.isInsuranceCharged=='Y'?true:false">
					<span class="checkmark"></span>
					<strong class="font-weight-medium pl-2">Do you want to add Insurance?</strong>
				</label>-->
			</article>
			<!-- price detail end -->


			<!-- currency start -->
			<article class="text-center mb-3 border-bottom pb-3">
				<span class="font-size-sm text-medium d-block mb-2">NOTE: Final Amount is visible only after checkout</span>
				<a class="btn btn-outline-primary btn-sm" (click)="showCurrency();" href="javascript:void(0)">Change Currency</a>
			</article>
			<!-- currency end -->

			<article class="text-center">
				<a routerLink="/my-warehouse/checkout/personal-detail" class="btn btn-secondary btn-lg btn-block">Checkout</a>
			</article>

			<!-- Subscrib area start -->
			<article class="text-center subscribArea" *ngIf="(isSubscribed=='N' || (salesRepresentativeId =='' || salesRepresentativeId == '0'))">
				<p *ngIf="savedAmount"><strong>You could have saved {{defaultCurrencySymbol}} {{savedAmount | number:'1.2-2'}}</strong></p>
				<a (click)="showSubscribtion()" href="javascript:void(0)">Subscribe Now and Save</a>
			</article>
			<!-- Subscrib area end -->
		</div>
	</aside>
	<!-- sidebar end -->
</div>
