@import "src/assets/scss/variables";
@import "src/assets/scss/utilities";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";


.account-type{
	border-right: 1px solid theme-color(medium);
}

.main-content{
	@include media-breakpoint-up(md) {
		width: calc(100% - 320px);
	}
}

.subscribArea 
{
 	p{
    	font-size: 14px;
		padding: 10px 0 0 0;
		margin-bottom:0;
	}

	a{
		color: $primary;
		font-size: 12px;
	}
}

