<div class="modal-header">
	<h4 class="modal-title pull-left text-primary">Shipping Details</h4>
</div>
<div class="modal-body">
	<div *ngIf="dataFound">
            <ul>
                    <li>* Rates are valid and guaranteed as long as your final package has the same dimensions and weight as used here.</li>
                    <li>* Transit times shown do not include weekends and public holidays, and starts counting from the day payment is made for shipping out of our warehouse.</li>
                    <li>* Shipments with lithium, hazardous, liquids or fragile items that require special packaging may incur extra charges and may require extra transit times. Please call us at +1 713 597 6225 to verify if shipping any of these items.</li>
                    <li>* Our money back guarantee applies to all shipments. So you are 100% covered for the declared value of all items and your shipping cost.</li>
            </ul>
            <div class="text-center"><h5><strong>Any Questions : Call US Now : +1 713 597 6225</strong></h5></div>															
	</div>
	<p *ngIf="!dataFound">No quote found for given data. Please contact customer support for exact quote</p>
	<iframe src="https://shoptomydoor.com/stmd/seo/iframe.html" style="display: none"></iframe>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-dark" (click)="bsModalRef.hide()">Ok</button>
</div>
