<app-header></app-header>

<section class="container">
	<div class="row">
		<!-- sidebar start -->
		<aside class="col sidebar" *ngIf="!isMediumScreen">
			<app-sidebar-flyout></app-sidebar-flyout>
		</aside>
		<!-- sidebar end -->

		<!-- main content start -->
		<main class="col main-content py-md-5 py-3  pl-lg-5">
			<!-- header start -->
			<header class="page-header border-bottom mb-3">
				<h3>Refer A Friend</h3>
			</header>
			<!-- header end -->

			<h4>Invite friends, 500 points each ($5) when they ship and be qualified to win an Ipad Mini</h4>

			<div class="row mt-3">
				<div class="col-sm-6 mb-sm-0 mb-3">
					<h5>Method 1 (Enter Email Address)</h5>
					<div data-ng-show="showError" ng-class="{fade:doFade}" class="alert alert-danger" *ngIf="submitError">
						<strong>Error: </strong>Something went wrong
					</div>
					<div data-ng-show="showError" ng-class="{fade:doFade}" class="alert alert-success" *ngIf="submitSuccess">
						<strong>Success: </strong>Data successfully saved
					</div>
					<form method="post" (ngSubmit)="onSubmit(referForm)" #referForm="ngForm">
						<div class="form-group">
							<label>To</label>
							<tag-input name="users" [(ngModel)]="users" [secondaryPlaceholder]="'Enter Email'"></tag-input>
							<p class="text-danger">Hit Enter after completing one email</p>
						</div>
						<div class="form-group">
							<label>Message</label>
							<textarea class="form-control" rows="3" name="message" [(ngModel)] = "message"></textarea>
						</div>
						<button type="submit" class="btn btn-secondary" *ngIf="!formSubmit">Send Invitation</button>
						<button type="submit" class="btn btn-secondary" disabled="disabled" *ngIf="formSubmit">Send Invitation</button>
					</form>
				</div>
				<div class="col-sm-6" *ngIf="serverUrl!='' && referralCode!=''">
					<h5>Method 2</h5>
					<div class="border border-primary p-3">
						<h4>COPY YOUR PERSONAL LINK</h4>
						<p>Use this link however you like - on Facebook, Twitter or anywhere else and see your points and earnings sky rocket.</p>
						<span class="text-primary break-word">{{serverUrl+'join/refer/'+referralCode}}</span>
					</div>
				</div>
			</div>
		</main>
		<!-- main content end -->
	</div>
</section>
<app-footer></app-footer>
