<app-header></app-header>
<div class="container-fluid">
	<section class="container-sm login">
		<!-- header start -->
		<header class="text-center section-header">
			<h3>Forgot Your password</h3>
			<span>
				<span class="text-secondary">*</span> Denotes required field</span>
		</header>
		<!-- header end -->
		<article class="login-box">
			<span class="icon">
				<svg-icon src="assets/imgs/icons/sign-in.svg" [svgStyle]="{ 'height.px':35}"></svg-icon>
			</span>
			<form name="myForm" method="post" #myForm="ngForm" (ngSubmit)="myForm.form.valid && onSubmit(myForm)">
				<span class="d-block mb-3 font-weight-light">Enter passwords</span>
				<div class="row field-area">

					<div class="col-sm-12 mb-sm-4 mb-3">
						<label>New Password
							<span class="text-secondary">*</span>
							<!-- <button class="btn btn-primary btn-action btn-sm ml-2" type="button" tooltip="Password must contains minimum 8 characters, atleast one digit, one special character, one uppercase letter" container="body" placement="left"><i class="fa fa-question" aria-hidden="true"></i></button> -->
						</label>

						<div class="input-group">
							<input type="password" class="form-control" placeholder="******" [(ngModel)]="password" name="password" maxlength="20" #passwordOne="ngModel" required [pattern]="wcodePattern" (ngModelChange)="checkEmptyPassword($event)">
							<div class="input-group-append">
								<button class="btn btn-primary" type="button" tooltip="Password must contains minimum 8 characters, atleast one digit, one lowercase character, one uppercase letter. Allowed special characters are @, $, !, %, *, ?, &, ^, (, ), _, ?, +, =" container="body" placement="left"><i class="fa fa-question" aria-hidden="true"></i></button>
							</div>
						</div>


						<!-- <input type="password" class="form-control" placeholder="******" [(ngModel)]="password" name="password" maxlength="20" #passwordOne="ngModel" required [pattern]="wcodePattern"> -->
						<div *ngIf="myForm.submitted && passwordOne.invalid" class="invalid-feedback">
                    		<div *ngIf="passwordOne.errors.required">Field is required</div>
                		</div>
					</div>

					<div class="col-sm-12 mb-sm-4 mb-3" *ngIf="hidePwdStrength == false">
					<ng2-password-strength-bar
		                [passwordToCheck]="password"
		                [barLabel]="barLabel"
		                [barColors]="myColors">
		            </ng2-password-strength-bar>
		        	</div>


					<div class="col-sm-12 mb-sm-4 mb-3">
						<label>Confirm Password
							<span class="text-secondary">*</span>
						</label>
						<input autocomplete="off" type="password" class="form-control" placeholder="******" [(ngModel)]="confirmPassword" name="confirmPassword" maxlength="20" #passwordTwo="ngModel" required (ngModelChange)="checkMatchPasswords($event)">
					</div>
					<div class="col-sm-12 mb-sm-4 mb-3 text-danger" *ngIf='passwordOne.errors?.pattern'>
							Weak Password: Password must contains minimum 8 characters
					</div>
					
					<div *ngIf='deactiveBtn==false' class="col-sm-12 mb-sm-4 mb-3 text-danger">
                    	Passwords not matched
                    </div>

					<div class="col-sm-12">
						<!-- <small *ngIf="passwordOne.errors?.pattern; else other_content" class="form-text text-danger">Password not valid</small>
						<ng-template #other_content><button type="submit" class="btn btn-secondary btn-lg" [disabled]="!myForm.form.valid">Update</button></ng-template> -->
						<button type="submit" class="btn btn-secondary btn-lg" [disabled]="passwordOne.errors?.pattern || deactiveBtn==false">Update</button>
					</div>
					<div *ngIf="countData==0" class="form-group col-sm-12 {{color}}">
						<br><label> <b>{{code}}</b>
						</label>
					</div>
					<div *ngIf="countData==1" class="form-group col-sm-12 {{color}}">
						<br><label> <b>Password has been updated. Please <a routerLink="/login" class="text-underline"> Login</a> to your account</b>
						</label>
					</div>

				</div>
			</form>
		</article>
	</section>
</div>
<app-footer></app-footer>
