// loader
.black-overlay{
	position: fixed !important;
}

// white-box
.white-box{
	background-color: var(--white);
	box-shadow: 0 0 $spacer*2 0 rgba($black, .05);
	padding: $spacer*2;
	@include media-breakpoint-down(sm) {
		padding: $spacer;
	}
	> header{
		padding: $spacer $spacer*2;
		@include media-breakpoint-down(sm) {
			padding: $spacer;
		}
	}
	> footer{
		padding: $spacer $spacer*2;
		@include media-breakpoint-down(sm) {
			padding: $spacer;
		}
	}
}

// block-img
.block-img{
	width: 100%;
	max-height: 300px;
	object-fit: cover;
	@include media-breakpoint-down(sm) {
		height: auto;
	}
}

// inside-banner
.inside-banner{
	display: flex;
	height: 300px;
	position: relative;
	background-color: theme-color-level(dark, 10);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--white);
	margin: 0;
	@include media-breakpoint-down(sm) {
		height: 170px;
	}
	&.only-img{
		@include media-breakpoint-down(lg) {
			height: auto;
		}
		img{
			@include media-breakpoint-down(lg) {
				height: auto;
				position: inherit;
			}
		}
	}
	img{
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		object-fit: cover;
		left: 0;
		top: 0;
		opacity: .30;
	}
	figcaption{
		z-index: 1;
		width: 100%;
		text-align: center;
		h1{
			color: var(--white);
		}
	}
}

// content-banner
.content-banner{
	width: 100%;
	height: 200px;
	@include media-breakpoint-down(md) {
		height: 100px;
	}
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

// help-icon
.help-icon{
	width: 28px;
	height: 28px;
	border-radius: 100%;
	border: 1px solid theme-color(primary);
	display: block;
	text-align: center;
	transition: $transition;
	i{
		line-height: 26px;
	}
	&:hover{
		background-color:theme-color(primary);
		color: var(--white);
	}
}

// sidebar
.sidebar{
	width: 230px;
	max-width: 230px;
	flex: none;
	box-shadow: $spacer/3 0 $spacer 0 rgba($black, .03);
	&.right{
		width: 320px;
		max-width: 320px;
		box-shadow: -$spacer/3 0 $spacer 0 rgba($black, .03);
		@include media-breakpoint-down(sm) {
			max-width: 100%;
			width: 100%;
		}
		.content{
			position: sticky;
			top: 0;
			z-index: 3;
		}
	}
	.sidemenu{
		position: sticky;
		top: 0;
		z-index: 3;
		>li{
			padding: $spacer 0;
			position: relative;
			>a{
				display: flex;
				align-items: center;
				color: theme-color(dark);
				position: relative;
				transition: $transition;
				/deep/svg{
					fill:  theme-color(dark);
					max-height: 16px;
				}
				span{
					margin-left: $spacer/2;
					font-weight: 500;
				}
				&:after{
					font-family: fontAwesome;
					content: '\f105';
					position: absolute;
					 right: 0;
					 font-size: $h4-font-size;
					 display: block;
					 top: 0;
				}
			}
			&:hover{
				>a{
					color: theme-color(primary);
					/deep/svg{
						fill:  theme-color(primary);
					}
				}
				.sub-menu{
					display: block;
				}
			}
			&.active{
				>a{
					color: theme-color(primary);
					/deep/svg{
						fill:  theme-color(primary);
					}
				}
			}
		}
	}
}

// submenu
/*
.sub-menu{
	position: absolute;
	top: 0;
	width: 250px;
	right: -250px;
	background: var(--white);
	border-radius: 5px;
	box-shadow: 0 0 $spacer*2 0 rgba($black, .05);
	z-index: 3;
	display: none;
	accordion{
		padding: $spacer;
		accordion-group{
			position: relative;
			padding-bottom: $spacer;
			&:last-child{
				padding-bottom: 0;
			}
			&:after{
				font-family: fontAwesome;
				content: '\f105';
				position: absolute;
				right: 0;
				font-size: $h4-font-size;
				display: block;
				top: 0;
				line-height: 1;
			}
			.card{
				border: 0;
				background: transparent;
				border-radius: 0;
				// header
				.card-header{
					border: 0;
					background: transparent;
					padding: 0;
					a{
						color: theme-color(dark);
						font-size: $font-size-base/1.10;
						font-weight: 500;
						transition: $transition;
						&:hover{
							color: theme-color(primary);
						}
					}
				}

				// body
				.card-body{
					padding: 0;
				}
			}

			&.panel-open{
				&:after{
					content: '\f107';
				}
				.card{
					.card-header{
						a{
							font-weight: 700;
							color: $black;
						}
					}
				}
			}
		}
	}
}
*/
.sub-menu{
	position: absolute;
	top: 0;
	width: 250px;
	right: -250px;
	background: var(--white);
	border-radius: 5px;
	box-shadow: 0 0 $spacer*2 0 rgba($black, .05);
	z-index: 3;
	display: none;
	accordion{
		padding: $spacer $spacer/1.7;
		accordion-group{
		position: relative;
		padding-bottom: $spacer;
		&:last-child{
		padding-bottom: 0;
	}
	&:after{
		font-family: fontAwesome;
		content: '\f105';
		position: absolute;
		right: 0;
		font-size: $h4-font-size;
		display: block;
		top: 0;
		line-height: 1;
	}
	.card{
			border: 0;
			background: transparent;
			border-radius: 0;
// header
	.card-header{
			border: 0;
			background: transparent;
			padding: 0;
			a{
			color: theme-color(dark);
			font-size: $font-size-base/1.10;
			font-weight: 500;
			transition: $transition;
			&:hover{
			color: theme-color(primary);
			}
		}
	}

// body
	.card-body{
			padding: 0;
		}
	}

	&.panel-open{
			&:after{
			content: '\f107';
			}
			.card{
				.card-header{
					a{
					font-weight: 700;
					color: $black;
					}
				}
			}
		}
	}
	}
}
// sub sub menu
.sub-sub-menu{
	>li{
		padding: $spacer/4 0;
		position: relative;
		>a{
			color: theme-color-level(primary,2);
			display: block;
			font-size: $font-size-base/1.10;
			padding-left: $spacer/1.5;
			&:hover{
				color: theme-color(primary);
			}
			&:before{
				font-family: fontAwesome;
				content: '\f105';
				position: absolute;
				left: 0;
				display: block;
				top: $spacer/2;
				line-height: 1;
			}
		}
	}
}

// main-content
.main-content{
	flex: 1;
	@include media-breakpoint-up(lg) {
		max-width: calc(100% - 230px);
	}
}

// section-header
.section-header {
    padding-bottom: $spacer;
    @include media-breakpoint-down(sm) {
        padding-bottom: 0;
    }
    h2 {
        margin-bottom: $spacer;
    }
    .sub-heading {
        font-size: $h4-font-size;
        @include media-breakpoint-down(sm) {
            font-size: $font-size-base;
        }
    }
}

// list-ui
.list-ui {
    li {
        position: relative;
        padding-left: $spacer*1.5;
        margin: $spacer/2 0;
        @include media-breakpoint-down(sm) {
            font-size: $font-size-base;
        }
        &:before {
            content: '\f138';
            font-family: fontAwesome;
            position: absolute;
            left: 0;
            top: 0;
            color: theme-color(primary);
        }
    }
}

// list-ol
.list-ol{
	 padding-left: $spacer*1.5;
	li{
		position: relative;
        margin: $spacer/2 0;
	}
}

// list-sponsor
.list-sponsor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li {
        width: 20%;
        padding: $spacer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include media-breakpoint-down(xs) {
            width: 33.33%;
            padding: $spacer/2;
        }
    }
}

// list-tab-link
.list-tab-link{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	@extend .border-bottom;
	li{
		flex: auto;
		a{
			display: block;
			text-align: center;
			padding-bottom: $spacer/2;
			border-bottom: 3px solid transparent;
			color: theme-color(dark);
			font-weight: 500;
			transition: $transition;
			&:hover{
				color: theme-color(secondary);
			}
			&.active{
				border-color: theme-color(secondary);
			}
		}
	}
}


// custom checkbox
.custom-check {
    display: flex;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 20px;
        width: 20px;
        left: 0;
    }
    // When the checkbox is checked, add a blue background
    input:checked~.checkmark {
        background-color: theme-color(secondary);
        border-color: theme-color(secondary);
    }
    // Show the checkmark when checked
    input:checked~.checkmark:after {
        display: block;
    }
    // Create a custom checkbox
    .checkmark {
        height: 20px;
        width: 20px;
        background-color: var(--white);
		border: 1px solid theme-color(medium);
		flex: none;
        // Create the checkmark/indicator (hidden when not checked)
        &:after {
            content: "";
            position: absolute;
            display: none;
        }
	}
}
/* Style the checkmark/indicator */
.custom-check .checkmark:after {
    content: "\f00c";
    font-family: fontAwesome;
    color: var(--white);
    width: 18px;
    height: 18px;
    font-size: $font-size-base/1.10;
    line-height: 18px;
    text-align: center;
}


// custom radio button
.custom-radio {
    display: flex;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 20px;
        width: 20px;
		left: 0;
		border-radius: 100%;
    }
    // When the radio is selected, add a background
    input:checked~.radiomark {
        background-color: theme-color(secondary);
        border-color: theme-color(secondary);
    }
    // Show the checkmark when selected
    input:checked~.radiomark:after {
        display: block;
    }
    // Create a custom radio
    .radiomark {
        height: 20px;
        width: 20px;
        background-color: var(--white);
		border: 1px solid theme-color(medium);
		flex: none;
		border-radius: 100%;
        // Create the checkmark/indicator (hidden when not checked)
        &:after {
            content: "";
            position: absolute;
            display: none;
        }
	}
}
/* Style the checkmark/indicator */
.custom-radio .radiomark:after {
    content: "\f111";
    font-family: fontAwesome;
    color: var(--white);
    width: 19px;
    height: 18px;
    font-size: $font-size-base/1.40;
    line-height: 18px;
    text-align: center;
}

// floating
.floating {
    position: fixed;
    bottom: 80px;
    right: 0;
    z-index: 1;
    .list-floating {
        margin: 0;
        li {
            margin: $spacer/2;
            a {
                display: block;
                width: 67px;
                height: 67px;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                /deep/svg {
                    fill: var(--white);
                    @include media-breakpoint-down(lg) {
                        height: 20px !important;
                    }
                }
                @include media-breakpoint-down(lg) {
                    width: 44px;
                    height: 44px;
                }
            }
        }
    }
}

// chat
.chat {
    width: 332px;
    background: var(--white);
    position: fixed;
    right: $spacer*7;
    bottom: $spacer/2;
    z-index: 3;
    padding: $spacer;
    box-shadow: 0 0 $spacer*2 0 rgba($black, .15);
    border-radius: 20px;
    max-height: 80vh;
    overflow-y: auto;
    @include media-breakpoint-down(lg) {
        right: $spacer*4;
    }
    @include media-breakpoint-down(sm) {
        width: 246px;
    }
}

// banner-tab
.trak-shipment {
    filter: drop-shadow(0 0 $spacer rgba($black, .15));
    // background-color: var(--white);
    // border-radius: 20px;
    position: fixed;
    right: $spacer*7;
    bottom: $spacer/2;
    z-index: 3;
    // overflow: hidden;
    width: 440px;
    @include media-breakpoint-down(lg) {
        right: $spacer*4;
    }
    @include media-breakpoint-down(sm) {
        width: 246px;
    }
    img {
        @include media-breakpoint-down(sm) {
            max-width: 100px
        }
    }
    .tab-container {
        .nav-tabs {
    		background-color: var(--white);
		    border-radius: 20px 20px 0 0;
            border: 0;
            overflow: hidden;
            .nav-item {
                margin-bottom: 0;
            }
            .nav-link {
                text-transform: uppercase;
                background-color: transparent;
				color: theme-color(dark);
                font-weight: 500;
                padding: $spacer*1.5 $spacer;
                border: 0;
				border-radius: 0;
				height: 100%;
                @include media-breakpoint-down(md) {
                    padding: $spacer $spacer/2;
                }
                &.active {
                    border: 0;
					background-color: theme-color(secondary);
					color: var(--white);
                }
            }
        }
        // content
        .tab-content{
	    	background-color: var(--white);
		    border-radius: 0 0 20px 20px;
		    overflow: hidden;
        }
        .tab-pane {
            padding: $spacer*2;
            text-align: center;
            @include media-breakpoint-down(md) {
                padding: $spacer;
            }
            .input-group {
                .form-control {
                    border-radius: $spacer*2 0 0 $spacer*2;
                    font-size: $font-size-base;
                    border-right: 0;
                    &:focus {
                        border-color: $input-border-color;
                    }
                }
                .btn {
                    border-radius: 0 $spacer*2 $spacer*2 0;
                    background: transparent;
                    color: theme-color-level(medium, 4);
                    border: 1px solid theme-color(medium);
                    border-left: 0;
                    padding-top: $spacer/4;
                    padding-bottom: $spacer/4;
                    font-size: $h3-font-size;
                }
            }
        }
    }
}

// custom-popover
.custom-popover {
    border-radius: 20px;
    padding: $spacer*3 $spacer*2;
    max-width: 400px;
    border: 0;
    box-shadow: 0 0 $spacer*2 0 rgba($black, .15);
    font-size: $font-size-base/1.10;
    @include media-breakpoint-down(md) {
        padding: $spacer;
    }
    @include media-breakpoint-down(sm) {
        max-width: 290px;
    }
    .popover-body {
        padding: 0;
    }
    .list-ui {
        li {
            font-size: $font-size-base/1.10;
        }
    }
}

.bs-popover-right {
    .arrow {
        width: $spacer;
        height: $spacer*2;
        left: calc((#{$spacer} + 1px) * -1);
        margin-top: -$spacer !important;
        &:after,
        &:before {
            border-width: $spacer $spacer $spacer 0;
        }
    }
}

.bs-popover-left {
    .arrow {
        right: calc((#{$spacer} + 1px) * -1);
        width: $spacer;
        height: $spacer*2;
        margin-top: -$spacer !important;
        &:after,
        &:before {
            border-width: $spacer 0 $spacer $spacer;
        }
    }
}

.popover-open {
    &:after {
        position: fixed;
        background: rgba($black, .30);
        display: block;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        content: '';
        z-index: 1;
    }
}

// navigation
.navigation {
    background: theme-color(dark);
    ul {
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-height: 54px;
        li {
            a {
                display: block;
                font-weight: 500;
                color: var(--white);
                border-bottom: 3px solid transparent;
                padding: $spacer 0;
                transition: $transition;
                &:hover,
                &.active {
                    border-bottom-color: theme-color(secondary);
                }
            }
        }
    }
}

// menu
.main-menu {
    width: 250px;
    right: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    background: theme-color-level(dark, 10);
    z-index: 3;
    header {
        background: theme-color-level(blue-grey, 8);
        padding: 0 $spacer;
        h4 {
            margin: 0;
            line-height: 44px;
        }
        a {
            line-height: 44px;
        }
    }
    .content {
        // padding: $spacer;
        ul {
            li {

				a{
					display: flex;
					padding: $spacer/2 $spacer;
					align-items: center;
					font-size: $font-size-base/1.10;
					color: theme-color-level(blue-grey, -4);
					/deep/svg{
						fill: theme-color-level(blue-grey, -4);
						height: 16px;
						margin-right: $spacer/2;
					}
					span{
						@extend .text-ellipsis;
						flex: 1;
					}
					&:hover{
						color: var(--white);
						background: theme-color-level(blue-grey, 6);
						/deep/svg{
							fill: var(--white);
						}
					}
					&:after{
						content: '\f105';
						font-family: fontAwesome;
						display: block;
						font-size: $font-size-base;
						margin-left: $spacer/2;
						position: absolute;
						right: $spacer;;
					}

				}
            }
        }
    }
}


// sidenav-collapsed
.sidenav-collapsed {
    width: 250px;
    right: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    background: theme-color-level(blue-grey, 10);
    z-index: 4;
    header {
        background: theme-color-level(blue-grey, 8);
        padding: 0 $spacer;
        h4 {
            margin: 0;
            line-height: 44px;
        }
        a {
            line-height: 44px;
        }
    }
    .content {
        overflow-y: auto;
		height: calc(100vh - 44px);
        .sidemenu{

            >li{
				>a{
					padding: $spacer/2 $spacer;
					display: flex;
					align-items: center;
					font-size: $font-size-base/1.10;
					color: theme-color-level(blue-grey, -4);
					/deep/svg{
						fill: theme-color-level(blue-grey, -4);
						height: 16px;
						margin-right: $spacer/2;
					}
					span{
						@extend .text-ellipsis;
						flex: 1;
					}
					&:after{
						display: none;
					}
					.fil0{
						fill: #869294;
					}
				}
				&.open{
					>a{
						&:after{
							content: '\f107';
							font-family: fontAwesome;
							display: block;
							font-size: $font-size-base;
							margin-left: $spacer/2;
							display: block;
						}
					}
				}
				&:hover{
					>a{
						color: var(--white);
						background: theme-color-level(blue-grey, 6);
						/deep/svg{
							fill: var(--white);
						}
					}
				}
				// sub-menu
				&.active{
					>a{
						background-color: #5bc6cb;
						color: #ffffff;

						.fil0{
							fill: #ffffff;
						}

						&:after{
							content: '\f106';
						}
					}
					.sub-menu{
						display: block;
						background-color: #6fa7aa;
						color: #ffffff;

						accordion accordion-group .card .card-header a{
							color: #ffffff;
						}
					}
				}
				.sub-menu{
					position: inherit;
					padding: 0 $spacer;
					background: theme-color-level(blue-grey, 8);
					border-radius: 0;
					box-shadow: 0;

					>li{
						padding-left: $spacer*1.80;
						>a{
							color: var(--white);
							font-size: $font-size-base/1.10;
							font-weight: 400;
							@extend .text-ellipsis;
							&:after{
								// font-size: $font-size-base/1.10;
								// top: $spacer/2;
								display: none;
							}
						}
						&.open{
							>a{
								&:after{
									font-size: $font-size-base/1.10;
									top: $spacer/2;
									display: block;
								}
							}
						}
						&:hover{
							>a{
								color: theme-color(primary);
							}
						}

						.sub-sub-menu{
							>li{
								a{
									&:after{
										font-size: $font-size-base/1.10;
										top: $spacer/2;
									}
								}
							}
						}
					}
				}
            }
        }
    }
}

// modal
.modal-dialog{
	margin-left: auto;
	margin-right: auto;
}
.close{
	opacity: 1;
}

// account-collapsed-in
.account-collapse-in{
	// image
	.img{
		max-width: 200px;
		@include media-breakpoint-down(sm) {
			max-width: 55px;
			position: absolute;
			z-index: 1;
		}
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	// header
	header{
		padding: $spacer $spacer*2;
		@include media-breakpoint-down(lg) {
			padding:$spacer;
		}
		h4{
			line-height: 25px;
		}
		.arrow{
			position: relative;
			width: 25px;
			height: 25px;
			border-radius: 100%;
			border: 1px solid theme-color(primary);
			text-align: center;
			line-height: 23px;
			transition: $transition;
			&:after{
				content: '\f107';
				font-family: fontAwesome;
				display: block;
			}
		}
	}
	// details
	.details{
		padding: 0 $spacer*2 $spacer;
		font-size: $font-size-base/1.10;
		@include media-breakpoint-down(lg) {
			padding: 0 $spacer $spacer;
		}
		@include media-breakpoint-down(sm) {
			padding: $spacer;
			border-top: 1px solid theme-color-level(medium, -10);
		}
		// list
		.list-link{
			margin-top: $spacer/2;
			margin-bottom: 0;
			li{
				float: left;
				border-left: 1px solid theme-color(secondary);
				padding-left: $spacer;
				margin-left: $spacer;
				&:first-child{
					border: 0;
					padding-left: 0;
					margin-left: 0;
				}
				a{
					color: theme-color(secondary);
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}
}
// account-collapsed
.account-collapse{
	@extend .account-collapse-in;
	.img{
		max-width: 55px;
		@include media-breakpoint-down(sm) {
			position: inherit;
		}
	}
	header{
		.arrow{
			&:after{
				content: '\f105';
			}
		}
	}
}

// tag input
.ng2-tag-input{
	padding: 2px 0 !important;
	border-bottom: 1px solid theme-color(medium) !important;
	&.ng2-tag-input--focused{
		border-bottom: 1px solid theme-color(primary) !important;
	}
	.ng2-tag-input__text-input{
		padding: 0 !important;
	}
	tag{
		height: 26px !important;
		line-height: 22px !important;
	}
	.ng2-tag-input__text-input{
		height: 29px !important;
	}
	delete-icon{
		svg{
			height: 25px !important;
		}
	}
}


// tab
.tab-primary{
	&.tab-container{
		.nav-tabs{
			.nav-item{
				margin-bottom: 0;
			}
			.nav-link{
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				padding: $spacer;
				font-size: $h4-font-size;
				font-weight: 700;
				color: var(--white);
				border: 0;
				border-radius: 0;
				position: relative;
				svg{
					fill: var(--white);
				}
				&.active{
					background-color: theme-color(secondary) !important;
					&:after{
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 20px 15px 0 15px;
						content: '';
						position: absolute;
						bottom: -20px;
						border-color: theme-color(secondary) transparent transparent transparent !important;
					}
				}
			}
			.heading-level-1{
				.nav-link{
					background-color: theme-color(primary);
					&:after{
						border-color: theme-color(primary) transparent transparent transparent;
					}
				}
			}
			.heading-level-2{
				.nav-link{
					background-color: theme-color-level(primary, 3);
					&:after{
						border-color: theme-color-level(primary, 3) transparent transparent transparent;
					}
				}
			}
			.heading-level-3{
				.nav-link{
					background-color: theme-color-level(primary, 4);
					&:after{
						border-color: theme-color-level(primary, 4) transparent transparent transparent;
					}
				}
			}
		}
		// tab-content
		.tab-content{
			padding: $spacer*2;
			background-color: theme-color-level(primary, -10);
			@include media-breakpoint-down(sm) {
				padding: $spacer;
			}
			.form-area{
				padding: $spacer*2;
				@include media-breakpoint-down(sm) {
					padding: $spacer;
				}
				.add-package{
					label{
						font-size: $font-size-sm;
					}
				}
			}
		}
	}
}

// accordion
.accordion{
	&.panel-group{
		.panel{
			// card
			.card{
				border-radius: 0;
				border: 0;
				// header
				.card-header{
					border-radius: 0;
					border: 0;
					padding-left: $spacer;
					padding-right: $spacer;
					background-color: theme-color(light);
					cursor: pointer;
					header{
						position: relative;
						padding-right: $spacer;
						&:after{
							content: '\f067';
							font-family: fontAwesome;
							position: absolute;
							right: 0;
							top: 2px;
						}
					}
				}
				// collapse
				.panel-collapse{
					background-color: rgba(theme-color(light), .20);
					.card-body{
						padding: $spacer;
						.form-area{
							padding: $spacer;
							.border-right{
								@include media-breakpoint-down(xs) {
									border-right: 0 !important;
								}
							}
						}
					}
				}
			}
			// is open
			&.panel-open{
				.card{
					.card-header{
						background-color: theme-color(dark);
						color: var(--white);
						header{
							svg{
								fill: var(--white);
							}
							&:after{
								content: '\f068';
							}
						}
					}
				}
				&:nth-child(odd) {
					.card{
						.card-header{
							background-color: theme-color(dark);
							color: var(--white);
						}
					}
				}
			}
			// odd child
			&:nth-child(odd) {
				.card{
					.card-header{
						background-color: rgba(theme-color(light), .40);
					}
				}
			}
		}
	}
}
// accordion primary
.accordion-primary{
	&.panel-group{
		.panel{
			// card
			.card{
				// header
				.card-header{
					background-color: rgba(theme-color(primary), .05);
				}
				// collapse
				.panel-collapse{
					background-color: rgba(theme-color(primary), .20);
				}
			}
			// is open
			&.panel-open{
				.card{
					.card-header{
						background-color: theme-color(primary);
					}
				}
				&:nth-child(odd) {
					.card{
						.card-header{
							background-color: theme-color(primary);
						}
					}
				}
			}
			// odd child
			&:nth-child(odd) {
				.card{
					.card-header{
						background-color: rgba(theme-color(primary), .10);
					}
				}
			}
		}

		// level-1
		.heading-level-1{
			.card{
				.card-header{
					background-color: theme-color(primary) !important;
					color: var(--white);
					header{
						svg{
							fill: var(--white);
						}
					}
				}
			}
		}
		// level-2
		.heading-level-2{
			.card{
				.card-header{
					background-color: theme-color-level(primary, 3) !important;
					color: var(--white);
					header{
						svg{
							fill: var(--white);
						}
					}
				}
			}
		}
		// level-3
		.heading-level-3{
			.card{
				.card-header{
					background-color: theme-color-level(primary, 4) !important;
					color: var(--white);
					header{
						svg{
							fill: var(--white);
						}
					}
				}
			}
		}
	}
}

// datatable
// header
.table-header{
	background-color: theme-color(dark);
	padding: $spacer/2;
	border-radius: 3px 3px 0 0;
	label{
		margin: 0;
		color: var(--white);
	}
}

.table-responsive{
	border: 1px solid rgba(theme-color(medium), .4);
	.badge{
		max-width: 100px;
		@extend .text-ellipsis;
	}
}
table.dataTable thead th, table.dataTable thead td{
	padding: $spacer/1.25 $spacer/1.75;
	font-size: $font-size-base/1.10;
	border-bottom: 1px solid theme-color(light);
	white-space: nowrap;
}
table.dataTable thead th{
	font-weight: 400;
	background: $gray-200;
}

table.dataTable.row-border tbody th,
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td{
	border-top: 1px solid  rgba(theme-color(medium), .4);
}
table.dataTable.no-footer{border-bottom: 0;}

table.dataTable tbody th,
table.dataTable tbody td{
	font-size: $font-size-base/1.10;
}

// tfoot
table.dataTable tfoot th, table.dataTable tfoot td{
	padding: $spacer/1.25 $spacer/1.75;
	font-size: $font-size-base/1.10;
	@extend .border-top;
	white-space: nowrap;
	// font-weight: 500;
}

// table-footer
.table-footer{
	@extend .border-bottom;
	@extend .border-left;
	@extend .border-right;
	padding: $spacer/2;
	font-size: $font-size-base/1.10;
	// dataTables_length
	.dataTables_length{
		@include media-breakpoint-down(sm) {
			width: 100%;
		}

		label{
			margin: 0;
			display: flex;
			@include media-breakpoint-down(sm) {
				justify-content: center;
				margin-bottom: $spacer/2;
			}
			select{
				@extend .form-control;
				@extend .form-control-sm;
				max-width: 70px;
			}
			span{
				white-space: nowrap;
				line-height: 28px;
			}
		}
	}

}

// pagination
.dataTables_wrapper .dataTables_paginate{
	padding: 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
	padding: 0;
	min-width: 28px;
	height: 28px;
	line-height: 28px;
	border: 0;
	outline: 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
	background: theme-color(secondary);
	border: 0;
	color: var(--white) !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
	background: theme-color(light);
	border: 0;
	color: theme-color(dark) !important;
	box-shadow: inherit;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
	&.previous{
		font-size: 0;
		line-height: 28px;
		&:after{
			content: '\f053';
			font-family: fontAwesome;
			font-size: $font-size-base/1.10;
		}
	}
	&.next{
		font-size: 0;
		line-height: 28px;
		&:after{
			content: '\f054';
			font-family: fontAwesome;
			font-size: $font-size-base/1.10;
		}
	}
	&.first{
		font-size: 0;
		line-height: 28px;
		&:after{
			content: '\f048';
			font-family: fontAwesome;
			font-size: $font-size-base/1.10;
		}
	}
	&.last{
		font-size: 0;
		line-height: 28px;
		&:after{
			content: '\f051';
			font-family: fontAwesome;
			font-size: $font-size-base/1.10;
		}
	}
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{
	color: theme-color(medium) !important;
}

// cart-list
.cart-list{
	.item{
		padding: $spacer*2;
		border-bottom: 1px solid rgba(theme-color(medium), .4);
		@include media-breakpoint-down(sm) {
			padding: $spacer;
		}
		&.active{
			background: rgba(theme-color(medium), .20);
		}
		// img
		.img{
			max-width: 120px;
			@include media-breakpoint-down(sm) {
				max-width: 65px;
			}
			img{
				width: 120px;
				height: 120px;
				object-fit: contain;
				@include media-breakpoint-down(sm) {
					width: 50px;
					height: 50px;
				}
			}
		}

		.img + .content{
			max-width: calc(100% - 120px);
			@include media-breakpoint-down(sm) {
				max-width: calc(100% - 65px);
			}
		}
	}
}

// shipping-type
.shipping-type{
	.item-inn{
		border: 1px solid theme-color(medium);
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 20px;
		padding: $spacer;
		text-align: center;
		/deep/svg{
			fill: theme-color-level(medium, 5);
		}
		img{
			height: 60px;
		}
	}
}

// product
.product-img{
	object-fit: cover;
	width: 62px;
	height: 62px;
}

// steper
.steper{
	display: flex;
    flex-direction: row;
    justify-content: center;
	flex-wrap: wrap;
	margin: 0;
	li{
		padding: 0 $spacer*2;
		position: relative;
		@include media-breakpoint-down(sm) {
			padding: 0 $spacer*0.5;
		}
		&:before{
			content: '';
			height: 5px;
			width: 100%;
			background: theme-color-level(primary, -9);
			display: block;
			position: absolute;
			top: calc(50% - 2px);
			left: -50%;
			z-index: -1;
		}
		&:first-child{
			&::before{
				display: none;
			}
		}
		button{
			display: block;
			padding: $spacer/2 $spacer;
			background: theme-color-level(primary, -9);
			border-radius: 3px;
			border: 0;
			-webkit-appearance: none;
			-moz-appearance: none;
			cursor: pointer;
			&:disabled{
				cursor: inherit;
			}
			svg{
				fill: theme-color(light);
			}
		}
		&.visited{
			&:before{
				background: theme-color(primary);
			}
			button{
				background: theme-color(primary);
				color: var(--white);
			}
			.active{
				background: theme-color(dark);
			}
		}
		.active{
			background: theme-color(dark);
			color: var(--white);
		}
	}
}

// breadcrumb
.breadcrumb{
	padding: 0;
	background: transparent;
	margin-bottom: $spacer/2;
	.breadcrumb-item + .breadcrumb-item{
		&:before{
			content: '\f105';
			font-family: fontAwesome;
		}
	}
}

// track-order
.track-order{
	margin: 0;
	display: flex;
	flex-direction: row;
	@include media-breakpoint-down(sm) {
		flex-direction: column;
	}
	li{
		text-align: center;
		flex: 1;
		font-size: $font-size-base/1.20;
		padding: 0 $spacer/2;
		position: relative;
		@include media-breakpoint-down(sm) {
			text-align: left;
			padding: 0;
			display: flex;
			min-height: 50px;
		}
		// first child
		&:first-child{
			text-align: left;
			padding-left: 0;
			&::before{
				display: none;
			}
		}
		// 2nd child
		&:nth-child(2){
			&::before{
				width: 150%;
				left: calc(-100% + #{$spacer}/2);
				@include media-breakpoint-down(sm) {
					width: 2px;
					left: 7px;
				}
			}
		}
		// last-child
		&:last-child{
			text-align: right;
			padding-right: 0;
			@include media-breakpoint-down(sm) {
				text-align: left;
			}
			&::before{
				width: 150%;
				@include media-breakpoint-down(sm) {
					width: 2px;
				}
			}
		}
		// before
		&:before{
			display: block;
			width: 100%;
			height: 2px;
			background: rgba(theme-color(medium), .50);
			content: '';
			position: absolute;
			left: -50%;
			top: 7px;
			z-index: 0;
			@include media-breakpoint-down(sm) {
				width: 2px;
				height: 100%;
				left: 7px;
				top: -100%;
			}
		}
		// milestone
		.milestone{
			width: 16px;
			height: 16px;
			border: 2px solid theme-color(medium);
			border-radius: 100%;
			display: inline-block;
			background: var(--white);
			position: relative;
			z-index: 1;
			text-align: center;
			@include media-breakpoint-down(sm) {
				flex: none;
			}
		}
		// content
		.content{
			@include media-breakpoint-down(sm) {
				flex: 1;
				padding-left: $spacer;
				display: flex;
				justify-content: space-between;
			}
		}
		// completed
		&.completed{
			.milestone{
				background: theme-color(success);
				border-color: theme-color(success);
				color: var(--white);
				&:after{
					content: '\f00c';
					font-family: fontAwesome;
					display: block;
					line-height: 12px;
					font-size: $font-size-base/1.50;
					position: absolute;
					left: 0;
					right: 0;
					margin: 0 auto;
				}
			}
			&:before{
				background: theme-color(success);
			}
		}

		&.visited{
			.milestone{
				border-color: theme-color(success);
				&:after{
					position: absolute;
					left: 0;
					right: 0;
					margin: 0 auto;
					content: '';
					display: block;
					width: 8px;
					height: 8px;
					background: theme-color(success);
					border-radius: 100%;
					top: 2px;
				}
			}
			&:before{
				background: theme-color(success);
			}
		}
	}
}

// ngx-pagination
.ngx-pagination{
	margin: 0 !important;
	.current{
		background-color: theme-color(secondary) !important;
	}
}


// timeline
.timeline{
	margin: 0;
	.item{
		text-align: center;
		position: relative;
		padding: $spacer 0;
		display: flex;
		flex-direction: column;

		&:last-child{
			&::after{
				display: none;
			}
		}
		&:after{
			width: 2px;
			height: 100%;
			display: block;
			margin: 0 auto;
			left: 0;
			top: 0;
			right: 0;
			content: '';
			background: theme-color(primary);
			position: absolute;
			@include media-breakpoint-down(xs) {
				right: inherit;
				margin: inherit;
				left: 20px;
			}
		}
		.icon{
			display: block;
			border: 2px solid theme-color(primary);
			background: var(--white);
			width: 40px;
			height: 40px;
			border-radius: 100%;
			position: absolute;
			left: 0;
			right: 0;
			margin: 0 auto;
			z-index: 1;
			top: 0;
			text-align: center;
			@include media-breakpoint-down(xs) {
				right: inherit;
				margin: inherit;
			}
			i{
				display: block;
				width: 32px;
				height: 32px;
				margin: 2px;
				border-radius: 100%;
				background: theme-color(primary);
				color: var(--white);
				font-size: $font-size-lg;
				line-height: 32px;
			}
		}

		.content{
			@extend .white-box;
			width: calc(50% - #{$spacer}*3);
			margin-top: -$spacer;
			position: relative;
			@extend .rounded;
			@include media-breakpoint-down(xs) {
				width: calc(100% - #{$spacer}*3.5);
			}
			&:after{
				content: " ";
				height: 0;
				position: absolute;
				top: $spacer;
				width: 0;
				z-index: 1;
				right: -$spacer/2;
				border: medium solid white;
				border-width: $spacer/2 0 $spacer/2 $spacer/2;
				border-color: transparent transparent transparent var(--white);
			}
		}
		&.left{
			align-items: flex-start;
			text-align: right;
			@include media-breakpoint-down(xs) {
				align-items: flex-end;
				text-align: left;
			}
		}
		&.right{
			align-items: flex-end;
			text-align: left;
			.content{
				&:before{
					content: " ";
					height: 0;
					position: absolute;
					top: $spacer;
					width: 0;
					z-index: 1;
					border: medium solid white;
					left: -$spacer/2;
					right: inherit;
					border-width: $spacer/2 $spacer/2 $spacer/2 0;
					border-color: transparent var(--white) transparent transparent;
				}
				&:after{
					display: none;
				}
			}
		}
	}
}

// ngx gallery
.ngx-gallery-image-wrapper{
	background: theme-color(dark);
}


.radio-tab{
	.h2, .h5{
		color: theme-color(primary);
	}
}

//ng select
.input-group{
	.ng-select.ng-select-single .ng-select-container{
		height: 33px;
		min-height: 33px;
		border-radius: 0;
	}
}


walkthrough-container{
	z-index: 1051 !important;
	transition: all .3s linear;
	.wkt-content-block{
		max-width: 400px;
	}

	.wkt-navigate{
		// justify-content: flex-start !important;
		> button{
			text-transform: uppercase;
			font-weight: 700;
			font-size: 100% !important;
			&:hover{
				text-decoration: none !important;
				opacity: .80;
			}
			&.wkt-next-link{
				@extend .text-primary;
				&:after{
					// content: '\f105' !important;
					// font-family: fontAwesome;
					// margin-left: $spacer/2;
					display: none;
				}
			}
			&.wkt-previous-link{
				display: none;
				@extend .text-primary;
				&:before{
					// content: '\f104' !important;
					// font-family: fontAwesome;
					// margin-right: $spacer/2;
					display: none;
				}
			}
			&.wkt-finish-link{
				@extend .text-primary;
			}
		}
	}
}


// lz chat
.lz_chat_unselectable{
	box-shadow: inherit !important;
}

#lz_overlay_wm{
	margin: 0 0.46875rem 0.46875rem 0 !important;
	@include media-breakpoint-down(lg) {
		// display: none !important;
	}
}
#lz_overlay_chat{
	@include media-breakpoint-down(lg) {
		width: calc(100vw - 110px) !important;
		max-width: 300px;
	}
}

// gauge
.gauge{
	display: flex;
	flex-direction: column;
	.gauge-container{
		display: flex;
		flex-direction: row;
		flex: 1;
		// gauge-box
		.gauge-box{
			width: $spacer*1.5;
			min-height: 120px;
			height: 100%;
			@extend .border;
			@extend .border-dark;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			.gauge-fill{
				display: block;
				width: 100%;
				max-height: 100%;
				@extend .bg-secondary;
			}
		}

		// gauge-scale
		.gauge-scale{
			ul{
				margin: 0;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				height: 100%;
				align-items: flex-end;
				li{
					font-size: $font-size-sm;
					padding-right: $spacer*1.25;
					position: relative;
					line-height: 1;
					&:first-child{
						margin-top: -6px;
					}
					&:last-child{
						margin-bottom: -5px;
					}
					&:after{
						width: $spacer;
						height: 1px;
						display: block;
						position: absolute;
						right: 0;
						top: 50%;
						content: '';
						@extend .bg-dark;
					}
				}
			}
		}
	}

	// horizontal
	&.gauge-horizontal{
		.gauge-container{
			flex-direction: column;
			flex: none;
			// gauge-box
			.gauge-box{
				height: $spacer;
				min-width: 120px;
				min-height: inherit;
				width: 100%;
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
			}
		}
		
		// gauge-scale
		.gauge-scale{
			ul{
				flex-direction: row;
				li{
					padding-bottom: $spacer*1.25;
					padding-right: 0;
					flex: 1;
					text-align: center;
					&:first-child{
						text-align: left;
						margin: 0;
						&::after{
							margin: inherit;
						}
					}
					&:last-child{
						text-align: right;
						margin: 0;
						&::after{
							margin: inherit;
							left: inherit;
						}
					}
					&:after{
						width: 1px;
						height: $spacer;
						right: 0;
						top: inherit;
						bottom: 0;
						left: 0;
						margin: 0 auto;
					}
				}
			}
		}
	}
	
}

// close button style
.close-overlap{
	$dimension: 20px;
	width: $dimension;
	height: $dimension;
	border-radius: 50%;
	@extend .bg-light;
	display: flex;
    position: absolute;
    right: -5px;
    top: -5px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 2px 1px rgba($black, .15); 
	svg-icon{
		width: 40%;
		height: 40%;
		svg{
			width: 100%;
			height: 100% !important;
		}
	}
}

// page-overlay
.page-overlay{
	display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: $spacer;
    background-color: rgba($black, .7);
    z-index: 4;
    span{
    	color: var(--white);
    }
}

// socials
.list-social{
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	li{
		margin-right: $spacer/4;
		margin-bottom: $spacer/4;
		&:last-child{
			margin-right: 0;
		}
		a{
			width: 48px;
			height: 48px;
			border-radius: 100%;
			display: block;
			text-align: center;
			line-height: 48px;
			font-size: $h4-font-size;
			color: var(--white);
			transition: $transition;
			@include media-breakpoint-down(xl) {
				width: 34px;
				height: 34px;
				line-height: 34px;
			}
			&:hover{
				opacity: .80;
			}
		}
	}
}

// dropdown
.ng-select-container{
    .each_option{
        img{
            width: 30px;
            height: 30px;
            object-fit: contain;
        }
        &>span{
            span{
                &:first-child{
                    display: none;
                }
            }
        }
    }
}
ng-dropdown-panel {
    width: 280px !important;
    max-width: calc(100vw - 30px);
	.each_option{
		img{
			object-fit: contain;
			flex-shrink: 0;
		}
		&>span{
			width: calc(100% - 20px);
		}
	}
}