<app-header></app-header>

<!-- inside banner start -->
<figure class="inside-banner p-3">
	<img src="assets/imgs/track-shipment.jpg">
	<figcaption>
		<h1 class="mb-0 text-ellipsis">Registration Successful</h1>
	</figcaption>
</figure>
<!-- inside banner end -->

<main class="container my-3 my-md-5">
	<section class="container-sm login">
    <article class="login-box">
        <div class="border bg-light login-bottom">
            <span class="icon">
                <svg-icon src="assets/imgs/icons/check-mark-button.svg" [svgStyle]="{ 'height.px':50}"></svg-icon>
            </span>
            <h5 class="text-center mb-3">Your registration was successful. Click the link sent to your email to
                verify your email.Check your SPAM folder if you don’t see the email in your inbox.</h5>
            <div class="col-sm-12 text-center" *ngIf="activationResendUser"><span>Haven’t received the verification
                    mail: <a (click)='resendActivationMail(activationResendUser)' href="javascript:void(0)">Click
                        here</a> to resend</span></div>
            <div class="col-sm-12 text-center" *ngIf="!activationResendUser"><span>Verification email sent
                    successfully</span></div>
        </div>
    </article>
</section>
</main>

<app-footer></app-footer>