@import "src/assets/scss/variables";
@import "src/assets/scss/utilities";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

.list-social{
    &._lg{
        justify-content: center;
        li{
            margin-right: $spacer;
            :last-child{
                margin-right: 0;
            }
            a{
                width: 60px;
                height: 60px;
                line-height: 60px;
                font-size: $h3-font-size * 1.2;
                @include media-breakpoint-down(md) {
                    width: 34px;
                    height: 34px;
                    line-height: 34px;
                }
            }
        }
    }
}
// .social-type{
//     display: flex;
//     justify-content: center;
//     li{
//         margin-right: $spacer * 2;
//         width: 60px;
//         height: 60px;
//         &:last-child{
//             margin-right: 0;
//         }
//         &.facebook{
//             background-color: theme-color(fb);
//         }
//         &.google{
//             background-color: theme-color(google);
//         }
//         a{
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             i{
//                 font-size: $font-size-base * 2;
//                 color: var(--white);
//                 line-height: 100%;
//             }
//         }
//     }
// }