<div class=" my-3 my-md-5">
	<!-- header start -->
	<header class="page-header border-bottom pb-2">
		<h3>Shipping &amp; payment</h3>
	</header>
	<!-- header end -->
	<!-- shipping and payment details start -->
	<div class="row">
		<!-- shipping address start -->
		<div class="col-sm-6 col-12 mt-3 item">
			<div class="border payment-type-box d-flex flex-column text-center">
				<div class="p-3">
					<h4 class="text-primary">Shipping address</h4>
					<span class="d-block font-weight-medium">{{personalDetails.shippingFirstName+" "+personalDetails.shippingLastName}}</span>
					<span class="d-block">{{personalDetails.shippingAddress}}
						<span *ngIf="personalDetails.shippingAlternateAddress"><br>{{personalDetails.shippingAlternateAddress}}</span>
						<br><span *ngIf="personalDetails.shippingCityName">{{personalDetails.shippingCityName}},</span> 
						<span *ngIf="personalDetails.shippingStateName">{{personalDetails.shippingStateName}},</span>  
						<span *ngIf="personalDetails.shippingCountryName">{{personalDetails.shippingCountryName}} - </span>  <span *ngIf="personalDetails.shippingZipcode">{{personalDetails.shippingZipcode}}</span>
					</span>
					<span class="d-block">{{personalDetails.shippingPhone}}</span>
				</div>
				<footer *ngIf="!shipmentMethodId"  class="px-3 py-2 mt-auto border-top">
					<span class="d-block font-size-sm mb-1">Shipping to a different address?</span>
					<a routerLink="/addressbook" tooltip="Modify your shipping address" container="body" class="btn btn-primary btn-sm">Modify</a>
				</footer>
			</div>
		</div>
		<!-- shipping address end -->

		<!-- billing address start -->
		<div class="col-sm-6 col-12 mt-3 item">
			<div class="border d-flex flex-column text-center">
				<div class="p-3">
					<h4 class="text-primary">Billing address</h4>
					<span class="d-block font-weight-medium">{{personalDetails.billingFirstName+" "+personalDetails.billingLastName}}</span>
					<span class="d-block">{{personalDetails.billingAddress}}
						<span *ngIf="personalDetails.billingAlternateAddress"><br>{{personalDetails.billingAlternateAddress}}</span>
						<br><span *ngIf="personalDetails.billingCityName">{{personalDetails.billingCityName}},</span> 
						<span *ngIf="personalDetails.billingStateName">{{personalDetails.billingStateName}}, </span>
						<span *ngIf="personalDetails.billingCountryName">{{personalDetails.billingCountryName}} -</span> 
						<span *ngIf="personalDetails.billingZipcode">{{personalDetails.billingZipcode}}</span>
					</span>
					<span class="d-block">{{personalDetails.billingPhone}}</span>
				</div>
				<footer *ngIf="!shipmentMethodId" class="px-3 py-2 mt-auto border-top">
					<span class="d-block font-size-sm mb-1">Shipping to a different address?</span>
					<a routerLink="/addressbook" tooltip="Modify your billing address" class="btn btn-primary btn-sm">Modify</a>
				</footer>
			</div>
		</div>
		<!-- billing address end -->

		<!-- payment method start -->
		<div class="col-12 mt-3 item">
			<div class="border payment-type-box d-flex flex-column">
				<header class="border-bottom px-3 py-2">
					<h4 class="mb-0 text-primary">
						Payment method
					</h4>
				</header>
				<div>
					<div *ngFor="let paymentMethod of paymentMethodList" class="d-flex align-items-center p-3 border-bottom">
						<input type="radio" name="payment-type" [(ngModel)]="paymentMethodId" (ngModelChange)="changePaymentMethod($event, paymentMethod.paymentMethod, paymentMethod.paymentMethodKey, paymentMethod.surcharge, paymentMethod.surchargeType)" [checked]="paymentMethodId == paymentMethod.id?true:false" [value]="paymentMethod.id" [disabled]="totalCost<paymentMethod.minallowedvalue || totalCost>paymentMethod.maxallowedvalue"/>
						<label class="form-check custom-radio mb-0">
							<span class="checkmark" [ngClass]="{'disabledinput': totalCost<paymentMethod.minallowedvalue || totalCost>paymentMethod.maxallowedvalue}"></span>
							<span class="ml-2" [ngClass]="{'disabledtext': totalCost<paymentMethod.minallowedvalue || totalCost>paymentMethod.maxallowedvalue}">{{paymentMethod.paymentMethod}}</span><span class="ml-2 text-info" *ngIf="paymentMethod.paymentDetails" [ngClass]="{'disabledtext': totalCost<paymentMethod.minallowedvalue || totalCost>paymentMethod.maxallowedvalue}">: {{paymentMethod.paymentDetails}}</span>
						</label>
						<!-- <a *ngIf="paymentMethod.paymentDetails" class="help-icon ml-2 flex-none" container="body" href="javascript:void(0)" tooltip="{{paymentMethod.paymentDetails}}" placement="left">
							<i aria-hidden="true" class="fa fa-question"></i>
						</a> -->
					</div>
				</div>
			</div>
		</div>
		<!-- payment method end -->

		<!-- submit start -->
		<article class="col-12 text-center mt-3 mt-md-5">
			<a href="javascript:void(0);" (click)="proceedToPlaceorder()" class="btn btn-secondary btn-lg">Continue</a>
		</article>
		<!-- submit end -->
	</div>
	<!-- shipping and payment details end -->
</div>
