<div class="modal-header">
	<h4 class="modal-title pull-left text-primary">Wrong Inventory</h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<p>It looks like we may have miscounted, left out or wrongly identified something in your shipment. Sorry about this. Please let us know about it and we will fix within 24 hours.</p>
	<p class="mb-0">
		<strong>Shipment ID : </strong> {{shipmentId}}
	</p>
	<p>
		<strong>Delivery Number : </strong> {{deliveryId}}
	</p>
	<p class="mb-0">Please tell us what we missed below :</p>
	<p><textarea class="form-control" name="wrongInventoryMessage" [(ngModel)]="wrongInventoryMessage"></textarea></p>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-dark" (click)="bsModalRef.hide()">Cancel</button>
	<button type="button" class="btn btn-secondary" (click)="sendWrongInventoryNotification(deliveryId, shipmentId);">Submit</button>
</div>
