<app-header></app-header>
<!-- banner start -->
<section class="login-banner">
	<img src="{{ bannerImage }}">
</section>
<!-- banner end -->
<div class="container-fluid">	
	<section class="container-sm login" *ngIf="showText">
		<article class="login-box">
			<div class="border bg-light login-bottom">
				<h4 class="text-center">Thank you for letting us know about the delay in delivery.</h4>
				<h4 class="text-center">We are on this right away and will get back to you shortly.</h4>
			</div>	
		</article>
	</section>	
</div>
<app-footer></app-footer>
