<section class="container">
	<div class="row">
		<!-- sidebar start -->
		<aside class="col sidebar" *ngIf="!isMediumScreen">
			<app-sidebar-flyout></app-sidebar-flyout>
		</aside>
		<!-- sidebar end -->

		<!-- main content start -->
		<main class="col main-content py-md-5 py-3  pl-lg-5">
			<!-- header start -->
			<header class="page-header border-bottom mb-3">
				<h3>Buy A Car For Me</h3>
			</header>
			<!-- header end -->
			<form method="post" (ngSubmit)="otherVehicleFrm.form.valid && onSubmit(otherVehicleFrm)" #otherVehicleFrm="ngForm">
				<div class="white-box border border-primary mb-4" *ngIf="websiteList">
					<div class="form-row">
						<div class="form-group col-sm-4 mb-2">

							<label>Website<span class="text-secondary">*</span> : </label>
							<select class="form-control" (change)="getMake($event)" name="website" #website="ngModel" [ngClass]="{ 'is-invalid': otherVehicleFrm.submitted && website.invalid }" ngModel required>
								<option value="">Select</option>
								<option value="{{ eachWebsite.id }}" [attr.data-sectionvalue]="i" *ngFor="let eachWebsite of websiteList; let i=index">
									{{ eachWebsite.name }}
								</option>
							</select>
							<div *ngIf="otherVehicleFrm.submitted && website.invalid" class="invalid-feedback">
			                	<div *ngIf="website.errors.required">Field is required</div>
							</div>

						</div>

		            	<div class="col-sm-2">
		            	<label>&nbsp;</label>
		                	<img class="minHight" src="{{ websiteDetails.logo }}" *ngIf="websiteDetails">
		                </div>
		
					</div>
					<div *ngIf="websiteDetails">{{ websiteDetails.description }}</div>
					<div class="border-top pt-2 mt-2">
						<!--<img src="{{ websiteDetails.logo }}" class="mb-3" *ngIf="websiteDetails">-->
						<!--<div *ngIf="websiteDetails">{{ websiteDetails.description }}</div>-->
						<p class="mb-0"><!-- Ever tried shopping in international online stores, only to have your cards declined. With Shop For Me, we can help you
							make purchases from these stores usig the following simple process. -->
							Select your preferred car site and we can help you buy your car using the following simple process.
						</p>
					</div>
				</div>
				<!-- buy car form start -->
				<div class="white-box">
					<div class="form-row">
						<div class="form-group col-sm-4 col-6">
							<label>Make
								<span class="text-secondary">*</span>
							</label>
							<select class="form-control" (change)="getModel($event)" name="make" #make="ngModel" [ngClass]="{ 'is-invalid': otherVehicleFrm.submitted && make.invalid }" ngModel required>
								<option value="">Select</option>
								<option value="{{ eachMake.makeId }}" *ngFor="let eachMake of makeList">{{ eachMake.make.name }}</option>
							</select>
							<div *ngIf="otherVehicleFrm.submitted && make.invalid" class="invalid-feedback">
			                	<div *ngIf="make.errors.required">Field is required</div>
			        		</div>
						</div>
						<div class="form-group col-sm-4 col-6">
							<label>Model
								<span class="text-secondary">*</span>
							</label>
							<select class="form-control" name="model" #model="ngModel" [ngClass]="{ 'is-invalid': otherVehicleFrm.submitted && model.invalid }" (change)="getAllCharges(otherVehicleFrm)" ngModel required>
								<option value="">Select</option>
								<option value="{{ eachModel.modelId }}" *ngFor="let eachModel of modelList">{{ eachModel.model.name }}</option>
							</select>
							<div *ngIf="otherVehicleFrm.submitted && model.invalid" class="invalid-feedback">
			                	<div *ngIf="model.errors.required">Field is required</div>
			        		</div>
						</div>
						<div class="form-group col-sm-4 col-6">
							<label>Year
								<span class="text-secondary">*</span>
							</label>
							<select class="form-control" name="year" #year="ngModel" [ngClass]="{ 'is-invalid': otherVehicleFrm.submitted && year.invalid }" ngModel required>
								<option value="">Select</option>
								<option *ngFor="let year of yearList">{{ year }}</option>
							</select>
							<div *ngIf="otherVehicleFrm.submitted && year.invalid" class="invalid-feedback">
			                	<div *ngIf="year.errors.required">Field is required</div>
			        		</div>
						</div>
						<div class="form-group col-sm-8 col-6">
							<label>Direct URL/Website Link
								<span class="text-secondary">*</span>
							</label>
							<input type="text" class="form-control" name="carUrl" #carUrl="ngModel" [ngClass]="{ 'is-invalid': otherVehicleFrm.submitted && carUrl.invalid }" ngModel required>
							<div *ngIf="otherVehicleFrm.submitted && carUrl.invalid" class="invalid-feedback">
			                	<div *ngIf="carUrl.errors.required">Field is required</div>
			        		</div>
						</div>
						<div class="form-group col-sm-4 col-6">
							<label>Price ({{ currencySymbol }})
								<span class="text-secondary">*</span>
							</label>
							<input type="text" class="form-control" name="price" #price="ngModel" [ngClass]="{ 'is-invalid': otherVehicleFrm.submitted && price.invalid }" (change)="setTwoNumberDecimal($event)" (blur)="getAllCharges(otherVehicleFrm)" ngModel required>
							<div *ngIf="otherVehicleFrm.submitted && price.invalid" class="invalid-feedback">
			                	<div *ngIf="price.errors.required">Field is required</div>
			        		</div>
						</div>
						<div class="form-group col-sm-4">
							<label>Location of Car (Country)
								<span class="text-secondary">*</span>
							</label>
							<select class="form-control" (change)="getStateCity($event)" name="fromCountry" #fromCountry="ngModel" [ngClass]="{ 'is-invalid': otherVehicleFrm.submitted && fromCountry.invalid }" ngModel required>
								<option value="">Select</option>
								<option value="{{eachCountry.id}}" *ngFor="let eachCountry of countryList">{{eachCountry.name}}</option>
							</select>
							<div *ngIf="otherVehicleFrm.submitted && fromCountry.invalid" class="invalid-feedback">
			                	<div *ngIf="fromCountry.errors.required">Field is required</div>
			        		</div>
						</div>
						<div class="form-group col-sm-4">
							<label>Location of Car (State)
								<span class="text-secondary">*</span>
							</label>
							<select class="form-control" (change)="getCity($event)" name="fromState" #fromState="ngModel" [ngClass]="{ 'is-invalid': otherVehicleFrm.submitted && fromState.invalid }" ngModel required>
								<option value="">Select</option>
								<option value="{{eachState.id}}" *ngFor="let eachState of stateList">{{eachState.name}}</option>
							</select>
							<div *ngIf="otherVehicleFrm.submitted && fromState.invalid" class="invalid-feedback">
			                	<div *ngIf="fromState.errors.required">Field is required</div>
			        		</div>
						</div>
						<div class="form-group col-sm-4">
							<label>Location of Car (City)
								<span class="text-secondary">*</span>
							</label>
							<select class="form-control" name="fromCity" #fromCity="ngModel" (change)="getAllCharges(otherVehicleFrm)" [ngClass]="{ 'is-invalid': otherVehicleFrm.submitted && fromCity.invalid }" ngModel required>
								<option value="">Select</option>
								<option value="{{eachCity.id}}" *ngFor="let eachCity of cityList">{{eachCity.name}}</option>
							</select>
							<div *ngIf="otherVehicleFrm.submitted && fromCity.invalid" class="invalid-feedback">
			                	<div *ngIf="fromCity.errors.required">Field is required</div>
			        		</div>
							<small class="form-text text-muted">(This is used to determine the pick up cost. Select a car in Houston or Atlanta to enjoy a pick-up cost of just $195)</small>
						</div>
						<div class="form-group col-12">
							<div class="alert alert-danger mb-0">
								<span>
									<strong>Note :</strong> If Location in not listed, please give us a call at
									<strong>+234 700 800 8000</strong> or <strong>+1 888 315 9027</strong> or email us at
									<strong>contact@shoptomydoor.com</strong> so we can provide you with a pick up cost
								</span>
							</div>
						</div>
						<div class="form-group col-sm-3 col-6">
							<label>Millage</label>
							<input type="text" class="form-control" name="milage" ngModel>
						</div>
						<div class="form-group col-sm-3 col-6">
							<label>VIN Number</label>
							<input type="text" class="form-control" name="vinnumber" ngModel>
						</div>
						<div class="form-group col-sm-3 col-6">
							<label>Color</label>
							<input type="text" class="form-control" name="color" ngModel>
						</div>

						<div class="form-group col-sm-3">
							<label>Upload Picture<span class="text-secondary"> *</span></label>
							<input class="form-control-file" type="file" name="vehicleImage" #vehicleImage="ngModel" (change)="fileUpload($event)" [ngClass]="{ 'is-invalid': otherVehicleFrm.submitted && vehicleImage.invalid }" ngModel required>
							<div *ngIf="otherVehicleFrm.submitted && vehicleImage.invalid" class="invalid-feedback">
			                	<div *ngIf="vehicleImage.errors.required"><strong style="font-size:1rem;">Field is required</strong></div>
			        		</div>
						</div>
					</div>

					<article class="px-3 py-2 bg-medium text-center text-sm-left">
						<div class="row">
							<div class="col-md-4 col-sm-6 mb-2">
								<span class="font-weight-medium">Car Price : </span>
								<strong>{{ currencySymbol }}{{ (itemPrice*exchangeRate) | number:'1.2-2' }}</strong>
							</div>
							<div class="col-md-4 col-sm-6 mb-2">
								<span class="font-weight-medium">Processing Fee : </span>
								<strong>{{ currencySymbol }}{{ (processingFee*exchangeRate)| number:'1.2-2' }}</strong>
								<input type="hidden" name="processingFee" ngModel [(ngModel)]="processingFee">
							</div>
							<div class="col-md-4 col-sm-6 mb-2">
								<span class="font-weight-medium">Pick Up Cost : </span>
								<strong>{{ currencySymbol }}{{ (pickupCost*exchangeRate)| number:'1.2-2' }}</strong>
								<input type="hidden" name="pickupCost" ngModel [(ngModel)]="pickupCost">
							</div>
							<div class="col-md-4 col-sm-6 mb-2 mb-md-0">
								<span class="font-weight-medium">Shipping Cost : </span>
								<strong>{{ currencySymbol }}{{ (shippingCost*exchangeRate)| number:'1.2-2' }}</strong>
								<input type="hidden" name="shippingCost" ngModel [(ngModel)]="shippingCost">
							</div>
							<div class="col-md-4 col-sm-6 mb-2 mb-md-0">
								<span class="font-weight-medium">Insurance Cost : </span>
								<strong>{{ currencySymbol }}{{ (insuranceCost*exchangeRate)| number:'1.2-2' }}</strong>
								<input type="hidden" name="insuranceCost" ngModel [(ngModel)]="insuranceCost">
							</div>
							<div class="col-md-4 col-sm-6 mb-2 mb-md-0">
								<span class="font-weight-medium">Total Due : </span>
								<strong>{{ currencySymbol }}{{ (totalCost*exchangeRate)| number:'1.2-2' }}</strong>
								<input type="hidden" name="totalCost" ngModel [(ngModel)]="totalCost">
								<input type="hidden" name="currencyCode" ngModel [(ngModel)]="currencyCode">
								<input type="hidden" name="currencySymbol" ngModel [(ngModel)]="currencySymbol">
								<input type="hidden" name="exchangeRate" ngModel [(ngModel)]="exchangeRate">
								<input type="hidden" name="defaultCurrency" ngModel [(ngModel)]="defaultCurrency">
								<!-- <input type="hidden" name="insuranceCost" ngModel [(ngModel)]="insuranceCost"> -->
								<input type="hidden" name="isInsuranceCharged" ngModel [(ngModel)]="isInsuranceCharged">
							</div>

						</div>
					</article>
				</div>
				<!-- buy car form end -->

				<div class="text-center mt-3">
					<button type="submit" class="btn btn-secondary btn-lg" *ngIf="!formSubmit">Checkout</button>
					<button type="submit" class="btn btn-secondary btn-lg" disabled="" *ngIf="formSubmit">Checkout</button>
				</div>
			</form>
		</main>
		<!-- main content end -->
	</div>
</section>



