<div class="modal-header">
	<h4 class="modal-title pull-left text-primary">E-Wallet</h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<div class="col-12 text-center mb-sm-4 mb-3">
		<form method="post" (ngSubmit)="convertPointFrm.form.valid && onSubmit(convertPointFrm)" #convertPointFrm="ngForm">
			<div class="d-flex flex-column h-100 p-sm-3">
				<header class="px-3 py-2">
					<h4 class="mb-0 text-primary">Please enter point you want to convert to E-Wallet:</h4>
				</header>
				<div class="p-3">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<div class="input-group mb-3">
									<input type="number" name="userPoints" class="form-control" [ngClass]="{ 'is-invalid': convertPointFrm.submitted && userPointsRef.invalid }" [(ngModel)]="userPoints" maxlength="20" required #userPointsRef="ngModel">
									<div *ngIf="convertPointFrm.submitted && userPointsRef.invalid" class="invalid-feedback">
										<div *ngIf="userPointsRef.errors.required">Field is required</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<div class="input-group mb-3">
									<button type="submit" class="btn btn-secondary btn-sm">Submit</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	
</div>

