<app-header></app-header>

<!-- inside banner start -->
<figure class="inside-banner p-3">
	<img src="assets/imgs/track-shipment.jpg">
	<figcaption>
		<h1 class="mb-0 text-ellipsis">Shipment</h1>
	</figcaption>
</figure>
<!-- inside banner end -->

<main class="container my-3 my-md-5">

	<section class="white-box text-center">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<img class="mx-auto mb-2" src="assets/imgs/grey-logo.png">
				<h4 class="mb-4">Shipment XXX was estimated to be delivered by the <strong>4th of August</strong>.</h4>
				<span class="text-uppercase mb-2 d-block">Have you received it.</span>
				<form method="post">
					<div class="d-flex justify-content-center mb-3">
						<label class="custom-radio text-left mr-3">
							<input type="radio" value="yes" name="received">
							<span class="radiomark mr-2"></span>
							Yes
						</label>
						<label class="custom-radio text-left">
							<input type="radio" value="no" name="received">
							<span class="radiomark mr-2"></span>
							No
						</label>
					</div>
					<button class="btn btn-primary" type="submit">
						Submit
					</button>
				</form>
			</div>
		</div>
	</section>
</main>

<app-footer></app-footer>