<app-header></app-header>
<!-- banner start -->
<section class="inside-banner only-img">
	<img src="assets/imgs/banner2.jpg" *ngIf="isLoggedIn == true" class="opacity-1">
	<img src="assets/imgs/banner1.jpg" *ngIf="isLoggedIn == false" class="opacity-1">
</section>
<!-- banner end -->

<!-- shoip from start -->
<section class="section-block section-padding">
	<div class="container">
		<input type="hidden" id="warehouseId" value="{{warehouseList[0]['id']}}">
		<input type="hidden" id="warehouseCode" value="{{warehouseList[0]['code']}}">
		<!-- tab start -->
		<tabset class="tab-primary" [justified]="true" *ngIf="isLargeScreen() ? true : false">
			<tab customClass="heading-level-1" *ngFor="let warehouse of warehouseList">
				<ng-template tabHeading >
					<img src="{{warehouse.imagepath}}" height="16">
					<span class="ml-2 text-ellipsis" (click) = "getWarehouseId(warehouse.id, warehouse.country.code)">{{warehouse.country.name}}</span>
				</ng-template>

				<app-shop-country-tab></app-shop-country-tab>
			</tab>

		</tabset>
		<!-- tab end -->

		<!-- accordion start -->
		<accordion class="accordion accordion-primary" *ngIf="isLargeScreen() ? false : true" [closeOthers]="oneAtATime">
			<accordion-group [isOpen]="isFirstOpen" class="heading-level-1" *ngFor="let warehouse of warehouseList">
				<header accordion-heading>
					<img src="{{warehouse.imagepath}}" height="16">
					<span class="ml-2 text-ellipsis font-weight-bold" (click) = "getWarehouseId(warehouse.id, warehouse.code)">{{warehouse.name}}</span>
				</header>
				<app-shop-country-tab></app-shop-country-tab>
			</accordion-group>

		</accordion>
		<!-- accordion end -->
	</div>
</section>
<!-- company start -->



<app-footer></app-footer>
