<div class="modal-header">
	<h4 class="modal-title pull-left text-primary">Message</h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>




<div class="modal-body">
	<h4>{{dataContent.subject}}</h4>
	<div [innerHTML]="dataContent.message"></div>
	<p class="mb-0 text-info">{{code}}</p>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Close</button>
</div>

