<div class="modal-header">
	<h4 class="modal-title pull-left text-primary">E-Wallet</h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<div class="col-12 text-center mb-sm-4 mb-3">
		<div class="d-flex flex-column h-100 p-sm-3">
			<header class="px-3 py-2">
				<h4 class="mb-0 text-primary">Please enter your password:</h4>
			</header>
			<div class="p-3">
				<div class="row">
					<div class="col-sm-6 offset-sm-3">
						<div class="form-group">
							<div class="input-group mb-3">
								<input type="password" name="inputPassword" class="form-control" [(ngModel)]="inputPassword" maxlength="20" #wcode="ngModel" [pattern]="wcodePattern">
								<div class="input-group-append">
									<ng-template #other_content>
										<button name="btnGo" class="btn btn-secondary btn-block" (click)="selectWalletCode()" type="button">Go</button>
									</ng-template>
								</div>
							</div>

							<small *ngIf="wcode.errors?.pattern; else other_content" class="form-text text-danger">Invalid Password Pattern. Password must contains minimum 8 characters</small>
						</div>



						<p class="mb-0 text-info">{{code}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>

