<app-header></app-header>

<!-- inside banner start -->
<figure class="inside-banner p-3">
	<img src="assets/imgs/track-shipment.jpg" class="opacity-1">
	<figcaption>
		<h1 class="mb-0 text-ellipsis">Has My Item Arrived</h1>
	</figcaption>
</figure>
<!-- inside banner end -->

<main class="container my-3 my-md-5">
	<!-- track order start -->
	<div *ngIf="tracks" class="white-box p-0">
		<div aria-label="track-order" class="mb-4 p-3 border-bottom">
			<div class="row mb-2">
				<div class="col-sm-12">
					<h3 class="text-primary text-center">Item received at warehouse on <strong>{{ tracks }}</strong></h3>
					<p><i class="fa fa-chevron-circle-right mr-2 text-primary" aria-hidden="true"></i>Allow 6 to 24 hours for us load items into your account.</p>
					<p><i class="fa fa-chevron-circle-right mr-2 text-primary" aria-hidden="true"></i>If not updated in your account within 24 hours, please contact us.</p>
				</div>
				<!-- <p><i class="fa fa-chevron-circle-right mr-2 text-primary" aria-hidden="true"></i>If it is less than 10 pounds (5 kg), it is shipped out in 24 to 48 hours and you will be notified once received in the destination country.</p>
				<p><i class="fa fa-chevron-circle-right mr-2 text-primary" aria-hidden="true"></i>If it is more than 10 pounds, it will be updated first in your warehouse and payment has to be made before it is shipped out.</p>
				<p><i class="fa fa-chevron-circle-right mr-2 text-primary" aria-hidden="true"></i>To have all items shipped out without delays even if more than 10 pounds, give us a call to set up credit on your account.</p> -->
				
			</div>
		</div>
	</div>

	<div *ngIf="results.length>0 && noData == false">
		<h4 class="mb-3 text-ellipsis">Your item Status</h4>
		<form method="post" (ngSubmit)="itemArrivedDate.form.valid && checkItemArrivedDate(itemArrivedDate)" #itemArrivedDate="ngForm">
		<div class="white-box mb-4">
			<span class="mr-sm-3 h5 mb-2 d-block"><strong>Your Item Status</strong></span>
			<div class="form-row">
				<div class="form-group col-md-3 col-sm-4">
					<label class="font-weight-medium">Date Period</label>
					<select name="itemarrivalDate" [(ngModel)]="itemarrivalDate" class="form-control form-control-sm" (change)="enableRange($event.target.value)">
						<option value="TO">Today</option>
						<option value="TW">This week</option>
						<option value="TM">This Month</option>
						<option value="FR">From</option>
					</select>
				</div>
				<div class="form-group col-md-3 col-sm-4" *ngIf="isPeriodDisabled">
					<label>Select Range
						<span class="text-secondary">*</span>
					</label>
					<input type="text" name="rangeDate" [(ngModel)]="rangeDate" placeholder="Select Range" class="form-control form-control-sm" bsDaterangepicker [disabled]="!isPeriodDisabled">
				</div>
				<div class="form-group col-md-3 col-sm-4" *ngIf="!isPeriodDisabled"></div>
			</div>
		</div>
	</form>
		<nav aria-label="track-order" class="mb-4 white-box" *ngFor="let eachresults of results">
			

			<div *ngIf="eachresults.packages.length>0">
				<article class="px-3 py-2 bg-medium text-center text-sm-left mb-3 font-size-sm">
				    <div class="row" *ngFor="let package of eachresults.packages">
				        <div class="col-md-4 col-sm-6 mb-2" >
				            <span class="font-weight-medium">Store: </span>
				            <strong>{{package.storeName}}</strong>
				        </div>
				        <div class="col-md-4 col-sm-6 mb-2" >
				            <span class="font-weight-medium">Tracking: </span>
				            <strong>{{package.tracking}}</strong>
				        </div>
				        <div class="col-md-4 col-sm-6 mb-2" >
				            <span class="font-weight-medium">Description: </span>
				            <strong>{{package.itemName}}</strong>
				        </div>
				    </div>
				</article>
				<ul class="track-order">
					<li *ngFor="let eachStatus of eachresults.statusdata; let statusIndex = index" [ngClass]="{'visited': eachStatus.visited === true, 'completed': eachStatus.completed === true}">
						<span class="milestone"></span>
						<div class="content">
							<span class="font-weight-medium d-block title">{{eachStatus.status}}</span>
							<span class="text-medium d-block">{{eachStatus.date}}</span>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	
	<div *ngIf="noData">
		<alert type="danger" class="text-center" style="font-size: 1rem">
		   <i class="fa fa-exclamation-triangle mr-2" aria-hidden="true"></i>
		   It seems your item has not  <strong>arrived</strong>
		</alert>
		<form method="post" (ngSubmit)="notificationVerify.form.valid && verifyNotificationTime(notificationVerify)" #notificationVerify="ngForm">
			<div class="white-box">
					<span class="d-block mb-3">Please enter date and time you got notification from store</span>

					<div class="form-group row">
						<label for="deliveryDate" class="col-sm-2 col-form-label">Delivery Date<span class="text-secondary">*</span></label>
						<div class="col-sm-3">
							<input type="text" placeholder="dd/mm/yyyy" class="form-control mb-2 mr-sm-3" bsDatepicker name="deliveryDate" #deliveryDate="ngModel" [ngClass]="{'is-invalid': notificationVerify.submitted && deliveryDate.invalid }" ngModel required autocomplete="false">
							<div *ngIf="notificationVerify.submitted && deliveryDate.invalid" class="invalid-feedback">
								<div *ngIf="deliveryDate.errors.required">Field is required</div>
							</div>
						</div>
	  				</div>

					<div class="form-group row mb-0">
					    <div class="col-sm-12">
					      	<button type="submit" class="btn btn-secondary">Submit</button>
					    </div>
				  	</div>
			</div>		
		</form>
	</div>
	<div *ngIf="waitForMore">
		<alert type="info" class="text-center" style="font-size: 1rem">
		Please allow 24 hours for items to be updated into your warehouse account
		</alert>
	</div>
	<div *ngIf="showVerifyForm">
		<alert type="danger" class="text-center">
		<i class="fa fa-exclamation-triangle mr-2" aria-hidden="true"></i>
		Your item should have been updated by now. Please verify that you entered the correct tracking number. If correct, then fill the details below and we will get on it right away. Expect a response in less than 24 hours.
		</alert>
		<form method="post" (ngSubmit)="trackingVerify.form.valid && onSubmit(trackingVerify)" #trackingVerify="ngForm">
			<!-- buy car form start -->
			<div class="white-box">
				<div class="form-row">
					<div class="form-group col-sm-4 col-6">
						<label>Your Name
							<span class="text-secondary">*</span>
						</label>
						<input type="text" class="form-control" name="customerName" #customerName="ngModel" [ngClass]="{ 'is-invalid': trackingVerify.submitted && customerName.invalid }" ngModel required>

						<div *ngIf="trackingVerify.submitted && customerName.invalid" class="invalid-feedback">
		                	<div *ngIf="customerName.errors.required">Field is required</div>
		        		</div>
					</div>
					<div class="form-group col-sm-4 col-6">
						<label>Your Email
							<span class="text-secondary">*</span>
						</label>
						<input type="text" class="form-control" name="customerEmail" #customerEmail="ngModel" [ngClass]="{ 'is-invalid': trackingVerify.submitted && customerEmail.invalid }" ngModel required email>

						<div *ngIf="trackingVerify.submitted && customerEmail.invalid" class="invalid-feedback">
		                	<div *ngIf="customerEmail.errors.required">Field is required</div>
		                	<div *ngIf="customerEmail.errors.email">Enter valid email id</div>
		        		</div>
					</div>
					<div class="form-group col-sm-4 col-6">
						<label>Your Unit Number
							<span class="text-secondary">*</span>
						</label>
						<input type="text" class="form-control" name="customerUnit" #customerUnit="ngModel" [ngClass]="{ 'is-invalid': trackingVerify.submitted && customerUnit.invalid }" ngModel required>

						<div *ngIf="trackingVerify.submitted && customerUnit.invalid" class="invalid-feedback">
		                	<div *ngIf="customerUnit.errors.required">Field is required</div>
		        		</div>
					</div>
					<div class="form-group col-sm-3 col-6">
						<label>Store of Purchase
							<span class="text-secondary">*</span>
						</label>
						<input type="text" class="form-control" name="customerPurchaseStore" #customerPurchaseStore="ngModel" [ngClass]="{ 'is-invalid': trackingVerify.submitted && customerPurchaseStore.invalid }" ngModel required>

						<div *ngIf="trackingVerify.submitted && customerPurchaseStore.invalid" class="invalid-feedback">
		                	<div *ngIf="customerPurchaseStore.errors.required">Field is required</div>
		        		</div>
					</div>
					<div class="form-group col-sm-3 col-6">
						<label>Tracking Number
							<span class="text-secondary">*</span>
						</label>
						<input type="text" class="form-control" name="customerTracking" #customerTracking="ngModel" [ngClass]="{ 'is-invalid': trackingVerify.submitted && customerTracking.invalid }" ngModel required [(ngModel)]="trackingNumber">

						<div *ngIf="trackingVerify.submitted && customerTracking.invalid" class="invalid-feedback">
		                	<div *ngIf="customerTracking.errors.required">Field is required</div>
		        		</div>
					</div>
					<div class="form-group col-sm-3">
						<label>Invoice of Purchase</label>
						<input class="form-control-file" type="file" (change)="addInvoice($event)">
					</div>
					<div class="form-group col-sm-3">
						<label>Item Photo</label>
						<input class="form-control-file" type="file" (change)="addItemphoto($event)">
					</div>	

				</div>
				<div class="text-center mt-3">
					<button type="submit" class="btn btn-secondary btn-lg">Submit</button>
				</div>
			</div>
			
		</form>
	</div>
	<!-- track order end -->

	<section class="white-box text-center">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<img _ngcontent-c1="" class="m-auto" src="assets/imgs/grey-logo.png">
				<h3>Track Another Shipment</h3>
				<span _ngcontent-c1="" class="text-uppercase mb-3 mb-lg-5 d-block">Enter your unit number (e.g NG100110) or tracking number from the store</span>
				<form method="post" (ngSubmit)="itemArrived.form.valid && checkItemArrived(itemArrived)" #itemArrived="ngForm">
				<div class="input-group input-group-lg">
					<input type="text" class="form-control" [ngClass]="{ 'is-invalid': itemArrived.submitted && tracking.invalid }" placeholder="Tracking / Unit Number" name="trackingNumber" #tracking="ngModel" [(ngModel)]="trackingNumber" required>
					
					<div class="input-group-append">
						<button class="btn" type="submit">
							<i class="fa fa-search" aria-hidden="true"></i>
						</button>
					</div>
					<div *ngIf="itemArrived.submitted && tracking.invalid" class="invalid-feedback">
                            <div *ngIf="tracking.errors.required">Enter Tracking / Unit Number
                            </div>
                    </div>
				</div>
			</form>
			</div>
		</div>
	</section>
</main>

<app-footer></app-footer>
