<div class="modal-header">
	<h4 class="modal-title pull-left text-primary">View Item Detail</h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
		<span aria-hidden="true">&times;</span>
	</button> 
</div>
<div class="modal-body">

		<!-- table start -->
		<table datatable class="hover" [dtOptions]="dtOptions">		
			<thead>
				<tr>
					<th>Item/Products Ordered</th>
					<th>Value Per Item</th>
					<th>Quantity</th>
					<th>Shipping Cost to Warehouse</th>
					<th>Status</th>
					<th>Total Cost</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of bagList">
					<td>{{item.itemName}}</td>
					<td>{{item.itemPrice}}</td>
					<td>{{item.itemQuantity}}</td>
					<td>{{item.itemShippingCost}}</td>
					<td><span class="badge badge-pill font-weight-medium" [ngClass]="{'badge-danger': item.status == 'unavailable', 'badge-success': item.status == 'submitted', 'badge-basic': item.status == 'itemreceived', 'badge-info': item.status == 'addedtodelivery'}">{{item.status | titlecase}}</span></td>
					<td>{{item.itemTotalCost}}</td>
				</tr>
			</tbody>
			
		</table>
		<!-- table end -->


</div>

