@import "src/assets/scss/variables";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/breakpoints";

agm-map {
	height: 400px;
	@include media-breakpoint-down(sm) {
		height: 300px;
	}
}

