<app-header></app-header>

<!-- inside banner start -->
<figure class="inside-banner p-3">
	<img src="assets/imgs/shop-for-me.jpg">
	<figcaption>
		<h1 class="mb-0 text-ellipsis">FAQs</h1>
	</figcaption>
</figure>
<!-- inside banner end -->

<main class="container my-3 my-md-5">
	<accordion class="accordion accordion-primary" [closeOthers]="oneAtATime">
		<p *ngFor="let faq of getFaqs; index as i; even as isEven; odd as isOdd; first as isFirst; last as isLast;">
		<accordion-group  *ngIf="isFirst;" [isOpen]="isFirstOpen">
			<header accordion-heading>
				<span class="font-weight-bold">{{faq.question}}</span>
			</header>
			<div class="content" [innerHTML]="faq.answer">
				
			</div>
		</accordion-group>
		<accordion-group  *ngIf="!isFirst;">
			<header accordion-heading>
				<span class="font-weight-bold">{{faq.question}}</span>
			</header>
			<div class="content" [innerHTML]="faq.answer">
				
			</div>
		</accordion-group>
		</p>
	</accordion>
</main>

<app-footer></app-footer>
