@import "src/assets/scss/variables";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/breakpoints";


.video{
	max-width: 400px;
	margin: 0 auto $spacer/2;
	display: block;
}
