<section class="container">
    <div class="row">
        <!-- sidebar start -->
        <aside class="col sidebar" *ngIf="!isMediumScreen">
            <app-sidebar-flyout></app-sidebar-flyout>
        </aside>
        <!-- sidebar end -->

        <!-- main content start -->
        <main class="col main-content py-md-5 py-3 pl-lg-5 ">
            <!-- header start -->
            <a routerLink="/my-account/account-detail" fragment="show-subscription" class="btn btn-secondary btn-md float-right mr-2 subscriptionBtn" *ngIf="userSubscription == 'N' && userSubscriptionStatus !='pending'">
            Subscribe and Save
            </a>

             <a routerLink="/my-account/account-detail" class="btn btn-secondary btn-md float-right mr-2" *ngIf="userSubscription == 'Y' && userSubscriptionStatus =='active' && (userSubscriptionData.subscribedFor!=userSubscriptionData.maxValue)">
            Upgrade Now</a>

            <a href="javascript:void(0)" class="btn btn-secondary btn-md float-right mr-2" *ngIf="userSubscription == 'N' && userSubscriptionStatus =='pending'">
            Subscription Pending

            </a>
            <header class="page-header border-bottom mb-3">
               
                <div class="col-sm img account-img">
                     <h3>My Shipments</h3>
                   <img src="{{ defaultProfile }}">
                 </div>
            </header>
            <!-- header end -->

            <!-- location start -->
            <div class="row align-items-center mb-md-4 mb-3 pb-3 border-bottom" *ngIf="showRepresentative">
                <div class="col-sm-12 mt-md-0 mt-3" >
                    <div class="d-flex align-items-center" *ngIf="representativeDetail">
                        <img src="{{representativeImage}}" alt="" class="avatar mr-3" width="120" height="120">

                        <div>
                            <span>I am your account Officer, ready to help at any time</span>
                            <span class="d-block h6 mb-2 mt-0"><strong>{{representativeDetail.srfirstName}} {{representativeDetail.srlastName}}</strong></span>
                            <span class="d-block">{{representativeDetail.sremail}}</span>
                            <span class="d-block mb-2">{{representativeDetail.srcontactNo}}</span>
                            <a id="assignBtn" href="javascript:void(0)" class="btn btn-info btn-sm" (click)="openContactForm($event.target.value, representativeDetail.srfirstName, representativeDetail.srlastName, representativeDetail.sremail, representativeDetail.srcontactNo)">Contact me</a>

                        </div>

                    </div>
                    <div *ngIf="userSubscriptionData" class="mt-md-0 mt-3"><span><strong>Subscription Expires - {{userSubscriptionData.expiryDate | date}}</strong></span></div>
                </div>
            </div>
            <!-- profile details start -->
            <section class="p-0">
                <!-- account details collapsed start -->
                <article class="account-collapse-in">
                    <div class="row no-gutters">
                        
                        <div class="col-md">
                            <!-- details start -->
                            <div class="details">
                                <div class="row">
                                    <!-- my Delivery Address start -->
                                    <div #warehouseAddress id="warehouseAddress" class="col-sm-4 mb-3 mb-sm-0"
                                        *ngIf="selectedWarehouseDetails">
                                        <label>See My Warehouse Address:</label>
                                        <select class="form-control mb-2" [(ngModel)]="selectedWarehouse" (change)="selectWarehose($event)">
                                            <option value="{{ i }}" *ngFor="let eachWarehouse of allWarehouse; let i = index">
                                                    {{ eachWarehouse.country.name }} ({{eachWarehouse.city.name}})</option>
                                        </select>

                                        <h6>Here is your {{selectedWarehouseDetails.country.code}} shipping Address</h6>
                                        <span class="d-flex half-col">
                                            <div class="form-item">
                                                <label for="firstName">First Name</label>
                                                <input type="text" id="firstName" name="firstName" value="{{regService.item.user.firstName}}" readonly>
                                            </div>
                                            <div class="form-item">
                                                <label for="lastName">Last Name</label>
                                                <input type="text" id="lastName" name="lastName" value="{{regService.item.user.lastName}}" readonly>
                                            </div>
                                        </span>
                                        <span class="d-block">
                                            <div class="form-item">
                                                <label for="address">Address</label>
                                                <input type="text" id="address" name="address" value="{{ selectedWarehouseDetails.address }}" readonly>
                                            </div>
                                        </span>
                                        <span class="d-block">
                                            <div class="form-item">
                                                <label for="address2">Address 2</label>
                                                <input type="text" id="address2" name="address2" value="{{regService.item.user.unit}}" readonly>
                                            </div>
                                        </span>
                                        <span class="d-flex half-col">
                                            <div class="form-item">
                                                <label for="phoneNumber">Phone Number</label>
                                                <input type="text" id="phoneNumber" name="phoneNumber" value="{{ regService.item.user.contactNumber }}" readonly>
                                            </div>
                                            <div class="form-item">
                                                <label for="city">City</label>
                                                <input type="text" id="city" name="city" value="{{ selectedWarehouseDetails.city.name }}" readonly>
                                            </div>
                                        </span>
                                        <span class="d-flex half-col">
                                            <div class="form-item">
                                                <label for="state">State</label>
                                                <input type="text" id="state" name="state" value="{{ selectedWarehouseDetails.state.name }}" readonly>
                                            </div>
                                            <div class="form-item">
                                                <label for="zipcode">Zipcode</label>
                                                <input type="text" id="zipcode" name="zipcode" value="{{selectedWarehouseDetails.zipcode}}" readonly>
                                            </div>
                                        </span>
                                        <ul class="list-link">
                                            <li>
                                                <a href="javascript:void(0)" (click)="showWarehouseAddress()">How to use
                                                    my address</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- my Delivery Address end -->

                                    <div class="col-sm-8">
                                        <div class="row">
                                            <!-- my Delivery Address start -->
                                            <div *ngFor="let eachShippingAddress of userShippingAddress"
                                                class="col-sm-6 mt-3 mb-3 mb-sm-4 floatingAddressWrp">
                                                <h6 (click)="clickTofloat()" class="addressButton">My Delivery Address</h6>
                                                <div class="floatingAddress" [ngClass]="isFloating ? 'open' : ''">
                                                    <span class="d-block">
                                                        <strong>{{eachShippingAddress.firstName+ ' '+eachShippingAddress.lastName}}</strong>
                                                    </span>

                                                    <span class="d-block" [ngClass]="{'disableblock':locationStatus=='0'}">{{eachShippingAddress.address}},
                                                        {{(eachShippingAddress.city!=null)?eachShippingAddress.city.name+',':''}}
                                                        {{(eachShippingAddress.state!=null)?eachShippingAddress.state.name+',':''}}
                                                        {{(eachShippingAddress.zipcode!=null)?eachShippingAddress.zipcode+',':''}}
                                                        {{(eachShippingAddress.country!=null)?eachShippingAddress.country.code+',':''}}
                                                        {{(eachShippingAddress.phone!=null)?'Phone: '+eachShippingAddress.phone:''}}</span>
                                                    <span class="d-block text-danger" *ngIf="locationStatus=='0'">
                                                        <strong>Location address you have selected is no longer active. Kindly update your delivery address from addressbook
                                                        </strong>
                                                    </span>    
                                                    <ul class="list-link">
                                                        <li>
                                                            <a routerLink="/addressbook">Go To Addressbook</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- my Delivery Address end -->

                                            <!-- my Delivery Address start -->
                                            <div class="col-sm-6 mt-3 mb-3 mb-sm-4 floatingAddressWrp">
                                                <h6 (click)="clickTofloat2()" class="addressButton">Shopper Rewards</h6>
                                                <div class="floatingAddress" [ngClass]="isFloating2 ? 'open' : ''">
                                                    <span class="d-block">
                                                        <strong>{{regService.item.user.firstName+' '+regService.item.user.lastName}}</strong>
                                                    </span>
                                                    <span class="d-block">Earned Points :
                                                        <strong class="font-weight-medium">{{earnedPoints}}</strong>
                                                    </span>
                                                    <span class="d-block">Reward Level :
                                                        <strong class="font-weight-medium">{{rewardName}}</strong>
                                                    </span>
                                                    <span class="d-block">Reward Expires :
                                                        <strong class="font-weight-medium">{{expString}}</strong>
                                                    </span>
                                                    <ul class="list-link">
                                                        <li>
                                                            <a routerLink="/my-account/reward">My Reward Details</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- my Delivery Address end -->
                                        </div>

                                        <!-- Refer A Friend start -->
                                        <div class="col-sm-12 referFriend">
                                            <!-- header start -->
                                            <header class="page-header border-bottom mb-3 p-0">
                                                <h3>Refer A Friend - <span>Get 500 points or ($5) when they ship and qualified to win an Ipad.</span></h3>
                                            </header>
                                            <!-- header end -->

                                            <div class="row mt-3">
                                                <div class="col-sm-6 mb-sm-0 mb-3">
                                                    <h5>Method 1 (Enter Email Address)</h5>
                                                    <div data-ng-show="showError" ng-class="{fade:doFade}" class="alert alert-danger" *ngIf="submitError">
                                                        <strong>Error: </strong>Something went wrong
                                                    </div>
                                                    <div data-ng-show="showError" ng-class="{fade:doFade}" class="alert alert-success" *ngIf="submitSuccess">
                                                        <strong>Success: </strong>Data successfully saved
                                                    </div>
                                                    <form method="post" (ngSubmit)="onRefer(referForm)" #referForm="ngForm">
                                                        <div class="form-group">
                                                            <label>To</label>
                                                            <tag-input name="users" [(ngModel)]="users" [secondaryPlaceholder]="'Enter Email'" class="extraborder"></tag-input>
                                                            <p class="text-danger">Hit Enter after completing one email</p>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Message</label>
                                                            <textarea class="form-control msgarea" rows="10" name="message" [(ngModel)] = "message"></textarea>
                                                        </div>
                                                        <button type="submit" class="btn btn-secondary" *ngIf="!formSubmit">Send Invitation</button>
                                                        <button type="submit" class="btn btn-secondary" disabled="disabled" *ngIf="formSubmit">Send Invitation</button>
                                                    </form>
                                                </div>
                                                <div class="col-sm-6" *ngIf="serverUrl!='' && referralCode!=''">
                                                    <h5>Method 2</h5>
                                                    <div class="border border-primary p-3 mb-3">
                                                        <h4>COPY YOUR PERSONAL LINK</h4>
                                                        <p>Use this link however you like - on Facebook, Twitter or anywhere else and see your points and earnings sky rocket.</p>
                                                        <span class="text-primary break-word">{{serverUrl+'join/refer/'+referralCode}}</span>
                                                    </div>
                                                    <h5>Method 3</h5>
                                                    <div class="border border-primary p-3" *ngIf="referralLink">
                                                        <p>Share on your social media platform</p>
                                                        <!--<ul class="list-social">
                                                            <li class="ng-star-inserted"><a  class="fb" target="_blank" href="#" (click)="fb($event)"><i  aria-hidden="true" class="fa fa-facebook"></i></a></li>
                                                            <li class="ng-star-inserted"><a class="insta" target="_blank" href="#"><i  aria-hidden="true" class="fa fa-instagram"></i></a></li>
                                                            <li class="ng-star-inserted"><a class="twt" target="_blank" href="#"><i  aria-hidden="true" class="fa fa-twitter"></i></a></li>
                                                        </ul>-->
                                                        <share-buttons [theme]="'circles-light'"
                                                         [include]="['facebook','twitter','linkedin']"
                                                         [show]="5"
                                                         [size]="-2"
                                                         [url]="referralLink"
                                                         [autoSetMeta]="false"
                                                        ></share-buttons>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Refer A Friend end -->
                                    </div>
                                </div>
                            </div>
                            <!-- details end -->
                        </div>
                    </div>
                </article>
                <!-- account details collapsed end -->
            </section>
            <!-- profile details end -->


            <!-- <section class="mt-3 border content-banner">
                    <img src="{{bannerImage}}">
            </section> -->
        

            <section class="mt-4">
                <owl-carousel [options]="{items: 1, dots: false, nav:false, autoplay:true, loop: true}"
                    [carouselClasses]="['warehouse-carousel']" [items]="bannerShoptomydoor">
                    <div class="item" *ngFor="let bannerImage of bannerShoptomydoor">
                     <div class="row">
                            <div class="col-md-12 col-sm-4 img" *ngIf="bannerImage.link">
                                <a href="{{bannerImage.link}}" target="_blank"><img src="{{bannerImage.imagePath}}"></a>
                            </div>
                            <div class="col-md-12 col-sm-4 img" *ngIf="!bannerImage.link">
                                <img src="{{bannerImage.imagePath}}">
                            </div>
                        </div>
                    </div>
                </owl-carousel>
            </section>
            <!-- form start -->
            <div class="white-box cart-list p-3 mb-4">
                <form method="post" name="form" #orderForm="ngForm" (ngSubmit) = "onSubmit(orderForm)">
                    <div class="form-row">
                        <div class="form-group col-md-3 col-sm-4">
                            <label class="font-weight-medium">Date Period</label>
                            <select name="orderDate" [(ngModel)]="orderDate" class="form-control form-control-sm" (change)="enableRange($event.target.value)">
                                <option value="AD">All dates</option>
                                <option value="TM">This month</option>
                                <option value="TW">This week</option>
                                <option value="TO">Today</option>
                                <option value="FR">From</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3 col-sm-4" *ngIf="isPeriodDisabled">
                            <label>Select Range
                                <span class="text-secondary">*</span>
                            </label>
                            <input type="text" name="rangeDate" [(ngModel)]="rangeDate" placeholder="Select Range" class="form-control form-control-sm" bsDaterangepicker [disabled]="!isPeriodDisabled">
                        </div>

                        <div class="form-group col-md-3 col-sm-4">
                            <label class="font-weight-medium">Select Warehouse Location</label>
                            <select class="form-control form-control-sm" [(ngModel)]="selectedWarehouseSearch" name="selectedWarehouseLocation">
                                <option value=""> All Warehouses </option>
                                <option value="{{ eachWarehouse.id }}" *ngFor="let eachWarehouse of allWarehouse; let i = index">
                                        {{ eachWarehouse.country.name }} ({{eachWarehouse.city.name}})</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3 col-sm-4">
                            <label class="font-weight-medium">Select Status</label>
                            <select class="form-control form-control-sm" [(ngModel)]="selectedStatusSearch" name="selectedWarehouseLocation">
                                <option value=""> All Status </option>
                                <option value="1"> In Warehouse </option>
                                <option value="2"> In Transit </option>
                                <option value="3"> Customs clearing </option>
                                <option value="4"> In destination warehouse </option>
                                <option value="5"> Out for delivery </option>
                                <option value="6"> Delivered </option>

                            </select>
                        </div>
                        <div class="form-group col-sm d-flex align-items-end">
                            <button type="submit" class="btn btn-sm btn-secondary" >Search</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- form end -->
            <table id="second-table" datatable  class="row-border hover" [dtOptions]="dtOptions[1]"  [dtTrigger]="dtTrigger">
                <thead>
                    <tr>
                        <th>Shipment #</th>
                        <th>Warehouse</th>
                        <th>Status</th>
                        <th>Shipping Method</th>
                        <th>Any Issues</th>
                        <th>View/Pay</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of warehouseShipmentList | paginate: { id: 'pagination',
                            itemsPerPage: pageSize,
                            currentPage: currentPage,
                            totalItems: totalItems };">
                        <td>{{item.id}}</td>
                        <td>{{item.warehouseCountryName}} ({{item.warehouseCityName}})</td>
                        <td>{{item.shipmentStatus}}</td>
                        <td>{{item.shippingMethods}}</td>
                        <td>
                            <span *ngIf="item.anyIssue == 'N'">All Ok</span>
                            <span class="text-danger" *ngIf="item.anyIssue == 'Y'">
                            Yes  <i class="fa fa-question-circle-o fa-4 text-primary h4" container="body" placement="left" tooltip="We noticed an issue with one or more of your deliveries. Please click on Show Details and review the notes  on any affected delivery. Please email or call us if there is any specific action you will like us to take." aria-hidden="true"></i>
                            </span>
                        </td>
                        <td>
                            <span class="text-danger" *ngIf="item.isPaid=='R'">Under Review</span>
                            <a href="javascript:void(0)" target="_blank" routerLink="/my-account/order-history/{{item.id}}" *ngIf="item.isPaid=='Y'">Show Details</a>
                            <a href="javascript:void(0)" target="_blank" routerLink="/my-warehouse/overview/{{item.id}}" *ngIf="item.isPaid=='N'">Show Details</a>
                        </td>
                    </tr>

                </tbody>
            </table>
            <footer class="border-bottom border-left border-right p-2" *ngIf="warehouseShipmentList">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="input-group input-group-sm">
                                <select name="perPage" [(ngModel)]="pageSize" class="form-control" (change)="perPageChanged($event)">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">Records</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-9 d-flex justify-content-sm-end justify-content-center mt-2 mt-sm-0">
                            <pagination-controls id="pagination" 
                                  (pageChange)="pageChanged($event)"
                                  maxSize="9"
                                  directionLinks="true"
                                  autoHide="false"
                                  previousLabel="Previous"
                                  nextLabel="Next">
                            </pagination-controls>              
                        </div>
                    </div>
            </footer>

    <!-- shipment item start -->
    <section *ngIf="warehouseShipmentList.length == 0" class="shipment-item mt-md-5 mt-4">
        <div class="text-center">No Shipments in Warehouse.</div>
    </section>
</main>
<!-- main content end -->

</div>
</section>