@import "src/assets/scss/variables";
@import "src/assets/scss/utilities";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

// shipment-item
.shipment-item{
	header{
		display: flex;
		/deep/svg{
			fill: theme-color(dark);
		}
	}
}
.subscriptionBtn{
	@include media-breakpoint-down(xs){
		float: left !important;
		margin: 0 0 20px;
	}
}
.account-img{
		max-width: 300px;
		display: inline-flex;
		padding-left: 10px;
		@include media-breakpoint-down(sm) {
			max-width: 250px;
		}
		@include media-breakpoint-down(xs) {
			margin: 0 auto $spacer;
			max-width: inherit;
			flex-direction: row-reverse;
			justify-content: flex-end;
			align-items: center;
		}
		img{
			object-fit: cover;
			width: 55px;
			height: 56px;
			margin: 0 0 10px 20px;
			border: 1px solid #666;
			@include media-breakpoint-down(xs) {
				margin: 0 10px 0 0;
			}
		}

		h3{
			@include media-breakpoint-down(xs) {
				margin: 0;
			}
		}
	}
.account-type{
	border-right: 1px solid theme-color(medium);
}

#warehouseAddress{
	h6{
		font-weight: 700;
		font-size: 1rem;
		margin-bottom: 10px;
	}

	.d-flex.half-col{
		justify-content: space-between;

		.form-item{
			flex: 0 0 49%;
		}
	}

	.form-item{
		position: relative;
		label{
			position: absolute;
			top: 0;
			padding: 0 5px;
			width: 100%;
			font-size: $font-size-base - 0.1;
			font-weight: 600;
			color: $blue-grey;
		}
		input{
			height: 45px;
			padding: 15px 5px 5px;
			font-size: $font-size-base + 0.1;
			font-weight: 600;
			width: 100%;
			margin: 0 0 10px;
		}
	}
}
.floatingAddressWrp{
	position: relative;
}
.addressButton{
	background-color: $primary;
    border-radius: 20px;
    color: #ffffff;
    font-size: $font-size-base*1.1;
    position: relative;
	padding: 8px 40px 10px 17px;
	cursor: pointer;
	@include media-breakpoint-down(xs) {
		z-index: 2;
	}

	&::before{
		font-family: fontAwesome;
		content: '\f105';
		position: absolute;
		right: 20px;
		font-size: $font-size-base*1.2;
		top: 6px;
		background-color: $white;
		padding: 1px 0;
		border: 1px solid $black;
		border-radius: 100%;
		color: $black;
		transform: rotate(90deg);
		line-height: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 25px;
		height: 26px;
		text-align: center;
	}
}
.floatingAddress{
    display: block;
    position: absolute;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    top: 42px;
    background: $white;
    padding: 10px;
    box-shadow: 0 0 5px $grey-medium;
    width: calc(100% - 30px);
	box-sizing: border-box;
	z-index: 1;
	@include media-breakpoint-down(xs) {
		position: unset;
		width: 100%;
		height: 0;
		padding: 0;
	}
	.list-link li{
		@include media-breakpoint-down(xs) {
			float: none;
		}
	}

	&.open{
		transform: translateY(0);
		visibility: visible;
		opacity: 1;
		@include media-breakpoint-down(xs) {
			height: auto;
			padding: 10px;
		}
	}
}
.referFriend{
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(96, 203, 213, 0.1)), to(#ffffff)) no-repeat;
	background: linear-gradient(rgba(96, 203, 213, 0.1), #ffffff) no-repeat;
	background-size: 100% 370px;

	h3{
		padding-top: 0.5rem;
		font-size: $font-size-base*1.5;
    	line-height: $font-size-base*1.35;

		span{
			color: $gray-500;
			font-size: $font-size-base;
		}
	}

	.border h4{
		font-size: $font-size-base*1.1;
	}
}

.list-social{
	justify-content: center;
	display: inline-flex;
	li a{
		border: 1px solid $black;
		color: $black;
		margin: 0 5px;

		&:hover{
			background-color: rgba(0, 0, 0, 0.3);
		}
	}
}

.ng2-tag-input .ng2-tags-container{
	display: block;
	
}

.extraborder{
	border: 1px solid #cdcdcd !important;
	margin-bottom:5px;
}

.msgarea{
	font-size: 13px !important;
}