@import "src/assets/scss/variables";
@import "src/assets/scss/utilities";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

.feedback-type{
    display: flex;
    justify-content: center;
    @include media-breakpoint-down(xs) {
        flex-wrap: wrap;
    }
    li{
        margin-right: $spacer * 2;
        cursor: pointer;
        min-width: 72px;
        @include media-breakpoint-down(md) {
            margin-right: $spacer;
            svg-icon{
                width: 40px;
                height: 55px;
            }
        }
        @include media-breakpoint-down(xs) {
            width: 33.33%;
            margin: 0;
            padding: $spacer/2;
        }
        h5{
            font-weight: 600;
            // transition: all 0.15s ease-in-out;
            filter: brightness(0) invert(60%);
            @include media-breakpoint-down(md) {
                font-size: $font-size-base;
            }
        }
        svg-icon{
            filter: brightness(0) invert(60%);
            // transition: all 0.15s ease-in-out;
        }
        &:hover,&.active{
            h5,svg-icon{
                filter: brightness(100%) invert(0%);
            }
        }
        &.active{
            h5,svg-icon{
                filter: brightness(100%) invert(0%);
            }
        }
        &:last-child{
            margin-right: 0;
        }
    }
}