<app-header></app-header>

<!-- inside banner start -->
<figure class="inside-banner p-3">
	<img src="assets/imgs/track-shipment.jpg">
	<figcaption>
		<h1 class="mb-0 text-ellipsis">Rate us</h1>
	</figcaption>
</figure>
<!-- inside banner end -->

<main class="container my-3 my-md-5">
	<section class="white-box text-center">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<h4 class="mb-4">Thank you for choosing Shoptomydoor for shipment <strong
						class="text-primary">{{shipmentId}}</strong>.
					<span class="d-block">We appreciate your business.</span>
				</h4>
				<h5 class="mb-3">How will you rate the service received.</h5>
				<ul class="feedback-type mb-3">
					<li *ngFor="let item of ratingMoods" [ngClass]="{'active': item.name == ratingvalue}" (click)="saverating(item.name)">
						<svg-icon src="{{ item.imgPath }}" [ngStyle]="{'fill': item.bg}" [svgStyle]="{'height.px':60}">
						</svg-icon>
						<h5 [ngStyle]="{'color': item.bg}">{{ item.name }}</h5>
					</li>
				</ul>
				<h6 class="text-primary text-uppercase mb-4">Thanks for the rating. We rely on your feedback to improve our service to you.</h6>
				<form method="post" (ngSubmit)="onSubmit(ratingForm)" #ratingForm="ngForm">
					<div class="form-group">
						<label for="feedback">
							Type your feedback:
						</label>
						<textarea name="feedback" [(ngModel)]="feedback" class="form-control" rows="15"></textarea>
					</div>
					<div class="form-group">
						<label for="phonenumber">
							Your phone number:
						</label>
						<input name="phonenumber" type="text" [(ngModel)]="phonenumber" class="form-control">
					</div>
					<div class="text-center">
						<button class="btn btn-primary" type="submit">
							Submit Feedback
						</button>
						<p class="text-primary mt-2"><strong>We appreciate your feedback</strong></p>
					</div>
				</form>
			</div>
		</div>
	</section>
</main>

<app-footer></app-footer>