<div class="modal-header">
	<h4 class="modal-title pull-left text-primary">Proceed to Payment</h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body" *ngIf="key && payAmount">
	<angular4-paystack
    [key]="key"
    [email]="userEmail"
    [amount]="payAmount"
    [ref]="paystackRef"
    [class]="'btn btn-primary'"
    (close)="paymentCancel()"
    (callback)="paystackPaymentDone($event)"
	>Pay with Paystack</angular4-paystack>
	<input type="hidden" name="warehouseId" [(ngModel)]="warehouseId">
</div>

