<!-- header start -->
<header class="page-header border-bottom mb-3">
	<h3>Gallery</h3>
</header>
<!-- header end -->

<div class="row gallery">
	<div class="col-6 col-sm-4 col-md-3 item mb-4" *ngFor="let item of galleryImages">
		<a href="javascript:void(0)" (click)="openGalleryModal(item.id, item.shipmentId)" class="" *ngIf="item.imagepath">
			<span class="img d-block border bg-white mb-2">
				<img src="{{item.imagepath}}">
			</span>
			<span class="caption font-weight-bold">{{item.type | titlecase}}</span>
		</a>
	</div>
</div>
