
		<!-- header start -->
		<header class="page-header border-bottom mb-3">
			<h3>Messages</h3>
		</header>
		<!-- header end -->
		<article class="mb-4 border-bottom">
			<div class="row">

				<!-- my shopping activity start -->
				<div class="col-12 mb-sm-4 mb-3">

						<div class="p-3 border">
							<div class="row align-items-end">
								<div class="col-md-4">
									<label class="d-block">Display</label>
									<select name="activity" [(ngModel)]="activity" class="custom-select" (change)="enableDisabledBtn($event.target.value)">
									   	<option value="all">All</option>
					                   	<option value="day">Last 24 Hours</option>
										<option value="week">Last 7 Days</option>
										<option value="week2">Last 2 Weeks</option>
										<option value="month">Last Month</option>
										<option value="month2" selected="selected">Last 2 Months</option>
									</select>
									
								</div>
								<!-- <div class="col-md-4">
									<label class="d-block">Display</label>
									<select name="msgtype" [(ngModel)]="msgtype" class="custom-select" (change)="enableDisabledBtn($event.target.value)">
									   	<option value="">All Messages</option>
										<option value="0">Unread Messages</option>
										<option value="1">Read Messages</option>
									</select>
								</div> -->

								<div class="col-md-8 mt-3 mt-md-0 text-right">
									<button name="btnGo" class="btn btn-secondary" (click)="selectTransaction()" type="button" [disabled]="!isBtnDisabled">Go</button>
								</div>
								
							</div>
						</div>
				</div>
				<!-- my shopping activity end -->
			</div>

			<!-- table start -->
			<div class="row">
				<div class="col-sm-12 mb-sm-4 mb-3">
					
					<table datatable class="hover" [dtOptions]="dtOptions" [hidden]="!isActDisabled" *ngIf="transctions?.length > 0">
						<thead>
							<tr>
								<th>Type</th>
								<th>Subject/Message</th>
								<th>Sender</th>
								<th class="text-right">Received</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of transctions | paginate: { id: 'pagination', itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalItems }">
								<td><strong>{{item.typeName}}</strong></td>
								<td><strong>{{item.subject}}</strong><div class="mt-2 mr-3">{{item.message}}</div></td>
								<td>{{item.firstname}} {{item.lastname}}</td>
								<td class="text-right">{{item.date}}</td>
							</tr>
							
						</tbody>
					</table>
					<!-- table end -->
				</div>
			</div>
			<footer class="p-2" *ngIf="transctions?.length">
				<div class="row">
					<div class="col-sm-3">
						<div class="input-group input-group-sm">
							<select name="perPage" [(ngModel)]="perPage" class="form-control" (change)="perPageChanged($event)">
								<option value="10">10</option>
								<option value="20">20</option>
								<option value="30">30</option>
								<option value="50">50</option>
								<option value="100">100</option>
							</select>
							<div class="input-group-append">
								<span class="input-group-text" id="basic-addon2">Records</span>
							</div>
						</div>
					</div>

					<div class="col-sm-9 d-flex justify-content-sm-end justify-content-center mt-2 mt-sm-0" *ngIf="transctions">
						<pagination-controls  id="pagination"
							(pageChange)="pageChanged($event)"
							maxSize="5"
							directionLinks="true"
							autoHide="true"
							previousLabel="Previous"
							nextLabel="Next">
						</pagination-controls>
					</div>
				</div>
			</footer>
		</article>



