@import "src/assets/scss/variables";
@import "src/assets/scss/utilities";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

::ng-deep.help-menu{
	position: sticky;
    top: 0;
	z-index: 3;
	padding: $spacer/2 0;
	@include media-breakpoint-down(md) {
		padding: 0;
	}
	.card{
		background: transparent;
		border: 0;
		// header
		.card-header{
			padding: 0;
			border: 0;
			background: transparent;
			a{
				display: flex;
				align-items: center;
				color: theme-color(dark);
				padding: $spacer/2 0;
				font-size: $font-size-base/1.10;
				// color: theme-color-level(blue-grey, -4);
				@include media-breakpoint-down(md) {
					padding: $spacer/2 $spacer;
					color: theme-color-level(blue-grey, -4);
				}
				&:hover,
				&.active{
					color: theme-color(primary);
				}
				&.active{
					@include media-breakpoint-down(md) {
						color: theme-color(primary) !important;
					}
				}
				&:hover{
					@include media-breakpoint-down(md) {
						color: theme-color-level(blue-grey, -4);
					}
				}
				svg{
					fill:  theme-color(dark);
					max-height: 16px;
					margin-right: $spacer/2;
				}
				span{
					@extend .text-ellipsis;
					flex: 1;
					font-weight: 500;
				}
				&.arrow:after{
					content: '\f105';
					font-family: fontAwesome;
					display: block;
					font-size: $h4-font-size;
					margin-left: $spacer/2;
					display: block;
				}
			}
		}

		// body
		.card-body{
			padding: 0;
			// sub menu
			.help-submenu{
				padding-left: $spacer;

				@include media-breakpoint-down(md) {
					padding-left: $spacer*2;
					background: theme-color-level(blue-grey, 8);
				}
				.panel{
					padding: $spacer/8 0;
				}
				.card{
					.card-header{
						a{
							padding: 0;
							position: relative;
							// font-size: $font-size-base;
							@include media-breakpoint-down(md) {
								background: transparent;
								font-size: $font-size-base/1.10;
								color: theme-color-level(blue-grey, -4);
							}
							&:after{
								display: none;
							}
						}
					}
				}
				.panel-open .card .card-header a{
					background: transparent;
					&.arrow:after{
						content: '\f107';
						opacity: .50;
					}
				}
			}

			// sub sub menu
			.sub-sub-menu{
				padding: 0;
				margin: 0;
				li{
					margin: $spacer/4 $spacer $spacer/4 $spacer*2.85;

				}
			}

		}
	}

	// open
	.panel-open .card .card-header a{
		@include media-breakpoint-down(md) {
			color: var(--white);
			background: theme-color-level(blue-grey, 6);
			&.active{
				color: theme-color(primary) !important;
				background: transparent !important;
			}
		}
		&.arrow:after{
			content: '\f107';
		}

	}

}


