<accordion class="help-menu">
	<accordion-group *ngFor="let item of helpNavList;let i = index">
		<a routerLink="{{item.link}}" *ngIf="item.link" routerLinkActive="active" accordion-heading tooltip="{{item.name}}">
			<span>{{item.name}}</span>
		</a>
		<!-- content here -->
		<a href="javascript:void(0)" *ngIf="item.link == ''" class="arrow" accordion-heading tooltip="{{item.name}}">
			<span>{{item.name}}</span>
		</a>
		<!-- sub accordion -->
		<accordion *ngIf="item.children" [closeOthers]="oneAtATime" class="help-submenu">
			<accordion-group *ngFor="let children of helpNavList[i].children; let j = index">
				<a routerLink="{{children.link}}" accordion-heading  [ngClass]="{'active': selected==children.name}" (click)="activateClass(children.name)">{{children.name}}</a>
				<!-- content here -->

				<!-- sub sub menu -->
				<ul class="sub-sub-menu">
					<li *ngFor="let subChildren of helpNavList[i].children[j].subChildren;">
						<a href="" class="active">{{subChildren.name}}</a>
					</li>
				</ul>
			</accordion-group>
		</accordion>
	</accordion-group>
</accordion>
