<app-header></app-header>
<section class="container">
	<div class="row">
		<!-- sidebar start -->
		<aside class="col sidebar" *ngIf="!isMediumScreen">
			<app-sidebar-help></app-sidebar-help>
		</aside>
		<!-- sidebar end -->

		<!-- main content start -->
		<main class="col main-content py-md-5 py-3  pl-lg-5" [innerHtml]="first">
			<!-- <router-outlet></router-outlet> -->
		</main>
		<!-- main content end -->
	</div>
</section>
<app-footer></app-footer>
