<app-header></app-header>

<!-- inside banner start -->
<figure class="inside-banner p-3">
	<img src="assets/imgs/track-shipment.jpg">
	<figcaption>
		<h1 class="mb-0 text-ellipsis">Thank you</h1>
	</figcaption>
</figure>
<!-- inside banner end -->

<main class="container my-3 my-md-5">
	<section class="white-box text-center">
		<div class="row justify-content-center">
			<div class="col-md-8" *ngIf="showDiv">
				<h3 class="mb-4">Thank you for your feedback.
					<span class="d-block">Please review us on Google and Facebook</span>
				</h3>
				<h4 class="mb-3 text-medium">Kindly click on the logo to review us</h4>
				<ul class="list-social _lg">
					<li *ngFor="let item of socialIcons">
						<div class="" data-layout="button" data-size="small">
							<a target="_blank" href="{{ item.link }}" class="fb-xfbml-parse-ignore" [ngStyle]="{'background-color': item.bg}"><i class="fa fa-{{ item.name }}" aria-hidden="true"></i>
							</a>
						</div>
					</li>
				</ul>
			</div>
			<div class="col-md-8" *ngIf="showMsg">
				<h3 class="mb-4">Thank you for your feedback.
					
				</h3>
				<h4 class="mb-3">We are looking into your feedback to ensure you have better experience next time</h4>
				
			</div>
		</div>
	</section>
</main>

<app-footer></app-footer>