<app-header></app-header>
<div class="container-fluid">
	<section class="container-sm login">
		<!-- header start -->
		<header class="text-center section-header">
			<h3>Sign In or Register</h3>
			<span>
				<span class="text-secondary">*</span> Denotes required field</span>
		</header>
		<!-- header end -->
		<article class="login-box">
			<span class="icon">
				<svg-icon src="assets/imgs/icons/sign-in.svg" [svgStyle]="{ 'height.px':35}"></svg-icon>
			</span>
			<form method="post" (ngSubmit)="loginFrm.form.valid && onSubmit(loginFrm)" #loginFrm="ngForm">
				<span class="d-block mb-3 font-weight-light">Enter your user ID and password to login</span>
				<div class="row field-area">
					<div class="col-sm-12 mb-sm-4 mb-3">
						<label>Email
							<span class="text-secondary">*</span>
						</label>
						<input type="email" class="form-control"
							[ngClass]="{ 'is-invalid': loginFrm.submitted && email.invalid }" placeholder="Email"
							name="email" #email="ngModel" [(ngModel)]="user.email" required email
							(ngModelChange)="forceloginNoOnChange($event)">
						<div *ngIf="loginFrm.submitted && email.invalid" class="invalid-feedback">
							<div *ngIf="email.errors.required">Email is required</div>
							<div *ngIf="email.errors.email">Email must be a valid email address</div>
						</div>
					</div>
					<div class="col-sm-12 mb-sm-4 mb-3">
						<label>Password
							<span class="text-secondary">*</span>
						</label>
						<input type="password" class="form-control"
							[ngClass]="{ 'is-invalid': loginFrm.submitted && password.invalid }" placeholder="******"
							name="password" #password="ngModel" [(ngModel)]="user.password" required
							(ngModelChange)="forceloginNoOnChange($event)">
						<div *ngIf="loginFrm.submitted && password.invalid" class="invalid-feedback">
							<div *ngIf="password.errors.required">Password is required</div>
						</div>
					</div>
					<div class="col-sm-12 mb-sm-4 mb-3">
						<label class="custom-check text-left">
							<input type="checkbox" value="">
							<span class="checkmark mr-2"></span>
							Remember my user ID on this computer
						</label>
					</div>
					<div class="alert alert-danger" *ngIf="dataInvalid">
						<p *ngFor="let error of formErrors">{{ error }}</p>
					</div>
					<div class="col-sm-12 mb-sm-4 mb-3" *ngIf="forcelogin==0">
						<button type="submit" [disabled]="formSubmit" class="btn btn-secondary btn-lg">Login</button>
					</div>

					<div class="col-sm-12 mb-sm-4 mb-3 text-center" *ngIf="forcelogin==1">
						<button type="button" (click)="forcedLogin()" class="btn btn-secondary btn-lg mr-2">Yes</button>
						<button type="button" (click)="forcedLoginNo()" class="btn btn-secondary btn-lg">No</button>
					</div>




					<div class="col-sm-12 mb-sm-4 mb-3">
						<span>Login help?
							<a href="javascript:void(0)" (click)="openForgotPasswordModal()"
								class="text-underline">Forgot Password?</a>
						</span>
					</div>
				</div>
			</form>

			<h4 class="border-top pt-4">Not Yet a Shoptomydoor Member?</h4>
			<div class="border bg-light login-bottom">
				<span class="icon">
					<svg-icon src="assets/imgs/icons/bottom-arrow-member.svg" [svgStyle]="{ 'height.px':15}"></svg-icon>
				</span>
				<p>Get a free address in the US, UK and China and start to enjoyamazing savings shopping direct from
					over 80,000 stores
					today.
				</p>
				<h4>Get $5 off when you sign up today only!</h4>

				<!-- <div class="mb-2 bg-white shadow-1 px-3 py-2">
					<label class="d-flex justify-content-between w-100 mb-0">
						<span>1 MONTH</span>
						<span class="btn btn-warning px-3 py-0 font-weight-bold">$15</span>
					</label>
				</div>
				<div class="mb-2 bg-white shadow-1 px-3 py-2">
					<label class="d-flex justify-content-between w-100 mb-0">
						<span>3 MONTH <strong>SAVE 15%</strong></span>
						<span class="btn btn-warning px-3 py-0 font-weight-bold">$39</span>
					</label>
				</div>
				<div class="mb-2 bg-white shadow-1 px-3 py-2">
					<label class="d-flex justify-content-between w-100 mb-0">
						<span>6 MONTH <strong>SAVE 30%</strong></span>
						<span class="btn btn-warning px-3 py-0 font-weight-bold">$69</span>
					</label>
				</div>
				<div class="mb-2 bg-white shadow-1 px-3 py-2">
					<label class="d-flex justify-content-between w-100 mb-0">
						<span>12 MONTH <strong>SAVE 45%</strong></span>
						<span class="btn btn-warning px-3 py-0 font-weight-bold">$99</span>
					</label>
				</div> -->

				<a routerLink="/join" class="btn btn-primary btn-lg join">Join Now</a>
			</div>


		</article>
	</section>
</div>
<app-footer></app-footer>