@import "src/assets/scss/variables";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/breakpoints";

// login-banner
.login-banner{
	height:400px;
	position: absolute;
	z-index: -1;
	background-color: theme-color(primary);
	width: 100%;
	@include media-breakpoint-down(sm) {
		height:250px;
	}
	img{
		object-fit: cover;
		height: 100%;
		width: 100%;
	}
}
select.form-control:not([size]):not([multiple]){
	height: auto;
}
.login{
	padding: $spacer*3 0;
	@include media-breakpoint-down(sm) {
		padding: $spacer*2 0;
		label{
			margin-bottom: 0;
		}
	}
	.login-box{
		padding: $spacer*4;
		background: var(--white);
		box-shadow: 0 0 $spacer*2 0 rgba($black, .05);
		text-align: center;
		position: relative;
		margin-top: $spacer*4;
		@include media-breakpoint-down(sm) {
			padding: $spacer*2 0;
			margin-top: $spacer*2;
		}
		form{
			max-width: 400px;
			margin: 0 auto;
		}
		.icon{
			width: 80px;
			height: 80px;
			border-radius: 100%;
			border: 1px solid theme-color(primary);
			background: var(--white);
			display: block;
			margin: 0 auto;
			top: -40px;
			left: 0;
			right: 0;
			position: absolute;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			@include media-breakpoint-down(sm) {
				width: 50px;
				height: 50px;
				top: -25px;
			}
			/deep/svg{
				fill: theme-color(primary);
				@include media-breakpoint-down(sm) {
					height: 20px !important;
				}
			}
		}

		// filed
		.form-control{
			border-width:0 0 1px 0;
			text-align: center;
			font-size: $font-size-base/1.10;
		}
		.field-area{
			// max-width: 410px;
			margin: 0 auto;
		}

		.login-bottom{
			padding: $spacer*3 $spacer*2;
			position: relative;
			margin-top: $spacer*2.5;
			@include media-breakpoint-down(sm) {
				margin: $spacer*2.5 $spacer $spacer;
				padding: $spacer*2 $spacer*1;
			}
			.icon{
				width: 50px;
				height: 50px;
				border-radius: 100%;
				border: 1px solid theme-color(medium);
				background: var(--white);
				display: block;
				margin: 0 auto;
				top: -25px;
				left: 0;
				right: 0;
				position: absolute;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				/deep/svg{
					fill: theme-color(primary);
				}
			}
			.join{
				position: absolute;
				bottom: -21px;
				left: calc(50% - 50px);
				margin: 0 auto;
			}
		}
	}
}
