<div class="modal-header">
	<h4 class="modal-title pull-left text-primary">Shop Online Immediately</h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body" [innerHTML]="serviceContent" *ngIf="serviceContent"></div>
<div class="modal-footer">
	<!-- <button type="button" class="btn btn-dark" (click)="bsModalRef.hide()">Close</button>
	<button type="button" class="btn btn-primary" (click)="bsModalRef.hide()">Learn More</button> -->
</div>
