<div class="modal-header">
	<h4 class="modal-title pull-left text-primary">A few things to know</h4>
</div>
<div class="modal-body">

		<p>Please take a few minutes to learn how to use Shoptomydoor.<p>
		<ol>
			<li>You get your USA/UK shipping address to use when shopping on any online store.</li>
			<li>Shop with your Visa/Mastercard or PayPal and ship to your assigned address. </li>
			<li>We receive your items and deliver at a fraction of typical cost to your door step.</li>
		</ol>
		<p>On the next screes, please:</p>
		<ol>
			<li>Select your delivery address. This can be your home/office or a Shoptomydoor location.</li>
			<li>Once this is done, you will be able to see your assigned US/UK address.</li>
			<li>You are ready to start shopping right away.</li>
		</ol>
		<p>Thank you for joining Shoptomydoor. We appreciate your business.</p>
 
</div>
<div class="modal-footer">
	<button type="submit" class="btn btn-secondary text-right" (click)="proceedToNext()">Proceed</button>
</div>
