<div class="modal-header">	
	<h4 class="modal-title pull-left text-primary">A Few Things To Note</h4>
	<!-- <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
		<span aria-hidden="true">&times;</span>
	</button> -->
</div>
<form method="post" (ngSubmit)="termsFrm.form.valid && onSubmit(termsFrm)" #termsFrm="ngForm">
	<div class="modal-body p-0"> 
		<div class="container editor-content t-and-c" [innerHtml]="pageContent"></div>
		<div class="p-3 border-top">
			<div class="form-check mb-3">
				<input class="form-check-input" type="checkbox" value="Y" id="terms" name="terms" #terms="ngModel" ngModel [checked]="acceptTermsConditions=='N'?false:true" (change)="checkTermsConditions($event)" required>
				<label class="form-check-label" for="terms"><span class="text-secondary">*</span>
				I agree to terms and conditions of Shoptomydoor.com 
				</label>
			</div>
			<div class="form-group mb-0">
				<label for="signature">Signature</label>
				<div class="row field-area">
					<div class="col-8 col-sm-4 mb-sm-4 mb-3">
						<input type="text" name="firstname" class="form-control validate" placeholder="Enter firstname" #firstName="ngModel" ngModel required>
					</div>
					<div class="col-8 col-sm-4 mb-sm-4 mb-3">
						<input type="text" name="lastname" class="form-control" placeholder="Enter lastname" #lastName="ngModel" ngModel required>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	

	<div class="modal-footer">
		<div>
			<button type="submit" class="btn btn-secondary mb-3">Save</button>
		</div>
		
	</div>
</form>
