<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#a7f4fb"></ngx-spinner>
<!-- inside banner start -->
<figure class="inside-banner bg-primary p-3">
    <!-- <img src="assets/imgs/shop-for-me.jpg"> -->
    <figcaption *ngIf="subscriptionPlanDetails">
        <h3 class="text-white">Total Subscription Amount to pay for {{subscriptionPlanDetails.duration}} {{subscriptionPlanDetails.duration > 1 ?'Months':'Month'}}</h3>
        <h1 class="mb-0 text-ellipsis font-weight-bold">{{defaultCurrencySymbol}} {{paidAmount}}</h1>
    </figcaption>
</figure>
<!-- inside banner end -->
<main class="container my-3 my-md-5">
    <div class="page-overlay" *ngIf="showPaystackOverlay">
        <span class="h4 mb-0">Payment is under process. Please do not click anywhere or reload the page.</span>
    </div>
    <!-- payment method start -->
    <div class="col-12 mt-3 item">
        <div class="border payment-type-box d-flex flex-column">
            <header class="border-bottom px-3 py-2">
                <h4 class="mb-0 text-primary">
                    Payment method
                </h4>
            </header>
            <form method="post" (ngSubmit)="payinvoiceFrm.form.valid && onSubmit(payinvoiceFrm)" #payinvoiceFrm="ngForm" *ngIf="subscriptionPlanDetails">
                  <input type="text" [hidden]="true" name="paidAmount" [(ngModel)]="paidAmount" />
                <input type="text" [hidden]="true" name="taxAmount" [(ngModel)]="paymentTax" />
                <input type="text" [hidden]="true" name="paymentMethodKey" [(ngModel)]="paymentMethodKey"  />
                <input type="text" [hidden]="true" name="paymentMethodName" [(ngModel)]="paymentMethodName"  />

                <article *ngFor="let paymentMethod of paymentMethodList; let i = index">
                    <div class="d-flex align-items-center p-3 border-bottom justify-content-between" [ngClass]="{'disableblock': totalCost<paymentMethod.minallowedvalue || totalCost>paymentMethod.maxallowedvalue}" (change)="radioClopsed(i)">
                        <input type="radio" name="paymentMethodId" [(ngModel)]="paymentMethodId" (ngModelChange)="changePaymentMethod($event, paymentMethod.paymentMethod, paymentMethod.paymentMethodKey, paymentMethod.surcharge, paymentMethod.surchargeType,payinvoiceFrm)" [checked]="paymentMethodId == paymentMethod.id?true:false" [value]="paymentMethod.id"/>
                        <label class="form-check custom-radio mb-0" (change)="radioClopsed(i)" [attr.aria-expanded]="!paymentMethod.collapsed">
                                <span class="checkmark" [ngClass]="{'disabledinput': totalCost<paymentMethod.minallowedvalue || totalCost>paymentMethod.maxallowedvalue}"></span>
                                <span class="ml-2" [ngClass]="{'disabledtext': totalCost<paymentMethod.minallowedvalue || totalCost>paymentMethod.maxallowedvalue}">{{paymentMethod.paymentMethod}}</span><span class="ml-2 text-info" *ngIf="paymentMethod.paymentDetails" [ngClass]="{'disabledtext': totalCost<paymentMethod.minallowedvalue || totalCost>paymentMethod.maxallowedvalue}">: {{paymentMethod.paymentDetails}}</span>
                        </label>
                        <!-- <a class="help-icon ml-2 flex-none" container="body" *ngIf="paymentMethod.paymentDetails" href="javascript:void(0)" tooltip="{{paymentMethod.paymentDetails}}" placement="left">
                                <i aria-hidden="true" class="fa fa-question"></i>
                        </a> -->
                    </div>
                    <div id="collapseBasic" [collapse]="!paymentMethod.collapsed">
                        <div *ngIf="paymentMethodKey=='credit_debit_card'" class="p-3 border-bottom bg-light">
                            <div class="form-group row">
                                <label class="col-lg-3 col-md-5 col-sm-4 col-form-label">Card Number <span class="text-secondary">*</span></label>
                                <div class="col-lg-7 col-md-7 col-sm-8">
                                    <input type="text" class="form-control" name="ccardNumber" (input)="onSearchChange($event.target.value)" #ccardNumber="ngModel" ngModel id="ccardNumber" [ngClass]="{ 'is-invalid': payinvoiceFrm.submitted && ccardNumber.invalid}" autocomplete="off" required />
                                           <div *ngIf="payinvoiceFrm.submitted && ccardNumber.invalid" class="invalid-feedback">
                                           <div *ngIf="ccardNumber.errors.required">Field is required</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-7 col-sm-8">{{payCardType}}</div>	                    		
                            </div>
                            <div class="form-group row">
                                <label   class="col-lg-3 col-md-5 col-sm-4 col-form-label">Expiry Month <span class="text-secondary">*</span>
                                </label>
                                <div class="col-lg-3 col-md-7 col-sm-8">
                                    <select class="form-control" [ngClass]="{ 'is-invalid': payinvoiceFrm.submitted && expiryMonth.invalid }" name="expiryMonth" #expiryMonth="ngModel" ngModel autocomplete="off" required>
                                            <option value="">Select</option>
                                        <option value="01">January</option>
                                        <option value="02">February</option>
                                        <option value="03">March</option>
                                        <option value="04">April</option>
                                        <option value="05">May</option>
                                        <option value="06">June</option>
                                        <option value="07">July</option>
                                        <option value="08">August</option>
                                        <option value="09">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                    <div *ngIf="payinvoiceFrm.submitted && expiryMonth.invalid" class="invalid-feedback">
                                        <div *ngIf="expiryMonth.errors.required">Field is required</div>
                                    </div>
                                </div>

                                <label  class="col-lg-2 col-md-5 col-sm-4 col-form-label">Expiry Year <span class="text-secondary">*</span>
                                </label>
                                <div class="col-lg-2 col-md-7 col-sm-8">
                                    <select class="form-control" [ngClass]="{ 'is-invalid': payinvoiceFrm.submitted && expiryYear.invalid }" name="expiryYear" #expiryYear="ngModel" ngModel autocomplete="off" required>
                                            <option value="">Select</option>
                                        <option *ngFor="let item of createRangeYear(5);" [ngValue]="item">{{item}}</option>
                                    </select>
                                    <div *ngIf="payinvoiceFrm.submitted && expiryYear.invalid" class="invalid-feedback">
                                        <div *ngIf="expiryYear.errors.required">Field is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-md-5 col-sm-4 col-form-label">CVV <span class="text-secondary">*</span></label>
                                <div class="col-lg-3 col-md-7 col-sm-8">
                                    <input type="password" class="form-control" name="cvvCode" #cvvCode="ngModel" ngModel [ngClass]="{ 'is-invalid': payinvoiceFrm.submitted && cvvCode.invalid}" autocomplete="off" required />
                                           <div *ngIf="payinvoiceFrm.submitted && cvvCode.invalid" class="invalid-feedback">
                                           <div *ngIf="cvvCode.errors.required">Field is required</div>
                                    </div>
                                </div>
                            </div>
                            <!-- submit start -->
                            <div class="form-group row">
                                <div class="col-lg-3 col-md-5 col-sm-4"></div>
                                <div class="col-lg-9 col-md-7 col-sm-8">
                                    <button type="submit" class="btn btn-secondary btn-sm">Pay Now</button>
                                </div>
                            </div>
                            <!-- submit end -->
                        </div>
                        <div *ngIf="paymentMethodKey=='wire_transfer'" class="p-3 border-bottom bg-light">
                            <div class="form-group row">
                                <label class="col-lg-3 col-md-5 col-sm-4 col-form-label">PO Number <span class="text-secondary">*</span></label>
                                <div class="col-lg-9 col-md-7 col-sm-8">
                                    <input type="text" class="form-control" name="poNumber"  #poNumber="ngModel" ngModel [ngClass]="{ 'is-invalid': payinvoiceFrm.submitted && poNumber.invalid}" required />
                                           <div *ngIf="payinvoiceFrm.submitted && poNumber.invalid" class="invalid-feedback">
                                           <div *ngIf="poNumber.errors.required">Field is required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 col-md-5 col-sm-4 col-form-label">Company name <span class="text-secondary">*</span></label>
                                <div class="col-lg-9 col-md-7 col-sm-8">
                                    <input type="text" class="form-control" name="companyName" #companyName="ngModel" ngModel [ngClass]="{ 'is-invalid': payinvoiceFrm.submitted && companyName.invalid}" required />
                                           <div *ngIf="payinvoiceFrm.submitted && companyName.invalid" class="invalid-feedback">
                                           <div *ngIf="companyName.errors.required">Field is required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 col-md-5 col-sm-4 col-form-label">Buyer's name <span class="text-secondary">*</span></label>
                                <div class="col-lg-9 col-md-7 col-sm-8">
                                    <input type="text" class="form-control" name="buyerName" #buyerName="ngModel" ngModel [ngClass]="{ 'is-invalid': payinvoiceFrm.submitted && buyerName.invalid}" required />
                                           <div *ngIf="payinvoiceFrm.submitted && buyerName.invalid" class="invalid-feedback">
                                           <div *ngIf="companyName.errors.required">Field is required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 col-md-5 col-sm-4 col-form-label">Position <span class="text-secondary">*</span></label>
                                <div class="col-lg-9 col-md-7 col-sm-8">
                                    <input type="text" class="form-control" name="position" #position="ngModel" ngModel [ngClass]="{ 'is-invalid': payinvoiceFrm.submitted && position.invalid}" required />
                                           <div *ngIf="payinvoiceFrm.submitted && position.invalid" class="invalid-feedback">
                                           <div *ngIf="position.errors.required">Field is required</div>
                                    </div>
                                </div>
                            </div>
                            <!-- submit start -->
                            <div class="form-group row">
                                <div class="col-lg-3 col-md-5 col-sm-4"></div>
                                <div class="col-lg-9 col-md-7 col-sm-8">
                                    <button type="submit" class="btn btn-secondary btn-sm">Pay Now</button>
                                </div>
                            </div>
                            <!-- submit end -->
                        </div>
                        <div  *ngIf="paymentMethodKey == 'paypalstandard'" class="p-3 border-bottom bg-light">
                            <!-- submit start -->
                            <div class="form-group row">
                                <div class="col-lg-3 col-md-5 col-sm-4"></div>
                                <div class="col-lg-9 col-md-7 col-sm-8">
                                    <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                                </div>
                            </div>
                            <!-- submit end -->
                        </div>	
                        <div  *ngIf="paymentMethodKey != 'ewallet' && paymentMethodKey != 'wire_transfer' &&  paymentMethodKey != 'credit_debit_card' && paymentMethodKey != 'paypalstandard'" class="p-3 border-bottom bg-light">
                            <!-- submit start -->
                            <div class="form-group row">
                                <div class="col-lg-3 col-md-5 col-sm-4"></div>
                                <div class="col-lg-9 col-md-7 col-sm-8">
                                    <button type="submit" class="btn btn-secondary btn-sm">Pay Now</button>
                                </div>
                            </div>
                            <!-- submit end -->
                        </div>
                    </div>
                </article>
            </form>
        </div>
    </div>
    <!-- payment method end -->
</main>
