<!-- main menu -->
<!-- <ul class="sidemenu">
	<li *ngFor="let item of sideNavList;let i = index" (click)="showsubmenu(i); show === i ? show =-1: show = i">
		<a href="{{item.link == '' ? 'javascript:void(0)' : item.link}}">
			<svg-icon src="assets/imgs/icons/{{item.icon}}" [svgStyle]="{ 'width.px':20}"></svg-icon>
			<span>{{item.name}}</span>
		</a>

		<ul class="sub-menu" *ngIf="show === i && sideNavList[i].children.length != 0 && !outSideClick">
			<li *ngFor="let children of sideNavList[i].children; let j = index" (click)="showsubsubmenu(i, j); showSub === j ? showSub=-1: showSub = j">
				<a href="{{children.link == '' ? 'javascript:void(0)' : children.link}}">{{children.name}}</a>

				<ul class="sub-sub-menu" *ngIf="showSub === j && sideNavList[i].children[j].subChildren.length != 0">
					<li *ngFor="let subChildren of sideNavList[i].children[j].subChildren;">
						<a href="">{{subChildren.name}}</a>
					</li>
				</ul>
			</li>
		</ul>
	</li>
</ul> -->
<!-- <button type="button" class="btn btn-primary" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">Toggle collapse
</button>
<hr>
<div id="collapseBasic" [collapse]="isCollapsed" class="card card-block card-header">
	<div class="well well-lg">Some content</div>
</div> -->

<!-- <ul>
	<li>
		<a (click)="isCollapsed = !isCollapsed">Toggle collapse</a>
		<ul [collapse]="isCollapsed">
			<li>
				<a href="">Some content</a>
			</li>
		</ul>
	</li>
</ul> -->
<ul class="sidemenu">
	<li *ngFor="let item of sideNavList;let i = index" [ngClass]="{'active': selectedItem == item, 'open' : item.children}" (click)="menuClick($event, item)">
		<a href="javascript:void(0)" *ngIf="(item.link == '' || item.children)">
			<svg-icon src="assets/imgs/icons/{{item.icon}}" [svgStyle]="{ 'width.px':20}"></svg-icon>
			<span>{{item.name}}</span>
		</a>
		<a routerLink="{{item.link}}" *ngIf="(item.link != '' && !item.children)">
			<svg-icon src="assets/imgs/icons/{{item.icon}}" [svgStyle]="{ 'width.px':20}"></svg-icon>
			<span>{{item.name}}</span>
		</a>
		<!-- sub menu -->
		<!-- <ul class="sub-menu" *ngIf="item.children">
			<li *ngFor="let children of sideNavList[i].children; let j = index" [ngClass]="{'active': subSelectedItem == children,  'open' : children.subChildren}"
			 (click)="subMenuClick($event, children)">
				<a href="{{children.link == '' ? 'javascript:void(0)' : children.link}}">{{children.name}}</a>
				<ul class="sub-sub-menu" *ngIf="sideNavList[i].children[j].subChildren.length != 0">
					<li *ngFor="let subChildren of sideNavList[i].children[j].subChildren;">
						<a href="">{{subChildren.name}}</a>
					</li>
				</ul>
			</li>
		</ul> -->

		<div class="sub-menu">
			<accordion *ngIf="item.children" [closeOthers]="oneAtATime">
				<accordion-group *ngFor="let children of sideNavList[i].children; let j = index">
					<a href="{{children.link == '' ? 'javascript:void(0)' : children.link}}" accordion-heading class="d-block">{{children.name}}</a>
					<!-- sub sub menu -->
					<ul class="sub-sub-menu">
						<li *ngFor="let subChildren of sideNavList[i].children[j].subChildren;">
							<a href="">{{subChildren.name}}</a>
						</li>
					</ul>
				</accordion-group>

			</accordion>
		</div>
	</li>
</ul>
