<section class="container">
    <div class="row">
        <!-- sidebar start -->
        <aside class="col sidebar" *ngIf="!isMediumScreen">
            <app-sidebar-flyout></app-sidebar-flyout>
        </aside>
        <!-- sidebar end -->

        <!-- main content start -->
        <main class="col main-content py-md-5 py-3  pl-lg-5">
            <!-- header start -->
            <header class="page-header border-bottom mb-3">
                <h3>My Shipments</h3>
            </header>
            <!-- header end -->

            <!-- shipment item start -->
            <div *ngIf="warehouseShipmentList.length > 0">
                <section *ngFor="let item of warehouseShipmentList; let i = index" class="shipment-item mt-md-5 mt-4">

                    <header class="d-flex align-items-center mb-md-4 mb-3">
                        <h3 class="mb-0 text-ellipsis">Shipment:#{{item.id}}</h3>

						<svg-icon src="assets/imgs/icons/shipment-id.svg" [svgStyle]="{ 'height.px':35}" class="ml-3"></svg-icon>
						<a href="javascript:void(0)" class="ml-5 pl-2 btn btn-outline-primary btn-lg" (click)="showDelivery(warehouseShipmentList[i], item.id, i)" *ngIf="showSection[i]==0">Show delivery <i class="fa fa-arrow-up pl-2" aria-hidden="true"></i></a>
						<a href="javascript:void(0)" class="ml-5 pl-2 btn btn-outline-primary btn-lg" (click)="hideDelivery(warehouseShipmentList[i], item.id, i)" *ngIf="closeDelivery[i]">Hide delivery<i class="fa fa-arrow-down pl-2" aria-hidden="true"></i></a>
						<h4 class="mb-0 text-ellipsis ml-5 pl-2">Type : {{item.shipmentTypeDetails.name}}</h4>
						<a *ngIf="item.shipmentTypeDetails.customerDesc!=null" href="javascript:void(0)" class="btn btn-outline-primary btn-sm rounded-0 ml-1 pl-2" (click)="showTypeDescription(item.shipmentTypeDetails)">
							<i class="fa fa-question" aria-hidden="true"></i>
						</a>
                        <img *ngIf="item.shipmentTypeDetails.customerImage!=null" src="{{item.shipmentTypeDetails.customerImage}}" alt="No image" height="50px" width="75px" class="ml-1 pl-2">

                    </header>
                    <header class="d-flex align-items-center mb-md-4 mb-3">
                        <h5 class="mb-0 text-ellipsis">Warehouse : {{item.warehouseCountryName}} ({{item.warehouseCityName}})</h5>
                    </header>

                    <!-- browse start -->
                    <!-- 	<div class="row font-size-sm my-md-4 my-3" *ngIf="item.wrongInvoice=='N'">
                            <div class="col-md-6 mb-2 mb-md-0">
                                    <span>
                                            <strong class="font-weight-medium text-secondary">NOTE:</strong> If the values of any item is wrong, please upload invoices
                                    </span>
                            </div>
                            <div class="col-md-6">
                                    <input type="file" class="form-control-file" (change)="fileUpload($event,item.id,i)">
                            </div>
                    </div>
                    <div class="row font-size-sm my-md-4 my-3" *ngIf="item.wrongInvoice=='Y'">
                            <div class="col-md-6 mb-2 mb-md-0">
                                    <span> Download uploaded wrong invoice &nbsp;&nbsp;</span>
                                    <a href="{{ item.wrongInvoiceFile }}" download target="_blank">Download</a>
                            </div>
                            <div class="col-md-6">
                                    
                            </div>
                    </div> -->
                    <!-- browse end -->


                    <!-- package start -->
                    <div *ngIf="deliverySection[i]">
                        <article class="bg-medium font-size-sm px-3 py-2">
                            <div class="row align-items-md-center">
                                <div class="col-md-6 col-12 mb-1 mb-md-0 d-flex align-items-center">
                                    <span class="font-weight-medium">First Receive Date: {{item.firstReceived}}</span>
                                    <!--<a href="javascript:void(0)" class="help-icon ml-2 flex-none" container="body" tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                                            <i class="fa fa-question" aria-hidden="true"></i>
                                    </a>-->
                                </div>
                                <div class="col-md-6 col-6 mb-1 mb-md-0">
                                    <span class="font-weight-medium">Estimated Storage Charge: 
                                        {{warehouseShipmentList[i].delivery.storageCharge}}</span>
                                </div>
                            </div>
                        </article>
                        <div *ngFor="let delivery of hack(deliveryData[i].deliveries); let dindex = index"
                            class="white-box pt-0 position-relative">
                            <div class="alert-disable" *ngIf="delivery.deliveryAllItemReturned=='1'">
                                <img src="assets/imgs/returned.png">
                            </div>
                            <div class="disableblock"
                                 [ngClass]="{'disableblock':delivery.deliveryAllItemReturned=='1'}">
                                <!-- header start -->
                                <!--<header class="border-bottom py-3 px-0">
                        <h4 class="mb-0">Package/Delivery {{dindex+1}} </h4>
                        <span class="ml-3 mt-1 font-weight-medium" *ngIf='delivery.packages[0].storeName'>: {{delivery.packages[0].storeName}} :</span>
                        <span class="ml-3 mt-1 font-weight-medium" *ngIf='delivery.packages[0].deliveryCompany'>{{delivery.packages[0].deliveryCompany}} - {{delivery.packages[0].tracking}}</span>
                        <span class="mt-1 font-weight-medium" *ngIf='delivery.packages[0].tracking2'>, {{delivery.packages[0].tracking2}}</span>
                        <span class="text-white ml-5 bg-primary rounded font-weight-medium py-2 px-3" *ngIf='delivery.packages[0].deliveryNotes'>{{delivery.packages[0].deliveryNotes}}</span> 
                </header>-->

                                <div class="deliveryStatus d-flex pt-2">
                                    <div class="pr-2 text-ellipsis">
                                        <p class="text-ellipsis" data-toggle="tooltip" data-placement="top"
                                           title="{{delivery.packages[0].storeName}} : {{delivery.packages[0].deliveryCompany}} - {{delivery.packages[0].tracking}},{{delivery.packages[0].tracking2}}">
                                            <span class="font-size-lg mb-0">Package/Delivery {{dindex+1}}-</span>
                                            <span *ngIf='delivery.packages[0].storeName'
                                                class="font-weight-medium pl-2 pr-2">
                                                {{delivery.packages[0].storeName}}:</span>
                                            <span class="font-weight-medium pl-2 pr-2"
                                                  *ngIf='delivery.packages[0].deliveryCompany'>
                                                {{delivery.packages[0].deliveryCompany}} -
                                                {{delivery.packages[0].tracking}},
                                            </span>

                                            <span class="font-weight-medium pl-2 pr-2"
                                                  *ngIf='delivery.packages[0].tracking2'>{{delivery.packages[0].tracking2}}</span>
                                        </p>
                                    </div>
                                    <div class="text-ellipsis col-sm-2 p-0" *ngIf='delivery.packages[0].deliveryNotes'>
                                        <p class="text-ellipsis text-white bg-primary rounded font-weight-medium py-2 px-3"
                                           data-toggle="tooltip" data-placement="top"
                                           title="{{delivery.packages[0].deliveryNotes}}">
                                            {{delivery.packages[0].deliveryNotes}}</p>
                                    </div>
                                </div>
                                <!-- header end -->
                                <!-- form start -->
                                <div class="form-row font-size-sm mt-0 mb-md-3">
                                    <!-- photo shot start -->
                                    <div class="form-group col-md-2 col-sm-3 col-6"
                                         [ngClass]="{'disableblock':warehouseShipmentList[i].anyItemReturnRequest=='1'}">
                                        <label class="font-weight-medium d-block">Photo Shot:</label>
                                        <div class="input-group">
                                            <select class="form-control form-control-sm"
                                                    (change)="openPhotoShotModal($event.target.value, delivery.id, item.id, deliveryData[i], i)"
                                                    [(ngModel)]="delivery.snapshot" [disabled]="delivery.snapshot== 'Y'">
                                                    <option value="N">No</option>
                                                <option value="Y">Yes</option>
                                            </select>
                                            <div class="input-group-append">
                                                <a href="javascript:void(0)"
                                                   class="btn btn-outline-primary btn-sm rounded-0" container="body"
                                                   placement="top"
                                                   tooltip="Select this to have up to 5 photos of the selected delivery at a cost of $5.99 provided to you prior to shipping.">
                                                    <i class="fa fa-question" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- photo shot end -->

                                    <!-- recount start -->
                                    <div class="form-group col-md-2 col-sm-3 col-6"
                                         [ngClass]="{'disableblock':warehouseShipmentList[i].anyItemReturnRequest=='1'}">
                                        <label class="font-weight-medium d-block">Recount:</label>
                                        <div class="input-group">
                                            <select class="form-control form-control-sm"
                                                    (change)="openRecountModal($event.target.value, delivery.id, item.id, deliveryData[i], i)"
                                                    [(ngModel)]="delivery.recount" [disabled]="delivery.recount== 'Y'">
                                                    <option value="N">No</option>
                                                <option value="Y">Yes</option>
                                            </select>
                                            <div class="input-group-append">
                                                <a href="javascript:void(0)"
                                                   class="btn btn-outline-primary btn-sm rounded-0" container="body"
                                                   placement="left"
                                                   tooltip="Select this option to have us recount items in your shipment. But first, you need to make payment as usual. A $4.99 charge will be applied to recount your shipment temporarily, and this stays if our initial count was correct. We recommend you first cross check your order to be sure that we made no error and we advice you also contact the store to be sure all items have been shipped. If there was an error by us after the recount, the $4.99 will be refunded to you.">
                                                    <i class="fa fa-question" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- recount end -->

                                    <!-- reweigh start -->
                                    <div class="form-group col-md-2 col-sm-3 col-6"
                                         [ngClass]="{'disableblock':warehouseShipmentList[i].anyItemReturnRequest=='1'}">
                                        <label class="font-weight-medium d-block">Reweigh:</label>
                                        <div class="input-group">
                                            <select class="form-control form-control-sm"
                                                    (change)="openReweighModal($event.target.value, delivery.id, item.id, deliveryData[i], i)"
                                                    [(ngModel)]="delivery.reweigh" [disabled]="delivery.reweigh== 'Y'">
                                                    <option value="N">No</option>
                                                <option value="Y">Yes</option>
                                            </select>
                                            <div class="input-group-append">
                                                <a href="javascript:void(0)"
                                                   class="btn btn-outline-primary btn-sm rounded-0" container="body"
                                                   placement="top"
                                                   tooltip="If you doubt that our weights are wrong, please select this to have us reweigh this particular delivery. ">
                                                    <i class="fa fa-question" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- reweigh end -->
                                    <!-- reweigh start -->
                                    <div class="form-group col-md-2 col-sm-3 col-6"
                                         *ngIf="item.shipmentType=='othershipment'"
                                         [ngClass]="{'disableblock':warehouseShipmentList[i].anyItemReturnRequest=='1'}">
                                        <label class="font-weight-medium d-block">Return:</label>
                                        <div class="input-group">
                                            <select class="form-control form-control-sm"
                                                    (change)="openReturnModal($event.target.value, delivery.id, item.id, deliveryData[i], i)"
                                                    [(ngModel)]="delivery.returnItem"
                                                    [disabled]="delivery.deliveryAllItemReturned== '1'">
                                                    <option value="N">No</option>
                                                <option value="Y">Yes</option>
                                            </select>
                                            <div class="input-group-append">
                                                <a href="javascript:void(0)"
                                                   class="btn btn-outline-primary btn-sm rounded-0" container="body"
                                                   placement="top"
                                                   tooltip="Select this option to have us return your items to the store. A $9.99 charge will be applied to return the item for a prepaid return label. Postage return label attracts an extra charge to the destination address.">
                                                    <i class="fa fa-question" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- reweigh end -->

                                    <!-- value start -->
                                    <div class="form-group col-md-4 col-sm-3 col-6"
                                         [ngClass]="{'disableblock':warehouseShipmentList[i].anyItemReturnRequest=='1'}">
                                        <label class="font-weight-medium d-block text-ellipsis">Split My
                                            Shipment:</label>
                                        <div class="input-group">
                                            <select name="shippingMethodId" [(ngModel)]="delivery.shippingMethodId"
                                                    (ngModelChange)="calculateDeliveryShippingCost($event, item.id, delivery.id, deliveryData[i], i)"
                                                    class="form-control form-control-sm">
                                                    <option value="">Select</option>
                                                    <option *ngFor="let shippingMethod of hack(delivery.shippingMethods)"
                                                    value="{{shippingMethod.shippingid}}">{{shippingMethod.shipping}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <!-- value end -->
                            </div>
                            <!-- form end -->
                            <!-- table start -->
                            <table datatable class="row-border hover" [dtOptions]="dtOptions">
                                <thead>
                                    <tr>
                                        <th>Items / products ordered</th>
                                        <th>Value Per Item</th>
                                        <th>Quantity</th>
                                        <th *ngIf="item.shipmentType != 'othershipment'">Shipping Cost to<br>
                                            Warehouse</th>
                                        <th>Total</th>
                                        <th class="text-right">Photo Shot</th>
                                        <th class="text-right">Discounted<br>Invoice</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let package of hack(delivery.packages); let p = index;"
                                        [ngClass]="{'disableblock strike-through':package.itemReturn!='0'}">
                                        <td>{{package.itemName}}</td>
                                        <td>
                                            {{package.itemPrice}}
                                            <button class="btn btn-primary btn-sm btn-action"
                                                    tooltip="Click to update item price" container="body"
                                                    placement="left"
                                                    *ngIf="package.itemMinPrice && package.itemPriceEdited=='0'"
                                                    (click)="openItempriceEditModal(package.id,package.itemMinPrice,package.itemMaxPrice,i,p,delivery.id)">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                        <td>{{package.itemQuantity}}</td>
                                        <td *ngIf="item.shipmentType != 'othershipment'">
                                            {{package.itemShippingCost}}</td>
                                        <td>{{package.itemTotalCost}}</td>
                                        <td class="text-right">
                                            <button class="btn btn-primary btn-sm btn-action"
                                                    (click)="openPackagePhotoShotModal($event.target.value, delivery.id, item.id, package.id, i, p)"
                                                    *ngIf="delivery.packages[p].snapshotOpt == 'N'" tooltip="Photo Shot"
                                                    container="body" placement="left">
                                                    <i class="fa fa-camera" aria-hidden="true"></i>
                                            </button>
                                            <button class="btn btn-primary btn-sm btn-action"
                                                    (click)="openGalleryModal(package.shipmentId, delivery.id, package.id, i)"
                                                    *ngIf="delivery.packages[p].snapshotOpt == 'Y'" tooltip="Photo Shot"
                                                    container="body" placement="left">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                        <td class="text-right">
                                            <div *ngIf="package.itemDiscountedInvoiceFile!=null"><a
                                                    href="{{ package.itemDiscountedInvoiceFilePath }}"
                                                    download="{{ package.itemDiscountedInvoiceFile }}"
                                                    target="_blank">Download</a></div>
                                            <div *ngIf="package.itemDiscountedInvoiceFile==null">N/A</div>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                            <div class="form-row font-size-sm mt-3 mb-md-3">
                                <div class="form-group col mb-0 d-sm-flex">
                                    <label class="font-weight-medium mb-sm-0 d-flex align-items-center"
                                           tooltip="All Values & Quantities are correct">
                                        <span class="text-secondary h3 mr-2 mb-0">*</span>
                                        <span>All Values & Quantities are correct:</span>
                                    </label>
                                    <div class="form-group col-sm-3 mb-0 input-group">
                                        <select class="form-control form-control-sm"
                                                (change)="openCheckoutModal($event.target.value, delivery.id, item.id, i, dindex)"
                                                [(ngModel)]="delivery.wrongInventory">
                                                <option value="">Select</option>
                                            <option value="Y">Yes</option>
                                            <option value="N">No</option>
                                        </select>
                                        <div class="input-group-append">
                                            <a href="javascript:void(0)" style="height: 29px"
                                               class="btn btn-outline-primary btn-sm rounded-0" placement="left"
                                               container="body"
                                               tooltip="My order is complete, and all details of this order is correct. Please ship out.">
                                                <i class="fa fa-question" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- table end -->
                            <!-- shipping cost start -->
                            <article *ngIf="delivery.shippingMethodId">
                                <header
                                    class="bg-dark text-center text-center p-3 d-flex flex-column  align-items-center">
                                    <span class="text-white font-weight-medium mb-2">Shipping Cost For This Delivery
                                        : {{delivery.totalDeliveryCost}}</span>
                                    <a href="javascript:void(0)" (click)="showShippingCost=!showShippingCost"
                                       class="btn btn-primary btn-sm">How Did We Get This</a>
                                </header>
                                <div *ngIf="showShippingCost" class="bg-light border p-3">
                                    <div class="row text-center text-sm-left">
                                        <div class="col-sm-6 mb-2">
                                            <span class="font-weight-medium">Number of Items :
                                                <strong> {{delivery.totalQty}}</strong>
                                            </span>
                                        </div>
                                        <div class="col-sm-6 mb-2">
                                            <span class="font-weight-medium">Declared Value :
                                                <strong> {{delivery.totalItemCost}}</strong>
                                            </span>
                                        </div>
                                        <div class="col-sm-6 mb-2">
                                            <span class="font-weight-medium">Actual Weight :
                                                <strong> {{delivery.weight}} lbs</strong>
                                            </span>
                                        </div>
                                        <div class="col-sm-6 mb-2">
                                            <span class="font-weight-medium">Chargeable Weight :
                                                <strong> {{delivery.chargeableWeight}} lbs</strong>
                                            </span>
                                        </div>
                                        <div class="col-sm-6 mb-2">
                                            <span class="font-weight-medium">Dimensions :
                                                <strong>{{delivery.length}} X {{delivery.width}} X
                                                    {{delivery.height}}</strong>
                                            </span>
                                        </div>
                                        <div class="col-sm-6 mb-2">
                                            <span class="font-weight-medium">Warehousing/inventory Charge :
                                                <strong> {{delivery.inventoryCharge}}</strong>
                                            </span>
                                        </div>
                                        <div class="col-sm-6 mb-2"
                                             *ngIf="warehouseShipmentList[i].delivery.deliveries[delivery.id].maxStorageDate < today">
                                             <span class="font-weight-medium">Storage Charge :
                                                <strong> {{delivery.storageCharge}}</strong>
                                            </span>
                                        </div>
                                        <div class="col-sm-6 mb-2">
                                            <span class="font-weight-medium">Other Charges :
                                                <strong> {{delivery.otherChargeCost}}</strong>
                                            </span>&nbsp;
                                            <a href="javascript:void(0)" class="text-primary mr-1"
                                               [tooltip]="popTemplate">Learn More</a>
                                            <ng-template #popTemplate>
                                                <div [innerHtml]="delivery.otherCharge"></div>
                                            </ng-template>
                                        </div>
                                        <div class="col-sm-6 mb-2">
                                            <span class="font-weight-medium">Clearing, duty and Handling :
                                                <strong> {{delivery.clearingDutyCost}}</strong>
                                            </span>
                                        </div>
                                        <div class="col-sm-6 mb-2">
                                            <span class="font-weight-medium">Shipping Cost :
                                                <strong> {{delivery.shippingCost}}</strong>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <!-- shipping cost end -->
                        </div>
                    </div>
                </div>
                <!-- package end -->


                <div *ngIf="warehouseShipmentList[i].showCalculateBtn" class="text-center mt-3 mb-3">
                    <button class="btn btn-secondary btn-lg" type="button"
                            (click)="calculateShippingCost(item.id, deliveryData[i], i)">Calculate Shipping
                            Cost</button>
                </div>

                <!-- total for the shipment start -->
                <section *ngIf="warehouseShipmentList[i].showShipping" class="white-box p-0 border mt-4">
                    <header class="border-bottom px-3 py-2 justify-content-center justify-content-sm-start">
                        <h4 class="mb-0 text-primary">Total For The Shipment</h4>
                    </header>
                    <div class="row p-3 text-center text-sm-left">
                        <div class="col-sm-6 mb-2">
                            <span class="font-weight-medium">Chargeable Weight :
                                <strong>{{warehouseShipmentList[i].shipment.totalWeight}} lbs</strong>
                            </span>
                        </div>
                        <div class="col-sm-6 mb-2">
                            <span class="font-weight-medium">Declared Value of Items :
                                <strong>{{warehouseShipmentList[i].shipment.totalItemCost}}</strong>
                            </span>
                        </div>
                        <div class="col-sm-6 mb-2">
                            <span class="font-weight-medium">Warehousing/inventory Charge :
                                <strong>{{warehouseShipmentList[i].shipment.inventoryCharge}}</strong>
                            </span>
                        </div>
                        <div class="col-sm-6 mb-2">
                            <span class="font-weight-medium">Storage Charge :
                                <strong>{{warehouseShipmentList[i].shipment.storageCharge}}</strong>
                            </span>
                        </div>
                        <div class="col-sm-6 mb-2">
                            <span class="font-weight-medium">Other Charges :
                                <strong>{{warehouseShipmentList[i].shipment.otherCharge}}</strong>
                            </span>
                            &nbsp;
                            <a href="javascript:void(0)" class="text-primary mr-1" [tooltip]="popTemplate">Learn
                                More</a>
                            <ng-template #popTemplate>
                                <div [innerHtml]="warehouseShipmentList[i].shipment.otherChargeComment"></div>
                            </ng-template>
                        </div>
                        <div class="col-sm-6 mb-2">
                            <span class="font-weight-medium">Door to Door Delivery Cost :
                                <strong>{{warehouseShipmentList[i].shipment.totalShipmentCost}}</strong>
                            </span>
                        </div>
                        <div class="col-sm-6 mb-2">
                            <span class="font-weight-medium">Total Shipping Cost :
                                <strong [(ngModel)]="totalShipingValue">{{totalShipingValue}}</strong>
                            </span>
                        </div>
                    </div>

                    <article class="bg-medium font-size-sm px-3 py-2">
                        <div class="row">
                            <div
                                class="col-md-4 col-sm-6 mb-2 mb-md-0 d-flex align-items-center justify-content-center justify-content-sm-start">
                                <span class="font-weight-medium">Cost to ship Separately:
                                    {{warehouseShipmentList[i].shipment.totalDeliveryCost}}</span>
                                <!--<a class="help-icon ml-2 flex-none" container="body" href="javascript:void(0)" tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                                 ng-reflect-tooltip="Vivamus sagittis lacus vel aug" ng-reflect-container="body">
                                        <i aria-hidden="true" class="fa fa-question"></i>
                                </a>-->
                            </div>
                            <div
                                class="col-md-4 col-sm-6 mb-2 mb-md-0 d-flex align-items-center justify-content-center justify-content-sm-start">
                                <span class="font-weight-medium">Combine and Save Cost:
                                    {{warehouseShipmentList[i].shipment.totalShipmentCost}}</span>
                                <!--<a class="help-icon ml-2 flex-none" container="body" href="javascript:void(0)" tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                                 ng-reflect-tooltip="Vivamus sagittis lacus vel aug" ng-reflect-container="body">
                                        <i aria-hidden="true" class="fa fa-question"></i>
                                </a>-->
                            </div>
                            <div
                                class="col-md-4 col-sm-6 d-flex align-items-center justify-content-center justify-content-sm-start">
                                <span class="font-weight-medium">Total Saving by Combine:
                                    {{warehouseShipmentList[i].shipment.savingCost}}
                                    ({{warehouseShipmentList[i].shipment.savingCostPercentage}} %)</span>
                                <!--<a class="help-icon ml-2 flex-none" container="body" href="javascript:void(0)" tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                                 ng-reflect-tooltip="Vivamus sagittis lacus vel aug" ng-reflect-container="body">
                                        <i aria-hidden="true" class="fa fa-question"></i>
                                </a>-->
                            </div>
                        </div>
                    </article>
                </section>
                <!-- total for the shipment end -->


                <div *ngIf="warehouseShipmentList[i].showShipping && warehouseShipmentList[i].shippingTypes">

                    <!-- plan start -->
                    <div class="row shipping-type mb-4">
                        <div class="col-md-6 col-sm-12 mt-3 item"
                             *ngFor="let shipping of warehouseShipmentList[i].shippingTypes">
                             <div class="item-inn px-0">
                                <img src="{{shipping.companyLogo}}" class="mb-3">
                                <h5 class="text-primary">{{shipping.shipping}}</h5>
                                <span class="font-size-sm font-weight-medium">Shipping Cost:
                                    {{shipping.shippingCost}}</span>
                                <span *ngIf="shipping.isDutyCharged"
                                    class="font-size-sm font-weight-medium">Clearing, duty & Local Handling:
                                    {{shipping.clearingDuty}}</span>
                                <span *ngIf="!shipping.isDutyCharged"
                                    class="font-size-sm font-weight-medium">Clearing & Local Handling:
                                    {{shipping.clearingDuty}}</span>
                                <div class="bg-dark w-100 my-3">
                                    <span class="mb-2 d-block font-size-lg text-white">
                                        <strong>{{shipping.totalShippingCost}}</strong>
                                    </span>
                                    <span class="d-block font-size-sm text-medium">{{shipping.shipping_time}}</span>
                                    <span
                                        class="mb-3 d-block font-size-sm text-medium">{{shipping.estimatedDeliveryDate}}</span>
                                </div>
                                <div>
                                    <a href="javascript:void(0)" tooltip="{{shipping.learn_more}}" container="body"
                                       class="btn btn-primary btn-sm mr-1">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- plan end -->

                    <div class="text-center mt-3 mb-3"><a href="javascript:void(0);"
                                                          class="btn btn-primary btn-sm">How Do I Lower This Shipping Cost</a></div>
                </div>

                <!-- plan start -->
                <div *ngIf="deliveryData[i] && !warehouseShipmentList[i].showCalculateBtn && deliverySection[i]"
                    class="row shipping-type">
                    <div class="col-sm-12 text-center">
                        <h5>Select Your Preferred Shipping Method</h5>
                    </div>
                </div>
                <div *ngIf="!warehouseShipmentList[i].showCalculateBtn && deliverySection[i]"
                    class="row shipping-type mb-4">
                    <div class="col-md-4 col-sm-12 mt-3 item"
                     *ngFor="let shippingMethod of warehouseShipmentList[i].shippingMethodList">

                     <div class="item-inn px-0"
                         [ngClass]="{'border-primary shadow':warehouseShipmentList[i].selectedShippingMethod == shippingMethod.shippingId}"
                         id="plan">
                         <!--<label class="form-check custom-radio">
                                 <input type="radio" name="shippingMethodId-[i]-shippingMethod.shippingId" #ngModel [value]="warehouseShipmentList[i].shippingMethodId" [(ngModel)]="warehouseShipmentList[i].shippingMethodId" (ngModelChange)="selectShippingMethod(shippingMethod.shippingId, item.id, i)">
                                 <span class="checkmark"></span>
                         </label>-->
                         <img src="{{shippingMethod.companyLogo}}" class="mb-3">
                            <h5 class="text-primary">{{shippingMethod.shipping}}</h5>
                            <span class="font-size-sm font-weight-medium">Shipping Cost:
                                {{shippingMethod.shippingCost}}</span>
                            <span *ngIf="shippingMethod.isDutyCharged"
                                class="font-size-sm font-weight-medium">Clearing, duty & Local Handling:
                                {{shippingMethod.clearingDuty}}</span>
                            <span *ngIf="!shippingMethod.isDutyCharged"
                                class="font-size-sm font-weight-medium">Clearing & Local Handling:
                                {{shippingMethod.clearingDuty}}</span>
                            <div class="bg-dark w-100 my-3">
                                <span class="mb-2 d-block font-size-lg text-white">
                                    <strong>{{shippingMethod.totalShippingCost}}</strong>
                                </span>
                                <span
                                    class="d-block font-size-sm text-medium">{{shippingMethod.shipping_time}}</span>
                                <span
                                    class="d-block font-size-sm text-medium"><span class="text-uppercase d-block">Get it between</span>{{shippingMethod.createdDate}} & {{shippingMethod.estimatedDeliveryDate}}</span>
                            </div>
                            <div>
                                <a href="javascript:void(0)" tooltip="{{shippingMethod.learn_more}}"
                                   container="body" class="btn btn-primary btn-sm mr-1">Details</a>
                                <a href="javascript:void(0)"
                                   (click)="selectShippingMethod(shippingMethod.shippingId, item.id, i, deliveryData[i], shippingMethod.totalShippingCost)"
                                   tooltip="Select Shipping Method" container="body"
                                   class="btn btn-info btn-sm mr-1 ml-2"><i
                                        *ngIf="warehouseShipmentList[i].selectedShippingMethod == shippingMethod.shippingId"
                                        aria-hidden="true" class="fa fa-check-circle-o"></i>
                                    {{warehouseShipmentList[i].selectedShippingMethod == shippingMethod.shippingId?'Selected':'Select'}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- plan end -->

                <div class="text-center">
                    <div *ngIf="warehouseShipmentList[i].shippingMethodList == 0 && warehouseShipmentList[i].allItemReturned == 0"
                        class="text-danger mb-3">No Shipping Methods available currently. Please contact site admin.
                </div>
                <div *ngIf="warehouseShipmentList[i].shippingMethodList == 0 && warehouseShipmentList[i].allItemReturned == 1"
                    class="text-danger mb-3">All item(s) for this shipment are returned</div>
                <div *ngIf="warehouseShipmentList[i].anyItemReturnRequest=='1' && deliverySection"
                    class="text-danger mb-3">One or more item is requested for return. Please wait till the
                    return process is complete for checkout</div>
                <div class="text-danger mb-3"
                     *ngIf="warehouseShipmentList[i].showInventorymsg && warehouseShipmentList[i].allItemReturned=='0' && warehouseShipmentList[i].anyItemReturnRequest=='0' && deliverySection[i]">
                     Confirm that All Values and Quantities for all deliveries are correct above.</div>
                <button
                    [disabled]="warehouseShipmentList[i].wrongInventory != 'Y' && warehouseShipmentList[i].enableCheckout == false"
                    (click)="checkout($event, item.id, i)" class="btn btn-secondary btn-lg"
                    *ngIf="warehouseShipmentList[i].allItemReturned=='0' && warehouseShipmentList[i].anyItemReturnRequest=='0' && deliveryData[i] && deliverySection[i]">Checkout</button>
            </div>

        </section>
    </div>
    <!-- shipment item end -->



    <!-- shipment item start -->
    <section *ngIf="warehouseShipmentList.length == 0" class="shipment-item mt-md-5 mt-4">
        <div class="text-center">No Shipments in Warehouse.</div>
    </section>
</main>
<!-- main content end -->

</div>
</section>