<div *ngIf="showReturnDetails">
<div class="modal-header">
	<h4 class="modal-title pull-left text-primary">Return Item</h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

	<div class="modal-body">
		<p><strong>Before proceeding to return an item, please note the following:</strong></p>

		<p>1) You will need to process a return label from the site of purchase. If you have not done that, please do that before continuing.</p>
		<p>2) A $9.99 processing fee is charged to process all return per delivery. This will be paid as part of the return process.</p>
		<p>If your store can not process a return label, we can still help with the return process. Call, email or chat with us and we will do the rest.</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-dark" (click)="bsModalRef.hide()">Cancel</button>
		<button type="button" class="btn btn-secondary" (click)="selectItems(deliveryId, shipmentId, returnCost)">Continue</button>
	</div>
</div>
<div *ngIf="showDeliveryItems">
<form method="post" name="form" #returnFrm="ngForm" (ngSubmit) = "onSubmit(returnFrm)">	
<input type="text" [hidden]="true" name="deliveryId" [(ngModel)]="deliveryId" value="{{deliveryId}}">
<input type="text" [hidden]="true" name="shipmentId" [(ngModel)]="shipmentId" value="{{shipmentId}}">
<input type="text" [hidden]="true" name="costOfReturn" [(ngModel)]="costReturn" value="{{costReturn}}">

<div class="modal-header">
	<h4 class="modal-title pull-left text-primary">Select the item you want to return</h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

	<div class="modal-body">
		<p *ngIf="showMsg" class="text-danger"><strong>Please upload return label</strong></p>
		<table datatable class="row-border hover" [dtOptions]="dtOptions" *ngIf="shipment.length>0">
					<thead>
						<tr>
							<th></th>
							<th>Items / products ordered</th>
							<th>Value Per Item</th>
							<th>Quantity</th>
							<th>Total</th>
							<th><span *ngIf="showUploadLabel">Upload Return Label <span class="text-danger">*</span></span></th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let package of hack(shipment); index as i;">
							<td><label class="custom-check text-left flex-row"><input type="checkbox" value="{{package.id}}" [(ngModel)]="package[i]" name="checkItemName[{{i}}]" [attr.disabled]="package.id==1 ? true : null" (change)="checkItem($event, i)"><span class="checkmark"></span></label></td>
							<td>{{package.itemName}}</td>
							<td>{{package.itemPrice}}</td>
							<td>{{package.itemQuantity}}</td>								
							<td>{{package.itemTotalCost}}</td>
							<td *ngIf="showUpload[i] == 1"><input class="form-control-file" type="file" name="itemImage[{{i}}]" (change)="fileUpload($event, i)" ngModel></td>
						</tr>
					</tbody>
		</table>
		<table datatable class="row-border hover" [dtOptions]="dtOptions" *ngIf="shipment.length == 0">
		</table>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-dark" (click)="bsModalRef.hide()">Cancel</button>
		<button type="submit" class="btn btn-secondary">Continue</button>
	</div>
</form>
</div>

