<app-header></app-header>
<section class="container">
    <div class="row">
        <!-- sidebar start -->
        <aside class="col sidebar" *ngIf="!isMediumScreen">
            <app-sidebar-flyout></app-sidebar-flyout>
        </aside>
        <!-- sidebar end -->

        <!-- main content start -->
        <main class="col main-content py-md-5 py-3  pl-lg-5">
            <!-- header start -->
            <header class="page-header border-bottom mb-3">
                <h3>My Group Shipments</h3>
            </header>
            <!-- header end -->

            <!-- location start -->
            <div class="row align-items-center mb-md-5 mb-3">
                <div class="col-md-4 col-sm-4">
                    <label>See My Warehouse Address:</label>
                    <select class="form-control" [(ngModel)]="selectedWarehouse" (change)="selectWarehose($event)">
                        <option value="{{ i }}" *ngFor="let eachWarehouse of allWarehouse; let i = index">
                                {{ eachWarehouse.country.name }} ({{eachWarehouse.city.name}})</option>
                    </select>
                </div>
                <div class="col-md-8 col-sm-12 mt-md-0 mt-3" *ngIf="showRepresentative" >
                    <div class="d-flex align-items-center" *ngIf="representativeDetail">
                        <img src="{{representativeImage}}" alt="" class="avatar mr-3" width="120" height="120">

                        <div>
                            <span>I am your account Officer, ready to help at any time</span>
                            <span class="d-block h6 mb-2 mt-0"><strong>{{representativeDetail.srfirstName}} {{representativeDetail.srlastName}}</strong></span>
                            <span class="d-block">{{representativeDetail.sremail}}</span>
                            <span class="d-block mb-2">{{representativeDetail.srcontactNo}}</span>
                            <a id="assignBtn" href="javascript:void(0)" class="btn btn-info btn-sm" (click)="openContactForm($event.target.value, representativeDetail.srfirstName, representativeDetail.srlastName, representativeDetail.sremail, representativeDetail.srcontactNo)">Contact me</a>

                        </div>

                    </div>
                </div>
            </div>
            <!-- profile details start -->
            <section class="white-box p-0">
                <!-- account details collapsed start -->
                <article class="account-collapse-in">
                    <div class="row no-gutters">
                        <div class="col-md img">
                            <img src="{{ defaultProfile }}">
                        </div>
                        <div class="col-md">
                            <!-- details start -->
                            <div class="details">
                                <div class="row">
                                    <!-- my Delivery Address start -->
                                    <div *ngFor="let eachShippingAddress of userShippingAddress"
                                        class="col-sm-4 mb-3 mb-sm-0">
                                        <h6>My Delivery Address</h6>
                                        <span class="d-block">
                                            <strong>{{eachShippingAddress.firstName+ ' '+eachShippingAddress.lastName}}</strong>
                                        </span>

                                        <span class="d-block">{{eachShippingAddress.address}},
                                            {{(eachShippingAddress.city!=null)?eachShippingAddress.city.name+',':''}}
                                            {{(eachShippingAddress.state!=null)?eachShippingAddress.state.name+',':''}}
                                            {{(eachShippingAddress.zipcode!=null)?eachShippingAddress.zipcode+',':''}}
                                            {{(eachShippingAddress.country!=null)?eachShippingAddress.country.code+',':''}}
                                            {{(eachShippingAddress.phone!=null)?'Phone: '+eachShippingAddress.phone:''}}</span>
                                        <ul class="list-link">
                                            <li>
                                                <a routerLink="/addressbook">Go To Addressbook</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- my Delivery Address end -->

                                    <!-- my Delivery Address start -->
                                    <div #warehouseAddress id="warehouseAddress" class="col-sm-4 mb-3 mb-sm-0"
                                        *ngIf="selectedWarehouseDetails">
                                        <h6>My {{selectedWarehouseDetails.country.code}} Address</h6>
                                        <span class="d-block">
                                            <strong>{{regService.item.user.firstName+' '+regService.item.user.lastName}}</strong>
                                        </span>
                                        <span class="d-block">
                                            <strong>{{'UNIT '+regService.item.user.unit}}</strong>
                                        </span>
                                        <span class="d-block">{{ selectedWarehouseDetails.address }},
                                            {{ selectedWarehouseDetails.city.name }},
                                            {{ selectedWarehouseDetails.state.name }},
                                            {{selectedWarehouseDetails.zipcode}}
                                            {{selectedWarehouseDetails.country.code}}</span>
                                        <ul class="list-link">
                                            <li>
                                                <a href="javascript:void(0)" (click)="showWarehouseAddress()">How to use
                                                    my address</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- my Delivery Address end -->

                                    <!-- my Delivery Address start -->
                                    <div class="col-sm-4">
                                        <h6>Shopper Rewards</h6>
                                        <span class="d-block">
                                            <strong>{{regService.item.user.firstName+' '+regService.item.user.lastName}}</strong>
                                        </span>
                                        <span class="d-block">Earned Points :
                                            <strong class="font-weight-medium">{{earnedPoints}}</strong>
                                        </span>
                                        <span class="d-block">Reward Level :
                                            <strong class="font-weight-medium">{{rewardName}}</strong>
                                        </span>
                                        <span class="d-block">Reward Expires :
                                            <strong class="font-weight-medium">{{expString}}</strong>
                                        </span>
                                        <ul class="list-link">
                                            <li>
                                                <a routerLink="/my-account/reward">My Reward Details</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- my Delivery Address end -->
                                </div>
                            </div>
                            <!-- details end -->
                        </div>
                    </div>
                </article>
                <!-- account details collapsed end -->
            </section>
            <!-- profile details end -->


            <!-- <section class="mt-3 border content-banner">
                    <img src="{{bannerImage}}">
            </section> -->

            <section class="mt-4">
                <owl-carousel [options]="{items: 1, dots: false, nav:false, autoplay:true, loop: true}"
                    [carouselClasses]="['warehouse-carousel']" [items]="bannerShoptomydoor">
                    <div class="item" *ngFor="let bannerImage of bannerShoptomydoor">
                     <div class="row">
                            <div class="col-md-12 col-sm-4 img" *ngIf="bannerImage.link">
                                <a href="{{bannerImage.link}}" target="_blank"><img src="{{bannerImage.imagePath}}"></a>
                            </div>
                            <div class="col-md-12 col-sm-4 img" *ngIf="!bannerImage.link">
                                <img src="{{bannerImage.imagePath}}">
                            </div>
                        </div>
                    </div>
                </owl-carousel>
            </section>

            
            <div class="white-box cart-list p-3 mb-4">
                <form method="post" name="form" #orderForm="ngForm" (ngSubmit) = "onSubmit(orderForm)">
                    <div class="form-row">
                        <div class="form-group col-md-3 col-sm-4">
                            <label class="font-weight-medium">Date Period</label>
                            <select name="orderDate" [(ngModel)]="orderDate" class="form-control form-control-sm" (change)="enableRange($event.target.value)">
                                <option value="AD">All dates</option>
                                <option value="TM">This month</option>
                                <option value="TW">This week</option>
                                <option value="TO">Today</option>
                                <option value="FR">From</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3 col-sm-4" *ngIf="isPeriodDisabled">
                            <label>Select Range
                                <span class="text-secondary">*</span>
                            </label>
                            <input type="text" name="rangeDate" [(ngModel)]="rangeDate" placeholder="Select Range" class="form-control form-control-sm" bsDaterangepicker [disabled]="!isPeriodDisabled">
                        </div>

                        <div class="form-group col-md-3 col-sm-4">
                            <label class="font-weight-medium">Select Warehouse Location</label>
                            <select class="form-control form-control-sm" [(ngModel)]="selectedWarehouseSearch" name="selectedWarehouseLocation">
                                <option value=""> All Warehouses </option>
                                <option value="{{ eachWarehouse.id }}" *ngFor="let eachWarehouse of allWarehouse; let i = index">
                                        {{ eachWarehouse.country.name }} ({{eachWarehouse.city.name}})</option>
                            </select>
                        </div>
                        <div class="form-group col-sm d-flex align-items-end">
                            <button type="submit" class="btn btn-sm btn-secondary" >Search</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- form end -->
            <table id="second-table" datatable  class="row-border hover" [dtOptions]="dtOptions"  [dtTrigger]="dtTrigger">
                <thead>
                    <tr>
                        <th>Shipment #</th>
                        <th>Warehouse</th>
                        <th>Status</th>
                        <th>Shipping Method</th>
                        <th>Any Issues</th>
                        <th>View/Pay</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of warehouseShipmentList | paginate: { id: 'pagination',
                            itemsPerPage: pageSize,
                            currentPage: currentPage,
                            totalItems: totalItems };">
                        <td>{{item.id}}</td>
                        <td>{{item.warehouseCountryName}} ({{item.warehouseCityName}})</td>
                        <td>{{item.shipmentStatus}}</td>
                        <td>{{item.shippingMethods}}</td>
                        <td>
                            <span *ngIf="item.anyIssue == 'N'">All Ok</span>
                            <span class="text-danger" *ngIf="item.anyIssue == 'Y'">
                            Yes  <i class="fa fa-question-circle-o fa-4 text-primary h4" container="body" placement="left" tooltip="We noticed an issue with one or more of your deliveries. Please click on Show Details and review the notes  on any affected delivery. Please email or call us if there is any specific action you will like us to take." aria-hidden="true"></i>
                            </span>
                        </td>
                        <td>
                            <a href="javascript:void(0)" target="_blank" routerLink="/my-account/order-history/{{item.id}}" *ngIf="item.isPaid=='Y'">Show Details</a>
                            <a href="javascript:void(0)" target="_blank" routerLink="/my-group/group-shipment/{{item.id}}" *ngIf="item.isPaid=='N'">Show Details</a>
                        </td>
                    </tr>

                </tbody>
            </table>
            <footer class="border-bottom border-left border-right p-2" *ngIf="warehouseShipmentList">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="input-group input-group-sm">
                                <select name="perPage" [(ngModel)]="pageSize" class="form-control" (change)="perPageChanged($event)">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">Records</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-9 d-flex justify-content-sm-end justify-content-center mt-2 mt-sm-0">
                            <pagination-controls id="pagination" 
                                  (pageChange)="pageChanged($event)"
                                  maxSize="9"
                                  directionLinks="true"
                                  autoHide="false"
                                  previousLabel="Previous"
                                  nextLabel="Next">
                            </pagination-controls>              
                        </div>
                    </div>
            </footer>


            <!-- shipment item start -->
            <section *ngIf="warehouseShipmentList.length == 0" class="shipment-item mt-md-5 mt-4">
                <div class="text-center">No Shipments in Warehouse.</div>
            </section>
        </main>
<!-- main content end -->

    </div>
</section>