@import "src/assets/scss/variables";
@import "src/assets/scss/utilities";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";


.account-type{
	border-right: 1px solid theme-color(medium);
}

// upload
.upload{
	border-radius: 0;
	top: 0;
	right: 0;
	position: absolute;
	background-color: rgba(theme-color(dark), .20);
	padding: 0;
	width: 30px;
	height: 30px;
}

// delivery-address
.delivery-address{
	.item{
		.item-wrap{
			height: 100%;
			@include media-breakpoint-down(xs) {
				text-align: center;
			}
		}
		&.selected{
			.item-wrap{
				background-color: theme-color-level(primary, -10);
			}
		}
		.icon{
			max-width: 155px;
			border-right: 1px solid theme-color-level(medium, -3);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: relative;
			@include media-breakpoint-down(lg) {
				max-width: 100px;
			}
			@include media-breakpoint-down(xs) {
				border: 0;
				max-width: 100%;
				margin-bottom: $spacer;
			}
			/deep/svg{
				@include media-breakpoint-down(lg) {
					height: 50px !important;
				}
			}
			.form-check{
				position: absolute;
				top: 0;
				Left: $spacer/2;
			}
		}

		.default{
			font-size: $h4-font-size;
			right: 0;
			top: 0;
			position: absolute;
		}

	}
}

