<app-header></app-header>

<!-- inside banner start -->
<figure class="inside-banner p-3">
	<img src="assets/imgs/track-shipment.jpg">
	<figcaption>
		<h1 class="mb-0 text-ellipsis">Track Shipment</h1>
	</figcaption>
</figure>
<!-- inside banner end -->

<main class="container my-3 my-md-5">
	<!-- track order start -->
	<div *ngIf="tracks">
		<nav aria-label="track-order" class="mb-4 white-box" *ngFor="let eachItem of tracks;let arrIndex = index">
			<div class="d-flex align-items-center mb-2">
				<h5 class="m-0" *ngIf="eachItem.deliveryId">Delivery #{{ eachItem.deliveryId  }}</h5>
				<img *ngIf="eachItem.shippingMethodLogo" src="{{ eachItem.shippingMethodLogo }}" height="50">
				<h5 *ngIf="eachItem.shippingMethod" class="m-0">{{ eachItem.shippingMethod  }}</h5>
			</div>
			<ul class="track-order">
				<li *ngFor="let eachStatus of eachItem.statusDetails; let statusIndex = index" [ngClass]="{'visited': eachStatus.visited === true, 'completed': eachStatus.completed === true}">
					<span class="milestone"></span>
					<div class="content">
						<span class="font-weight-medium d-block title">{{eachStatus.status}} <i class="fa fa-info-circle" aria-hidden="true" style="font-size: 20px;" tooltip="{{ eachStatus.comment }}" placement="top" (click)="showComment(arrIndex,statusIndex)" *ngIf="eachStatus.comment"></i></span>
						<span class="text-medium d-block">{{eachStatus.date}}</span>
					</div>
				</li>
			</ul>
		</nav>
	</div>
	<div *ngIf="noData">
		<p>Sorry. We can’t find the order number you entered.</p>
		<p>Your order number starts with OD and can be seen on your payment invoice/receipt. Log into your account, select "My Account" and "Order history" to see your order number.</p>
	</div>
	<!-- track order end -->

	<section class="white-box text-center">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<img _ngcontent-c1="" class="m-auto" src="assets/imgs/grey-logo.png">
				<h3>Track Another Shipment</h3>
				<span _ngcontent-c1="" class="text-uppercase mb-3 mb-lg-5 d-block">Enter your order number</span>
				<form method="post" (ngSubmit)="trackShipment.form.valid && checkTrackShipment(trackShipment)" #trackShipment="ngForm">
				<div class="input-group input-group-lg">
					<input type="text" class="form-control" [ngClass]="{ 'is-invalid': trackShipment.submitted && orderNum.invalid }" placeholder="Order Number" name="orderNumber" #orderNum="ngModel" [(ngModel)]="orderNumber" required>
					<div class="input-group-append">
						<button class="btn" type="submit">
							<i class="fa fa-search" aria-hidden="true"></i>
						</button>
					</div>
					<div *ngIf="trackShipment.submitted && orderNum.invalid" class="invalid-feedback">
                            <div *ngIf="orderNum.errors.required">Enter Order Number
                            </div>
                    </div>
				</div>
			</form>
			</div>
		</div>
	</section>
</main>

<app-footer></app-footer>
