@import "src/assets/scss/variables";
@import "src/assets/scss/utilities";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

// shipment-item
.shipment-item{
    header{
        display: flex;
        /deep/svg{
            fill: theme-color(dark);
        }
    }
}


// user-detail
.user-detail{
    .img{
        max-width: 250px;
        @include media-breakpoint-down(sm) {
            max-width: 150px;
        }
        @include media-breakpoint-down(xs) {
            margin: 0 auto $spacer;
        }
        .upload{
            border-radius: 0;
            top: 0;
            right: $spacer;
            position: absolute;
            background-color: rgba(theme-color(dark), .20);
            padding: 0;
            width: 30px;
            height: 30px;
        }
        img{
            object-fit: cover;
            width: 220px;
            height: 225px;
            @include media-breakpoint-down(sm) {
                width: 100%;
                height: 120px;
            }
        }
    }
    .content{
        @include media-breakpoint-down(xs) {
            text-align: center;
        }
    }
}


// recommend-box
.recommend-box{
    .img{
        max-width: 140px;
        @include media-breakpoint-down(md) {
            max-width: 100%;
        }
        img{
            width: 140px;
            height: 140px;
            object-fit: contain;
            @include media-breakpoint-down(md) {
                margin: 0 auto;
            }
        }
    }

    // content
    .content{
        flex: 1;
        @include media-breakpoint-down(md) {
            margin-bottom: $spacer;
        }
    }

    .product-content{
        max-width: 260px;
        @include media-breakpoint-down(md) {
            max-width: 100%;
        }
    }

    // product-box
    .product-box{
        width: 180px;
        height: 155px;
        background: url('../../../../assets/imgs/3d-box.png') no-repeat 50% 50%; 
        background-size: 100%;
        position: relative;
        .box-img{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }
    .list-add-item{
        padding: $spacer $spacer/2;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
        align-items: center;
        flex-wrap: wrap;
        height: 100%;
        box-sizing: border-box;
        li{
            width: 25%;
            box-sizing: border-box;
            padding: $spacer/2;
        }
    }
}

