<app-header></app-header>

<section class="container">
	<div class="row">
		<!-- sidebar start -->
		<aside class="col sidebar" *ngIf="!isMediumScreen">
			<app-sidebar-flyout></app-sidebar-flyout>
		</aside>
		<!-- sidebar end -->

		<!-- main content start -->
		<main class="col main-content py-md-5 py-3  pl-lg-5">
			<!-- header start -->
			<header class="page-header border-bottom mb-3">
				<h3>Order History</h3>
			</header>
			<div *ngIf="warehouseShipmentList.length > 0">
                <section *ngFor="let item of warehouseShipmentList; let i = index" class="shipment-item mt-md-5 mt-4">

                    <header class="d-flex align-items-center mb-md-4 mb-3">
                        <h3 class="mb-0 text-ellipsis">Shipment:#{{item.shipmentId}}</h3>
                        <svg-icon src="assets/imgs/icons/shipment-id.svg" [svgStyle]="{ 'height.px':35}" class="ml-3">
                        </svg-icon>
                    </header>
                    <article class="bg-medium font-size-sm px-3 py-2">
                        <div class="row align-items-md-center">
                            <div class="col-md-6 col-12 mb-1 mb-md-0 d-flex align-items-center">
                                <span class="font-weight-medium">Order Number: {{item.orderNumber}}</span>
                                <!--<a href="javascript:void(0)" class="help-icon ml-2 flex-none" container="body" tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                                        <i class="fa fa-question" aria-hidden="true"></i>
                                </a>-->
                            </div>
                            <div class="col-md-6 col-6 mb-1 mb-md-0">
                                <span class="font-weight-medium">Status: 
                                    {{item.shipmentStatus}}</span>
                            </div>
                        </div>
                    </article>
                    <div *ngFor="let delivery of hack(item.deliveries); let dindex = index"
                            class="white-box pt-0 position-relative">
                        <div class="deliveryStatus d-flex pt-2">
                            <div class="pr-2 text-ellipsis">
                                <p class="text-ellipsis" data-toggle="tooltip" data-placement="top"
                                   title="{{delivery.packages[0].storeName}} : {{delivery.packages[0].deliveryCompany}} - {{delivery.packages[0].tracking}},{{delivery.packages[0].tracking2}}">
                                    <span class="font-size-lg mb-0">Package/Delivery {{dindex+1}}-</span>
                                </p>
                            </div>
                        </div>
                        <article class="bg-medium font-size-sm px-3 py-2">
	                     	<div class="row align-items-md-center">
	                            <div class="col-md-3 col-12 mb-1 mb-md-0 d-flex align-items-center">
	                                <span class="font-weight-medium">Length: {{delivery.length}}</span>
	                            </div>
	                            <div class="col-md-3 col-6 mb-1 mb-md-0">
	                                <span class="font-weight-medium">Width: 
	                                    {{delivery.width}}</span>
	                            </div>
	                            <div class="col-md-3 col-12 mb-1 mb-md-0 d-flex align-items-center">
	                                <span class="font-weight-medium">Height: {{delivery.height}}</span>
	                            </div>
	                            <div class="col-md-3 col-6 mb-1 mb-md-0">
	                                <span class="font-weight-medium">Weight: 
	                                    {{delivery.weight}}</span>
	                            </div>
	                        </div>
	                    </article>
	                    <br>
	                    <table datatable class="row-border hover" [dtOptions]="dtOptions">
                            <thead>
                                <tr>
                                    <th>Items / products ordered</th>
                                    <th>Value Per Item</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let package of hack(delivery.packages); let p = index;">
                                    <td>{{package.itemName}}</td>
                                    <td>
                                        {{package.itemPrice}}
                                        <button class="btn btn-primary btn-sm btn-action"
                                                tooltip="Click to update item price" container="body"
                                                placement="left"
                                                *ngIf="package.itemMinPrice && package.itemPriceEdited=='0'">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                    <td>{{package.itemQuantity}}</td>
                                    <td>{{package.itemTotalCost}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
            <section *ngIf="warehouseShipmentList.length == 0" class="shipment-item mt-md-5 mt-4">
		        <div class="text-center">No Group Shipments order history is available.</div>
		    </section>
		</main>
	</div>
</section>
<app-footer></app-footer>