
<header class="page-header border-bottom mb-3">
	<h3>Order History</h3>
	<span class="d-block" *ngIf="details?.length">Once payment is received and confirmed, your items will be packed and shipped out in 24 to 48 hours for air shipments. For Ocean shipments, they will be loaded on the next available container.</span>
	<span class="d-block" *ngIf="details?.length"><strong class="mb-2 d-block">You do not need to contact us once your payment has been made.</strong>
	</span>
	<span class="d-block" *ngIf="details?.length">Thank you for choosing Shoptomydoor. We appreciate your business.</span>
	<br/>
</header>
<!-- header end -->

<!-- order history content start -->
<p>Search for past orders to view the status, see images, print invoices and more.</p>
<!--<h4>Search for orders</h4>
<p>Setting up advanced search parameters provides more relevant results.</p>-->
<!-- order history content end -->

<!-- form start -->
<div class="white-box cart-list p-3 mb-4">
	<form method="post" name="form" #orderForm="ngForm" (ngSubmit) = "onSubmit(orderForm)">
		<div class="form-row">
			<div class="form-group col-md-3 col-sm-4">
				<label class="font-weight-medium">Date Period</label>
				<select name="orderDate" [(ngModel)]="orderDate" class="form-control form-control-sm" (change)="enableRange($event.target.value)">
					<option value="AD">All dates</option>
					<option value="TM">This month</option>
					<option value="TW">This week</option>
					<option value="TO">Today</option>
					<option value="FR">From</option>
				</select>
			</div>
			<div class="form-group col-md-3 col-sm-4" *ngIf="isPeriodDisabled">
				<label>Select Range
					<span class="text-secondary">*</span>
				</label>
				<input type="text" name="rangeDate" [(ngModel)]="rangeDate" placeholder="Select Range" class="form-control form-control-sm" bsDaterangepicker [disabled]="!isPeriodDisabled">
			</div>
			<div class="form-group col-md-3 col-sm-4" *ngIf="!isPeriodDisabled"></div>

			<div class="form-group col-md-9 col-sm-6 d-flex d-sm-block justify-content-center justify-content-sm-start">
				<label class="custom-check text-left flex-row">
					<input type="checkbox" value="" (click)="showMore($event)" name="checkMore" [(checked)]="checkMore" [(ngModel)]="checkMore">
					<span class="checkmark"></span>
					<strong class="font-weight-medium pl-2">More Search Options</strong>
				</label>
			</div>

			<!-- more options start -->
			<div class="form-group col-md-9 col-sm-8 mb-0" *ngIf="showMoreOptions === true">
				<div class="form-row">
					<div class="form-group col-md-3 col-6">
						<label class="font-weight-medium">Shipment Number
							<!--<span class="text-secondary">*</span>-->
						</label>
						<input myNumberOnly name="shipmentId" [(ngModel)]="shipmentId" type="text" class="form-control form-control-sm">
					</div>
					<div class="form-group col-md-3 col-6">
						<label class="font-weight-medium">Order Number
							<!--<span class="text-secondary">*</span>-->
						</label>
						<input name="orderId" [(ngModel)]="orderId" type="text" class="form-control form-control-sm">
					</div>
					<div class="form-group col-md-3 col-6">
						<label class="font-weight-medium">Shipment Status</label>
						<select name="status" [(ngModel)]="status" class="form-control form-control-sm">
							<option value="">All</option>
							<option value="{{i}}" *ngFor="let eachStatus of allShipmentStatus; let i = index">{{eachStatus}}</option>
						</select>
					</div>
					<div class="form-group col-md-3 col-6">
						<label class="font-weight-medium">Shipment Type</label>
						<select name="groupShipmentType" [(ngModel)]="groupShipmentType" class="form-control form-control-sm">
							<option value="">All</option>
							<option value="0">Normal Shipment</option>
							<option value="1">Group Shipment</option>
						</select>
					</div>
				</div>
			</div>
			<!-- more options end -->

			<div class="form-group col-sm justify-content-sm-end justify-content-center d-flex align-items-end">
				<a href="javascript:void(0);" (click) = "resetFilter()" class="btn btn-sm btn-link">Reset Filter</a>
				<button type="submit" class="btn btn-sm btn-secondary" >Search</button>
			</div>
		</div>
	</form>
</div>
<!-- form end -->

<article *ngIf="details" class="mb-4">
	<header>
		<h4>Submitted Orders</h4>
	</header>
	<!-- table start -->
	<table datatable class="hover mb-4" [dtOptions]="dtOptions">
		<thead>
			<tr>
				<th>Shipment #</th>
				<th>Order #</th>
				<th>Total Shipping <br> Cost</th>
				<th>Total Cost</th>
				<th>Shipment <br> Status</th>
				<th>Payment <br> Status</th>
				<th>Date</th>
				<th>Other Actions</th>
			</tr>
		</thead>
		<tbody *ngIf="details?.length;else no_data_templ">
			<tr *ngFor="let item of details  | paginate: { id: 'pagination', itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalItems }" [ngClass]="{'active': item.selected }">
				<td class="white-space-nowrap">#{{item.id}} {{(item.isGroupShipment=='1') ? '(Group Shipment)' : '(Normal Shipment)'}}</td>
				<td class="white-space-nowrap">{{item.orderNumber?item.orderNumber:'N/A'}}</td>
				<td>{{item.totalShippingCost}}</td>
				<td>{{item.totalCost}}</td>
				<td *ngIf="item.shipmentStatus != '0'" class="font-size-md">
					<span class="badge badge-pill font-weight-medium" tooltip="{{ item.status }}" [ngClass]="{'badge-danger': item.shipmentStatus == '1', 'badge-success': item.shipmentStatus == '5' || item.shipmentStatus == '6', 'badge-info': item.shipmentStatus == '2' || item.shipmentStatus == '3' || item.shipmentStatus == '4'}">{{ item.status }}</span>
				</td>
				<td *ngIf="item.shipmentStatus == '0'" class="font-size-md">
					<span class="badge badge-danger badge-pill font-weight-medium" tooltip="{{  item.paymentStatus == 'paid'?'Processed':item.status }}">{{  item.paymentStatus == 'paid'?'Processed':item.status }}</span>
				</td>
				<td class="font-size-md">
					<button class="btn btn-sm btn-action" container="body" placement="left" tooltip="{{ item.paymentStatus=='paid'?'Paid':'Unpaid' }}" type="button" [ngClass]="{' btn-light': item.paymentStatus == 'unpaid', 'btn-success': item.paymentStatus == 'paid'}"><i class="fa fa-usd" aria-hidden="true" *ngIf=" item.paymentStatus=='paid' || item.paymentStatus=='unpaid'"></i></button>
					<span *ngIf="item.paymentStatus=='under-review'"><i class="fa fa-hourglass-half" aria-hidden="true"></i></span>
				</td>
				<td class="white-space-nowrap">{{item.createdOn | date: 'MM/dd/yyyy'}}</td>
				<td class="white-space-nowrap text-right">					
					<div class="btn-group" dropdown placement="bottom right" container="body">
						<button dropdownToggle type="button" tooltip="Actions" placement="left" container="body" class="btn btn-light btn-action text-primary dropdown-toggle"><i
							 class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
							<ul *dropdownMenu class="dropdown-menu dropdown-menu-right">								
								<li role="menuitem"><a class="dropdown-item px-3" (click)="print(item.id,item.shipmentType,item.paymentStatus)" tooltip="{{ item.paymentStatus=='paid'?'Print Receipt':'Print Invoice' }}"><i class="fa fa-print mr-2" aria-hidden="true"></i>Print</a></li>
								<li role="menuitem"><a class="dropdown-item px-3" (click)="showItemDetail(item.id)"><i class="fa fa-info-circle mr-2" aria-hidden="true"></i>Information</a></li>
								<li role="menuitem"><a class="dropdown-item px-3" (click)="showSnapshotimages(item.id)"><i class="fa fa-info-circle mr-2" aria-hidden="true"></i>Snapshot Images</a></li>
								<li role="menuitem" *ngIf="item.orderNumber"><a class="dropdown-item px-3" href="/track-shipment/{{ item.orderNumber }}" target="_blank"><i class="fa fa-truck mr-2" aria-hidden="true"></i>Track Shipment</a></li>
								<li role="menuitem" *ngIf="item.orderNumber"><a class="dropdown-item px-3" href="/my-account/file-claim/{{ item.orderNumber }}" target="_blank"><i class="fa fa-file mr-2" aria-hidden="true"></i>File a Claim</a></li>
							</ul>
					</div>
				</td>
				
				
			</tr>
		</tbody>
		<ng-template #no_data_templ>
			<tbody>
				<tr>
					<td colspan="9" class="text-center">No Record Found</td>
				</tr>
			</tbody>
		</ng-template>
	</table>
	<!-- table end -->

	<!-- datatable bottom panel start -->
	<footer class="border-bottom border-left border-right p-2" *ngIf="details?.length">
		<div class="row">
			<div class="col-sm-3">
				<div class="input-group input-group-sm">
					<select name="perPage" [(ngModel)]="perPage" class="form-control" (change)="perPageChanged($event,'pagination')">
						<option value="10">10</option>
						<option value="20">20</option>
						<option value="30">30</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select>
					<div class="input-group-append">
						<span class="input-group-text" id="basic-addon2">Records</span>
					</div>
				</div>
			</div>

			<div class="col-sm-9 d-flex justify-content-sm-end justify-content-center mt-2 mt-sm-0" *ngIf="details">
				<pagination-controls  id="pagination"
					(pageChange)="pageChanged($event)"
					maxSize="5"
					directionLinks="true"
					autoHide="true"
					previousLabel="Previous"
					nextLabel="Next">
				</pagination-controls>
			</div>
		</div>
		
	</footer>
	<!-- datatable bottom panel end -->
</article>

