<section class="container">
	<div class="row">
		<!-- sidebar start -->
		<aside class="col sidebar" *ngIf="!isMediumScreen">
			<app-sidebar-flyout></app-sidebar-flyout>
		</aside>
		<!-- sidebar end -->

		<!-- main content start -->
		<main class="col main-content py-md-5 py-3  pl-lg-5">
			<!-- header start -->
			<header class="page-header border-bottom mb-3">
				<h3>Ship My Car</h3>
			</header>
			<!-- header end -->

			<form method="post" (ngSubmit)="shipMyCarFrm.form.valid && onSubmit(shipMyCarFrm)" #shipMyCarFrm="ngForm">
				<!-- buy car form start -->
				<div class="white-box">
					<div class="form-row">
						<div class="form-group col-sm-4 col-6">
							<label>Make
								<span class="text-secondary">*</span>
							</label>
							<select class="form-control" (change)="getModel(shipMyCarFrm)" name="makeId" #makeId="ngModel" [ngClass]="{ 'is-invalid': shipMyCarFrm.submitted && makeId.invalid }" ngModel required>
								<option value="">Select</option>
								<option value="{{ eachMake.id }}" *ngFor="let eachMake of makeList">{{ eachMake.name }}</option>
							</select>
							<div *ngIf="shipMyCarFrm.submitted && makeId.invalid" class="invalid-feedback">
			                	<div *ngIf="makeId.errors.required">Field is required</div>
			        		</div>
						</div>
						<div class="form-group col-sm-4 col-6">
							<label>Model
								<span class="text-secondary">*</span>
							</label>
							<select class="form-control" name="modelId" #modelId="ngModel" [ngClass]="{ 'is-invalid': shipMyCarFrm.submitted && modelId.invalid }" (change)="getAllCharges(shipMyCarFrm)" ngModel required>
								<option value="">Select</option>
								<option value="{{ eachModel.id }}" *ngFor="let eachModel of modelList">{{ eachModel.name }}</option>
							</select>
							<div *ngIf="shipMyCarFrm.submitted && modelId.invalid" class="invalid-feedback">
			                	<div *ngIf="modelId.errors.required">Field is required</div>
			        		</div>
						</div>
						<div class="form-group col-sm-4 col-6">
							<label>Year
								<span class="text-secondary">*</span>
							</label>
							<select class="form-control" name="year" #year="ngModel" [ngClass]="{ 'is-invalid': shipMyCarFrm.submitted && year.invalid }" ngModel required>
								<option value="">Select</option>
								<option *ngFor="let year of yearList">{{ year }}</option>
							</select>
							<div *ngIf="shipMyCarFrm.submitted && year.invalid" class="invalid-feedback">
			                	<div *ngIf="year.errors.required">Field is required</div>
			        		</div>
						</div>
						<div class="form-group col-sm-4 col-6">
							<label>Car value ({{ currencySymbol }})
								<span class="text-secondary">*</span>
							</label>
							<input type="text" class="form-control" name="itemPrice" #itemPrice="ngModel" [ngClass]="{ 'is-invalid': shipMyCarFrm.submitted && itemPrice.invalid }" (change)="setTwoNumberDecimal($event)" (blur)="getAllCharges(shipMyCarFrm)" ngModel required>
							<div *ngIf="shipMyCarFrm.submitted && itemPrice.invalid" class="invalid-feedback">
			                	<div *ngIf="itemPrice.errors.required">Field is required</div>
			        		</div>
						</div>
						<div class="form-group col-sm-4 col-6">
							<label>Car Condition
								<span class="text-secondary">*</span>
							</label>
							<select class="form-control" name="carCondition" #carCondition="ngModel" [ngClass]="{ 'is-invalid': shipMyCarFrm.submitted && carCondition.invalid }" ngModel [(ngModel)]="carConditionVal" required>
								<option value="drivable">Drivable</option>
								<option value="not_drivable">Does Not Drivable</option>
							</select>
							<div *ngIf="shipMyCarFrm.submitted && carCondition.invalid" class="invalid-feedback">
			                	<div *ngIf="carCondition.errors.required">Field is required</div>
			        		</div>
						</div>
						<div class="form-group col-sm-4 col-6">
							<label>Color</label>
							<input type="text" class="form-control" name="color" ngModel>
						</div>

						<div class="form-group col-sm-3">
							<label>Location of Car (Country)
								<span class="text-secondary">*</span>
							</label>
							<select class="form-control" (change)="getStateCity(shipMyCarFrm)" name="pickupCountry" #pickupCountry="ngModel" [ngClass]="{ 'is-invalid': shipMyCarFrm.submitted && pickupCountry.invalid }" ngModel required>
								<option value="">Select</option>
								<option value="{{eachCountry.id}}" *ngFor="let eachCountry of countryList">{{eachCountry.name}}</option>
							</select>
							<div *ngIf="shipMyCarFrm.submitted && pickupCountry.invalid" class="invalid-feedback">
			                	<div *ngIf="pickupCountry.errors.required">Field is required</div>
			        		</div>
						</div>
						<div class="form-group col-sm-3">
							<label>Location of Car (State)
								<span class="text-secondary">*</span>
							</label>
							<select class="form-control" (change)="getCity(shipMyCarFrm)" name="pickupState" #pickupState="ngModel" [ngClass]="{ 'is-invalid': shipMyCarFrm.submitted && pickupState.invalid }" ngModel required>
								<option value="">Select</option>
								<option value="{{eachState.id}}" *ngFor="let eachState of stateList">{{eachState.name}}</option>
							</select>
							<div *ngIf="shipMyCarFrm.submitted && pickupState.invalid" class="invalid-feedback">
			                	<div *ngIf="pickupState.errors.required">Field is required</div>
			        		</div>
						</div>
						<div class="form-group col-sm-3">
							<label>Location of Car (City)
								<span class="text-secondary">*</span>
							</label>
							<select class="form-control" name="pickupCity" #pickupCity="ngModel" [ngClass]="{ 'is-invalid': shipMyCarFrm.submitted && pickupCity.invalid }" (change)="getAllCharges(shipMyCarFrm)" ngModel required>
								<option value="">Select</option>
								<option value="{{eachCity.id}}" *ngFor="let eachCity of cityList">{{eachCity.name}}</option>
							</select>
							<div *ngIf="shipMyCarFrm.submitted && pickupCity.invalid" class="invalid-feedback">
			                	<div *ngIf="pickupCity.errors.required">Field is required</div>
			        		</div>
							<small class="form-text text-muted">(This is used to determine the pick up cost. Select a car in Houston or Atlanta to enjoy a pick-up cost of just $195)</small>
						</div>
						<div class="form-group col-sm-3">
							<label>Drop Off </label>
							<select class="form-control" name="dropoff" #dropoff="ngModel" ngModel (change)="getAllCharges(shipMyCarFrm)">
								<option value="">Select</option>
								<option value="Y">Yes</option>
								<option value="N">No</option>
							</select>
							
						</div>
						<div class="form-group col-sm-12">
							<label>Pick Up Address
								<span class="text-secondary">*</span>
							</label>
							<input type="text" class="form-control" name="pickupAddress" #pickupAddress="ngModel" [ngClass]="{ 'is-invalid': shipMyCarFrm.submitted && pickupAddress.invalid }" ngModel required>
							<div *ngIf="shipMyCarFrm.submitted && pickupAddress.invalid" class="invalid-feedback">
			                	<div *ngIf="pickupAddress.errors.required">Field is required</div>
			        		</div>
						</div>
						<div class="form-group col-sm-4">
							<label>Pick Up Date
								<span class="text-secondary">*</span>
							</label>
							<input type="text" placeholder="dd/mm/yyyy" class="form-control" bsDatepicker name="pickupDate" #pickupDate="ngModel" [ngClass]="{ 'is-invalid': shipMyCarFrm.submitted && pickupDate.invalid }" ngModel required>
							<div *ngIf="shipMyCarFrm.submitted && pickupDate.invalid" class="invalid-feedback">
			                	<div *ngIf="pickupDate.errors.required">Field is required</div>
			        		</div>
						</div>
						
						<div class="form-group col-sm-4">
							<label>Pick Up Location Type
								<span class="text-secondary">*</span>
							</label>
							<select class="form-control" name="pickupLocationType" #pickupLocationType="ngModel" [ngClass]="{ 'is-invalid': shipMyCarFrm.submitted && pickupLocationType.invalid }" ngModel required>
								<option value="">Select</option>
								<option value="{{ eachLocationType.id }}" *ngFor="let eachLocationType of locationTypeArr">{{ eachLocationType.name }}</option>	
							</select>
							<div *ngIf="shipMyCarFrm.submitted && pickupLocationType.invalid" class="invalid-feedback">
			                	<div *ngIf="pickupLocationType.errors.required">Field is required</div>
			        		</div>
						</div>
						<div class="form-group col-sm-4">
							<label>Pick Up Contact Name
								<span class="text-secondary">*</span>
							</label>
							<input type="text" class="form-control" name="pickupName" #pickupName="ngModel" [ngClass]="{ 'is-invalid': shipMyCarFrm.submitted && pickupName.invalid }" ngModel required>
							<div *ngIf="shipMyCarFrm.submitted && pickupName.invalid" class="invalid-feedback">
			                	<div *ngIf="pickupName.errors.required">Field is required</div>
			        		</div>
						</div>
						<div class="form-group col-sm-4 mb-sm-6 mb-3">
							<label>Contact Phone Number <span class="text-secondary">*</span></label>
							<ng-select [items]="phcodeList" name="pickupPhoneCode" [searchable]="true" [clearable]="false" #altphcode="ngModel" [(ngModel)]="pickupPhoneCode" bindLabel="image" bindValue="isdCode" [virtualScroll]="true">
								<ng-template ng-option-tmp ng-label-tmp let-item="item">
									<img height="20" class="float-left mr-2" src="{{item.image}}" />
									<span>{{item.name}} {{item.isdCode}}</span>
								</ng-template>
							</ng-select>
						</div>
						<div class="form-group col-sm-4 col-6">
							<label>
								&nbsp;
							</label>
							<input type="text" class="form-control" name="pickupPhone" #pickupPhone="ngModel" [ngClass]="{ 'is-invalid': shipMyCarFrm.submitted && pickupPhone.invalid }" ngModel required>
							<div *ngIf="shipMyCarFrm.submitted && pickupPhone.invalid" class="invalid-feedback">
			                	<div *ngIf="pickupPhone.errors.required">Field is required</div>
			        		</div>
						</div>
						<div class="form-group col-sm-4 col-6">
							<label>Contact Email Address</label>
							<input type="text" class="form-control" [ngClass]="{ 'is-invalid': shipMyCarFrm.submitted && pickupEmail.invalid }" #pickupEmail="ngModel" name="pickupEmail" ngModel email>
							<div *ngIf="shipMyCarFrm.submitted && pickupEmail.invalid" class="invalid-feedback">
			                	<div *ngIf="pickupEmail.errors.email">Enter valid email id</div>
			        		</div>
						</div>
						<div class="form-group col-sm-4 col-6">
							<label>Millage</label>
							<input type="text" class="form-control" name="milage" ngModel>
						</div>
						<div class="form-group col-sm-4 col-6">
							<label>VIN Number</label>
							<input type="text" class="form-control" name="vinNumber" ngModel>
						</div>
						<div class="form-group col-sm-4 col-6">
							<label>Direct URL/Website Link to Car</label>
							<input type="text" class="form-control" name="websiteLink" ngModel>
						</div>
						<div class="form-group col-sm-6">
							<label>Upload Car Picture<span class="text-secondary">*</span></label>
							<input class="form-control-file" type="file" (change)="carPicture($event)" name="vehicleImage" #vehicleImage="ngModel" [ngClass]="{ 'is-invalid': shipMyCarFrm.submitted && vehicleImage.invalid }" ngModel required>
							<div *ngIf="shipMyCarFrm.submitted && vehicleImage.invalid" class="invalid-feedback">
			                	<div *ngIf="vehicleImage.errors.required">Field is required</div>
			        		</div>
						</div>
						<div class="form-group col-sm-6">
							<label>Upload Copy of Car Title</label>
							<input class="form-control-file" type="file" (change)="carTitle($event)">
						</div>
						<div class="form-group col-12">
							<div class="alert alert-danger mb-0">
								<span>
									<strong>Note :</strong>
									<ol>
										<li>We need the details of the car title before we can schedule a pick up. Be sure that our driver can collect it during pick up, as we can’t ship a car without the title.
										</li>
										<li>The cost paid here only covers shipping to the Port in Nigeria. Additional clearing cost has to be paid to get it out of the ports. You can call us on +234 700 800 8000 or +1 888 315 9027 to get a clearing estimate.
										</li>
									</ol>
								</span>
							</div>
						</div>
						<div class="form-group col-sm-4">
							<label>Destination Country<span class="text-secondary">*</span></label>
							<select class="form-control" (change)="getdestinationStateCity(shipMyCarFrm)" name="destinationCountry" #destinationCountry="ngModel" [ngClass]="{ 'is-invalid': shipMyCarFrm.submitted && destinationCountry.invalid }" ngModel required>
								<option value="">Select</option>
								<option value="{{eachCountry.id}}" *ngFor="let eachCountry of destinationCountryList">{{eachCountry.name}}</option>
							</select>
							<div *ngIf="shipMyCarFrm.submitted && destinationCountry.invalid" class="invalid-feedback">
			                	<div *ngIf="destinationCountry.errors.required">Field is required</div>
			        		</div>
						</div>
						<div class="form-group col-sm-4">
							<label>Destination State<span class="text-secondary">*</span></label>
							<select class="form-control" (change)="getdestinationCity(shipMyCarFrm)" name="destinationState" #destinationState="ngModel" [ngClass]="{ 'is-invalid': shipMyCarFrm.submitted && destinationState.invalid }" ngModel required>
								<option value="">Select</option>
								<option value="{{eachState.id}}" *ngFor="let eachState of destStateList">{{eachState.name}}</option>
							</select>
							<div *ngIf="shipMyCarFrm.submitted && destinationState.invalid" class="invalid-feedback">
			                	<div *ngIf="destinationState.errors.required">Field is required</div>
			        		</div>
						</div>
						<div class="form-group col-sm-4">
							<label>Destination City<span class="text-secondary">*</span></label>
							<select class="form-control" (change)="getAllCharges(shipMyCarFrm)" name="destinationCity" #destinationCity="ngModel" [ngClass]="{ 'is-invalid': shipMyCarFrm.submitted && destinationCity.invalid }" ngModel required>
								<option value="">Select</option>
								<option value="{{eachCity.id}}" *ngFor="let eachCity of destCityList">{{eachCity.name}}</option>
							</select>
							<div *ngIf="shipMyCarFrm.submitted && destinationCity.invalid" class="invalid-feedback">
			                	<div *ngIf="destinationCity.errors.required">Field is required</div>
			        		</div>
						</div>
						<div class="form-group col-8">
							<label>Destination Address<span class="text-secondary">*</span></label>
							<input type="text" class="form-control" name="receiverAddress" #receiverAddress="ngModel" [ngClass]="{ 'is-invalid': shipMyCarFrm.submitted && receiverAddress.invalid }" ngModel required>
							<div *ngIf="shipMyCarFrm.submitted && receiverAddress.invalid" class="invalid-feedback">
			                	<div *ngIf="receiverAddress.errors.required">Field is required</div>
			        		</div>
						</div>
						<div class="form-group col-sm-4">
							<label>Recipient Name<span class="text-secondary">*</span></label>
							<input type="tel" class="form-control" name="recceiverName" #recceiverName="ngModel" [ngClass]="{ 'is-invalid': shipMyCarFrm.submitted && recceiverName.invalid }" ngModel required>
							<div *ngIf="shipMyCarFrm.submitted && recceiverName.invalid" class="invalid-feedback">
			                	<div *ngIf="recceiverName.errors.required">Field is required</div>
			        		</div>
						</div>
						<div class="form-group col-sm-4 mb-sm-6 mb-3">
							<label>Recipient Phone Number <span class="text-secondary">*</span></label>
							<ng-select [items]="phcodeList" name="receiverPhoneCode" [searchable]="true" [clearable]="false" #altphcode="ngModel" [(ngModel)]="receiverPhoneCode" bindLabel="image" bindValue="isdCode" [virtualScroll]="true">
								<ng-template ng-option-tmp ng-label-tmp let-item="item">
									<img height="20" class="float-left mr-2" src="{{item.image}}" />
									<span>{{item.name}} {{item.isdCode}}</span>
								</ng-template>
							</ng-select>
						</div>
						<div class="form-group col-sm-4">
							<label>&nbsp;</label>
							<input type="tel" class="form-control" name="receiverPhone" #receiverPhone="ngModel" [ngClass]="{ 'is-invalid': shipMyCarFrm.submitted && receiverPhone.invalid }" ngModel required>
							<div *ngIf="shipMyCarFrm.submitted && receiverPhone.invalid" class="invalid-feedback">
			                	<div *ngIf="receiverPhone.errors.required">Field is required</div>
			        		</div>
						</div>
						<div class="form-group col-sm-4">
							<label>Recipient Email<span class="text-secondary">*</span></label>
							<input type="email" class="form-control" name="receiverEmail" #receiverEmail="ngModel" [ngClass]="{ 'is-invalid': shipMyCarFrm.submitted && receiverEmail.invalid }" ngModel required email>
							<div *ngIf="shipMyCarFrm.submitted && receiverEmail.invalid" class="invalid-feedback">
			                	<div *ngIf="receiverEmail.errors.required">Field is required</div>
			                	<div *ngIf="receiverEmail.errors.email">Enter valid email id</div>
			        		</div>
						</div>
					</div>

					<article class="px-3 py-2 bg-medium text-center text-sm-left">
						<div class="row">
							<div class="col-md-4 col-sm-6 mb-2 mb-md-0">
								<span class="font-weight-medium">Pick Up Cost : </span>
								<strong>{{ currencySymbol }}{{ pickupCost | number:'1.2-2' }}</strong>
								<input type="hidden" name="pickupCost" ngModel [(ngModel)]="pickupCost">
							</div>
							<div class="col-md-4 col-sm-6 mb-2 mb-md-0">
								<span class="font-weight-medium">Shipping Cost : </span>
								<strong>{{ currencySymbol }}{{ shippingCost | number:'1.2-2' }}</strong>
								<input type="hidden" name="shipmentCost" ngModel [(ngModel)]="shippingCost">
							</div>
							<div class="col-md-4 col-sm-6 mb-2 mb-md-0">
								<span class="font-weight-medium">Insurance Cost : </span>
								<strong>{{ currencySymbol }}{{ insuranceCost | number:'1.2-2' }}</strong>
								<input type="hidden" name="insuranceCost" ngModel [(ngModel)]="insuranceCost">
							</div>
							<div class="col-md-4 col-sm-6 mb-2 mb-md-0">
								<span class="font-weight-medium">Total Due : </span>
								<strong>{{ currencySymbol }}{{ totalCost | number:'1.2-2' }}</strong>
								<input type="hidden" name="totalCost" ngModel [(ngModel)]="totalCost">
								<input type="hidden" name="currencyCode" ngModel [(ngModel)]="currencyCode">
								<input type="hidden" name="currencySymbol" ngModel [(ngModel)]="currencySymbol">
								<input type="hidden" name="exchangeRate" ngModel [(ngModel)]="exchangeRate">
								<input type="hidden" name="defaultCurrency" ngModel [(ngModel)]="defaultCurrency">
								<!-- <input type="hidden" name="insuranceCost" ngModel [(ngModel)]="insuranceCost"> -->
								<input type="hidden" name="isInsuranceCharged" ngModel [(ngModel)]="isInsuranceCharged">
							</div>
						</div>
					</article>
				</div>
				<!-- buy car form end -->

				<div class="text-center mt-3">
					<button type="submit" class="btn btn-secondary btn-lg">Checkout</button>
				</div>
			</form>
		</main>
		<!-- main content end -->
	</div>
</section>



