<!-- header start -->
<header class="page-header border-bottom mb-3">
	<h3>Rewards</h3>
</header>
<!-- header end -->

<div class="row">
	<!-- my shoppers reward start -->
	<div class="col-sm-6 text-center mb-sm-4 mb-3">
		<div class="border border-primary d-flex flex-column h-100">
			<header class="border-bottom px-3 py-2">
				<img src="{{rewardImage}}" height="130" class="mx-auto">
				<h4 class="mb-0 text-primary">{{getUserName}}</h4>
			</header>
			<div class="p-3 border-bottom">
				<span class="font-size-sm d-block justify-content-between d-flex mb-2">Balance Points:
					<strong class="font-weight-medium text-right">{{balancePoint}}</strong>
				</span>
				<span class="font-size-sm d-block justify-content-between d-flex mb-2">Reward Level:
					<strong class="font-weight-medium text-right text-secondary">{{rewardName}}</strong>
				</span>
				<span class="font-size-sm d-block justify-content-between d-flex mb-2">{{expString}}
				</span>
				<span class="font-size-sm d-block justify-content-between d-flex mb-2">
					<div class="col caption-content" [innerHTML]="rewardDescription"></div>
				</span>
			</div>
			<div class="py-3">
				<a href="javascript:void(0)" class="btn btn-secondary btn-sm" (click)="pointsToWallet()">Convert Points To E-Wallet</a>
			</div>
		</div>
	</div>
	<!-- my shoppers reward end -->

	<!-- level qualification information start -->
	<div class="col-sm-6 text-center mb-sm-4 mb-3">
		<div class="border d-flex flex-column h-100">
			<header class="border-bottom px-3 py-2">
				<h4 class="mb-0 text-primary">Level Qualification Information</h4>
			</header>
			<div class="p-3">
				<!--<span class="font-size-sm d-block justify-content-between d-flex mb-2">Qualifying points for the year:
					<strong class="font-weight-medium text-right">314</strong>
				</span>-->
				<span class="font-size-sm d-block justify-content-between d-flex mb-2">Earned Points:
					<strong class="font-weight-medium text-right">{{earnedPoints}}</strong>
				</span>
				<span class="font-size-sm d-block justify-content-between d-flex mb-2">Total Orders for the year:
					<strong class="font-weight-medium text-right">{{totalOrders}}</strong>
				</span>
				<span class="font-size-sm d-block justify-content-between d-flex mb-2">Total Amount Spent:
					<strong class="font-weight-medium text-right">{{totalCost}}</strong>
				</span>
				<span class="font-size-sm d-block justify-content-between d-flex">Points to the next level:
					<strong class="font-weight-medium text-right">{{remaining}}</strong>
				</span>
			</div>
			<!--<footer class="px-3 py-2 mt-auto border-top bg-dark text-white">
				<span class="d-block">Progress to Next Level</span>
				<span class="h6 text-white">Points Expire: 31/12/2015</span>
			</footer>-->

			<!-- e wallet start -->
			<header class="border-bottom border-top px-3 py-2">
				<h4 class="mb-0 text-primary">E-Wallet </h4>
			</header>
			<div class="py-3">
				<span class="d-block font-weight-medium mb-2">E-Wallet Ballance: {{walletBalance}}</span>
				<a href="javascript:void(0)" class="btn btn-secondary btn-sm" (click)="walletPopup()">Get E-Wallet Code</a>
			</div>
			<!-- e wallet end -->
		</div>
	</div>
	<!-- level qualification information end -->

	<!-- my shopping activity start -->
	<div class="col-12 text-center mb-sm-4 mb-3">
		<div class="border d-flex flex-column h-100 p-sm-3">
			<header class="px-3 py-2">
				<h4 class="mb-0 text-primary">My Shopping Activity</h4>
			</header>
			<div class="p-3">
				<div class="row">
					<div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
						<div class="input-group">
							<select name="activity" [(ngModel)]="activity" class="custom-select" (change)="enableDisabledBtn($event.target.value)">
							   	<option value="">Select activity period</option>
			                   	<option value="week">This Week</option>
			                   	<option value="month">This Month</option>
			                   	<option value="year" selected="selected">This Year</option>
			                   	<option value="all">All</option> 
							</select>
							<div class="input-group-append">
								<button name="btnGo" class="btn btn-secondary" (click)="selectTransaction()" type="button" [disabled]="!isBtnDisabled">Go</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- my shopping activity end -->
</div>

<!-- table start -->

<table datatable class="row-border hover" [dtOptions]="dtOptions" [hidden]="!isActDisabled" *ngIf="transctions?.length > 0">
	<thead>
		<tr>
			<th>Date</th>
			<th>Order Number</th>
			<th>Amount Spent</th>
			<th>Type of Order</th>
			<th class="text-right">Points</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of transctions | paginate: { id: 'pagination', itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalItems }">
			<td>{{item.date}}</td>
			<td>{{item.orderNumber}}</td>
			<td>$ {{item.paidAmount}}</td>
			<td *ngIf="item.reason == ''">--</td>
			<td *ngIf="item.reason != ''">{{item.reason}}</td>
			<td class="text-right">
				<strong>{{item.point}}</strong>
			</td>
		</tr>
	</tbody>
</table>
<!-- table end -->

<table datatable class="row-border hover" [dtOptions]="dtOptions" [hidden]="!isActDisabled" *ngIf="transctions?.length == 0">
	<thead>
		<tr>
			<th>Date</th>
			<th>Reason</th>
			<th class="text-right">Points</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of transctions">
			<td>{{item.date}}</td>
			<td>{{item.reason}}</td>
			<td class="text-right">
				<strong>{{item.point}}</strong>
			</td>
		</tr>
	</tbody>
</table>


<footer class="p-2" *ngIf="transctions?.length">
	<div class="row">
		<div class="col-sm-3">
			<div class="input-group input-group-sm">
				<select name="perPage" [(ngModel)]="perPage" class="form-control" (change)="perPageChanged($event)">
					<option value="10">10</option>
					<option value="20">20</option>
					<option value="30">30</option>
					<option value="50">50</option>
					<option value="100">100</option>
				</select>
				<div class="input-group-append">
					<span class="input-group-text" id="basic-addon2">Records</span>
				</div>
			</div>
		</div>

		<div class="col-sm-9 d-flex justify-content-sm-end justify-content-center mt-2 mt-sm-0" *ngIf="transctions">
			<pagination-controls  id="pagination"
				(pageChange)="pageChanged($event)"
				maxSize="5"
				directionLinks="true"
				autoHide="true"
				previousLabel="Previous"
				nextLabel="Next">
			</pagination-controls>
		</div>
	</div>
</footer>