<section class="container">
	<div class="row">
		<!-- sidebar start -->
		<aside class="col sidebar" *ngIf="!isMediumScreen">
			<app-sidebar-flyout></app-sidebar-flyout>
		</aside>
		<!-- sidebar end -->
		
		<!-- main content start -->
		<main class="col main-content py-md-5 py-3  pl-lg-5">
			<!-- header start -->
			<header class="page-header border-bottom mb-3">
				<h3>How Shopforme Work</h3>
			</header>
			<!-- header end -->

			<p>Ever tried shopping in international online stores, only to have your cards declined. With Shop For Me, we can help you make
				purchases from these stores usig the following simple process.</p>

			<ul class="list-ui">
				<li>Click on "Order Form" and start by selecting your country of purchase.</li>
				<li>Fill in all the details of your order and add them to your cart.</li>
				<li>You can always come back later to add other items to your cart.</li>
				<li>Once satisfied with what you want to buy, follow the process to make payment.</li>
				<li>We charge a small fee to perform this service on your behalf, and you will see the details as you fill the order form.</li>
				<li>We will review your order and if everything is correct buy them and have it delivered to your warehouse.</li>
			</ul>
			<p class="mb-0">Any questions, please chat with us, call us or email us at
				<a href="mailto:contact@shoptomydoor.com">contact@shoptomydoor.com</a>
			</p>
			<article class="text-center border-top pt-3">
				<a class="btn btn-primary" href="javascript:void(0)" routerLink="/shop-for-me/order-form">Order Form</a>
			</article>
		</main>
		<!-- main content end -->
	</div>
</section>



