<app-header></app-header>
<!-- banner start -->
<section class="login-banner" *ngIf="bannerImage">
    <img src="{{ bannerImage}}" height="200px" width="100%">
</section>
<!-- banner end -->
<section class="py-3 py-lg-4 py-xl-5">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 text-center"><a routerLink="/getquote" fragment="signup-section" (click)="scroll('signup-section')">Save 10% On All
					Shipping Cost</a></div>
			<div class="col-sm-4 text-center"><a routerLink="/getquote" fragment="why-shoptomydoor" (click)="scroll('why-shoptomydoor')">Why Choose
					Shoptomydoor</a></div>
			<div class="col-sm-4 text-center"><a routerLink="/getquote" fragment="benefit-shoptomydoor" (click)="scroll('benefit-shoptomydoor')">Benefits of
					Using Shoptomydoor</a></div>
		</div>
	</div>
</section>
<!-- shipping cost start -->
<section class="section-block shipping-cost section-padding" id="shipping-cost">
	<header class="container text-left section-header">
		<h2>What Is My Shiping Cost</h2>
	</header>
	<div class="container p-md-3 px-md-0">
        <div class="row pb-3 pt-sm-3 align-items-center">
          <div class="col-sm-3 pl-md-4 text-left mb-2 mb-sm-0">
                            <strong>Tell Us About Your Shipment</strong>
                    </div>
          <div class="col-sm-3 pl-md-4 text-left d-none d-sm-block">
            <img src="assets/imgs/dmnsn.jpeg" alt="" class="img-fluid" />
          </div>
          <div class="col-sm-3 pl-md-4 text-left d-none d-sm-block">
            <img src="assets/imgs/cmn.jpeg" alt="" class="img-fluid" />
          </div>
          <div class="col-sm-3 pl-md-4 text-left d-none d-sm-block">
            <img src="assets/imgs/crs.jpeg" alt="" class="img-fluid" />
          </div>
        </div>
        <div class="pl-md-2 text-left mb-2 mb-lg-3"></div>
		<div class="row pb-3 pt-sm-3">
			<div class="col-sm-3 pl-md-4 text-left mb-2 mb-sm-0">
				<strong>Get Shipping Cost By Entering</strong>
			</div>
			<div class="col-sm-3 pl-md-4 text-left">
				<div class="custom-control custom-radio">
					<input type="radio" value="getquotecomp" class="custom-control-input" name="getquotepagesection"
						id="getquotecomp" (change)="changeFormView($event)" [checked]="getquoteform=='getquotecomp'">
					<label class="custom-control-label font-weight-bold" for="getquotecomp">Weight and
						Dimensions</label>
			</div>
			</div>
			<div class="col-sm-4 pl-md-4 text-left">
				<div class="custom-control custom-radio">
					<input type="radio" value="getquoteitemcomp" class="custom-control-input" name="getquotepagesection"
						id="getquoteitemcomp" (change)="changeFormView($event)"
						[checked]="getquoteform=='getquoteitemcomp'">
					<label class="custom-control-label font-weight-bold" for="getquoteitemcomp">Selecting Commonly
						Shipped Items</label>
		</div>
			</div>
			<div class="col-sm-2 pl-md-4 text-left">
				<div class="custom-control custom-radio">
					<input type="radio" value="getquoteautocomp" class="custom-control-input" name="getquotepagesection"
						id="getquoteautocomp" (change)="changeFormView($event)"
						[checked]="getquoteform=='getquoteautocomp'">
					<label class="custom-control-label font-weight-bold" for="getquoteautocomp">Cars</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 pl-md-4" *ngIf="getquoteform=='getquotecomp'">
				<app-get-a-quote></app-get-a-quote>
			</div>
			<div class="col-sm-12 pl-md-4" *ngIf="getquoteform=='getquoteitemcomp'">
				<app-get-a-quote-item></app-get-a-quote-item>
			</div>
			<div class="col-sm-12 pl-md-4" *ngIf="getquoteform=='getquoteautocomp'">
				<app-get-a-quote-auto></app-get-a-quote-auto>
			</div>
		</div>
		<!-- tab start -->
		<!-- <tabset [justified]="true" *ngIf="isLargeScreen() ? true : false" class="tab-primary">
			<tab customClass="heading-level-1">
				<ng-template tabHeading>
					<svg-icon src="assets/imgs/icons/get-quote.svg" [svgStyle]="{ 'height.px':30}"></svg-icon>
					<span class="ml-2 text-ellipsis">Enter Weight/Dimensions</span>
				</ng-template>
				<app-get-a-quote></app-get-a-quote>
			</tab>
			<tab customClass="heading-level-2" active="true">
				<ng-template tabHeading>
					<svg-icon src="assets/imgs/icons/get-item-quote.svg" [svgStyle]="{ 'height.px':30}"></svg-icon>
					<span class="ml-2 text-ellipsis">What Are You Shopping?</span>
				</ng-template>
				<app-get-a-quote-item></app-get-a-quote-item>
			</tab>
			<tab customClass="heading-level-3">
				<ng-template tabHeading>
					<svg-icon src="assets/imgs/icons/get-auto-quote.svg" [svgStyle]="{ 'height.px':30}"></svg-icon>
					<span class="ml-2 text-ellipsis">Car Shipping Quote</span>
				</ng-template>
				<app-get-a-quote-auto></app-get-a-quote-auto>
			</tab>
		</tabset> -->
		<!-- tab end -->

		<!-- accordion start -->
		<!-- <accordion *ngIf="isLargeScreen() ? false : true" [closeOthers]="oneAtATime" class="accordion accordion-primary">
			<accordion-group [isOpen]="isFirstOpen" class="get-a-quote">
				<header accordion-heading>
					<svg-icon src="assets/imgs/icons/get-quote.svg" [svgStyle]="{ 'height.px':20}" class="d-block float-left"></svg-icon>
					<span class="ml-2 text-ellipsis font-weight-bold">Enter Weight/Dimensions</span>
				</header>
				<app-get-a-quote></app-get-a-quote>
			</accordion-group>
			<accordion-group class="items-quote">
				<header accordion-heading>
					<svg-icon src="assets/imgs/icons/get-item-quote.svg" [svgStyle]="{ 'height.px':20}" class="d-block float-left"></svg-icon>
					<span class="ml-2 text-ellipsis font-weight-bold">What Are You Shopping?</span>
				</header>
				<app-get-a-quote-item></app-get-a-quote-item>
			</accordion-group>
			<accordion-group class="automobile-quote">
				<header accordion-heading>
					<svg-icon src="assets/imgs/icons/get-auto-quote.svg" [svgStyle]="{ 'height.px':20}" class="d-block float-left"></svg-icon>
					<span class="ml-2 text-ellipsis font-weight-bold">Car Shipping Quote</span>
				</header>
				<app-get-a-quote-auto></app-get-a-quote-auto>
			</accordion-group>
		</accordion> -->
		<!-- accordion end -->
	</div>
</section>
<!-- shipping cost end -->
<!-- comparison Image -->
<section class="section-padding">
	<header class="container text-center section-header">
		<h2>Save up to 80% on Shipping with Combine and Save</h2>
	</header>
	<div class="container" id="why-shoptomydoor">
    	<img src="assets/imgs/combine-save.jpg">
    	<div class="row">
			<div class="col text-center mt-3 mt-sm-4">
				<a routerLink="/getquote" fragment="signup-section" class="btn btn-lg btn-secondary" (click)="scroll('signup-section')">Sign Up <i
						class="fa fa-sign-out"></i></a>
			</div>
		</div>
    </div>
</section>

<!-- testimonial section -->
<section class="pt-4 pt-xl-5 pb-xl-2">
	<div class="container">
		<div class="row">
			<div class="item col-sm-6 mb-4" *ngFor="let item of customers">
				<div class="card h-100 shadow-1">
					<div class="card-header p-3 p-sm-4 d-blex bg-transparent border-0 d-flex align-items-center">
						<span class="avatar flex-none rounded-circle overflow-hidden mr-2">
							<img src="{{item.avatar}}">
						</span>
						<div class="flex-1">
						    <rating [(ngModel)]="item.rating" [max]="max" [readonly]="isReadonly"
								class="text-warning font-size-lg">
							</rating>
						</div>
					</div>
					<div class="card-body pt-0 px-3 pb-3 px-sm-4 pb-sm-4">
						<h5 class="card-title font-weight-bold">{{item.title}}</h5>
						<p class="card-text">{{item.short_des}}</p>
						<span class="d-block name font-weight-bold">{{item.name}}, {{item.place}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- testimonial end -->
<!-- content start -->
<section class="section-padding">
	<div class="container" id="signup-section">
		<div class="text-center p-0 mb-4">
			<h3><strong>Select a plan that works for you.</strong></h3>
		</div>
		<!-- plan section for desktop start -->
		<article class="white-box p-0 mb-4 plans" *ngIf="isLargeScreen() ? true : false">
			<div>
				<table class="dataTable hover">
					<thead>

						<tr>
							<th class="bg-primary text-white font-weight-bold font-size-md">Features</th>
							<th class="bg-primary text-white font-weight-bold font-size-md text-center">Personal / Small
								Shopping
							</th>
							<th colspan="4" class="bg-primary text-white font-weight-bold font-size-md text-center">
								Subscribe and Save (Business and Heavy Shoppers)
							</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let item of featureList">
							<td>
								<div class="d-flex justify-content-between">
									<span class="flex-1">{{item.featureLabel}}</span>
									<a class="help-icon d-inline-block" container="body" href="javascript:void(0)"
										tooltip="{{item.helpText}}"><i aria-hidden="true"
											class="fa fa-question"></i></a>
								</div>
							</td>
							<td align="center">
								<i class="fa font-size-lg"
									[ngClass]="{'fa-check-circle text-success': item.freeFeature == 'Y'}"
									aria-hidden="true"></i>
							</td>
							<td align="center" colspan="4">
								<i class="fa font-size-lg"
									[ngClass]="{'fa-check-circle text-success': item.subscribedFeature == 'Y', 'fa-times-circle text-danger': item.subscribedFeature == 'N'}"
									aria-hidden="true"></i>
							</td>
						</tr>
						<tr *ngIf="isShowhide">
							<td colspan="6" align="center" class="bg-white">
								<a href="javascript:void(0)" (click)="showHideFeature()">See all features of your
									Shoptomydoor Account</a>
							</td>
						</tr>
						<tr *ngFor="let item of accountFeatureList">
							<td>
								<div class="d-flex justify-content-between">
									<span class="flex-1">{{item.featureLabel}}</span>
									<a class="help-icon d-inline-block" container="body" href="javascript:void(0)"
										tooltip="{{item.helpText}}"><i aria-hidden="true"
											class="fa fa-question"></i></a>
								</div>
							</td>
							<td align="center">
								<i class="fa font-size-lg"
									[ngClass]="{'fa-check-circle text-success': item.freeFeature == 'Y', 'fa-times-circle text-danger': item.freeFeature == 'N'}"
									aria-hidden="true"></i>
							</td>
							<td align="center" colspan="4">
								<i class="fa font-size-lg"
									[ngClass]="{'fa-check-circle text-success': item.subscribedFeature == 'Y', 'fa-times-circle text-danger': item.subscribedFeature == 'N'}"
									aria-hidden="true"></i>
							</td>
						</tr>
					</tbody>
					<tfoot class="bg-dark text-white">
						<tr>
							<th class="white-space-initial font-weight-normal">
								<p class="mb-0">
									The average Shopper Who subscribes Save their
									subscription cost
									<span [ngClass]="{'d-none': !show, 'd-inline': show}">after the second
										shipment.The average Shopper Who subscribes Save their subscription cost after
										the
										second shipment.</span>
									<a href="javascript:void(0)"
										(click)="show = !show">...{{ show ? 'Show less': 'Show More' }}</a>

								</p>

							</th>
							<th class="text-center">
								<div class="text-center d-flex flex-column h-100">
									<span class="text-uppercase h2 font-weight-bold text-white flex-1 mb-0">FREE</span>
									<span class="btn px-3 py-0 font-weight-bold mb-2 text-white">Most Popular</span>
									<!-- <span class="text-uppercase h6 font-weight-bold text-white">&nbsp;</span> -->
									<button (click)="freesignup()" class="btn btn-secondary btn-sm">Sign Up</button>
								</div>
							</th>
							<th *ngFor="let item of settings" valign="top">
								<div class="text-center d-flex flex-column h-100 position-relative">
									<span class="text-uppercase h6 font-weight-bold text-white flex-1">{{item.duration}}
										{{item.duration > 1 ? 'Months' : 'Month'}}</span>
									<span class="btn btn-outline-warning px-3 py-0 font-weight-bold mb-2">$
										{{item.amount}}</span>
									<span *ngIf="item.duration > 1"
										class="text-uppercase h6 font-weight-bold text-white">Save
										{{(((baseAmount*item.duration)-item.amount) / (baseAmount*item.duration))*100 | number:'1.0-0'}}%
									</span>
									<span *ngIf="item.duration <= 1"
										class="text-uppercase h6 font-weight-bold text-white">&nbsp;</span>
									<button (click)="signup(item)" class="btn btn-secondary btn-sm singup-month">Sign
										Up</button>
								</div>
							</th>

						</tr>
					</tfoot>
				</table>
			</div>
		</article>
		<!-- plan section for desktop end -->

			<!-- plan section for mobile start -->
		<div class="plans" *ngIf="isLargeScreen() ? false : true">
				<!-- One Time Shopper start -->
			<div class="card rounded-0 mb-4">
				<div class="card-header p-3 p-sm-4 rounded-0 bg-primary text-white font-weight-bold h4">
						Personal / Small Shopping <br>
					<h3 class="text-white font-weight-bold mb-0">FREE - Most Popular</h3>
					</div>
				<div class="card-body p-3 p-sm-4">
						<div class="d-flex justify-content-between align-items-center mb-2"
							*ngFor="let item of featureList">
						<a class="help-icon mr-2 mr-sm-3 align-self-start" container="body" href="javascript:void(0)"
							tooltip="{{item.helpText}}" placement="right" *ngIf="item.freeFeature == 'Y'"><i
								aria-hidden="true" class="fa fa-question"></i>
							</a>

						<span class="flex-1 mr-1" *ngIf="item.freeFeature == 'Y'">{{item.featureLabel}}</span>
							<i class="fa font-size-lg align-self-start"
							[ngClass]="{'fa-check-circle text-success': item.freeFeature == 'Y'}" aria-hidden="true"
							*ngIf="item.freeFeature == 'Y'"></i>

						</div>
						
					</div>
				<div class="card-footer rounded-0 text-center p-3 p-sm-4">
						<button class="btn btn-secondary btn-sm" (click)="freesignup()">Sign Up</button>
					</div>
				</div>
				<!-- One Time Shopper end -->

				<!-- Subscribe and Save start -->
			<div class="card rounded-0 mb-4">
				<div class="card-header p-3 p-sm-4 rounded-0 bg-primary text-white font-weight-bold h4">Subscribe and
					Save (Business and Heavy Shoppers)
					</div>
				<div class="card-body p-3 p-sm-4">
						<div class="d-flex justify-content-between align-items-center mb-2"
							*ngFor="let item of featureList">
						<a class="help-icon mr-2 mr-sm-3 align-self-start" container="body" href="javascript:void(0)"
								tooltip="{{item.helpText}}" placement="right"><i aria-hidden="true"
									class="fa fa-question"></i>
							</a>
						<span class="flex-1 mr-1">{{item.featureLabel}}</span>
							<i class="fa font-size-lg align-self-start"
								[ngClass]="{'fa-check-circle text-success': item.subscribedFeature == 'Y'}"
								aria-hidden="true"></i>
						</div>
					</div>
				<div class="card-footer p-3 p-sm-4 rounded-0 text-center subscription_list">
					<div *ngFor="let item of settings" class="subscription_each">
							<div class="custom-control custom-radio mb-2">
							<input type="radio" class="custom-control-input" id="{{item.duration}}m"
								name="radio-package" (click)="selectDuration(item.duration, item.amount)" required>
							<label class="custom-control-label d-flex justify-content-between w-100"
								for="{{item.duration}}m">
								<span>{{item.duration}} {{item.duration > 1 ? 'Months' : 'Month'}} <strong
										*ngIf="item.duration <= 1">&nbsp;</strong><strong *ngIf="item.duration > 1">Save
											{{(((baseAmount*item.duration)-item.amount) / (baseAmount*item.duration))*100 | number:'1.0-0'}}%</strong></span>
									<span class="btn btn-warning px-3 py-0 font-weight-bold">${{item.amount}}</span>
								</label>
							</div>
						</div>
					<p class="my-3">
						The average Shopper Who subscribes save their subscription cost
						<span [ngClass]="{'d-none': !show, 'd-inline': show}">after the second shipment.The average
							Shopper Who subscribes save their subscription cost after the second shipment.</span>
						<a href="javascript:void(0)" (click)="show = !show">...{{ show ? 'Show less': 'Show More' }}</a>
						</p>
						<button class="btn btn-secondary btn-sm" (click)="signupmobile(settings)">Sign Up</button>
					</div>
				</div>
				<!-- Subscribe and Save end -->

		</div>
			<!-- plan section for mobile end -->




	</div>
</section>
<!-- content start -->
<!-- value added services start -->
<section class="section-block value-added section-padding" id="benefit-shoptomydoor">
	<header class="container text-center section-header">
		<h2>Value Added Services</h2>
	</header>
	<div class="container-sm">
		<div class="row no-gutters value-added-inn">
			<div class="col-md-3 col-sm-4 col-6 item mb-3" *ngFor="let item of blockValueAddedService">
				<a routerLink="/getquote">
					<svg-icon src="assets/imgs/icons/{{item.image}}" [svgStyle]="{ 'height.px':50}"></svg-icon>
					<span class="mt-3">{{item.title}}</span>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col text-center mt-3 mt-sm-4">
				<a routerLink="/getquote" fragment="signup-section" class="btn btn-lg btn-secondary" (click)="scroll('signup-section')">Sign Up <i
						class="fa fa-sign-out"></i></a>
			</div>
		</div>
	</div>
</section>
<!-- value added services end -->
<app-footer></app-footer>