<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#a7f4fb"></ngx-spinner>
<app-header></app-header>
<!-- banner start -->
<section class="banner">


	<!-- carousel start -->
	<div class="banner-carousel">
		<owl-carousel [options]="{items: 1, margin: 0, dots: false, loop:true, autoplay:true, autoplayTimeout: 15000, nav: true, responsive: { '0': { nav: false, dots: true}, '1200': { nav: true, dots: false}}}"
		 [items]="bannerImages" [carouselClasses]="['owl-theme', 'sliding']">
			<div class="item" *ngFor="let image of bannerImages">
				<div class="image">
					<!-- <img [defaultImage]="defaultImage1" [lazyLoad]="image.imagePath"> -->
					<img [src]="image.imagePath">
					<!-- caption start -->
					<div class="container caption h-100 d-flex">
						<div class="row align-items-center">
							<div class="col caption-content" [innerHTML]="image.bannerContent"></div>
						</div>
					</div>
					<!-- caption end -->
				</div>
			</div>
		</owl-carousel>
	</div>
	<!-- carousel end -->
</section>
<!-- banner end -->

<!-- company start -->
<section class="section-block company section-padding" id="why_shoptomydoor">
	<div class="container">
		<article class=" text-center bg-light section-padding mb-4 border px-3 px-md-5">
			<h1 class="h3 text-primary mb-0">Shoptomydoor <span>allows you to shop from multiple USA and UK stores and pay just one shipping cost to your door any where in Africa</span>
			</h1>
		</article>
	</div>

	<header class="container text-center section-header">
		<h2>Why <span class="text-secondary">Shoptomydoor</span>
		</h2>
	</header>
	<div class="container">
		<owl-carousel [options]="{items: 1, dots: false, nav:true}" [carouselClasses]="['company-carousel']" [items]="blockWhyShoptomydoor">
			<div class="item" *ngFor="let eachWhyBlock of blockWhyShoptomydoor">
				<div class="row">
					<div class="col-md-6 col-sm-4 img">
						<img [defaultImage]="eachWhyBlock.image" [lazyLoad]="eachWhyBlock.image">
					</div>
					<div class="col-md-6 col-sm-8 text-left" [innerHTML]="eachWhyBlock.content">
					</div>
				</div>
			</div>
		</owl-carousel>
	</div>
</section>
<!-- company start -->

<!-- how it work start -->
<section class="section-block how-it-works section-padding" #how_it_works id="how_it_works">
	<header class="container text-center section-header">
		<h2>How it Works</h2>
	</header>
	<div class="container-fluid">
		<div class="container">
			<div class="row" *ngIf="isLargeScreen() ? true : false">
				<div class="col-6 col-sm-4 item" *ngFor="let eachWorksItem of blockWorks">
					<a routerLink="/" class="icon rounded-circle mb-2" [popover]="popTemplate" (onShown)="onShown()" (onHidden)="onHidden()"
					 placement="{{eachWorksItem.placement}}" container="body" [outsideClick]="true" containerClass="custom-popover">
						<svg-icon src="assets/imgs/icons/{{eachWorksItem.image}}" [svgStyle]="{'height.px':50}"></svg-icon>
					</a>
					<h3>{{eachWorksItem.title}}</h3>
					<span>{{eachWorksItem.subtitle}}</span>
					<ng-template #popTemplate>
						<article [innerHTML]="eachWorksItem.content"></article>
					</ng-template>
				</div>
			</div>
			<div class="row" *ngIf="isLargeScreen() ? false : true">
				<div class="col-sm-4 item" *ngFor="let eachWorksItem of blockWorks; let i = index;" [ngClass]="i == blockWorks.length - 1 ? 'col-12' : 'col-6'">
					<a routerLink="/" class="icon rounded-circle mb-2" [popover]="popTemplate" (onShown)="onShown()" (onHidden)="onHidden()"
					 container="body" [outsideClick]="true" containerClass="custom-popover">
						<svg-icon src="assets/imgs/icons/{{eachWorksItem.image}}" [svgStyle]="{ 'height.px':50}"></svg-icon>
					</a>
					<h3>{{eachWorksItem.title}}</h3>
					<span>{{eachWorksItem.subtitle}}</span>
					<ng-template #popTemplate>
						<article [innerHTML]="eachWorksItem.content"></article>
					</ng-template>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- how it work end -->

<!-- service start -->
<section class="section-block service section-padding" id="service">
	<header class="container text-center section-header">
		<h2>Other Services</h2>
	</header>
	<div class="container">
		<div class="row no-gutters" *ngIf="isLargeScreen() ? true : false">
			<div class="col-md-3 col-sm-6 col-6 item" *ngFor="let eachServiceItem of blockService">
				<a routerLink="/" [popover]="popTemplate" (onShown)="onShown()" (onHidden)="onHidden()" placement="{{eachServiceItem.placement}}"
				 container="body" [outsideClick]="true" containerClass="custom-popover">
					<svg-icon src="assets/imgs/icons/{{eachServiceItem.image}}" [svgStyle]="{ 'height.px':70}"></svg-icon>
					<h3>{{eachServiceItem.title}}</h3>
				</a>
				<ng-template #popTemplate>
					<article [innerHTML]="eachServiceItem.content"></article>
				</ng-template>
			</div>
		</div>
		<div class="row no-gutters" *ngIf="isLargeScreen() ? false : true">
			<div class="col-md-3 col-sm-6 col-6 item" *ngFor="let eachServiceItem of blockService">
				<a (click)="openServiceModal(eachServiceItem.content)">
					<svg-icon src="assets/imgs/icons/{{eachServiceItem.image}}" [svgStyle]="{ 'height.px':70}"></svg-icon>
					<h3>{{eachServiceItem.title}}</h3>
				</a>
			</div>
		</div>
	</div>
</section>
<!-- service end -->

<!-- shipping cost start -->
<section class="section-block shipping-cost section-padding" id="shipping-cost">
	<header class="container text-center section-header">
		<h2>Get Shipping Cost</h2>
		<span class="sub-heading mb-3 d-block">We have three options to enable you determine your shipping cost.</span>
	</header>
	<div class="container p-md-3 px-0">
		<!-- tab start -->
		<tabset [justified]="true" *ngIf="isLargeScreen() ? true : false" class="tab-primary">
			<tab customClass="heading-level-1">
				<ng-template tabHeading>
					<svg-icon src="assets/imgs/icons/get-quote.svg" [svgStyle]="{ 'height.px':30}"></svg-icon>
					<span class="ml-2 text-ellipsis">Enter Weight/Dimensions</span>
				</ng-template>
				<app-get-a-quote></app-get-a-quote>
			</tab>
			<tab customClass="heading-level-2" active="true">
				<ng-template tabHeading>
					<svg-icon src="assets/imgs/icons/get-item-quote.svg" [svgStyle]="{ 'height.px':30}"></svg-icon>
					<span class="ml-2 text-ellipsis">What Are You Shopping?</span>
				</ng-template>
				<app-get-a-quote-item></app-get-a-quote-item>
			</tab>
			<tab customClass="heading-level-3">
				<ng-template tabHeading>
					<svg-icon src="assets/imgs/icons/get-auto-quote.svg" [svgStyle]="{ 'height.px':30}"></svg-icon>
					<span class="ml-2 text-ellipsis">Car Shipping Quote</span>
				</ng-template>
				<app-get-a-quote-auto></app-get-a-quote-auto>
			</tab>
		</tabset>
		<!-- tab end -->

		<!-- accordion start -->
		<accordion *ngIf="isLargeScreen() ? false : true" [closeOthers]="oneAtATime" class="accordion accordion-primary">
			<accordion-group [isOpen]="isFirstOpen" class="get-a-quote">
				<header accordion-heading>
					<svg-icon src="assets/imgs/icons/get-quote.svg" [svgStyle]="{ 'height.px':20}" class="d-block float-left"></svg-icon>
					<span class="ml-2 text-ellipsis font-weight-bold">Enter Weight/Dimensions</span>
				</header>
				<app-get-a-quote></app-get-a-quote>
			</accordion-group>
			<accordion-group class="items-quote">
				<header accordion-heading>
					<svg-icon src="assets/imgs/icons/get-item-quote.svg" [svgStyle]="{ 'height.px':20}" class="d-block float-left"></svg-icon>
					<span class="ml-2 text-ellipsis font-weight-bold">What Are You Shopping?</span>
				</header>
				<app-get-a-quote-item></app-get-a-quote-item>
			</accordion-group>
			<accordion-group class="automobile-quote">
				<header accordion-heading>
					<svg-icon src="assets/imgs/icons/get-auto-quote.svg" [svgStyle]="{ 'height.px':20}" class="d-block float-left"></svg-icon>
					<span class="ml-2 text-ellipsis font-weight-bold">Car Shipping Quote</span>
				</header>
				<app-get-a-quote-auto></app-get-a-quote-auto>
			</accordion-group>
		</accordion>
		<!-- accordion end -->
	</div>
</section>
<!-- shipping cost end -->

<!-- value added services start -->
<section class="section-block value-added section-padding" id="value_added_service">
	<header class="container text-center section-header">
		<h2>Value Added Services</h2>
	</header>
	<div class="container-sm">
		<div class="row no-gutters value-added-inn">
			<div class="col-md-3 col-sm-4 col-6 item mb-3" *ngFor="let item of blockValueAddedService">
				<a routerLink="/">
					<svg-icon src="assets/imgs/icons/{{item.image}}" [svgStyle]="{ 'height.px':50}"></svg-icon>
					<span class="mt-3">{{item.title}}</span>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col text-center mt-sm-4">
				<a routerLink="/join" class="btn btn-lg btn-secondary">Join Now!</a>
			</div>
		</div>
	</div>
</section>
<!-- value added services end -->


<!-- shop for me start -->
<section class="section-block shop-for-me section-padding" id="shop_for_me">
	<header class="container text-center section-header">
		<h2>Shop For Me</h2>
	</header>
		<div class="container-fluid shop-content" [ngStyle]="{'background-image': 'url('+eachShopItem.image+')'}" *ngFor="let eachShopItem of blockShopForMe">
		<div class="container-sm text-center" [innerHTML]="eachShopItem.content">
		</div>
	</div>
</section>
<!-- shop for me end -->

<!-- partner start -->
<section class="section-block partner section-padding" id="partners">
	<div class="container-fluid">
		<header class="container text-center section-header">
			<h2>Special Offers</h2>
		</header>
		<div class="container partner-inn">
			<div class="row  mt-2 ">
				<div class="col-md-4 px-2" *ngFor="let item of specialOfferBanner">
					<a href="{{item.pageLink}}" target="_blank">
						<img style="min-height: 220px" [defaultImage]="item.imagePath" [lazyLoad]="item.imagePath">
					</a>	
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 mt-2 mb-2 text-center" [innerHTML]="specialOfferContent.content"></div>
			</div>
		</div>
	</div>
</section>
<!-- partner end -->

<!-- content start -->
<section class="section-padding">
	<div class="container">
		<div class="bg-light border p-3 mb-3">
			<p>Shoptomydoor is a shopping and shipping company designed by Africans for Africans. We provide solutions that enables Africans to shop from one or multiple stores in the USA and UK (Our UK service is currently for a few African countries) and have items combined and shipped as one right to your door step anywhere in Africa.</p>

			<p>So, whether you are a company needing items for your store, factory or for your manufacturing process, or you are an individual needing items for personal use, Shoptomydoor can help. Since 2009, we have helped over 150,000 African get the things they need from USA and UK. Irrespective of what you need, from a phone to car, or a giant machinery. We can help negotiate, buy and ship it right to you anywhere in Africa.</p>

			<p class="mb-0">We understand that buying thing from the USA and UK can be very expensive for most Africans and have developed a solution that combines items from as many stores as you need. We then ship them as a single package using our “Combine and Save” solution and this can easily save you over 80% on shipping cost.</p>
		</div>

		<h4 class="text-primary">Shoptomydoors Key Principles:</h4>

		<ul class="list-ui">
			<li><strong>Low Cost Shipping</strong> – We have partnered with DHL, Fedex and UPS to provide you shipping costs that saves you over 60% had you gone directly to these carriers. Hence on top of the “Combine and Save” savings, you also get to save way more based on our negotiated rates. Depending on your country, you will see the service that offers the best savings in shipping cost to you.</li>
			<li><strong>Fast Delivery</strong> – Our shipping partners provide services that ensures you get your items in as little as 3 business days from the day it leaves our warehouse. So, you are sure to get the best service there is worldwide.</li>
			<li><strong>Amazing Customer Service</strong> – This is where we have invested so much resources to ensure that should you have any issue; you can easily reach us and our team of well-trained support staff are on stand by to help with any issues you may have. </li>
		</ul>
	</div>
</section>
<!-- content start -->

<!-- shop store start -->
<section class="section-block shop-store section-padding">
	<header class="container text-center section-header">
		<h3>Shop from these and thousands of other US Stores</h3>
	</header>
	<div class="container">
		<div class="row">
			<div class="col">
				<owl-carousel [options]="{dots: false, nav:true, loop:true, autoplay:true, margin:16, responsive: { '0': { items: 3}, '575': { items: 4}, '768': { items: 4}}}"
				 [carouselClasses]="['store-carousel']" [items]="blockStoreIcon">
					<div class="item" *ngFor="let storeItem of blockStoreIcon;let i = index">
						<div class="image">
							<img [lazyLoad]="storeItem.icon" [defaultImage]="storeItem.icon">
						</div>
					</div>
				</owl-carousel>
			</div>
		</div>
	</div>
</section>
<!-- shop store end -->

<!-- floating button -->
<div class="floating">
	<ul class="list-floating">
		<li>
			<a routerLink="/" class="bg-secondary" (click)="toggleShipment()">
				<svg-icon [src]="showShipment ? 'assets/imgs/icons/close.svg' : 'assets/imgs/icons/shop-online.svg'" [svgStyle]="{ 'height.px':30}"></svg-icon>
			</a>
		</li>
		

	</ul>
</div>

<!-- trak-shipment start -->
<div class="trak-shipment" *ngIf="showShipment">
	<a href="javascript:void(0)" class="close-overlap" (click)="toggleShipment()">
		<svg-icon [src]="'assets/imgs/icons/close.svg'" [svgStyle]="{ 'height.px':10}"></svg-icon>
	</a>
	<tabset [justified]="true">
		<tab heading="Track Shipment">
			<img src="assets/imgs/grey-logo.png" class="m-auto" >
			<!-- <picture>
			  <source srcset="assets/imgs/logo/logo.webp" type="image/webp">
			  <source srcset="assets/imgs/logo/logo.jpg" type="image/jpeg"> 
			  
			</picture> -->
			<h3 class="mb-0 font-weight-bold">Track items shipped out of your warehouse</h3>
			<span class="d-block">Enter your order number as seen on your receipt</span>
			<span class="mb-3 mb-lg-5 d-block">(An example is “OD-1234567899999”)</span>
			<form method="post" (ngSubmit)="trackShipment.form.valid && checkTrackShipment(trackShipment)" #trackShipment="ngForm">
				<div class="input-group input-group-lg">
					<input type="text" class="form-control" [ngClass]="{ 'is-invalid': trackShipment.submitted && orderNumber.invalid }"
					 placeholder="Order Number" name="orderNumber" #orderNumber="ngModel" [(ngModel)]="order" required>
					<div class="input-group-append">
						<button class="btn" type="submit">
							<i class="fa fa-search" aria-hidden="true"></i>
						</button>
					</div>
					<div *ngIf="trackShipment.submitted && orderNumber.invalid" class="invalid-feedback">
						<div *ngIf="orderNumber.errors.required">Enter Order Number
						</div>
					</div>
				</div>
			</form>
		</tab>
		<tab heading="Has my item arrived from the store?" active="true">
			<img src="assets/imgs/grey-logo.png" class="m-auto">
			<h3 class="mb-0 font-weight-bold">Check items Delivered to My Warehouse</h3>
			<span class="text-uppercase mb-3 mb-lg-5 d-block">Enter your unit number (e.g NG100110) or tracking number from the store</span>
			<form method="post" (ngSubmit)="itemArrived.form.valid && checkItemArrived(itemArrived)" #itemArrived="ngForm">
				<div class="input-group input-group-lg">
					<input type="text" class="form-control" [ngClass]="{ 'is-invalid': itemArrived.submitted && trackingNumber.invalid }"
					 placeholder="Tracking / Unit Number" name="trackingNumber" #trackingNumber="ngModel" [(ngModel)]="tracking" required>
					<div class="input-group-append">
						<button class="btn" type="submit">
							<i class="fa fa-search" aria-hidden="true"></i>
						</button>
					</div>
					<div *ngIf="itemArrived.submitted && trackingNumber.invalid" class="invalid-feedback">
						<div *ngIf="trackingNumber.errors.required">Enter Tracking / Unit Number
						</div>
					</div>
				</div>
			</form>
		</tab>
	</tabset>
</div>
<!-- trak-shipment end -->

<app-footer></app-footer>
