@import "src/assets/scss/variables";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/breakpoints";



// banner
.banner{
	position: relative;
	// height: calc(100vh - 170px);
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	@include media-breakpoint-down(lg) {
		height: auto;
	}
	// caption
	.caption{
		position: relative;
		z-index: 2;
		.caption-content{
			h1{
				@include media-breakpoint-down(md) {
					font-size: $h2-font-size;
				}
				@include media-breakpoint-down(sm) {
					font-size: $h4-font-size;
				}
			}
			::ng-deep.list-ui{
				li{
					color: var(--white);
					@include media-breakpoint-down(sm) {
						text-overflow: ellipsis;
						overflow: hidden;
						white-space: nowrap;
					}
				}
			}
		}
	}
	// carousel
	.banner-carousel{
		// position: absolute;
		// height: 100%;
		// left: 0;
		// right: 0;
		// margin: 0 auto;
		// top: 0;
		.item{
			.image{
				// height: calc(100vh - 170px);
				// background-repeat: no-repeat;
				// background-position: 50% 50%;
				// background-size: cover;
				// @include media-breakpoint-down(sm) {
				// 	height: 260px;
				// }
				img{
					width: 100%;
					// height: calc(100vh - 170px);
					// object-fit: cover;
					// object-position: center center;
					@include media-breakpoint-down(lg) {
						height: auto;
					}
				}
			}
		}
		// nav
		/deep/.owl-nav{
			position: absolute;
			z-index: 1;
			margin: 0;
			height: 100%;
			top: 0;
			width: 100%;
			.owl-prev{
				font-size: 80px;
				line-height: 1;
				width: 50px;
				height: 80px;
				position: absolute;
				top: calc(50% - 40px);
				left: 0;
				z-index: 0;
				color: var(--white);
				transition: $transition;
				z-index: 2;
				&:before{
					content: '\f104';
					font-family: fontAwesome;
					display: block;
				}
				&:hover{
					color: theme-color(primary);
					background: transparent;
				}
				span{
					display: none;
				}

			}
			.owl-next{
				@extend .owl-prev;
				left: inherit;
				right: 0;
				&:before{
					content: '\f105';
				}
			}
			.disabled{
				background-color: transparent;
				&:hover{
					background-color: transparent;
					color: var(--white);
				}
			}
		}

		// owl-dots
		/deep/.owl-dots{
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			.owl-dot{
				&.active{
					span{
						background-color: theme-color(primary);
					}
				}
			}
		}
	}
}



// store-carousel
::ng-deep.company-carousel{
	&.owl-carousel{
		border: 4px solid theme-color(primary);
		.item{
			padding: $spacer*3 $spacer;
			@include media-breakpoint-down(lg) {
				padding:$spacer*3 $spacer*2;
			}
			@include media-breakpoint-down(sm) {
				padding:$spacer $spacer*2.5;
			}
			.btn{
				white-space: normal;
			}
		}
		/deep/.owl-item{
			.img{
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}
			img{
				width: auto;
				max-height: 280px;
				max-width: 100%;
			}
		}
		.owl-stage-outer{
			z-index: 1;
		}
		// nav
		.owl-nav{
			.owl-prev{
				font-size: 40px;
				line-height: 1;
				width: 50px;
				height: 70px;
				border-radius: 5px;
				background-color: theme-color(primary);
				position: absolute;
				top: calc(50% - 35px);
				left: -25px;
				z-index: 0;
				color: var(--white);
				transition: $transition;
				z-index: 2;
				@include media-breakpoint-down(lg) {
					left: 0;
					border-radius: 0 5px 5px 0;
					width: 30px;
					height: 50px;
					font-size: 30px;
					top: calc(50% - 25px);
				}
				&:before{
					content: '\f104';
					font-family: fontAwesome;
					display: block;
				}
				span{
					display: none;
				}
				&:hover{
					background-color: theme-color-level(primary, 1);
				}

			}
			.owl-next{
				@extend .owl-prev;
				left: inherit;
				right: -25px;
				@include media-breakpoint-down(lg) {
					left: inherit;
					right: 0;
					border-radius: 5px 0 0 5px;
				}
				&:before{
					content: '\f105';
				}
			}
			.disabled{
				background-color: theme-color-level(primary, -5);
				&:hover{
					background-color: theme-color-level(primary, -5);
				}
			}
		}
	}
}

// how it works
.how-it-works{
	.container-fluid{
		border-top: 1px solid theme-color(medium);
		border-bottom: 1px solid theme-color(medium);
		@include media-breakpoint-down(xs) {
			padding: 0;
		}
	}
	.item{
		text-align: center;
		padding: $spacer*3 $spacer;
		border-left: 1px solid theme-color(medium);
		@include media-breakpoint-down(sm) {
			padding:$spacer;
		}
		&:first-child{
			border-left: 0;
		}
		&:last-child{
			@include media-breakpoint-down(xs) {
				border-left: 0;
				border-top: 1px solid theme-color(medium);
			}
		}
		// &.shop{
		// 	border-left: 1px solid theme-color(medium);
		// 	border-right: 1px solid theme-color(medium);
		// 	@include media-breakpoint-down(xs) {
		// 		border-left: 1px solid theme-color(medium);
		// 		border-right: 0;
		// 		border-bottom: 1px solid theme-color(medium);
		// 	}
		// }
		// &.signup{
		// 	@include media-breakpoint-down(xs) {
		// 		border-bottom: 1px solid theme-color(medium);
		// 	}
		// }
		.icon{
			width: 130px;
			height: 130px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			border: 1px solid theme-color(medium);
			margin: 0 auto;
			transition: $transition;
			@include media-breakpoint-down(sm) {
				height: 80px;
				width: 80px;
			}
			/deep/svg{
				fill:  theme-color(medium);
				transition: $transition;
				@include media-breakpoint-down(sm) {
					height: 30px !important;
				}
			}
			&:hover{
				background-color: theme-color(primary);
				color: var(--white);
				box-shadow: 0 0 10px rgba(theme-color(medium), 1);
				border: 4px solid var(--white);
				/deep/svg{
					fill: var(--white);
				}
			}
		}
	}
}

// service
.service{
	> .container{
		@include media-breakpoint-down(sm) {
			padding: 0;
		}
	}
	.item{
		a{
			background-color: theme-color-level(primary);
			color: var(--white);
			display: flex;
			flex-direction: column;
			align-items: center;
			min-height: 290px;
			justify-content: center;
			transition: $transition;
			padding: $spacer;
			text-align: center;
			@include media-breakpoint-down(sm) {
				min-height: 120px;
			}
			/deep/svg{
				fill: var(--white);
				@include media-breakpoint-down(sm) {
					height: 40px !important;
				}
			}
			h3{
				margin: $spacer 0 0;
				color: var(--white);
				@include media-breakpoint-down(sm) {
					margin: $spacer/2 0 0;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					width: 100%;
				}
			}
			&:hover{
				transform: scale(1.1);
				z-index: 1;
				position: relative;
				transform-origin: center;
			}
		}
		&:nth-child(2) a{
			background-color: theme-color-level(primary, 1);
		}
		&:nth-child(3) a{
			background-color: theme-color-level(primary, 3);
		}
		&:nth-child(4) a{
			background-color: theme-color-level(primary, 4);
		}
	}
}



// value-added
.value-added{
	.value-added-inn{
		margin-left: -$spacer/2;
		margin-right: -$spacer/2;
	}
	.item{
		padding: 0 $spacer/2;
		a{
			border: 1px solid theme-color(medium);
			border-radius: 20px;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			padding: $spacer*2 $spacer;
			height: 100%;
			transition: $transition;
			@include media-breakpoint-down(xs) {
				padding: $spacer;
			}
			/deep/svg{
				fill: theme-color(medium);
				transition: $transition;
			}
			span{
				font-weight: 500;
				color: theme-color(body-color);
			}
			&:hover{
				background-color: theme-color(primary);
				/deep/svg{
					fill: var(--white);
				}
				span{
					color: var(--white);
				}
			}
		}
	}
}

// shop-for-me
.shop-for-me{
	.shop-content{
		position: relative;
		padding: $spacer*5 0;
		@include media-breakpoint-down(sm) {
			padding: $spacer*2 0;
		}
		color: var(--white);
		&:after{
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background-color: rgba($black, .8);
			display: block;
			content: '';
		}
		.container-sm{
			z-index: 1;
			position: relative;
		}
		// list
		.list-ui{
			li{
				&:before{
					color: var(--white);
				}
			}
		}
	}
}

// partner
.partner{
	.partner-inn{
		border: 4px solid theme-color(primary);
		.item{
			padding: $spacer*3 $spacer $spacer;
			@include media-breakpoint-down(sm) {
				padding: $spacer;
			}
			.list-sponsor{
				@include media-breakpoint-down(sm) {
					margin-bottom: 0;
				}
			}
			&:first-child{
				border-right: 4px solid theme-color(primary);
				@include media-breakpoint-down(sm) {
					border-right: 0;
					border-bottom: 4px solid theme-color(primary);
				}
			}
			&:last-child{
				background: theme-color-level(primary, -11);
				.list-sponsor{
					li{
						width: 25%;
						padding: $spacer/3;
					}
				}
			}
		}
	}
}

// shop store
.shop-store{
	background-color: theme-color-level(light, .5);
}
// store-carousel
::ng-deep.store-carousel{
	@include media-breakpoint-down(lg) {
		padding: 0 $spacer;
	}
	&.owl-carousel{
		/deep/.owl-item{
			padding: 0;
			height: 50px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 0 $spacer;
			img{
				width: auto;
				max-height: 100%;
				max-width: 100%;
			}
		}
		.owl-stage-outer{
			z-index: 1;
		}
		// nav
		.owl-nav{
			position: absolute;
			top: calc(50% - 20px);
			left: 0;
			right: 0;
			z-index: 0;
			.owl-prev{
				font-size: 40px;
				line-height: 1;
				width: 20px;
				margin-left: -$spacer;
				color: theme-color(medium);
				transition: $transition;
				@include media-breakpoint-down(lg) {
					margin-left: 0;
				}
				&:before{
					content: '\f104';
					font-family: fontAwesome;
					display: block;
				}
				span{
					display: none;
				}
				&:hover{
					color: theme-color(primary);
				}

			}
			.owl-next{
				@extend .owl-prev;
				float: right;
				margin-right: -$spacer;
				margin-left: inherit;
				@include media-breakpoint-down(lg) {
					margin-left: inherit;
					margin-right: 0;
				}
				&:before{
					content: '\f105';
				}
			}
			.disabled{
				opacity: .7;
				&:hover{
					color: theme-color(medium);
				}
			}
		}
	}
}

.plans{
    table.dataTable thead th{
        &:nth-child(3n + 2){
            background: theme-color-level(primary, 1) !important;
        }
        &:last-child{
            background: theme-color-level(primary, 2) !important;
        }
    }


    table.dataTable tbody td{
        &:nth-child(3n + 2){
            background: theme-color-level(primary, -10);
        }
        &:last-child{
            background: theme-color-level(primary, -9);
        }
    }
    table.dataTable.hover tbody tr:hover{
        td{
            background: theme-color(light);
        }
    }

    table.dataTable tfoot th{
        padding-left: $spacer*1.5;
        padding-right: $spacer*1.5;
        &:first-child{
            background: theme-color-level(dark, -2) !important;
        }
        &:nth-child(6n + 2){
            background: theme-color-level(dark, -1) !important;
        }
        &:nth-child(6n + 4){
            background: theme-color-level(dark, 2) !important;
        }
        &:nth-child(6n + 5){
            background: theme-color-level(dark, 4) !important;
        }
        &:last-child{
            background: theme-color-level(dark, 6) !important;
        }
    }

    // .help-icon
    // .help-icon{
    //     width: 24px;
    //     height: 24px;
    //     i{
    //         line-height: 22px;
    //     }
    // }
}

.singup-month{
    position: absolute;
    bottom: -67px;
    width: 100%;               
}
