<!-- navigation start -->
<!-- <nav class="navigation" *ngIf="isMediumScreen() ? true : false">
    <div class="container"> -->
<ul>
    <li *ngFor="let hnav of headerNav">
        <a *ngIf="hnav.linkType == 2 && activeClass==hnav.cmsPageLink" routerLink="/{{hnav.cmsPageLink}}" class="active">{{hnav.label}}</a>
        <a *ngIf="hnav.linkType == 2 && activeClass!=hnav.cmsPageLink" routerLink="/{{hnav.cmsPageLink}}" >{{hnav.label}}</a>
        <a *ngIf="hnav.linkType == 1 && activeClass==hnav.link" href="{{hnav.link}}"  class="active">{{hnav.label}}</a>
        <a *ngIf="hnav.linkType == 1 && activeClass!=hnav.link" href="{{hnav.link}}" >{{hnav.label}}</a>
         <a *ngIf="hnav.linkType == 3 && activeClass==hnav.cmsPageLink" routerLink="/" fragment="{{hnav.cmsPageLink}}" class="active">{{hnav.label}}</a>
        <a *ngIf="hnav.linkType == 3 && activeClass!=hnav.cmsPageLink" (click)="scroll(hnav.cmsPageLink)" routerLink="/" fragment="{{hnav.cmsPageLink}}">{{hnav.label}}</a>
    </li>
    
</ul>
<!-- </div>
</nav> -->