// @import "node_modules/bootstrap/scss/variables";
@import "src/assets/scss/variables";
@import "node_modules/bootstrap/scss/functions";
// navigation
// .navigation {
//     background: theme-color(dark);
//     ul {
//         margin: 0;
//         display: flex;
//         flex-direction: row;
//         justify-content: space-between;
//         min-height: 54px;
//         li {
//             a {
//                 display: block;
//                 font-weight: 500;
//                 color: var(--white);
//                 border-bottom: 3px solid transparent;
//                 padding: $spacer 0;
//                 transition: $transition;
//                 &:hover,
//                 &.active {
//                     border-bottom-color: theme-color(secondary);
//                 }
//             }
//         }
//     }
// }
ng-sidebar-container {
    height: 100vh;
}