<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#a7f4fb"></ngx-spinner>
<app-header></app-header>

<!-- content start -->
<section class="section-padding">
	<div class="container">
		<div class="text-center p-0 mb-4">
			<h3><strong>Select a plan that works for you.</strong></h3>
		</div>
		<article class="white-box p-0 mb-4 plans">
			  

			<div *ngIf="isLargeScreen() ? true : false">
				<table class="dataTable hover">
					<thead>

						<tr>
							<th class="bg-primary text-white font-weight-bold font-size-md">Features</th>
							<th class="bg-primary text-white font-weight-bold font-size-md text-center">Personal / Small Shopping
							</th>
							<th colspan="4" class="bg-primary text-white font-weight-bold font-size-md text-center">
								Subscribe and Save (Business and Heavy Shoppers)
							</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let item of featureList">
							<td>
								<div class="d-flex justify-content-between">
									<span class="flex-1">{{item.featureLabel}}</span>
									<a class="help-icon d-inline-block" container="body" href="javascript:void(0)"
										tooltip="{{item.helpText}}"><i aria-hidden="true"
											class="fa fa-question"></i></a>
								</div>
							</td>
							<td align="center">
								<i class="fa font-size-lg"
									[ngClass]="{'fa-check-circle text-success': item.freeFeature == 'Y'}"
									aria-hidden="true"></i>
							</td>
							<td align="center" colspan="4">
								<i class="fa font-size-lg"
									[ngClass]="{'fa-check-circle text-success': item.subscribedFeature == 'Y', 'fa-times-circle text-danger': item.subscribedFeature == 'N'}"
									aria-hidden="true"></i>
							</td>
						</tr>
						<tr *ngIf="isShowhide">
							<td colspan="6" align="center" class="bg-white">
								<a href="javascript:void(0)" (click)="showHideFeature()" >See all features of your
									Shoptomydoor Account</a>
							</td>
						</tr>
						<tr *ngFor="let item of accountFeatureList">
							<td>
								<div class="d-flex justify-content-between">
									<span class="flex-1">{{item.featureLabel}}</span>
									<a class="help-icon d-inline-block" container="body" href="javascript:void(0)"
										tooltip="{{item.helpText}}"><i aria-hidden="true"
											class="fa fa-question"></i></a>
								</div>
							</td>
							<td align="center">
								<i class="fa font-size-lg"
									[ngClass]="{'fa-check-circle text-success': item.freeFeature == 'Y', 'fa-times-circle text-danger': item.freeFeature == 'N'}"
									aria-hidden="true"></i>
							</td>
							<td align="center" colspan="4">
								<i class="fa font-size-lg"
									[ngClass]="{'fa-check-circle text-success': item.subscribedFeature == 'Y', 'fa-times-circle text-danger': item.subscribedFeature == 'N'}"
									aria-hidden="true"></i>
							</td>
						</tr>
					</tbody>
					<tfoot class="bg-dark text-white">
						<tr>
							<th class="white-space-initial font-weight-normal">
								<p class="mb-0">
									The average Shopper Who subscribes Save their
									subscription cost
									<span [ngClass]="{'d-none': !show, 'd-inline': show}">after the second
										shipment.The average Shopper Who subscribes Save their subscription cost after
										the
										second shipment.</span>
									<a href="javascript:void(0)"
										(click)="show = !show">...{{ show ? 'Show less': 'Show More' }}</a>

								</p>

							</th>
							<th class="text-center">
								<div class="text-center d-flex flex-column h-100">
									<span class="text-uppercase h2 font-weight-bold text-white flex-1">FREE</span>
									<span class="btn px-3 py-0 font-weight-bold mb-2 text-white">Most Popular</span>
									<span class="text-uppercase h6 font-weight-bold text-white">&nbsp;</span>
									<button (click)="freesignup()" class="btn btn-secondary btn-sm">Sign Up</button>
								</div>
							</th>
							<th *ngFor="let item of settings" valign="top">
								<div class="text-center d-flex flex-column h-100 position-relative">
									<span class="text-uppercase h6 font-weight-bold text-white flex-1">{{item.duration}}
										{{item.duration > 1 ? 'Months' : 'Month'}}</span>
									<span class="btn btn-outline-warning px-3 py-0 font-weight-bold mb-2">$
										{{item.amount}}</span>
									<span *ngIf="item.duration > 1"
										class="text-uppercase h6 font-weight-bold text-white">Save
										{{(((baseAmount*item.duration)-item.amount) / (baseAmount*item.duration))*100 | number:'1.0-0'}}%
									</span>
									<span *ngIf="item.duration <= 1"
										class="text-uppercase h6 font-weight-bold text-white">&nbsp;</span>
									<button (click)="signup(item)" class="btn btn-secondary btn-sm singup-month">Sign Up</button>
								</div>
							</th>

						</tr>
					</tfoot>
				</table>
			</div>

			<!-- plan section for mobile start -->
			<section *ngIf="isLargeScreen() ? false : true">
				<!-- One Time Shopper start -->
				<div class="card rounded-0">
					<div class="card-header rounded-0 bg-primary text-white font-weight-bold h4">
						Personal / Small Shopping <br>
						<h2 class="text-white font-weight-bold">FREE - Most Popular</h2>
					</div>
					<div class="card-body ">
						<div class="d-flex justify-content-between align-items-center mb-2"
							*ngFor="let item of featureList">
							<a class="help-icon mr-3 align-self-start" container="body" href="javascript:void(0)"
								tooltip="{{item.helpText}}" placement="right" *ngIf="item.freeFeature == 'Y'"><i aria-hidden="true"
									class="fa fa-question"></i>
							</a>

							<span class="flex-1" *ngIf="item.freeFeature == 'Y'">{{item.featureLabel}}</span>
							<i class="fa font-size-lg align-self-start"
								[ngClass]="{'fa-check-circle text-success': item.freeFeature == 'Y'}"
								aria-hidden="true" *ngIf="item.freeFeature == 'Y'"></i>

						</div>
						
					</div>
					<div class="card-footer rounded-0 text-center">
						<button class="btn btn-secondary btn-sm" (click)="freesignup()">Sign Up</button>
					</div>
				</div>
				<!-- One Time Shopper end -->

				<!-- Subscribe and Save start -->
				<div class="card rounded-0">
					<div class="card-header rounded-0 bg-primary text-white font-weight-bold h4">Subscribe and Save (Business and Heavy Shoppers)
					</div>
					<div class="card-body">
						<div class="d-flex justify-content-between align-items-center mb-2"
							*ngFor="let item of featureList">
							<a class="help-icon mr-3 align-self-start" container="body" href="javascript:void(0)"
								tooltip="{{item.helpText}}" placement="right"><i aria-hidden="true"
									class="fa fa-question"></i>
							</a>

							<span class="flex-1">{{item.featureLabel}}</span>
							<i class="fa font-size-lg align-self-start"
								[ngClass]="{'fa-check-circle text-success': item.subscribedFeature == 'Y'}"
								aria-hidden="true"></i>

						</div>
						
						
					</div>
					<div class="card-footer rounded-0 text-center">
						<div *ngFor="let item of settings">
							<div class="custom-control custom-radio mb-2">
								<input type="radio" class="custom-control-input" id="{{item.duration}}m" name="radio-package" (click)="selectDuration(item.duration, item.amount)" required>
								<label class="custom-control-label d-flex justify-content-between w-100" for="{{item.duration}}m">
									<span>{{item.duration}}	{{item.duration > 1 ? 'Months' : 'Month'}} <strong *ngIf="item.duration <= 1">&nbsp;</strong><strong *ngIf="item.duration > 1">Save
											{{(((baseAmount*item.duration)-item.amount) / (baseAmount*item.duration))*100 | number:'1.0-0'}}%</strong></span>
									<span class="btn btn-warning px-3 py-0 font-weight-bold">${{item.amount}}</span>
								</label>
							</div>
						</div>
							

						<p class="mb-3">
							The average Shopper Who subscribes save their
							subscription cost
							<span [ngClass]="{'d-none': !show, 'd-inline': show}">after the second
								shipment.The average Shopper Who subscribes save their subscription cost after
								the second shipment.</span>
							<a href="javascript:void(0)"
								(click)="show = !show">...{{ show ? 'Show less': 'Show More' }}</a>

						</p>

						<button class="btn btn-secondary btn-sm" (click)="signupmobile(settings)">Sign Up</button>
					</div>
				</div>
				<!-- Subscribe and Save end -->

			</section>
			<!-- plan section for mobile end -->




		</article>
	</div>
</section>
<!-- content start -->

<app-footer></app-footer>