<div class="modal-header">
	<h4 class="modal-title pull-left text-primary">{{type | titlecase}}</h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<img src="{{imagepath}}">
</div>
<div class="modal-footer">
	<!-- <button type="button" class="btn btn-dark" (click)="bsModalRef.hide()">Cancel</button>
	<button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Submit</button> -->
</div>
