<div class="row">
	<!-- main content start -->
	<main class="col main-content py-md-5 py-3">
		<!-- header start -->
		<header class="page-header border-bottom mb-3">
			<h3>Your shopping cart</h3>
			<span class="text-primary mb-3 d-block">
				<strong>Thank you for shipping with us. We appreciate it.</strong>
			</span>
		</header>
		<!-- header end -->


		<!-- product start -->
		<article class="white-box p-0 mb-4">
			<!-- table start -->
			<table datatable class="hover" [dtOptions]="dtOptions">
				<thead>
					<tr>
						<th>Items / products ordered</th>
						<th>Value Per Item</th>
						<th>Quantity</th>
						<th>Shipping Cost <br/>to Warehouse</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of bagList">
						<td>{{item.itemName}}</td>
						<td>{{currencySymbol}} {{item.itemPrice | number:'1.2-2'}}</td>
						<td>{{item.itemQuantity}}</td>
						<td>{{currencySymbol}} {{item.itemShippingCost | number:'1.2-2'}}</td>
						<td>{{currencySymbol}} {{item.itemTotalCost | number:'1.2-2'}}</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<th>
							<span class="d-block">Total From Store(s):</span>
							<span class="d-block">{{currencySymbol}} {{cartDetails.totalItemCost | number:'1.2-2'}}</span>
						</th>
						<th>
							<span class="d-block">Processing Fee:</span> 
							<span class="d-block">{{currencySymbol}} {{cartDetails.totalProcessingFee | number:'1.2-2'}}</span>
						</th>
						<th>
							<span class="d-block">Urgent Purchase Fee:</span> 
							<span class="d-block">{{currencySymbol}} {{cartDetails.urgentPurchaseCost | number:'1.2-2'}}</span>
						</th>
						<th colspan="2">
							<span class="d-block">Total Shop For Me Cost:</span> 
							<span class="d-block">{{currencySymbol}} {{cartDetails.totalProcurementCost | number:'1.2-2'}}</span>
						</th>
					</tr>
				</tfoot>
			</table>
			<!-- table end -->
		</article>
		<!-- product end -->

		<div class="clearfix">
			<a routerLink="/shop-for-me/order-form" class="btn btn-light btn-sm float-left">
				<i class="fa fa-chevron-left mr-2" aria-hidden="true"></i>Back to Bag
			</a>
			<button type="button" class="btn btn-secondary btn-sm float-right ml-1" (click)="clearcart()">Clear Cart</button>

		</div>

	</main>
	<!-- main content end -->
	<!-- sidebar start -->
	<aside class="col sidebar right py-md-5 py-3">
		<div class="content">
			<!-- price detail start -->
			<article class="mb-3">
				<h6>Price Details</h6>
				<table border="0" width="100%" class="font-size-sm">
					<tbody>
						<tr>
							<td class="white-space-nowrap py-2">Subtotal : </td>
							<td class="white-space-nowrap text-right py-2">
								<strong class="font-weight-medium">{{currencySymbol}} {{cartDetails.totalProcurementCost | number:'1.2-2'}}</strong>
							</td>
							<td *ngIf="isCurrencyChanged=='Y'" class="white-space-nowrap text-success text-right py-2"><small>( {{defaultCurrencySymbol}} {{cartDetails.defaultTotalProcurementCost | number:'1.2-2'}} )</small></td>
						</tr>
						<tr *ngIf="cartDetails.shipmentMethodId">
							<td class="white-space-nowrap py-2">Shipping Cost : </td>
							<td class="white-space-nowrap text-right py-2">
								<strong class="font-weight-medium">{{currencySymbol}} {{cartDetails.shippingCost | number:'1.2-2'}}</strong>
							</td>
							<td *ngIf="isCurrencyChanged=='Y'" class="white-space-nowrap text-success text-right py-2"><small>( {{defaultCurrencySymbol}} {{cartDetails.defaultShippingCost | number:'1.2-2'}} )</small></td>
						</tr>
						<tr *ngIf="cartDetails.shipmentMethodId">
							<td  *ngIf="cartDetails.isDutyCharged == 'Y'" class="white-space-nowrap py-2">Clearing, duty & Local Handling : </td>
							<td  *ngIf="cartDetails.isDutyCharged == 'N'" class="white-space-nowrap py-2">Clearing & Local Handling : </td>
							<td class="white-space-nowrap text-right py-2">
								<strong class="font-weight-medium">{{currencySymbol}} {{cartDetails.totalClearingDuty | number:'1.2-2'}}</strong>
							</td>
							<td *ngIf="isCurrencyChanged=='Y'" class="white-space-nowrap text-success text-right py-2"><small>( {{defaultCurrencySymbol}} {{cartDetails.defaultClearingDuty | number:'1.2-2'}} )</small></td>
						</tr>
						<tr *ngIf="cartDetails.isInsuranceCharged == 'Y'">
							<td class="white-space-nowrap py-2">Insurance Cost : </td>
							<td class="white-space-nowrap text-right py-2 text-success">
								<strong class="font-weight-medium">{{currencySymbol}} {{cartDetails.totalInsurance | number:'1.2-2'}}</strong>
							</td>
							<td *ngIf="isCurrencyChanged=='Y'" class="white-space-nowrap text-success text-right py-2"><small>( {{defaultCurrencySymbol}} {{cartDetails.defaultTotalInsurance | number:'1.2-2'}} )</small></td>
						</tr>
					</tbody>
					<tfoot class="border-top">
						<tr>
							<th class="white-space-nowrap py-2">Total Cost: </th>
							<th class="white-space-nowrap text-right py-2">{{currencySymbol}} {{cartDetails.totalCost| number:'1.2-2'}}</th>
							<th *ngIf="isCurrencyChanged=='Y'" class="white-space-nowrap text-success text-right py-2"><small>( {{defaultCurrencySymbol}} {{cartDetails.defaultTotalCost| number:'1.2-2'}} )</small></th>
						</tr>
					</tfoot>
				</table>

				<!--<label *ngIf="cartDetails.shipmentMethodId"  class="custom-check text-left flex-row mt-2">
					<input type="checkbox" [value]="Y" (change)="addInsurance($event)" [checked]="cartDetails.isInsuranceCharged=='Y'?true:false">
					<span class="checkmark"></span>
					<strong class="font-weight-medium pl-2">Do you want to add Insurance?</strong>
				</label>-->
			</article>
			<!-- price detail end -->

			<!-- currency start -->
			<article class="text-center mb-3 border-bottom pb-3">
				<span class="font-size-sm text-medium d-block mb-2">NOTE: Final Amount is visible only after checkout</span>
				<a href="javascript:void(0)" (click)="showCurrency();" class="btn btn-outline-primary btn-sm">Change Currency</a>
			</article>
			<!-- currency end -->

			<article class="text-center">
				<a  href="javascript:void(0)" (click)="checkout()" class="btn btn-secondary btn-lg btn-block">Checkout</a>
			</article>
		</div>
	</aside>
	<!-- sidebar end -->
</div>
