<app-header></app-header>

<section class="container">
	<div class="row">
		<!-- sidebar start -->
		<aside class="col sidebar" *ngIf="!isMediumScreen">
			<app-sidebar-flyout></app-sidebar-flyout>
		</aside>
		<!-- sidebar end -->

		<!-- main content start -->
		<main class="col main-content py-md-5 py-3  pl-lg-5">
			<!-- header start -->
			<header class="page-header border-bottom mb-3">
				<h3>My Profile Details</h3>
			</header>
			<!-- header end -->

			<div class="white-box p-0">
				<article class="account-collapse" [collapse]="isCollapsed">
					<div class="row no-gutters">
						<div class="col img">
							<img [src]="profileImg" *ngIf="defaultProfile==''">
							<img src="{{ defaultProfile }}" *ngIf="defaultProfile!=''">
						</div>
						<div class="col">
							<!-- header start -->
							<header class="clearfix">
								<h4 class="float-left m-0">My Profile Details</h4>
								<a href="javascript:void(0)" class="arrow float-right" (click)="isCollapsed = !isCollapsed"></a>
							</header>
							<!-- header end -->
						</div>
					</div>
				</article>
				<!-- account details collapsed start -->
				<article class="account-collapse-in" [collapse]="!isCollapsed">
					<div class="row no-gutters">
						<div class="col-md img">
							<img [src]="profileImg" *ngIf="defaultProfile==''">
							<img src="{{ defaultProfile }}" *ngIf="defaultProfile!=''">
							<button type="button" class="btn text-white upload" (click)="editProfileImg.click()">
								<i class="fa fa-camera" aria-hidden="true"></i>
							</button>
							<input hidden type="file" #editProfileImg (change)="fileUpload($event)">
						</div>
						<div class="col-md">
							<!-- header start -->
							<header class="clearfix">
								<a href="javaseript:void(0)" class="arrow float-right" (click)="isCollapsed = !isCollapsed"></a>
							</header>
							<!-- header end -->

							<!-- detail start -->
							<div class="details">
								<div class="row">
									<!-- my Delivery Address start -->
									<div class="col-sm-4 mb-3 mb-sm-0" *ngFor="let eachShippingAddress of userShippingAddress">
										<h6>My Delivery Address</h6>
										<span class="d-block">
											<strong>{{eachShippingAddress.firstName+ ' '+eachShippingAddress.lastName}}</strong>
										</span>
										<span class="d-block">{{eachShippingAddress.address}},
											{{(eachShippingAddress.city!=null)?eachShippingAddress.city.name+',':''}}
											{{(eachShippingAddress.state!=null)?eachShippingAddress.state.name+',':''}}
											{{(eachShippingAddress.zipcode!=null)?eachShippingAddress.zipcode+',':''}}
											{{(eachShippingAddress.country!=null)?eachShippingAddress.country.code+',':''}}
											{{(eachShippingAddress.phone!=null)?'Phone: '+eachShippingAddress.phone:''}}</span>
										<ul class="list-link">
										</ul>
									</div>
									<!-- my Delivery Address end -->

									<!-- my Delivery Address start -->
									<div class="col-sm-4 mb-3 mb-sm-0" *ngIf="selectedWarehouseDetails">
										<h6>My {{ selectedWarehouseDetails.country.code }} Address</h6>
										<span class="d-block">
											<strong>{{regService.item.user.firstName+' '+regService.item.user.lastName}}</strong>
										</span>
										<span class="d-block">{{ selectedWarehouseDetails.address }}, {{ selectedWarehouseDetails.city.name }}, {{
											selectedWarehouseDetails.state.name }}, {{selectedWarehouseDetails.zipcode}}
											{{selectedWarehouseDetails.country.code}}</span>
									</div>
									<!-- my Delivery Address end -->

									<!-- my Delivery Address start -->
									<div class="col-sm-4">
										<h6>Shopper Rewards</h6>
										<span class="d-block">Earned Points :
											<strong class="font-weight-medium">{{earnedPoints}}</strong>
										</span>
										<span class="d-block">Reward Level :
											<strong class="font-weight-medium">{{rewardName}}</strong>
										</span>
										<span class="d-block">Reward Expires :
											<strong class="font-weight-medium">{{expString}}</strong>
										</span>
									</div>
									<!-- my Delivery Address end -->
								</div>
							</div>
							<!-- details end -->
						</div>
					</div>
				</article>
				<!-- account details collapsed end -->
			</div>

			<!-- Modify Account -->
			<div class="pb-3 pt-4 pt-md-5">
				<h4>Modify Account</h4>
				<p>This form enables you to modify your profile so that your data is always up to date</p>
				<span class="d-block font-size-sm">The fields marked with
					<strong class="font-weight-medium text-secondary">*</strong> are mandatory.
				</span>
			</div>

			<!-- modify account form start -->
			<section class="white-box">
				<div *ngIf="formSuccess">Data successfully updated</div>
				<form method="post" (ngSubmit)="signupFrm.form.valid && onSubmit(signupFrm)" #signupFrm="ngForm">
					<!-- personal information start -->
					<article class="mb-2 mb-md-3">
						<header class="border-bottom mb-3">
							<h6 class="mb-3">
								<i class="fa fa-chevron-circle-right mr-2 text-primary" aria-hidden="true"></i>Personal Information
							</h6>
						</header>
						<div class="form-row">
							<div class="form-group col-sm-2">
								<label>Title<span class="text-secondary">*</span></label>
								<select class="form-control" [ngClass]="{ 'is-invalid': signupFrm.submitted && title.invalid }" name="title"
								 [(ngModel)]="user.title" #title="ngModel" required>
									<option>Mr.</option>
									<option>Mrs.</option>
									<option>Ms.</option>
								</select>
							</div>
							<div class="form-group col-sm-4">
								<label>First Name
									<span class="text-secondary">*</span>
								</label>
								<input type="text" class="form-control validate" [ngClass]="{ 'is-invalid': signupFrm.submitted && firstName.invalid }"
								 placeholder="First name" name="firstName" #firstName="ngModel" [(ngModel)]="user.firstName" required>
								<div *ngIf="signupFrm.submitted && firstName.invalid" class="invalid-feedback">
									<div *ngIf="firstName.errors.required">Field is required</div>
								</div>
							</div>
							<div class="form-group col-sm-6">
								<label>Last Name
									<span class="text-secondary">*</span>
								</label>
								<input type="text" class="form-control" [ngClass]="{ 'is-invalid': signupFrm.submitted && lastName.invalid }"
								 placeholder="Last name" name="lastName" #lastName="ngModel" [(ngModel)]="user.lastName" required="">
								<div *ngIf="signupFrm.submitted && lastName.invalid" class="invalid-feedback">
									<div *ngIf="lastName.errors.required">Field is required</div>
								</div>
							</div>
							<div class="form-group col-sm-6">
								<label>Company
									<span class="text-secondary">*</span>
								</label>
								<input type="text" class="form-control" [ngClass]="{ 'is-invalid': signupFrm.submitted && company.invalid }"
								 placeholder="Company" name="company" #company="ngModel" [(ngModel)]="user.company" required>
								<div *ngIf="signupFrm.submitted && company.invalid" class="invalid-feedback">
									<div *ngIf="company.errors.required">Field is required</div>
								</div>
							</div>
							<div class="form-group col-sm-6">
								<label>Birth Day</label>
								<!--<input type="text" placeholder="abc" class="form-control" bsDatepicker>-->
								<div class="form-row">
									<input type="text" name="dateOfBirth" class="form-control" placeholder="Datepicker" bsDatepicker [(ngModel)]="datepickerModel" />
								</div>
							</div>
						</div>
					</article>
					<!-- personal information end -->

					<!-- account information start -->
					<article class="mb-2 mb-md-3">
						<header class="border-bottom mb-3">
							<h6 class="mb-3">
								<i class="fa fa-chevron-circle-right mr-2 text-primary" aria-hidden="true"></i>Account Information
							</h6>
						</header>
						<div class="form-row">
							<div class="form-group col-sm-5">
								<label>Email
									<span class="text-secondary">*</span>
								</label>
								<input type="email" class="form-control" placeholder="Email" name="email" #email="ngModel" [(ngModel)]="user.email"
								 required email disabled="">

							</div>
						</div>
					</article>
					<!-- account information end -->

					<article class="mb-2 mb-md-3">
						<header class="border-bottom mb-3">
							<h6 class="mb-3">
								<i class="fa fa-chevron-circle-right mr-2 text-primary" aria-hidden="true"></i>Change Password
							</h6>
						</header>
						<div class="form-row">
							<div class="form-group col-sm-5">
								<label>Old Password
									<span class="text-secondary">*</span>
								</label>
							</div>
							<div class="form-group col-sm-4 text-left">
								<input type="password" class="form-control" name="oldPassword" ngModel>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-sm-5">
								<label>New Password
									<span class="text-secondary">*</span>
								</label>
							</div>
							<div class="form-group col-sm-4 text-left">


								<div class="input-group mb-3">
									<input [type]="showPassText ? 'text' : 'password'" class="form-control" name="newPassword" [(ngModel)]="newPassword" #wcode="ngModel"
									 [pattern]="wcodePattern" (ngModelChange)="checkEmptyPassword($event)">
									<div class="input-group-append mr-1">
									<button class="btn btn-primary pt-1 pb-1 pl-2 pr-2" type="button"><span class="fa fa-fw field-icon toggle-password" [ngClass]="showPassText ? 'fa-eye-slash' : 'fa-eye'" (click)="changePasswordView('pass')"></span></button>
									</div>
									<div class="input-group-append">
										<button class="btn btn-primary" type="button" tooltip="Password must contains minimum 8 characters"
										 container="body" placement="left"><i class="fa fa-question" aria-hidden="true"></i></button>
									</div>
								</div>
							</div>
						</div>

						<div class="form-row" *ngIf="hidePwdStrength == false">
							<div class="form-group col-sm-5 offset-sm-5 text-left">
								<ng2-password-strength-bar [passwordToCheck]="newPassword" [barLabel]="barLabel" [barColors]="myColors">
								</ng2-password-strength-bar>
							</div>
						</div>


						<div class="form-row">
							<div class="form-group col-sm-5">
								<label>Repeat New Password
									<span class="text-secondary">*</span>
								</label>
							</div>
							<div class="form-group col-sm-4 text-left">
								<div class="input-group mb-3">
								<input [type]="showRepeatPassText ? 'text' : 'password'" class="form-control" [(ngModel)]="newRepeatPassword" name="newRepeatPassword" ngModel (ngModelChange)="checkMatchPasswords($event)">
									<div class="input-group-append mr-1">
										<button class="btn btn-primary pt-1 pb-1 pl-2 pr-2" type="button"><span class="fa fa-fw field-icon toggle-password" [ngClass]="showRepeatPassText ? 'fa-eye-slash' : 'fa-eye'" (click)="changePasswordView('rpass')"></span></button>
									</div>
								</div>
							</div>
						</div>


						<article class="text-center border-top pt-3 pt-md-5 mt-3 mt-md-5 text-danger" *ngIf='wcode.errors?.pattern'>
							Weak Password: Password must contains minimum 8 characters
						</article>
						<article class="text-center border-top pt-3 pt-md-5 mt-3 mt-md-5 text-danger" *ngIf='deactiveBtn==false'>
                    	Passwords not matched
                    	</article>
						<div data-ng-show="showError" ng-class="{fade:doFade}" class="alert alert-danger" *ngIf="passwordError">
							<strong>Error: </strong>{{ passwordErrorMessage }}
						</div>
					</article>

					<!-- account information start -->
					<article>
						<header class="border-bottom mb-3">
							<h6 class="mb-3">
								<i class="fa fa-chevron-circle-right mr-2 text-primary" aria-hidden="true"></i>Newsletter
							</h6>
						</header>
						<p class="mb-3 mb-md-4">If you wish to receive our newsletters, please select the news lists to which you want to
							subscribe:</p>
						<div class="form-group mb-0">
							<label class="custom-check text-left">
								<input type="checkbox" value="Y" name="newsletterSubscribe" ngModel *ngIf="regService.item.subscription==0">
								<input type="checkbox" value="Y" checked="checked" name="newsletterSubscribe" ngModel *ngIf="regService.item.subscription==1">
								<span class="checkmark"></span>
								<strong class="font-weight-medium">News Update</strong>
							</label>
						</div>
						<span class="font-size-sm d-block mb-3">Site news and updates on differing offerings, discount offers and
							promotions from Shoptomydoor.</span>
						<span class="font-size-sm d-block">I accept the "
							<a routerLink="/terms_conditions" class="text-underline">Terms & Conditions</a> "
						</span>
					</article>
					<!-- account information end -->

					
					
					

					<!-- submit start -->
					<article class="text-center border-top pt-3 pt-md-5 mt-3 mt-md-5">
						<!-- <small *ngIf="wcode.errors?.pattern; else other_content" class="form-text text-danger">Password not valid</small>
						<ng-template #other_content><button type="submit" class="btn btn-secondary mb-3" *ngIf="!formSubmit">Submit</button></ng-template> -->
						<button type="submit" class="btn btn-secondary mb-3" [disabled]='wcode.errors?.pattern || deactiveBtn==false'>Submit</button>
						<button type="submit" class="btn btn-secondary mb-3" disabled="" *ngIf="formSubmit">Submiting Data ...</button>
						<p class="font-size-sm mb-0">All information you provide to us will be kept confidential. We will never sell,
							exchange or market it in any way.</p>
					</article>
					<!-- submit end -->
				</form>
			</section>
			<!-- modify account form end -->
		</main>
		<!-- main content end -->
	</div>
</section>
<app-footer></app-footer>
