<div class="showsubscribe card text-center mt-3">
  <div class="modal-header showsubscribeHeader">
    <h4 class="modal-title pull-left text-red">Don't miss this great benefit. Subscribe Now</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
 <article class="white-box p-0 mb-1 plans">
      <div *ngIf="isLargeScreen() ? true : false">
        <table class="dataTable hover">
      
          <tbody>
            <tr *ngFor="let item of featureList">
              <td>
                <div class="d-flex justify-content-between">
                  <span class="flex-1">{{item.featureLabel}}</span>
                  <a class="help-icon d-inline-block" container="body" href="javascript:void(0)"
                    tooltip="{{item.helpText}}"><i aria-hidden="true" class="fa fa-question"></i></a>
                </div>
              </td>
             
              <td align="center" colspan="4">
                <i class="fa font-size-lg"
                  [ngClass]="{'fa-check-circle text-success': item.subscribedFeature == 'Y', 'fa-times-circle text-danger': item.subscribedFeature == 'N'}"
                  aria-hidden="true"></i>
              </td>
            </tr>
            
          </tbody>
          <tfoot class="bg-dark text-white">
            <tr>
              <th class="white-space-initial font-weight-normal">
                <p class="mb-0">
                  The average Shopper Who subscribes save their
                  subscription cost
                  <span [ngClass]="{'d-none': !show, 'd-inline': show}">after the second
                    shipment.</span>
                </p>

              </th>
             
              
              <th valign="top" *ngFor="let item of settings">
                <div class="text-center d-flex flex-column h-100">
                  <span class="text-uppercase h6 font-weight-bold text-white flex-1">{{item.duration}}
                    {{item.duration > 1 ? 'Months' : 'Month'}}</span>
                  <span class="btn btn-outline-warning px-3 py-0 font-weight-bold mb-2">$ {{item.amount}}</span>
                  <span class="text-uppercase h6 font-weight-bold text-white">Save {{(((baseAmount*item.duration)-item.amount) / (baseAmount*item.duration))*100 | number:'1.0-0'}}%</span>
                  <button class="btn btn-secondary btn-sm" (click) = "paytosubscribe(item, baseAmount)">Pay</button>
                </div>
              </th>
              
            </tr>
          </tfoot>
        </table>
      </div>

      <!-- accordion start -->
      <accordion class="accordion accordion-primary" *ngIf="isLargeScreen() ? false : true">
        
        <accordion-group>
         


          <div class="d-flex justify-content-between mb-2" *ngFor="let item of featureList">
            <i class="fa font-size-lg mr-3"
              [ngClass]="{'fa-check-circle text-success': item.subscribedFeature == 'Y', 'fa-times-circle text-danger': item.subscribedFeature == 'N'}"
              aria-hidden="true"></i>
            <span class="flex-1">{{item.featureLabel}}</span>
            <a class="help-icon d-inline-block" container="body" href="javascript:void(0)"
              tooltip="{{item.helpText}}" placement="left"><i aria-hidden="true"
                class="fa fa-question"></i></a>
          </div>

          <div  *ngFor="let item of settings">
          <div class="custom-control custom-radio mt-4 mb-2" >
            <input type="radio" class="custom-control-input" id="1m" name="radio-package" required>
            <label class="custom-control-label d-flex justify-content-between w-100" for="1m">
              <span>{{item.duration}}
                    {{item.duration > 1 ? 'Months' : 'Month'}}</span>
              <span class="btn btn-warning px-3 py-0 font-weight-bold">$ {{item.amount}}</span>
            </label>
          </div>
          

          <p class="mb-3">
            The average Shopper Who subscribes Save their
            subscription cost
            <span [ngClass]="{'d-none': !show, 'd-inline': show}">after the second
              shipment.</span>
          

          </p>

          <button class="btn btn-secondary btn-sm" (click) = "paytosubscribe(item, baseAmount)">Pay</button>
        </div>
        </accordion-group>
      </accordion>
      <!-- accordion end -->

    </article>
  <div class="showsubscribeFooter">
    <p>I will rather not save.</p>
    <a (click)="showSubscribtion()" href="javascript:void(0)" class="btn btn-danger btn-lg btn-block text-white">Continue Checkout</a>
  </div>
</div>