@import "src/assets/scss/variables";
@import "src/assets/scss/utilities";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

.subscribtionOverlay{
	transition: all 0.5s;
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
}
.showsubscribe{
	transition: all 0.5s;
	top: 0;
	left: 0;
	margin: 0 auto !important;
    right: 0;
    border: 0;
    border-radius: 5px;
    overflow: hidden;
}
.showsubscribeHeader{
	display: flex;
    justify-content: center;
	padding: 8px 0;
	background-color: #5bc6d0;

	h4{
		margin: 0;
		color: $red;
		font-weight:bold;
	}
	
	button{
		position: absolute;
        right: 0;
        color: #F44336;
        width: 40px;
        font-size: 24px;
        top: 8px;
        margin: 0;
        padding: 0;
        text-shadow: none;
	}
}

.showsubscribeFooter{
	display: flex;
    justify-content: center;
	padding: 5px 0;
	background-color: #5bc6d0;
	align-items: center;

	p{
		margin: 0;
		font-weight:bold;
		color: $white;
	}

	a{
		display: table;
		width: auto;
	}
}