<div class="modal-header">
	<h4 class="modal-title pull-left text-primary">OTP</h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<div class="col-12 text-center mb-sm-4 mb-3">
		<div class="d-flex flex-column h-100 p-sm-3">
			<header class="px-3 py-2">
				<h4 class="mb-0 text-primary">We have sent you an OTP in your email and through SMS. Kindly enter the same to modify the address.</h4>
			</header>
			<div class="p-3">
				<div class="row">
					<div class="col-sm-6 offset-sm-3">
						<div class="form-group">
							<div class="input-group mb-3">
								<input type="text" name="otp" class="form-control" [(ngModel)]="otp" maxlength="6" #otpcode="ngModel">
								<div class="input-group-append">
									<button name="btnGo" class="btn btn-secondary btn-block" type="button" (click)="submitForm()">Go</button>
								</div>
							</div>
						</div>
						<div *ngIf="resendLinkEnabled">
							<a href="javascript:void(0);" (click)="resendOtp()">Re-send OTP</a>
						</div>
						<div *ngIf="!resendLinkEnabled">
							Re-send OTP link will be activated after {{countdown}} seconds
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>

