<app-header></app-header>
	<main class="container editor-content my-3 my-md-5">
		<div class="numb">
			<a href="https://www.shoptomydoor.com/">
				<span>Sorry</span>
				<strong>we couldn't find that Page</strong>
				<p>Try check your query or go to <a href="https://www.shoptomydoor.com/">Shoptomydoor's home page</a></p>
				<input type="hidden" value="404_error">
			</a>
		</div>
	</main>
<app-footer></app-footer>