@import "src/assets/scss/variables";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/breakpoints";


.numb{ text-align: left; }
.numb span{font-size:210px; line-height:210px; color:#5bc5d2; display:block; text-shadow: 1px 0 1px #171717; 
	font-weight: 300; margin: 0 0 26px;}
.numb p{ padding:0; margin:0; font-size:32px; line-height:38px; color: #000;}
.numb strong{ font-weight: 400; font-size: 55px; line-height: 50px; margin: 0 0 20px; display: block; color: #000 }

@media only screen and (max-width: 479px) {
    .numb span{ font-size: 70px !important; text-align: center;}
    .numb strong{ font-size: 38px !important; line-height: 38px;}
    .numb p{ font-size: 24px !important;}
}




