<div class="modal-header">
	<h4 class="modal-title pull-left text-primary">Request An Urgent Update</h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<form method="post" name="">
	<div class="modal-body">
		<p>Due to the large volume of shipments received, it takes a while to spot a given package. Hence a 14.99 charge is applied
			to all urgent updates. This service is only applicable now to US warehouse for shipments received before 12 noon each
			day. Once payment is made, your delivery will be updated within 3 hours of been delivered. Should we not be able to update
			it within the 3 hours, your payment will be refunded. Payment made is per tracking number (per package). Please provide
			us the following: (1) Delivery Company (2) Tracking number of each package.</p>

		<textarea class="form-control" rows="3"></textarea>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-dark" (click)="bsModalRef.hide()">Cancel</button>
		<button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Request Urgent Update</button>
	</div>
</form>
