<app-header></app-header>



<router-outlet></router-outlet>



<!-- <section class="container">
	<div class="row">
		
		<aside class="col sidebar" *ngIf="!isMediumScreen">
			<app-sidebar-flyout></app-sidebar-flyout>
		</aside>
		

		
		<main class="col main-content py-md-5 py-3  pl-lg-5">
			<router-outlet></router-outlet>
		</main>
		
	</div>
</section> -->
<app-footer></app-footer>
