<div class="modal-header">
	<h4 class="modal-title pull-left text-primary" *ngIf="adressbookId==0">Please select either option 1 or option 2</h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()" *ngIf="closeBtnName">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<form method="post" (ngSubmit)="shippingAddrFrm.form.valid && onSubmit(shippingAddrFrm)" #shippingAddrFrm="ngForm">
<div class="modal-body p-0"> 
	<div *ngIf="!formError">
		<div class="row no-gutters text-primary border-bottom radio-tab radio-tab" *ngIf="adressbookId==0">
			<div class="col-6 border-right">
				<label [ngClass]="{'bg-primary':userAddressSelection, 'text-white':userAddressSelection}" class="form-check custom-radio py-3  align-items-center mb-0 px-2 w-100 h-100 text-center flex-column"><input _ngcontent-c1="" name="shipping" type="radio" (click)="setDeliveryAddress('userAddress')">
					<span class="h2 font-weight-bold mb-0" [ngClass]="{'text-white':userAddressSelection}">1</span>
					<span class="h5 font-weight-bold" [ngClass]="{'text-white':userAddressSelection}">Deliver to my Address</span>
					<span>(Deliver to your door)</span>
				</label>
			</div>
			<div class="col-6">
				<label _ngcontent-c1="" [ngClass]="{'bg-primary':stmdAddress, 'text-white':stmdAddress}" class="form-check custom-radio py-3  align-items-center mb-0 px-2 w-100 h-100 text-center flex-column"><input _ngcontent-c1="" name="shipping" type="radio" (click)="setDeliveryAddress('stmdAddress')">
					<span class="h2 font-weight-bold mb-0" [ngClass]="{'text-white':stmdAddress}">2</span>
					<span class="h5 font-weight-bold" [ngClass]="{'text-white':stmdAddress}">Pickup from Shoptomydoor location</span>
					<span>(Cheaper Option)</span>
				</label>
			</div>
		</div>
		
		
			<div class="px-3">
				<div class="form-row field-area pt-3" *ngIf="userAddressSelection">
					<div class="form-group col-4 col-sm-4 mb-sm-4 mb-3">
						<label>Title
							<span class="text-secondary">*</span>
						</label>
						<select class="form-control"  [ngClass]="{ 'is-invalid': shippingAddrFrm.submitted && title.invalid }" name="title" #title="ngModel" [(ngModel)]="UserAddress.title" required>
							<option value="">Select</option>
							<option>Mr.</option>
							<option>Mrs.</option>
							<option>Ms.</option>
						</select>
						<div *ngIf="shippingAddrFrm.submitted && title.invalid" class="invalid-feedback">
	                        <div *ngIf="title.errors.required">Field is required</div>
	                    </div>
					</div>
					<div class="form-group col-8 col-sm-4 mb-sm-4 mb-3">
						<label data-error="Required Field!">First name
							<span class="text-secondary">*</span>
						</label>
						<input type="text" class="form-control validate"  placeholder="First name" name="firstName" [ngClass]="{ 'is-invalid': shippingAddrFrm.submitted && firstName.invalid }" #firstName="ngModel" [(ngModel)]="UserAddress.firstName" required>
						<div *ngIf="shippingAddrFrm.submitted && firstName.invalid" class="invalid-feedback">
	                        <div *ngIf="firstName.errors.required">Field is required</div>
	                    </div>
					</div>
					<div class="form-group col-sm-4 mb-sm-4 mb-3">
						<label>Last name
							<span class="text-secondary">*</span>
						</label>
						<input type="text" class="form-control"  placeholder="Last name" name="lastName" [ngClass]="{ 'is-invalid': shippingAddrFrm.submitted && lastName.invalid }" #lastName="ngModel" [(ngModel)]="UserAddress.lastName" required>
						<div *ngIf="shippingAddrFrm.submitted && lastName.invalid" class="invalid-feedback">
	                        <div *ngIf="lastName.errors.required">Field is required</div>
	                    </div>

					</div>
					<div class="form-group col-sm-12 mb-sm-4 mb-3">
						<label>Email
							<span class="text-secondary">*</span>
						</label>
						<input type="email" class="form-control" placeholder="Email" name="email" [ngClass]="{ 'is-invalid': shippingAddrFrm.submitted && email.invalid }" #email="ngModel" [(ngModel)]="UserAddress.email" required email>
						<div *ngIf="shippingAddrFrm.submitted && email.invalid" class="invalid-feedback">
	                        <div *ngIf="email.errors.required">Field is required</div>
	                        <div *ngIf="email.errors.email">Email must be a valid email address</div>
	                    </div>
					</div>
					<div class="form-group col-sm-12 mb-sm-4 mb-3">
						<label>Address
							<span class="text-secondary">*</span>
						</label>
						<input type="text" class="form-control" placeholder="Address" name="address" [ngClass]="{ 'is-invalid': shippingAddrFrm.submitted && address.invalid }" #address="ngModel" [(ngModel)]="UserAddress.address" required>
						<div *ngIf="shippingAddrFrm.submitted && address.invalid" class="invalid-feedback">
	                        <div *ngIf="address.errors.required">Field is required</div>
	                    </div>
					</div>
					<div class="form-group col-sm-12 mb-sm-4 mb-3">
						<label>Address (line 2)
						</label>
						<input type="email" class="form-control" placeholder="Address line 2" name="alternateAddress" ngModel [(ngModel)]="UserAddress.alternateAddress">
					</div>
					<div class="form-group col-sm-4 mb-sm-4 mb-3">
						<label>Country<span class="text-secondary">*</span>
						</label>
						<select class="form-control"  name="country" [ngClass]="{ 'is-invalid': shippingAddrFrm.submitted && country.invalid }" #country="ngModel" [(ngModel)]="UserAddress.country" required (change)="getStateCity($event)">
							<option value="">Select</option>
							<option value="{{eachCountry.id}}" *ngFor="let eachCountry of countryList">{{eachCountry.name}}</option>
						</select>
						<div *ngIf="shippingAddrFrm.submitted && country.invalid" class="invalid-feedback">
	                        <div *ngIf="country.errors.required">Field is required</div>
	                    </div>
					</div>
					<div class="form-group col-sm-4 mb-sm-4 mb-3">
						<label>State
						</label>
						<select class="form-control"  name="state" #state="ngModel" [(ngModel)]="UserAddress.state" required (change)="getCity($event)">
							<option value="">Select</option>
							<option value="{{eachState.id}}" *ngFor="let eachState of stateList">{{eachState.name}}</option>
						</select>
					</div>
					<div class="form-group col-sm-4 mb-sm-4 mb-3">
						<label>City<span class="text-secondary">*</span>
						</label>
						<select class="form-control"  name="city" [ngClass]="{ 'is-invalid': shippingAddrFrm.submitted && city.invalid }" #city="ngModel" [(ngModel)]="UserAddress.city" required >
							<option value="">Select</option>
							<option value="{{eachCity.id}}" *ngFor="let eachCity of cityList">{{eachCity.name}}</option>													
						</select>
						<div *ngIf="shippingAddrFrm.submitted && city.invalid" class="invalid-feedback">
	                        <div *ngIf="city.errors.required">Field is required</div>
	                    </div>
					</div>
					<div class="form-group col-sm-12 mb-sm-4 mb-3">
						<label>Zip/Postal Code <span class="font-size-sm text-medium">(leave blank if no zip code in your country)</span>
						</label>
						<input type="text" ngModel class="form-control" placeholder="Zip/Postal Code" name="zipcode"  #zipcode="ngModel" [(ngModel)]="UserAddress.zipcode" >
						
					</div>
					<div class="form-group col-sm-6 mb-sm-6 mb-3">
						<label>Phone<span class="text-secondary">*</span></label>
						<ng-select [items]="phcodeList" name="phcode" [searchable]="true" [clearable]="false" #phcode="ngModel" [(ngModel)]="phcodeVal" bindLabel="image" bindValue="isdCode" [virtualScroll]="true" [style.pointer-events]="isReadOnly == true ? 'none' : ''" [style.background-color]="isReadOnly == true ? '#e9ecef' : ''" required>
							<ng-template ng-option-tmp ng-label-tmp let-item="item">
								<img height="20" class="float-left mr-2" src="{{item.image}}" />
								<span>{{item.name}} {{item.isdCode}}</span>
							</ng-template>
						</ng-select>
						<div *ngIf="shippingAddrFrm.submitted && phcode.invalid" class="invalid-feedback">
                            <div *ngIf="phcode.errors.required">Field is required</div>
                        </div>
					</div>
					<div class="form-group col-sm-6 mb-sm-4 mb-3">
						<label>&nbsp;</label>
						<input type="text" myNumberOnly class="form-control" placeholder="Phone" name="phone" [ngClass]="{ 'is-invalid': shippingAddrFrm.submitted && phone.invalid }" #phone="ngModel" [(ngModel)]="UserAddress.phone" maxlength="10" minlength="10" required>
						<div *ngIf="shippingAddrFrm.submitted && phone.invalid" class="invalid-feedback">
	                        <div *ngIf="phone.errors.required">Field is required</div>
	                        <div *ngIf="phone.errors.maxlength">Enter maximum 10 digit without contry code</div>
                           	<div *ngIf="phone.errors.minlength">Enter atleast 10 digit without contry code</div>
	                    </div>
					</div>
					<div class="form-group col-sm-6 mb-sm-6 mb-3">
						<label>Alternate Phone</label>
						<ng-select [items]="phcodeList" name="altphcode" [searchable]="true" [clearable]="false" #altphcode="ngModel" [(ngModel)]="altphcodeVal" bindLabel="image" bindValue="isdCode" [virtualScroll]="true">
							<ng-template ng-option-tmp ng-label-tmp let-item="item">
								<img height="20" class="float-left mr-2" src="{{item.image}}" />
								<span>{{item.name}} {{item.isdCode}}</span>
							</ng-template>
						</ng-select>
					</div>
					<div class="form-group col-sm-6 mb-sm-4 mb-3">
						<label>&nbsp;</label>
						<input type="text" class="form-control" [ngClass]="{ 'is-invalid': shippingAddrFrm.submitted && alternatePhone.invalid }" placeholder="Alternate Phone" name="alternatePhone" ngModel [(ngModel)]="UserAddress.alternatePhone" myNumberOnly maxlength="10" minlength="10" #alternatePhone="ngModel">
						<div *ngIf="shippingAddrFrm.submitted && alternatePhone.invalid" class="invalid-feedback">
	                        <div *ngIf="alternatePhone.errors.maxlength">Enter maximum 10 digit without contry code</div>
                           	<div *ngIf="alternatePhone.errors.minlength">Enter atleast 10 digit without contry code</div>
	                    </div>
					</div>
				</div>

				<div class="form-row field-area pt-3" *ngIf="stmdAddress">
					<div class="form-group col-4 col-sm-4 mb-sm-4 mb-3">
						<label>Title
							<span class="text-secondary">*</span>
						</label>
						<select class="form-control"  [ngClass]="{ 'is-invalid': shippingAddrFrm.submitted && title.invalid }" name="title" #title="ngModel" [(ngModel)]="UserAddress.title" required>
							<option value="">Select</option>
							<option>Mr.</option>
							<option>Mrs.</option>
							<option>Ms.</option>
						</select>
						<div *ngIf="shippingAddrFrm.submitted && title.invalid" class="invalid-feedback">
	                        <div *ngIf="title.errors.required">Field is required</div>
	                    </div>
					</div>
					<div class="form-group col-8 col-sm-4 mb-sm-4 mb-3">
						<label data-error="Required Field!">First name
							<span class="text-secondary">*</span>
						</label>
						<input type="text" class="form-control validate"  placeholder="First name" name="firstName" [ngClass]="{ 'is-invalid': shippingAddrFrm.submitted && firstName.invalid }" #firstName="ngModel" [(ngModel)]="UserAddress.firstName" required>
						<div *ngIf="shippingAddrFrm.submitted && firstName.invalid" class="invalid-feedback">
	                        <div *ngIf="firstName.errors.required">Field is required</div>
	                    </div>
					</div>
					<div class="form-group col-sm-4 mb-sm-4 mb-3">
						<label>Last name
							<span class="text-secondary">*</span>
						</label>
						<input type="text" class="form-control"  placeholder="Last name" name="lastName" [ngClass]="{ 'is-invalid': shippingAddrFrm.submitted && lastName.invalid }" #lastName="ngModel" [(ngModel)]="UserAddress.lastName" required>
						<div *ngIf="shippingAddrFrm.submitted && lastName.invalid" class="invalid-feedback">
	                        <div *ngIf="lastName.errors.required">Field is required</div>
	                    </div>
					</div>
					<div class="form-group col-sm-4 mb-sm-4 mb-3">
						<label>Country<span class="text-secondary">*</span>
						</label>
						<select class="form-control"  name="country" [ngClass]="{ 'is-invalid': shippingAddrFrm.submitted && country.invalid }" #country="ngModel" [(ngModel)]="UserAddress.country" required (change)="getLocationStateCity($event)">
							<option value="">Select</option>
							<option value="{{eachCountry.id}}" *ngFor="let eachCountry of countryList">{{eachCountry.name}}</option>
						</select>
						<div *ngIf="shippingAddrFrm.submitted && country.invalid" class="invalid-feedback">
	                        <div *ngIf="country.errors.required">Field is required</div>
	                    </div>
					</div>
					<div class="form-group col-sm-4 mb-sm-4 mb-3">
						<label>State
						</label>
						<select class="form-control"  name="state" #state="ngModel" [(ngModel)]="UserAddress.state" (change)="getLocationCity($event)">
							<option value="">Select</option>
							<option value="{{eachState.id}}" *ngFor="let eachState of stateList">{{eachState.name}}</option>
						</select>
					</div>
					<div class="form-group col-sm-4 mb-sm-4 mb-3">
						<label>City<span class="text-secondary">*</span>
						</label>
						<select class="form-control"  name="city" [ngClass]="{ 'is-invalid': shippingAddrFrm.submitted && city.invalid }" #city="ngModel" [(ngModel)]="UserAddress.city" required (change)="getLocations(shippingAddrFrm)">
							<option value="">Select</option>
							<option value="{{eachCity.id}}" *ngFor="let eachCity of cityList">{{eachCity.name}}</option>													
						</select>
						<div *ngIf="shippingAddrFrm.submitted && city.invalid" class="invalid-feedback">
	                        <div *ngIf="city.errors.required">Field is required</div>
	                    </div>
					</div>
					<div class="form-group col-sm-12 mb-sm-4 mb-3">
						<label>Location<span class="text-secondary">*</span>
						</label>
						<select class="form-control"  name="locationId" [ngClass]="{ 'is-invalid': shippingAddrFrm.submitted && locationId.invalid }" #locationId="ngModel" [(ngModel)]="locationValue" required (change)="populateLocationValues($event)">
							<option value="">Select</option>
							<option value="{{ i }}" *ngFor="let eachLocation of locationArr; let i = index">{{eachLocation}}</option>													
						</select>
						<div *ngIf="shippingAddrFrm.submitted && locationId.invalid" class="invalid-feedback">
	                        <div *ngIf="locationId.errors.required">Field is required</div>
	                    </div>
					</div>
					
					<div class="form-group col-sm-12 mb-sm-4 mb-3">
						<label>Email
							<span class="text-secondary">*</span>
						</label>
						<input type="email" class="form-control" placeholder="Email" name="email" [ngClass]="{ 'is-invalid': shippingAddrFrm.submitted && email.invalid }" #email="ngModel" [(ngModel)]="UserAddress.email"  [readonly]="true" required email>
						<div *ngIf="shippingAddrFrm.submitted && email.invalid" class="invalid-feedback">
	                        <div *ngIf="email.errors.required">Field is required</div>
	                        <div *ngIf="email.errors.email">Email must be a valid email address</div>
	                    </div>
					</div>
					<div class="form-group col-sm-12 mb-sm-4 mb-3">
						<label>Address
							<span class="text-secondary">*</span>
						</label>
						<input type="text" class="form-control" placeholder="Address" name="address" [ngClass]="{ 'is-invalid': shippingAddrFrm.submitted && address.invalid }" #address="ngModel" [readonly]="true" [(ngModel)]="UserAddress.address" required>
						<div *ngIf="shippingAddrFrm.submitted && address.invalid" class="invalid-feedback">
	                        <div *ngIf="address.errors.required">Field is required</div>
	                    </div>
					</div>
					<div class="form-group col-sm-12 mb-sm-4 mb-3">
						<label>Address (line 2)
						</label>
						<input type="email" class="form-control" placeholder="Address line 2" name="alternateAddress" [(ngModel)]="UserAddress.alternateAddress" [readonly]="true" ngModel>
					</div>
					
					<div class="form-group col-sm-12 mb-sm-4 mb-3">
						<label>Zip/Postal Code
						</label>
						<input type="text" ngModel class="form-control" placeholder="Zip/Postal Code" name="zipcode" [readonly]="true"  #zipcode="ngModel" [(ngModel)]="UserAddress.zipcode" >
						
					</div>
					<div class="form-group col-sm-6 mb-sm-6 mb-3">
						<label>Phone<span class="text-secondary">*</span></label>
						<ng-select [items]="phcodeList" name="phcode" [searchable]="true" [clearable]="false" #phcode="ngModel" [(ngModel)]="phcodeVal" bindLabel="image" bindValue="isdCode" [virtualScroll]="true" [style.pointer-events]="isReadOnly == true ? 'none' : ''" [style.background-color]="isReadOnly == true ? '#e9ecef' : ''" required>
							<ng-template ng-option-tmp ng-label-tmp let-item="item">
								<img height="20" class="float-left mr-2" src="{{item.image}}" />
								<span>{{item.name}} {{item.isdCode}}</span>
							</ng-template>
						</ng-select>
						<div *ngIf="shippingAddrFrm.submitted && phcode.invalid" class="invalid-feedback">
                            <div *ngIf="phcode.errors.required">Field is required</div>
                        </div>
					</div>
					<div class="form-group col-sm-6 mb-sm-4 mb-3">
						<label>&nbsp;</label>
						<input type="text" class="form-control" placeholder="Phone" name="phone" [ngClass]="{ 'is-invalid': shippingAddrFrm.submitted && phone.invalid }" #phone="ngModel" [readonly]="true" [(ngModel)]="UserAddress.phone" required>
						<div *ngIf="shippingAddrFrm.submitted && phone.invalid" class="invalid-feedback">
	                        <div *ngIf="phone.errors.required">Field is required</div>
	                    </div>
					</div>
					<div class="form-group col-sm-6 mb-sm-6 mb-3">
						<label>Alternate Phone<span class="text-secondary">*</span></label>
						<ng-select [items]="phcodeList" name="altphcode" [searchable]="true" [clearable]="false" #altphcode="ngModel" [(ngModel)]="altphcodeVal" bindLabel="image" bindValue="isdCode" [virtualScroll]="true" required>
							<ng-template ng-option-tmp ng-label-tmp let-item="item">
								<img height="20" class="float-left mr-2" src="{{item.image}}" />
								<span>{{item.name}} {{item.isdCode}}</span>
							</ng-template>
						</ng-select>
						<div *ngIf="shippingAddrFrm.submitted && altphcode.invalid" class="invalid-feedback">
                            <div *ngIf="altphcode.errors.required">Field is required</div>
                        </div>
					</div>
					<div class="form-group col-sm-6 mb-sm-4 mb-3">
						<label>&nbsp;</label>
						<input type="text" class="form-control" placeholder="Alternate Phone" name="alternatePhone" [ngClass]="{ 'is-invalid': shippingAddrFrm.submitted && alternatePhone.invalid }" #alternatePhone="ngModel" [(ngModel)]="UserAddress.alternatePhone" required>
						<div *ngIf="shippingAddrFrm.submitted && alternatePhone.invalid" class="invalid-feedback">
	                        <div *ngIf="alternatePhone.errors.required">Field is required</div>
	                    </div>
					</div>
				</div>
			</div>

			<!-- <div class="col-sm-6 mb-sm-4 mb-3">
				
			</div> -->
		
	</div>
	<article *ngIf="formError">
		<div class="text-danger">Something Went wrong!! Please reload the page</div>
	</article>
</div>
<div class="modal-footer">
	<div *ngIf="adressbookId==0">
		<button type="submit" class="btn btn-secondary" (click)="setaction('create')" *ngIf="!formSubmitted">Create Address</button>
		<button type="submit" class="btn btn-secondary" disabled *ngIf="formSubmitted">Create Address</button>
	</div>
	<div *ngIf="adressbookId!=0">
		<button type="submit" class="btn btn-secondary" (click)="setaction('modify')" [disabled]="!shippingAddrFrm.dirty">Save Changes</button>&nbsp;&nbsp;
		<button type="submit" class="btn btn-secondary" (click)="setaction('create')" [disabled]="!shippingAddrFrm.dirty">Create As New Address</button>
	</div>
	<button type="button" class="btn btn-dark text-right" *ngIf="closeBtnName" (click)="bsModalRef.hide()">Close</button>
</div>
</form>
