<app-header></app-header>
<section class="container">
    <div class="row">
        <!-- sidebar start -->
        <aside class="col sidebar" *ngIf="!isMediumScreen">
            <app-sidebar-flyout></app-sidebar-flyout>
        </aside>
        <!-- sidebar end -->

        <!-- main content start -->
        <main class="col main-content py-md-5 py-3  pl-lg-5">

        	<div class="container">
		<input type="hidden" id="warehouseId" value="{{warehouseList[0]['id']}}">
		<input type="hidden" id="warehouseCode" value="{{warehouseList[0]['code']}}">
		<h5>Our selected stores for everything you need</h5><p></p>
		<!-- tab start -->
		<tabset class="tab-primary" [justified]="true" *ngIf="isLargeScreen() ? true : false">
			<tab customClass="heading-level-1" *ngFor="let warehouse of warehouseList">
				<ng-template tabHeading >
					<img src="{{warehouse.imagepath}}" height="16">
					<span class="ml-2 text-ellipsis" (click) = "getWarehouseId(warehouse.id, warehouse.country.code)">{{warehouse.country.name}}</span>
				</ng-template>

				<app-shop-country-tab></app-shop-country-tab>
			</tab>

		</tabset>
		<!-- tab end -->

		<!-- accordion start -->
		<accordion class="accordion accordion-primary" *ngIf="isLargeScreen() ? false : true">
			<accordion-group class="heading-level-1" *ngFor="let warehouse of warehouseList">
				<header accordion-heading>
					<img src="{{warehouse.imagepath}}" height="16">
					<span class="ml-2 text-ellipsis font-weight-bold" (click) = "getWarehouseId(warehouse.id, warehouse.code)">{{warehouse.name}}</span>
				</header>
				<app-shop-country-tab></app-shop-country-tab>
			</accordion-group>

		</accordion>
		<!-- accordion end -->
	</div>



		</main>
		<!-- main content end -->

</div>
</section>
