@import "src/assets/scss/variables";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/breakpoints";


.banner{
	height: calc(100vh - 170px);
	@include media-breakpoint-down(lg) {
		height: auto;
	}
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		@include media-breakpoint-down(lg) {
			height: auto;
			object-fit: contain;
		}
	}
}


