@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/breakpoints";

.section-padding{
	padding: $spacer*2.5 0;
	@include media-breakpoint-down(sm) {
		padding: $spacer 0;
	}
}


// text
.text{
	&-underline{
		text-decoration: underline;
	}
	&-ellipsis{
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
}

// font-weight
.font-weight{
	&-medium{
		font-weight: 500;
	}
}

// font-size
.font-size{
	&-sm{ font-size: $font-size-base/1.10;}
	&-md{ font-size: $font-size-base !important;}
	&-lg{ font-size: $h3-font-size;}
}

// modal size
.modal{
	&-xl{ max-width: 1200px; }
	&-lg{ max-width: 992px; }
	&-md{ max-width: 768px; }
	&-sm{ max-width: 576px; }
	&-xs{ max-width: 360px; }
}

// object-fit
.object-fit{
	&-contain{ object-fit: contain}
}

// bg
.bg{
	&-white{background-color: #fff !important;}
	&-medium{background-color: $gray-200 !important;}
}

// text color
.text{
	&-medium{color: theme-color(medium) !important;}
}

// flex
.flex{
	&-1{flex: 1;}
	&-none{ flex: none;}
}

// cursor
.cursor{
	&-inherit{
		cursor: inherit !important;
	}
}

// break-word
.break-word{
	word-wrap: break-word;
}

// white-space
.white-space{
	&-nowrap{ white-space: nowrap !important;}
	&-initial{ white-space: initial !important;}
}

// opacity
.opacity{
	&-1{ opacity: 1 !important;}
}

.disableblock{
    cursor: default;
    opacity: 0.4;
    pointer-events: none;
    text-decoration: none;
    position: relative;
    &.strike-through td{
	    position: relative;
	    &:after{
	    	width: 100%;
	    	height: 1px;
	    	position: absolute;
	    	top: 50%;
	    	left: 0;
	    	background: theme-color(danger);
	    	display: block;
	    	content: '';
	    }
    }
}
.alert-disable{
    position: absolute;
    right: $spacer;
    top: $spacer;
    z-index: 1;
    img{
    	height: $spacer*2;
    }
}
