<div class="modal-header">
	<h4 class="modal-title pull-left text-primary" *ngIf="shipoutOptions.ewalletTransfer">Ship Out My Fill and Ship</h4>
	<h4 class="modal-title pull-left text-primary" *ngIf="!shipoutOptions.ewalletTransfer">Ship My Box</h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
		<span aria-hidden="true">&times;</span>
	</button> 
</div>
<div class="modal-body" *ngIf="shipoutOptions">
	<div [innerHTML]="shipoutOptions.message"></div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" (click)="proceedCheckout(shipoutOptions.ewalletTransfer)" *ngIf="shipoutOptions.type=='shipout'">Continue</button>
	<button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="bsModalRef.hide()" *ngIf="shipoutOptions.type=='shipout'">Cancel</button>
	<button type="button" class="btn btn-primary" *ngIf="shipoutOptions.type=='extracharge'" (click)="payExtraCost(shipoutOptions.extraCost,shipoutOptions.ewalletTransfer)">Checkout</button>
</div>


