<app-header></app-header>
<div class="container-fluid">
	<section class="container-sm login">
		<article class="login-box">
			<div class="border bg-light login-bottom">	
					<span class="icon">
						<svg-icon src="assets/imgs/icons/check-mark-button.svg" [svgStyle]="{ 'height.px':50}"></svg-icon>
					</span>	
				<h5 class="text-center mb-3">Your request received successfully. Thank you for contacting us. We will get back to you soon</h5>
			</div>	
		</article>
	</section>
</div>
<app-footer></app-footer>
