<!-- header start -->
<header class="page-header border-bottom mb-3">
	<h3>My Documents</h3>
</header>
<!-- header end -->

<!-- form start -->
<form method="post" (ngSubmit)="onSubmit(mydocumentFrm)" #mydocumentFrm="ngForm">
<section class="white-box text-center mb-4">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<h3>Add New Document</h3>
			<div class="form-group">
				<label class="font-weight-medium">Select document</label>
				<input class="form-control-file border" type="file" id="filename" required ngModel name="filename" #filename="ngModel" (change)="img($event)" accept="image/*, application/pdf, application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,
text/plain, .odt">
				<small class="form-text text-muted">(Image, PDF or Word doc)</small>
				<div *ngIf="mydocumentFrm.submitted && filename.invalid" class="invalid-feedback">
                    <div *ngIf="filename.hasError('required')">Field is required</div>
                </div>
			</div>
			<div class="form-group">
				<label class="font-weight-medium">Describe document</label>
				<textarea class="form-control" ngModel name="descr" #descr="ngModel" ></textarea>
				<small class="form-text text-muted">(e.g. Photo ID)</small>
			</div>
			<div class="form-group">
				<button class="btn btn-secondary" type="submit" >Upload</button>
			</div>
		</div>
	</div>
</section>
</form>
<!-- form end -->

<!-- table start -->
<table datatable class="hover" [dtOptions]="dtOptions" *ngIf="documents?.length > 0">
	<thead>
		<tr>
			<th>Document</th>
			<th> Description</th>
			<th class="text-right">Added</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of documents; let i = index">
			<td>
				<a href="{{item.base64}}" download target="_blank">
					<img src="assets/imgs/{{item.fileExt}}" class="object-fit-contain" width="30" height="30">
				</a>
			</td>
			<td>{{item.des}}</td>
			<td class="text-right">
				{{item.createdOn}}
			</td>
		</tr>
	</tbody>
</table>
<!-- table end -->
<table datatable class="hover" [dtOptions]="dtOptions" *ngIf="documents?.length == 0">
	<thead>
		<tr>
			<th>Document</th>
			<th> Description</th>
			<th class="text-right">Added</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of documents; let i = index">
			<td>
				<a href="{{item.base64}}" download target="_blank"><img src="assets/imgs/{{item.fileExt}}" class="object-fit-contain" width="30" height="30"></a>
			</td>
			<td>{{item.des}}</td>
		</tr>
	</tbody>
</table>