
.create-gropu-req{
	/*height: 50vh;*/
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	h3{
		margin: 0 0 40px;
	}
}

.group-info-detls{
	label{
		width: 240px;
	}
}
.page-header{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
