<app-header></app-header>

<section class="container">
	<div class="row">
		<!-- sidebar start -->
		<aside class="col sidebar" *ngIf="!isMediumScreen">
			<app-sidebar-flyout></app-sidebar-flyout>
		</aside>
		<!-- sidebar end -->

		<!-- main content start -->
		<main class="col main-content py-md-5 py-3  pl-lg-5">
			<!-- header start -->
			<header class="page-header border-bottom mb-3">
				<h3>Group Info</h3>
				<div *ngIf="groupDetails">
					<a class="btn btn-secondary" routerLink="/my-group/commission-details" *ngIf="!isMediumScreen && groupDetails.coordinatorId == userId">Commission Details</a>
					<a class="btn btn-secondary btn-sm" routerLink="/my-group/commission-details" *ngIf="isMediumScreen && groupDetails.coordinatorId == userId">Commission Details</a>
				</div>
			</header>
			<!-- header end -->
			<div *ngIf="groupDetails" class="">
				<div class="row">
					<div class="col-sm-6 field-area mt-3 mb-4 group-info-detls">
						<div class="col-sm-12 mb-sm-1 mb-2">
	                    	<label>Group name : </label> {{ groupDetails.groupName }}
	                    </div>
	                    <!-- <div class="col-sm-4 mb-sm-1 mb-3 text-right" *ngIf="groupDetails.coordinatorId == userId">
	                    	<a class="btn btn-secondary" routerLink="/my-group/commission-details">Commission Details</a>
	                    </div> -->
	                    <div class="col-sm-12 mb-sm-1 mb-2">
	                    	<label>Expected Members : </label> {{ groupDetails.expectedMembers }}
	                    </div>
	                    <div class="col-sm-12 mb-sm-1 mb-2">
	                    	<label>Already Joined Members : </label> {{ groupDetails.totalGroupMembers }}
	                    </div>
	                    <div class="col-sm-12 mb-sm-1 mb-2">
	                    	<label>Status : </label> 
	                    	<span class="text-info" *ngIf="groupDetails.status == 0">Pending </span>
	                    	<span class="text-success" *ngIf="groupDetails.status == 1">Approved</span>
	                    	<span class="text-danger" *ngIf="groupDetails.status == 2">Declined</span>
	                    </div>
	                    <div class="col-sm-12 mb-sm-1 mb-2">
	                    	<label>Requested On : </label> {{ groupDetails.requestedOn }}
	                    </div>
	                    <div class="col-sm-12 mb-sm-1 mb-2" *ngIf="groupDetails.status == 1">
	                    	<label>Approved On : </label> {{ groupDetails.approvedOn }}
	                    </div>
		            </div>
		            <div class="col-sm-6 field-area mt-3 mb-4 group-info-detls" *ngIf="showRepresentative" >
	                    <div class="d-flex align-items-center" *ngIf="representativeDetail">
	                        <img src="{{representativeImage}}" alt="" class="avatar mr-3" width="120" height="120">

	                        <div>
	                            <span>I am your account Officer, ready to help at any time</span>
	                            <span class="d-block h6 mb-2 mt-0"><strong>{{representativeDetail.srfirstName}} {{representativeDetail.srlastName}}</strong></span>
	                            <span class="d-block">{{representativeDetail.sremail}}</span>
	                            <span class="d-block mb-2">{{representativeDetail.srcontactNo}}</span>
	                            <a id="assignBtn" href="javascript:void(0)" class="btn btn-info btn-sm" (click)="openContactForm($event.target.value, representativeDetail.srfirstName, representativeDetail.srlastName, representativeDetail.sremail, representativeDetail.srcontactNo)">Contact me</a>

	                        </div>

	                    </div>
	                </div>
                </div>
	            <div *ngIf="groupMembers && (groupDetails.coordinatorId == userId || isAccepted =='1')">
	            	<header class="page-header border-bottom col-sm-12 mb-sm-0 mb-3">
						<h3 *ngIf="groupDetails.coordinatorId == userId">Group Members</h3>
						<h3 *ngIf="groupDetails.coordinatorId != userId">Group Coordinator</h3>
						<button type="submit" class="btn btn-secondary" *ngIf="groupDetails.coordinatorId != userId" (click)="changeCoordinator(groupDetails.id)">Change Coordinator</button>
					</header>
					<div class="table-responsive">
		            	<table datatable class="mb-4 hover" [dtOptions]="dtOptions">
							<thead>
								<tr>
									<th>Member Name</th>
									<th>Email</th>
									<th>Phone</th>
									<th>Member Role</th>
									<th>Status</th>
									<th>Invitation Sent on</th>
									<th>Joined On</th>
								</tr>
							</thead>
							<tbody *ngIf="groupMembers?.length || nonRegisteredMembers.length;else no_data_templ">
								<tr *ngFor="let item of groupMembers" [ngClass]="{'active': item.selected }">
									<td class="white-space-nowrap">{{item.firstName+' '+item.lastName}}</td>
									<td class="white-space-nowrap">{{item.email}}</td>
									<td class="white-space-nowrap">{{item.isdCode+''+item.contactNumber}}</td>
									<td class="white-space-nowrap">
										{{ item.memberType=='1' ? 'Group Member' : 'Coordinator'}}
									</td>
									<td class="white-space-nowrap">{{item.status == 0 ? 'Invitation Pending' : (item.status==1 ? 'Accepted' : 'Declined') }}</td>
									<td class="white-space-nowrap">{{item.invitationSentOn}}</td>
									<td class="white-space-nowrap">{{item.joinedOn}}</td>
								</tr>
								<tr *ngFor="let item of nonRegisteredMembers" [ngClass]="{'active': item.selected }">
									<td class="white-space-nowrap">N/A</td>
									<td class="white-space-nowrap">{{item.userEmail}}</td>
									<td class="white-space-nowrap">N/A</td>
									<td class="white-space-nowrap">Group Member</td>
									<td class="white-space-nowrap">Invitation Pending</td>
									<td class="white-space-nowrap">{{item.createdOn}}</td>
									<td class="white-space-nowrap"></td>
								</tr>
							</tbody>
							<ng-template #no_data_templ>
								<tbody>
									<tr>
										<td colspan="9" class="text-center">No Record Found</td>
									</tr>
								</tbody>
							</ng-template>
						</table>
					</div>
	            </div>
	            <div *ngIf="groupMembers && groupDetails.coordinatorId != userId && isAccepted =='0'">
	            	<header class="page-header border-bottom col-sm-12 mb-sm-0 mb-3">
						<h3>Pending Group Request</h3>
					</header>
					<div class="table-responsive">
		            	<table datatable class="mb-4 hover" [dtOptions]="dtOptions">
							<thead>
								<tr>
									<th>Invitation Sent By</th>
									<th>Email</th>
									<th>Invitation Sent on</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody *ngIf="groupMembers?.length;else no_data_templ">
								<tr *ngFor="let item of groupMembers" [ngClass]="{'active': item.selected }">
									<td class="white-space-nowrap">{{groupDetails.firstName+' '+groupDetails.lastName}}</td>
									<td class="white-space-nowrap">{{groupDetails.email}}</td>
									<td class="white-space-nowrap">{{item.invitationSentOn}}</td>
									<td class="white-space-nowrap">
										<button class="btn btn-sm btn-action btn-success" container="body" tooltip="Accept" type="button" (click)="updateInvitationStatus('accept')"><i class="fa fa-check" aria-hidden="true"></i></button>&nbsp;
										<button class="btn btn-sm btn-action btn-danger" container="body" type="button" tooltip="Reject" (click)="updateInvitationStatus('reject')"><i class="fa fa-times" aria-hidden="true"></i></button>
									</td>
								</tr>
							</tbody>
							<ng-template #no_data_templ>
								<tbody>
									<tr>
										<td colspan="9" class="text-center">No Record Found</td>
									</tr>
								</tbody>
							</ng-template>
						</table>
					</div>
	            </div>
	            <div class="row field-area mt-3" *ngIf="groupDetails.status == 1 && groupDetails.coordinatorId == userId">
		            <header class="page-header border-bottom col-sm-12 mb-sm-0 mb-3">
						<h3>Invite Members to Join This Group</h3>
					</header>
					<div class="col-sm-12 mb-sm-0 mb-3">
						<h5>Enter Email Address</h5>

						<form method="post" (ngSubmit)="sendInvitation(referForm)" #referForm="ngForm">
							<div class="form-group">
								<label>To</label>
								<tag-input name="users" [(ngModel)]="users" [secondaryPlaceholder]="'Enter Email'" (onTextChange)="onTextChange($event)">
									<tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="userEmails">
								    </tag-input-dropdown>
								</tag-input>

								<p>Select email or hit enter after typing email to which you want to send invitation</p>
							</div>
							<div class="form-group">
								<label>Message</label>
								<textarea class="form-control" rows="3" name="message" [(ngModel)] = "message"></textarea>
							</div>
							<button type="submit" class="btn btn-secondary" *ngIf="!formSubmit">Send Invitation</button>
							<button type="submit" class="btn btn-secondary" disabled="disabled" *ngIf="formSubmit">Send Invitation</button>
						</form>
					</div>
				</div>
			</div>
			<div *ngIf="!groupDetails">
				<div class="row mt-3" *ngIf="!showGrouprequestForm">
					<div class="col-sm-12 ">
						<p>You are not part of a group and can start one now and become a coordinator. As a coordinator:</p>
						<div class="create-gropu-req">						
							<ol>
								<li>Organize your colleagues, estate members, or any other group to ship as a group and enjoy bulk discount.</li>
								<li>Enjoy group shipping discount for you and your members. No minimum charge with shipping cost starting from as low as $9 per person.</li>
								<li>You make commission from shipments made by your group members. The more they ship, the more you earn.</li>
								<li>Get paid in cash directly to your bank account whenever you want. Monitor your earning and earn more as your group increases.</li>
							</ol>
							<button type="submit" class="btn btn-default btn-lg btn-primary" (click)="openGrouprequestForm()"><i class="fa fa-plus-circle" aria-hidden="true"></i> Start A Group
							</button>
						</div>
					</div>
				</div>
				<div *ngIf="showGrouprequestForm"> 
					<form method="post" (ngSubmit)="onSubmit(groupRequestForm)" #groupRequestForm="ngForm">
						<div class="row field-area mt-3">
							<div class="col-sm-12 mb-sm-4 mb-3">
	                        	<label data-error="Required Field!">
	                        		Group name <span class="text-secondary font-size-lg">*</span>
	                        	</label>
	                        	<input autocomplete="off" type="text" class="form-control validate" [ngClass]="{'is-invalid': groupRequestForm.submitted && groupName.invalid }" placeholder="Group name" name="groupName" #groupName="ngModel" ngModel required="">
	                           	<div *ngIf="groupRequestForm.submitted && groupName.invalid" class="invalid-feedback">
	                           		<div *ngIf="groupName.errors.required">Field is required</div>
	                        	</div>
	                    	</div>
	                    	<div class="col-sm-4 mb-sm-4 mb-3">
		                        <label>Country <span class="text-secondary font-size-lg">*</span>
		                        </label>
		                        <select class="form-control" name="country" [ngClass]="{'is-invalid': groupRequestForm.submitted && country.invalid }" #country="ngModel" ngModel required (change)="getStateCity($event)">
		                                <option value="">Select</option>
		                            	<option value="{{eachCountry.id}}" *ngFor="let eachCountry of countryList">
		                                    {{eachCountry.name}}
		                                </option>
		                        </select>
		                        <div *ngIf="groupRequestForm.submitted && country.invalid" class="invalid-feedback">
		                            <div *ngIf="country.errors.required">Field is required</div>
		                        </div>
		                    </div>
	                    	<div class="col-sm-4 mb-sm-4 mb-3">
		                        <label>State <span class="text-secondary font-size-lg">*</span></label>
		                        <select class="form-control" name="state" [ngClass]="{'is-invalid': groupRequestForm.submitted && state.invalid }" #state="ngModel" ngModel (change)="getCity($event)" required="">
		                            <option value="">Select</option>
		                            <option value="{{eachState.id}}" *ngFor="let eachState of stateList">
		                            	{{eachState.name}}
		                            </option>
		                    	</select>
			                    <div *ngIf="groupRequestForm.submitted && state.invalid" class="invalid-feedback">
			                        <div *ngIf="state.errors.required">Field is required</div>
			                    </div>
		                	</div>
			                <div class="col-sm-4 mb-sm-4 mb-3">
			                    <label>City <span class="text-secondary font-size-lg">*</span></label>
			                    <select class="form-control" name="city" [ngClass]="{'is-invalid': groupRequestForm.submitted && city.invalid }" #city="ngModel" ngModel required>
			                            <option value="">Select</option>
			                        	<option value="{{eachCity.id}}" *ngFor="let eachCity of cityList">
			                        		{{eachCity.name}}
			                        	</option>
			                    </select>
			                    <div *ngIf="groupRequestForm.submitted && city.invalid" class="invalid-feedback">
			                        <div *ngIf="city.errors.required">Field is required</div>
			                    </div>
			                </div>
			                <div class="col-sm-6 mb-sm-4 mb-3">
	                        	<label data-error="Required Field!">
	                        		Expected Number of Final Members <span class="text-secondary font-size-lg">*</span>
	                        	</label>
	                        	<input autocomplete="off" type="number" class="form-control validate" [ngClass]="{'is-invalid': groupRequestForm.submitted && expectedMembers.invalid }" placeholder="Expected Final Members" name="expectedMembers" #expectedMembers="ngModel" ngModel required="">
	                           	<div *ngIf="groupRequestForm.submitted && expectedMembers.invalid" class="invalid-feedback">
	                           		<div *ngIf="expectedMembers.errors.required">Field is required</div>
	                        	</div>
	                    	</div>
	                    	<div class="col-sm-6 mb-sm-4 mb-3">
	                        	<label data-error="Required Field!">
	                        		Number of Members Ready To Join Within 1st Week <span class="text-secondary font-size-lg">*</span>
	                        	</label>
	                        	<input autocomplete="off" type="number" class="form-control validate" [ngClass]="{'is-invalid': groupRequestForm.submitted && readyTojoinMembers.invalid }" placeholder="Ready to Join Memebers" name="readyTojoinMembers" #readyTojoinMembers="ngModel" ngModel required="">
	                           	<div *ngIf="groupRequestForm.submitted && readyTojoinMembers.invalid" class="invalid-feedback">
	                           		<div *ngIf="readyTojoinMembers.errors.required">Field is required</div>
	                        	</div>
	                    	</div>
	                    	<div class="col-sm-12 mb-sm-4 mb-3">
	                    		<label data-error="Required Field!">
	                        		Tell Us Why We Will Approve Your Group <span class="text-secondary font-size-lg">*</span>
	                        	</label>
	                        	<textarea class="form-control validate" [ngClass]="{'is-invalid': groupRequestForm.submitted && approveReason.invalid }" rows="3" name="approveReason" #approveReason="ngModel" ngModel required=""></textarea>
	                        	<div *ngIf="groupRequestForm.submitted && approveReason.invalid" class="invalid-feedback">
	                           		<div *ngIf="approveReason.errors.required">Field is required</div>
	                        	</div>
	                    	</div>
						</div>
						<div class="col-sm-6 mb-sm-4 mb-3">
							<button type="submit" class="btn btn-secondary btn-lg" [disabled]="formSubmitted">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</main>
		<!-- main content end -->
	</div>
</section>
<app-footer></app-footer>
